absl-py==1.4.0
aiohttp==3.8.4
aiosignal==1.3.1
anyio==3.7.1
apache-beam==2.50.0
argcomplete==1.10.3
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1670263926556/work
astunparse==1.6.3
async-generator==1.10
async-timeout==4.0.2
attrs==22.2.0
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.2
blis==0.7.9
branca==0.6.0
brotlipy==0.7.0
cachetools==5.3.0
catalogue==2.0.8
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1700303426725/work/certifi
cffi @ file:///C:/b/abs_49n3v2hyhr/croot/cffi_1670423218144/work
chardet==3.0.4
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1698833585322/work
click @ file:///C:/ci/click_1646056799533/work
cloudpickle==2.2.1
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1666700638685/work
community==1.0.0b1
compressed-rtf==1.0.6
confection==0.0.4
contourpy==1.0.7
crcmod==1.7
cryptography==39.0.2
cycler==0.11.0
cymem==2.0.7
Cython==0.29.32
dataclasses-json==0.6.1
datasets==2.13.0
debugpy @ file:///C:/ci/debugpy_1637073815078/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
dill==0.3.1.1
distlib==0.3.6
distro==1.8.0
dnspython==2.4.2
docopt==0.6.2
docx2txt==0.8
download==0.3.5
ebcdic==1.1.1
emoji==1.7.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
et-xmlfile==1.1.0
exceptiongroup==1.1.1
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1667317341051/work
extract-msg==0.28.7
faiss-cpu==1.7.4
fastavro==1.8.4
fasteners==0.19
filelock==3.12.0
Flask==2.2.3
Flask-Cors==3.0.10
flatbuffers==23.3.3
folium==0.14.0
fonttools==4.39.0
frozenlist==1.3.3
fsspec==2023.5.0
fst-pso==1.8.1
FuzzyTM==2.0.5
gast==0.4.0
gdown==4.7.1
gensim==4.3.0
google-api-core==2.11.0
google-api-python-client==2.86.0
google-auth==2.16.2
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.6
google-cloud-core==2.3.3
google-cloud-translate==3.12.0
google-pasta==0.2.0
google-search-results==2.4.2
googleapis-common-protos==1.59.0
googlesearch-python==1.2.3
greenlet==2.0.2
grpcio==1.57.0
grpcio-status==1.57.0
h11==0.14.0
h5py==3.8.0
hdfs==2.7.2
httplib2==0.22.0
huggingface-hub==0.14.1
idna @ file:///C:/b/abs_bdhbebrioa/croot/idna_1666125572046/work
imageio==2.26.0
IMAPClient==2.1.0
importlib-metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1672612343532/work
importlib-resources==5.12.0
ipykernel @ file:///D:/bld/ipykernel_1655369313836/work
ipython @ file:///D:/bld/ipython_1676047671725/work
isodate==0.6.1
itsdangerous==2.1.2
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1669134318875/work
Jinja2 @ file:///C:/b/abs_7cdis66kl9/croot/jinja2_1666908141852/work
joblib==1.2.0
JPype1==1.4.1
jsonpatch==1.33
jsonpickle==3.0.1
jsonpointer==2.4
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1675178684608/work
jupyter_core @ file:///D:/bld/jupyter_core_1675110077853/work
keras==2.11.0
kiwisolver==1.4.4
konlpy==0.6.0
langchain==0.0.305
langcodes==3.3.0
langsmith==0.0.41
lazy_loader==0.1
libclang==15.0.6.1
lxml==4.9.2
Markdown==3.4.1
MarkupSafe @ file:///C:/ci/markupsafe_1654489871526/work
marshmallow==3.20.1
matplotlib==3.7.1
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1660814786464/work
miniful==0.0.6
mkl-fft @ file:///C:/b/abs_19i1y8ykas/croot/mkl_fft_1695058226480/work
mkl-random @ file:///C:/b/abs_edwkj1_o69/croot/mkl_random_1695059866750/work
mkl-service==2.4.0
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
multidict==6.0.4
multiprocess==0.70.14
murmurhash==1.0.9
mwparserfromhell==0.6.5
mypy-extensions==1.0.0
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1664684991461/work
networkx @ file:///C:/b/abs_e6gi1go5op/croot/networkx_1690562046966/work
nltk==3.8.1
numexpr==2.8.6
numpy==1.24.2
oauthlib==3.2.2
objsize==0.6.1
olefile==0.46
openai==0.27.0
openpyxl==3.1.2
opt-einsum==3.3.0
orjson==3.9.8
outcome==1.2.0
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1673482170163/work
pandas==1.5.3
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pathy==0.10.1
patsy==0.5.3
pdfminer.six==20191110
pdfplumber==0.10.2
pdftotree==0.5.0
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow @ file:///C:/b/abs_20ztcm8lgk/croot/pillow_1696580089746/work
platformdirs==3.6.0
preshed==3.0.8
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1670414775770/work
proto-plus==1.22.3
protobuf==4.23.4
psutil @ file:///C:/Windows/Temp/abs_b2c2fd7f-9fd5-4756-95ea-8aed74d0039flsd9qufz/croots/recipe/psutil_1656431277748/work
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyarrow==11.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pycryptodome==3.18.0
pydantic==1.10.7
pydot==1.4.2
pyFUME==0.2.25
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1672682006896/work
pymongo==4.5.0
PyMuPDF==1.16.14
pyOpenSSL @ file:///C:/b/abs_08f38zyck4/croot/pyopenssl_1690225407403/work
pyparsing==3.0.9
PyPDF2==3.0.1
pypdfium2==4.19.0
PySocks @ file:///C:/ci/pysocks_1605287845585/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-dotenv @ file:///C:/b/abs_edyrwjya7k/croot/python-dotenv_1669132572913/work
python-louvain==0.16
python-pptx==0.6.22
pytrends==4.9.2
pytz==2022.7.1
pyvis==0.3.2
PyWavelets==1.4.1
pywin32==227
PyYAML==6.0
pyzmq @ file:///C:/ci/pyzmq_1657616005830/work
rdflib==6.3.2
regex==2022.10.31
requests==2.28.2
requests-oauthlib==1.3.1
rsa==4.9
scikit-image==0.20.0
scikit-learn==1.2.1
scipy==1.9.1
seaborn==0.12.2
selectivesearch==0.4
selenium==4.9.1
sentence-transformers==2.2.2
sentencepiece==0.1.99
simpful==2.10.0
six==1.12.0
sklearn==0.0.post1
smart-open==6.3.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4
spacy==3.5.2
spacy-legacy==3.0.12
spacy-loggers==1.0.4
SPARQLWrapper==2.0.0
SpeechRecognition==3.8.1
SQLAlchemy==2.0.21
srsly==2.4.6
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
statsmodels==0.14.0
sympy @ file:///C:/b/abs_95fbf1z7n6/croot/sympy_1668202411612/work
tabula-py==2.7.0
tenacity==8.2.3
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-intel==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.2.0
text2emotion==0.0.5
textblob==0.17.1
textract==1.6.5
thinc==8.1.9
threadpoolctl==3.1.0
tifffile==2023.2.28
tiktoken==0.5.1
tokenizers==0.13.3
torch==2.0.0
torchaudio==2.0.1+cu118
torchvision==0.15.1
tornado @ file:///D:/bld/tornado_1656937958156/work
tqdm==4.64.1
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1675110562325/work
transformers==4.28.1
trio==0.22.0
trio-websocket==0.10.2
typer==0.7.0
typing-inspect==0.9.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1665144421445/work
tzdata==2023.3
tzlocal==5.0.1
uritemplate==4.1.1
urllib3==1.26.14
virtualenv==20.23.1
Wand==0.6.11
wasabi==1.1.1
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1673864653149/work
Werkzeug==2.2.3
wikipedia==1.4.0
Wikipedia-API==0.5.8
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306167264/work
wincertstore==0.2
wordcloud==1.8.2.2
wrapt==1.15.0
wsproto==1.2.0
xgboost==1.7.4
xlrd==1.2.0
XlsxWriter==3.1.2
xxhash==3.2.0
yarl==1.8.2
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1675982654259/work
zstandard==0.21.0
