
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.item--REn {
  width: 100%;
  height: 83.2rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.item--REn .rectangle-4117-JpN {
  width: 25.8rem;
  height: 5.1rem;
  position: absolute;
  left: 74.6rem;
  top: 1.2rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #f8f7f6;
  border-radius: 1.7rem;
}
.item--REn .group-79-BtA {
  width: 128rem;
  height: 83.3rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc {
  box-sizing: border-box;
  padding-top: 0.1rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-xawi-4wx {
  width: 6.5rem;
  height: 100%;
  position: relative;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-xawi-4wx .vuesax-linear-setting-2-bwt {
  width: 3.8rem;
  height: 3.8rem;
  position: absolute;
  left: 1.6rem;
  top: 71.4rem;
  object-fit: contain;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-xawi-4wx .group-90-vDU {
  width: 4.7rem;
  height: 78.1rem;
  position: absolute;
  left: 1.1rem;
  top: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-xawi-4wx .group-90-vDU .user-Ejx {
  margin: 0rem 0.1rem 2.4rem 0rem;
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-xawi-4wx .group-90-vDU .dashboard-jAv {
  margin: 0rem 0.3rem 0.3rem 0rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-xawi-4wx .group-90-vDU .dashboard-TMp {
  margin-bottom: 63.9rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #b0b0b0;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-xawi-4wx .group-90-vDU .logout-aSS {
  margin-left: 0.1rem;
  width: 3.4rem;
  height: 3.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ {
  width: 60.7rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t {
  margin-bottom: 0.5rem;
  width: 100%;
  height: 9.2rem;
  position: relative;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .rectangle-4116-J14 {
  width: 25.8rem;
  height: 5.1rem;
  position: absolute;
  left: 16.6rem;
  top: 1.2rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #f8f7f6;
  border-radius: 1.7rem;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .closeround-Bae {
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  left: 39.475rem;
  top: 3.075rem;
  object-fit: contain;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .dux2009-umY {
  width: 7.4rem;
  height: 1.9rem;
  position: absolute;
  left: 25.6rem;
  top: 2.4rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #5e5c5c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .add-orv {
  width: 3.3rem;
  height: 1.9rem;
  position: absolute;
  left: 46.9rem;
  top: 2.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #918f8f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .search-KaN {
  width: 1.8667rem;
  height: 1.8667rem;
  position: absolute;
  left: 8.4667rem;
  top: 1.8667rem;
  object-fit: contain;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .translate-3-FD8 {
  width: 2.2917rem;
  height: 2.2917rem;
  position: absolute;
  left: 12.1042rem;
  top: 1.6042rem;
  object-fit: contain;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .expanddownlight-BMg {
  width: 0.85rem;
  height: 1.55rem;
  position: absolute;
  left: 2.2875rem;
  top: 2.0552rem;
  object-fit: contain;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .vector-271-uYa {
  width: 1rem;
  height: 0;
  position: absolute;
  left: 25.5rem;
  top: 7.3rem;
  object-fit: contain;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .item-515-T4J {
  width: 3.3rem;
  height: 1.5rem;
  position: absolute;
  left: 31.2rem;
  top: 6.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #5e5c5c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .ellipse-70-xFx {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 27.8rem;
  top: 6.4rem;
  border: solid 0.1rem #5e5c5c;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0.9rem;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .highlighter-4-446 {
  width: 2.5259rem;
  height: 2.8259rem;
  position: absolute;
  left: 12rem;
  top: 5.6rem;
  object-fit: contain;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .format-textbox-3-aYE {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 19.1rem;
  top: 5.9rem;
  object-fit: contain;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .line-5-iPY {
  width: 6.1rem;
  height: 0.1rem;
  position: absolute;
  left: 30.9rem;
  top: 8.2rem;
  background-color: #918f8f;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .mouse-pointer-3-qj4 {
  width: 1.7618rem;
  height: 2.4221rem;
  position: absolute;
  left: 8.5rem;
  top: 5.7rem;
  object-fit: contain;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .ellipse-71-BH8 {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 25.1rem;
  top: 6.4rem;
  border: solid 0.1rem #5e5c5c;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0.9rem;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .rectangle-4120-Hb4 {
  width: 60.7rem;
  height: 5.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .rectangle-4122-2oY {
  width: 25.8rem;
  height: 5.1rem;
  position: absolute;
  left: 16.6rem;
  top: 1.2rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #1656c1;
  border-radius: 1.7rem;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .closeround-YG6 {
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  left: 39.475rem;
  top: 3.075rem;
  object-fit: contain;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .rectangle-4128-5G2 {
  width: 60.7rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 5.2rem;
  background-color: #f5f5f5;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .the-attention-blink--1Qa {
  width: 15.4rem;
  height: 1.9rem;
  position: absolute;
  left: 21.8rem;
  top: 2.4rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .add-JuU {
  width: 3.3rem;
  height: 1.9rem;
  position: absolute;
  left: 46.9rem;
  top: 2.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #b0b0b0;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .search-QxW {
  width: 1.8667rem;
  height: 1.8667rem;
  position: absolute;
  left: 8.4667rem;
  top: 1.8667rem;
  object-fit: contain;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .expanddownlight-xDL {
  width: 0.85rem;
  height: 1.55rem;
  position: absolute;
  left: 2.2875rem;
  top: 2.0552rem;
  object-fit: contain;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .item-515-HWW {
  width: 3.3rem;
  height: 1.5rem;
  position: absolute;
  left: 31.2rem;
  top: 6.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #5e5c5c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .ellipse-72-PpS {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 27.8rem;
  top: 6.4rem;
  border: solid 0.1rem #5e5c5c;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0.9rem;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .format-textbox-4-W8N {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 19.1rem;
  top: 5.9rem;
  object-fit: contain;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .line-6-2sQ {
  width: 6.1rem;
  height: 0.1rem;
  position: absolute;
  left: 30.9rem;
  top: 8.2rem;
  background-color: #918f8f;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .mouse-pointer-4-Ayc {
  width: 1.7618rem;
  height: 2.4221rem;
  position: absolute;
  left: 8.5rem;
  top: 5.7rem;
  object-fit: contain;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .group-78-uAW {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 28.2rem;
  top: 6.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .polygon-4-e86 {
  width: 0.8rem;
  height: 0.7rem;
  position: absolute;
  left: 35.7rem;
  top: 6.8rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.05rem;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .filedockduotone-xuU {
  width: 1.4583rem;
  height: 1.875rem;
  position: absolute;
  left: 44.4208rem;
  top: 2.1125rem;
  object-fit: contain;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .tutorial-JTY {
  width: 4.6rem;
  height: 1.6rem;
  position: absolute;
  left: 53.8rem;
  top: 6.4rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #918f8f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .questionfill-pAz {
  width: 1.425rem;
  height: 1.425rem;
  position: absolute;
  left: 52.1375rem;
  top: 6.4375rem;
  object-fit: contain;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .imgbox-9DG {
  width: 2.1rem;
  height: 2.1rem;
  position: absolute;
  left: 15.75rem;
  top: 6.05rem;
  object-fit: contain;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .vector-soU {
  width: 2.5259rem;
  height: 2.8259rem;
  position: absolute;
  left: 12rem;
  top: 5.6rem;
  object-fit: contain;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .group-113-oh8 {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 25.1rem;
  top: 6.4rem;
  object-fit: contain;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-ycp6-p5t .item-2023-06-02-212-1-wHY {
  width: 2.8rem;
  height: 2.7rem;
  position: absolute;
  left: 11.4rem;
  top: 1.5rem;
  object-fit: cover;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-87tc-Nte {
  margin: 0rem 0.5rem 0rem 5rem;
  width: calc(100% - 5.5rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-87tc-Nte .auto-group-3wvl-u7t {
  margin: 0.8rem 2.6rem 0rem 0rem;
  box-sizing: border-box;
  padding: 7.5rem 3.2rem 12.1rem 24.9rem;
  width: 51.8rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/bg-jUa.png');
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-87tc-Nte .auto-group-3wvl-u7t .auto-group-dnxe-N1U {
  margin-bottom: 15.4rem;
  width: 100%;
  height: 19.7rem;
  position: relative;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-87tc-Nte .auto-group-3wvl-u7t .auto-group-dnxe-N1U .item--VLz {
  width: 21.1rem;
  height: 3.8rem;
  position: absolute;
  left: 0;
  top: 0;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-87tc-Nte .auto-group-3wvl-u7t .auto-group-dnxe-N1U .item--VLz .rectangle-4145-oMg {
  margin: 0rem 0rem 0.4rem 1rem;
  width: 20.1rem;
  height: 0.7rem;
  background-color: rgba(22, 86, 193, 0.1700000018);
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-87tc-Nte .auto-group-3wvl-u7t .auto-group-dnxe-N1U .item--VLz .rectangle-4146-W1C {
  margin-bottom: 0.2rem;
  width: 100%;
  height: 0.7rem;
  background-color: rgba(22, 86, 193, 0.1700000018);
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-87tc-Nte .auto-group-3wvl-u7t .auto-group-dnxe-N1U .item--VLz .rectangle-4147-qpA {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 0.7rem;
  background-color: rgba(22, 86, 193, 0.1700000018);
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-87tc-Nte .auto-group-3wvl-u7t .auto-group-dnxe-N1U .item--VLz .rectangle-4148-aWr {
  width: 2.2rem;
  height: 0.7rem;
  background-color: rgba(22, 86, 193, 0.1700000018);
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-87tc-Nte .auto-group-3wvl-u7t .auto-group-dnxe-N1U .hovering-sign-iNA {
  width: 2rem;
  height: 1.1rem;
  position: absolute;
  left: 21.7rem;
  top: 1.4rem;
  object-fit: contain;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-87tc-Nte .auto-group-3wvl-u7t .auto-group-dnxe-N1U .rectangle-4154-qhg {
  width: 16rem;
  height: 16.6rem;
  position: absolute;
  left: 7.7rem;
  top: 3.1rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d7e2f5;
  border-radius: 1.2rem;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-87tc-Nte .auto-group-3wvl-u7t .auto-group-dnxe-N1U .rsvp-70--Yrz {
  width: 13.2rem;
  height: 12.6rem;
  position: absolute;
  left: 9.1rem;
  top: 6.3rem;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.8;
  color: #4f4f4f;
  font-family: Inter, 'Source Sans Pro';
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-87tc-Nte .auto-group-3wvl-u7t .auto-group-dnxe-N1U .may-1-2023-WhL {
  width: 4.6rem;
  height: 1rem;
  position: absolute;
  left: 17.7rem;
  top: 4.6rem;
  text-align: right;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-87tc-Nte .auto-group-3wvl-u7t .auto-group-pev4-zcW {
  width: 23.4rem;
  height: 17rem;
  position: relative;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-87tc-Nte .auto-group-3wvl-u7t .auto-group-pev4-zcW .group-82-8ii {
  width: 21.1rem;
  height: 5.7rem;
  position: absolute;
  left: 0;
  top: 0;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-87tc-Nte .auto-group-3wvl-u7t .auto-group-pev4-zcW .group-82-8ii .rectangle-4145-fie {
  margin: 0rem 0rem 0.4rem 7.1rem;
  width: 14rem;
  height: 0.7rem;
  background-color: rgba(22, 86, 193, 0.1700000018);
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-87tc-Nte .auto-group-3wvl-u7t .auto-group-pev4-zcW .group-82-8ii .rectangle-4146-o4A {
  margin-bottom: 0.2rem;
  width: 100%;
  height: 0.7rem;
  background-color: rgba(22, 86, 193, 0.1700000018);
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-87tc-Nte .auto-group-3wvl-u7t .auto-group-pev4-zcW .group-82-8ii .rectangle-4147-Y1k {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 0.7rem;
  background-color: rgba(22, 86, 193, 0.1700000018);
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-87tc-Nte .auto-group-3wvl-u7t .auto-group-pev4-zcW .group-82-8ii .rectangle-4148-g7x {
  margin-bottom: 0.2rem;
  width: 100%;
  height: 0.7rem;
  background-color: rgba(22, 86, 193, 0.1700000018);
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-87tc-Nte .auto-group-3wvl-u7t .auto-group-pev4-zcW .group-82-8ii .rectangle-4149-dJ6 {
  margin-bottom: 0.3rem;
  width: 100%;
  height: 0.7rem;
  background-color: rgba(22, 86, 193, 0.1700000018);
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-87tc-Nte .auto-group-3wvl-u7t .auto-group-pev4-zcW .group-82-8ii .rectangle-4150-NmU {
  width: 2.6rem;
  height: 0.7rem;
  background-color: rgba(22, 86, 193, 0.1700000018);
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-87tc-Nte .auto-group-3wvl-u7t .auto-group-pev4-zcW .hovering-sign-iqL {
  width: 2rem;
  height: 1.1rem;
  position: absolute;
  left: 21.4rem;
  top: 1.9rem;
  object-fit: contain;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-87tc-Nte .auto-group-3wvl-u7t .auto-group-pev4-zcW .rectangle-4155-FaN {
  width: 16rem;
  height: 11.5rem;
  position: absolute;
  left: 7.4rem;
  top: 5.5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #d7e2f5;
  border-radius: 1.2rem;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-87tc-Nte .auto-group-3wvl-u7t .auto-group-pev4-zcW .group-89-MdQ {
  width: 13.3rem;
  height: 6.2rem;
  position: absolute;
  left: 8.8rem;
  top: 7.4rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-87tc-Nte .auto-group-3wvl-u7t .auto-group-pev4-zcW .group-89-MdQ .may-1-2023-6L6 {
  margin: 0rem 0.1rem 0.7rem 0rem;
  text-align: right;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-87tc-Nte .auto-group-3wvl-u7t .auto-group-pev4-zcW .group-89-MdQ .target-report-accuracy-was-about-70-with-a-single-target-defined-c3Y {
  max-width: 13.3rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #4f4f4f;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-1fy8-8Hc .auto-group-2bdx-4sQ .auto-group-87tc-Nte .rectangle-4125-g3Q {
  width: 0.8rem;
  height: 14.4rem;
  background-color: #918f8f;
  border-radius: 1rem;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW {
  width: 60.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .expanddownlight-hjC {
  width: 0.85rem;
  height: 1.55rem;
  position: absolute;
  left: 2.0625rem;
  top: 1.8948rem;
  object-fit: contain;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .closeround-2Wa {
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  left: 30.275rem;
  top: 3.075rem;
  object-fit: contain;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .note-1-95Q {
  width: 4.6rem;
  height: 1.9rem;
  position: absolute;
  left: 18rem;
  top: 2.4rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #5e5c5c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .rectangle-4128-3wU {
  width: 60.8rem;
  height: 9.3rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .rectangle-4121-nu4 {
  width: 60.7rem;
  height: 5.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .rectangle-4123-YNS {
  width: 25.8rem;
  height: 5.1rem;
  position: absolute;
  left: 7.4rem;
  top: 1.2rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #1656c1;
  border-radius: 1.7rem;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .expanddownlight-FXk {
  width: 0.85rem;
  height: 1.55rem;
  position: absolute;
  left: 2.0625rem;
  top: 1.8948rem;
  object-fit: contain;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .closeround-PP4 {
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  left: 30.275rem;
  top: 3.075rem;
  object-fit: contain;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .note-1-usC {
  width: 4.6rem;
  height: 1.9rem;
  position: absolute;
  left: 18rem;
  top: 2.4rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .rectangle-4128-2gv {
  width: 60.8rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 5.2rem;
  background-color: #f5f5f5;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .add-NEz {
  width: 3.3rem;
  height: 1.9rem;
  position: absolute;
  left: 37.9rem;
  top: 2.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #918f8f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .filedockduotone-UYv {
  width: 1.4583rem;
  height: 1.875rem;
  position: absolute;
  left: 35.4208rem;
  top: 2.0125rem;
  object-fit: contain;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .rectangle-4126-Cjp {
  width: 60.5rem;
  height: 74.3rem;
  position: absolute;
  left: 0;
  top: 8.9rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .polygon-5-X1Q {
  width: 1.1rem;
  height: 1rem;
  position: absolute;
  left: 30.9rem;
  top: 7.5rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.1rem;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .heading-SeA {
  width: 6rem;
  height: 1.9rem;
  position: absolute;
  left: 24.1rem;
  top: 7.1rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #5e5c5c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .meatballsmenu-kuk {
  width: 1.4rem;
  height: 0.2rem;
  position: absolute;
  left: 53.4rem;
  top: 7.5rem;
  object-fit: contain;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .polygon-6-JAa {
  width: 1.1rem;
  height: 1rem;
  position: absolute;
  left: 49.5rem;
  top: 7.1rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.1rem;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .sortalfalight-dTk {
  width: 1.45rem;
  height: 2.0542rem;
  position: absolute;
  left: 47.825rem;
  top: 6.5625rem;
  object-fit: contain;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .u-ZMQ {
  width: 1.8rem;
  height: 3rem;
  position: absolute;
  left: 44.3rem;
  top: 6.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #5e5c5c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .i-5ae {
  width: 0.7rem;
  height: 3rem;
  position: absolute;
  left: 41.7rem;
  top: 6.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #5e5c5c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .b-PLS {
  width: 1.6rem;
  height: 3rem;
  position: absolute;
  left: 38.2rem;
  top: 6.3rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #5e5c5c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .line-7-hc2 {
  width: 0.1rem;
  height: 2.2rem;
  position: absolute;
  left: 21.5rem;
  top: 6.9rem;
  background-color: #bcbcbc;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .line-8-S3p {
  width: 0.1rem;
  height: 2.2rem;
  position: absolute;
  left: 33.7rem;
  top: 6.8rem;
  background-color: #bcbcbc;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .group-85-NiA {
  width: 56.8rem;
  height: 23.4rem;
  position: absolute;
  left: 2rem;
  top: 11.8rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .group-85-NiA .auto-group-edui-hEe {
  margin-bottom: 2.2rem;
  box-sizing: border-box;
  padding: 1.1rem 3.016rem 1rem 3.1rem;
  width: 100%;
  height: 4rem;
  box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.0500000007);
  background-color: #ffffff;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .group-85-NiA .auto-group-edui-hEe .group-84-Quk {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .group-85-NiA .auto-group-edui-hEe .group-84-Quk .pg1684-Zne {
  margin-right: 42rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #1656c1;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .group-85-NiA .auto-group-edui-hEe .group-84-Quk .group-83-Gwx {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .group-85-NiA .auto-group-edui-hEe .group-84-Quk .group-83-Gwx .item-2-ENz {
  margin-right: 1rem;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #1656c1;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .group-85-NiA .auto-group-edui-hEe .group-84-Quk .group-83-Gwx .vuesax-linear-arrow-down-kcE {
  margin-bottom: 0.1903rem;
  width: 0.984rem;
  height: 0.5097rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .group-85-NiA .may-1-2023-Dki {
  margin: 0rem 2.9rem 1.2rem 0rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #918f8f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .group-85-NiA .rsvp-70--L4e {
  margin: 0rem 3.4rem 4.3rem 0rem;
  max-width: 50.3rem;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #4f4f4f;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .group-85-NiA .may-1-2023-tVU {
  margin: 0rem 2.9rem 1.2rem 0rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #918f8f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .group-85-NiA .target-report-accuracy-was-about-70-with-a-single-target-defined-DGr {
  margin-right: 6rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6666666667;
  color: #4f4f4f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .group-88-88v {
  width: 56.8rem;
  height: 22.9rem;
  position: absolute;
  left: 2rem;
  top: 39.3rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .group-88-88v .auto-group-qmze-ed4 {
  margin-bottom: 2.2rem;
  box-sizing: border-box;
  padding: 1.1rem 3.016rem 1rem 3.1rem;
  width: 100%;
  height: 4rem;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.0500000007);
  background-color: #ffffff;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .group-88-88v .auto-group-qmze-ed4 .group-84-yfL {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .group-88-88v .auto-group-qmze-ed4 .group-84-yfL .pg1685-YTY {
  margin-right: 42.4rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #1656c1;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .group-88-88v .auto-group-qmze-ed4 .group-84-yfL .group-83-t1c {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .group-88-88v .auto-group-qmze-ed4 .group-84-yfL .group-83-t1c .item-1-Sop {
  margin-right: 1rem;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #1656c1;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .group-88-88v .auto-group-qmze-ed4 .group-84-yfL .group-83-t1c .vuesax-linear-arrow-down-mr6 {
  margin-bottom: 0.1903rem;
  width: 0.984rem;
  height: 0.5097rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .group-88-88v .may-2-2023-fRg {
  margin: 0rem 2.7rem 1.2rem 0rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #918f8f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .group-88-88v .the-basic-rationale-behind-rsvp-paradigms-is-that-by-stressing-the-temporal-processing-mechanisms-to-their-limit-researchers-are-able-to-assess-the-rate-at-which-information-is-analyzed-and-encoded-aoY {
  margin: 0rem 3.4rem 4.7rem 0rem;
  max-width: 50.3rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .group-88-88v .rectangle-4152-oRQ {
  width: 100%;
  height: 4rem;
  box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.0500000007);
  background-color: #ffffff;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .group-87-8Cn {
  width: 51rem;
  height: 23.5rem;
  position: absolute;
  left: 5.1rem;
  top: 59.3rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .group-87-8Cn .group-84-egv {
  margin: 0rem 0.316rem 3.2rem 0rem;
  width: calc(100% - 0.316rem);
  height: 1.9rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .group-87-8Cn .group-84-egv .pg1687-aaa {
  margin-right: 42.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #1656c1;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .group-87-8Cn .group-84-egv .group-83-iRt {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .group-87-8Cn .group-84-egv .group-83-iRt .item-4-UAA {
  margin-right: 1rem;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #1656c1;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .group-87-8Cn .group-84-egv .group-83-iRt .vuesax-linear-arrow-down-zuC {
  margin-bottom: 0.1903rem;
  width: 0.984rem;
  height: 0.5097rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .group-87-8Cn .may-1-2023-iqC {
  margin: 0rem 0.2rem 1.2rem 0rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #918f8f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .group-87-8Cn .a-similar-posttarget-processing-deficit-was-found-by-weichselgartner-and-sperling-1987-in-one-of-their-experiments-subjects-were-presented-with-rsvp-streams-of-digits-at-the-rate-of-100-msec-item-FaE {
  margin: 0rem 2.2rem 4.2rem 0rem;
  max-width: 48.8rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .group-87-8Cn .may-3-2023-VDg {
  margin-bottom: 1.2rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #918f8f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .group-87-8Cn .subjects-typically-reported-t1-the-subsequent-item-and-then-the-stimulus-that-appeared-400-msec-after-the-target-weichselgartner-2jQ {
  margin-right: 3.6rem;
  max-width: 47.4rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .back-WuU {
  width: 2.2rem;
  height: 1.8rem;
  position: absolute;
  left: 13.7rem;
  top: 6.9rem;
  object-fit: contain;
  vertical-align: top;
}
.item--REn .group-79-BtA .auto-group-ypnr-PiW .vector-273-So8 {
  width: 2.2rem;
  height: 1.8rem;
  position: absolute;
  left: 17.6rem;
  top: 6.9rem;
  object-fit: contain;
  vertical-align: top;
}
