
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 70.6rem;
}.item-2023-05-03-121-qgz {
  width: 70.6rem;
  height: 41.1rem;
  position: relative;
  background-size: 290.323% 330.882%;
  background-position: -68.7496rem -74.9471rem;
  background-image: url('../assets/-x62.png');
}
