
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.item--kcv {
  width: 100%;
  height: 83.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.item--kcv .rectangle-1-DmQ {
  width: 5.8rem;
  height: 74.4rem;
  position: absolute;
  left: 122.2rem;
  top: 8.8rem;
  background-color: #f5f5f5;
}
.item--kcv .rectangle-2-8Na {
  width: 30.8rem;
  height: 74.4rem;
  position: absolute;
  left: 0;
  top: 8.8rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #fbfbfb;
}
.item--kcv .item-2023-05-03-116-1-EwQ {
  width: 54.15rem;
  height: 11rem;
  position: relative;
  left: 49.3rem;
  top: 14.2rem;
  background-size: 100% 310%;
  background-position: 0 0;
  background-image: url('../assets/-5TU.png');
}
.item--kcv .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ {
  width: 60.5rem;
  height: 45.4rem;
  position: absolute;
  left: 47.8rem;
  top: 29.4rem;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.item--kcv .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.item--kcv .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ-sub-1 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.item--kcv .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ-sub-2 {
}
.item--kcv .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ-sub-3 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.item--kcv .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ-sub-4 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.item--kcv .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ-sub-5 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.item--kcv .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ-sub-6 {
}
.item--kcv .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ-sub-7 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.item--kcv .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ-sub-8 {
}
.item--kcv .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ-sub-9 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.item--kcv .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ-sub-10 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.item--kcv .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ-sub-11 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.item--kcv .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ-sub-12 {
}
.item--kcv .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ-sub-13 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.item--kcv .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ-sub-14 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.item--kcv .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ-sub-15 {
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.item--kcv .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ-sub-16 {
}
.item--kcv .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ-sub-17 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.item--kcv .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ .introduction-under-conditions-of-rapid-serial-visual-presentation-subjects-display-a-reduced-ability-to-report-the-second-of-two-targets-target-2-t2-in-a-stream-of-distractors-if-it-appears-within-200500-msec-of-target-1-t1-this-effect-known-as-the-attentional-blink-ab-methods-in-three-experiments-we-tested-a-relative-speed-of-processing-account-of-colorword-contingency-learning-a-phenomenon-in-which-color-identification-responses-to-high-contingency-stimuli-words-that-appear-most-often-in-particular-colors-are-faster-than-those-to-low-contingency-stimuli-results-experiments-showed-equally-large-contingency-learning-effects-whether-responding-was-to-the-colors-or-to-the-words-likely-due-to-slow-responding-to-both-dimensions-because-of-the-unfamiliar-mapping-required-by-the-key-press-responses-discussion-results-are-all-consistent-with-contingency-learning-influencing-performance-only-when-the-nominally-irrelevant-feature-is-faster-to-process-than-the-relevant-feature-and-therefore-are-entirely-in-accord-with-a-relative-speed-of-processing-explanation-conclusion-the-ab-is-a-robust-phenomenon-that-has-been-demonstrated-across-a-wide-range-of-experimental-conditions-goQ-sub-18 {
}
.item--kcv .rectangle-4-RpA {
  width: 60.7rem;
  height: 5.2rem;
  position: absolute;
  left: 6.5rem;
  top: 0;
  background-color: #ffffff;
}
.item--kcv .rectangle-4104-xJJ {
  width: 25.8rem;
  height: 5.1rem;
  position: absolute;
  left: 23.1rem;
  top: 1.2rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #1656c1;
  border-radius: 1.7rem;
}
.item--kcv .closeround-dfL {
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  left: 45.975rem;
  top: 3.075rem;
  object-fit: contain;
  vertical-align: top;
}
.item--kcv .closeround-xBp {
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
  position: absolute;
  left: 26.9rem;
  top: 9.6rem;
  object-fit: contain;
  vertical-align: top;
}
.item--kcv .the-attention-blink--spa {
  width: 15.4rem;
  height: 1.9rem;
  position: absolute;
  left: 28.3rem;
  top: 2.4rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--kcv .whole-summary-yMp {
  width: 13.8rem;
  height: 2.1rem;
  position: absolute;
  left: 11.9rem;
  top: 17.1rem;
  font-size: 1.7rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #1656c1;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--kcv .abstract-tDt {
  width: 7.1rem;
  height: 2.1rem;
  position: absolute;
  left: 12rem;
  top: 21.7rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #c5c5c5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--kcv .introduction-be6 {
  width: 9.9rem;
  height: 2.1rem;
  position: absolute;
  left: 12rem;
  top: 26.3rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #c5c5c5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--kcv .participants-uen {
  width: 9.8rem;
  height: 2.1rem;
  position: absolute;
  left: 11.9rem;
  top: 30.7rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #c5c5c5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--kcv .methods-Rt2 {
  width: 7.2rem;
  height: 2.1rem;
  position: absolute;
  left: 11.9rem;
  top: 35.1rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #c5c5c5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--kcv .results-kvJ {
  width: 6rem;
  height: 2.1rem;
  position: absolute;
  left: 11.9rem;
  top: 39.7rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #c5c5c5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--kcv .discussion-HQS {
  width: 8.9rem;
  height: 2.1rem;
  position: absolute;
  left: 11.9rem;
  top: 44rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #c5c5c5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--kcv .conclusion-odg {
  width: 9.1rem;
  height: 2.1rem;
  position: absolute;
  left: 12rem;
  top: 48.2rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #c5c5c5;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--kcv .add-WHC {
  width: 3.3rem;
  height: 1.9rem;
  position: absolute;
  left: 53.4rem;
  top: 2.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #918f8f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--kcv .search-pYn {
  width: 1.8667rem;
  height: 1.8667rem;
  position: absolute;
  left: 14.9667rem;
  top: 1.8667rem;
  object-fit: contain;
  vertical-align: top;
}
.item--kcv .expanddownlight-ZFU {
  width: 1.225rem;
  height: 2.25rem;
  position: absolute;
  left: 124.3438rem;
  top: 10.9414rem;
  object-fit: contain;
  vertical-align: top;
}
.item--kcv .rectangle-7-s1G {
  width: 121.5rem;
  height: 3.7rem;
  position: absolute;
  left: 6.5rem;
  top: 5.1rem;
  background-color: #f5f5f5;
}
.item--kcv .item-515-o9p {
  width: 3.3rem;
  height: 1.5rem;
  position: absolute;
  left: 108.4rem;
  top: 6.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #5e5c5c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--kcv .ellipse-67-uTk {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 105rem;
  top: 6.3rem;
  border: solid 0.1rem #5e5c5c;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0.9rem;
}
.item--kcv .highlighter-1-op2 {
  width: 2.5259rem;
  height: 2.8259rem;
  position: absolute;
  left: 88.5rem;
  top: 5.7rem;
  object-fit: contain;
  vertical-align: top;
}
.item--kcv .format-textbox-1-8bQ {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 95.6rem;
  top: 6rem;
  object-fit: contain;
  vertical-align: top;
}
.item--kcv .mouse-pointer-1-epe {
  width: 1.7618rem;
  height: 2.4221rem;
  position: absolute;
  left: 85rem;
  top: 5.8rem;
  object-fit: contain;
  vertical-align: top;
}
.item--kcv .group-112-Zwc {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 102.3rem;
  top: 6.3rem;
  object-fit: contain;
  vertical-align: top;
}
.item--kcv .group-77-tyt {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 105.4rem;
  top: 6.7rem;
  object-fit: contain;
  vertical-align: top;
}
.item--kcv .polygon-1-RU2 {
  width: 0.8rem;
  height: 0.7rem;
  position: absolute;
  left: 112.9rem;
  top: 6.7rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.05rem;
}
.item--kcv .filedockduotone-wxA {
  width: 1.4583rem;
  height: 1.875rem;
  position: absolute;
  left: 50.9208rem;
  top: 2.1125rem;
  object-fit: contain;
  vertical-align: top;
}
.item--kcv .tutorial-HFL {
  width: 4.6rem;
  height: 1.6rem;
  cursor: pointer;
  position: absolute;
  left: 117.6rem;
  top: 6.3rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #918f8f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--kcv .questionfill-akE {
  width: 1.9rem;
  height: 1.9rem;
  cursor: pointer;
  position: absolute;
  left: 115.7rem;
  top: 6.1rem;
  object-fit: contain;
  vertical-align: top;
}
.item--kcv .imgbox-WNz {
  width: 2.1rem;
  height: 2.1rem;
  position: absolute;
  left: 92.25rem;
  top: 6.15rem;
  object-fit: contain;
  vertical-align: top;
}
.item--kcv .rectangle-4105-EZt {
  width: 6.5rem;
  height: 83.2rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
}
.item--kcv .vuesax-linear-setting-2-wDQ {
  width: 3.8rem;
  height: 3.8rem;
  position: absolute;
  left: 1.6rem;
  top: 71.4rem;
  object-fit: contain;
  vertical-align: top;
}
.item--kcv .user-GFg {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 1.4rem;
  top: 2rem;
  object-fit: contain;
  vertical-align: top;
}
.item--kcv .logout-QMt {
  width: 3.4rem;
  height: 3.4rem;
  position: absolute;
  left: 1.8rem;
  top: 77.3rem;
  object-fit: contain;
  vertical-align: top;
}
.item--kcv .bookmarkfill-LmL {
  width: 2.2rem;
  height: 2.3879rem;
  position: absolute;
  left: 2.25rem;
  top: 14.2125rem;
  object-fit: contain;
  vertical-align: top;
}
.item--kcv .contents-fHp {
  width: 3.9rem;
  height: 1.1rem;
  position: absolute;
  left: 1.5rem;
  top: 17.1rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #1656c1;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--kcv .rectangle-92-AEa {
  width: 0.8rem;
  height: 14.4rem;
  position: absolute;
  left: 120.9rem;
  top: 9.7rem;
  background-color: #918f8f;
  border-radius: 1rem;
}
.item--kcv .line-1-5sL {
  width: 6.1rem;
  height: 0.1rem;
  position: absolute;
  left: 108rem;
  top: 8.1rem;
  background-color: #918f8f;
}
.item--kcv .dashboard-csG {
  width: 4.7rem;
  height: 1.1rem;
  position: absolute;
  left: 1.1rem;
  top: 11.7rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #b0b0b0;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--kcv .dashboard-XjL {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 1.8rem;
  top: 8.4rem;
  object-fit: contain;
  vertical-align: top;
}
.item--kcv .item-2023-06-02-212-1-fKk {
  width: 2.8rem;
  height: 2.7rem;
  position: absolute;
  left: 18.5rem;
  top: 1.5rem;
  object-fit: cover;
  vertical-align: top;
}
