
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 52.1rem;
}.item-2023-04-16-223-2-Uq4 {
  width: 100%;
  height: 47.4rem;
  object-fit: cover;
  vertical-align: top;
}
