
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 57.6rem;
}.item-2023-05-03-119-Vtr {
  width: 57.6rem;
  height: 33.1rem;
  position: relative;
  background-size: 171.429% 194.384%;
  background-position: -28.4571rem -20.8752rem;
  background-image: url('../assets/-cZ4.png');
}
