
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.item--okA {
  width: 100%;
  height: 83.2rem;
  position: relative;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/bg-7ev.png');
  background-color: #ffffff;
}
.item--okA .rectangle-4128-JS2 {
  width: 48.7rem;
  height: 2.3rem;
  position: absolute;
  left: 67.4rem;
  top: 15.5rem;
  background-color: rgba(22, 86, 193, 0.25);
}
.item--okA .rectangle-4129-1bL {
  width: 54rem;
  height: 2.2rem;
  position: absolute;
  left: 62.1rem;
  top: 18.1rem;
  background-color: rgba(22, 86, 193, 0.25);
}
.item--okA .rectangle-4130-wUz {
  width: 54rem;
  height: 2.2rem;
  position: absolute;
  left: 62.1rem;
  top: 20.6rem;
  background-color: rgba(22, 86, 193, 0.25);
}
.item--okA .rectangle-4131-DxJ {
  width: 54rem;
  height: 2.2rem;
  position: absolute;
  left: 62.1rem;
  top: 23.2rem;
  background-color: rgba(22, 86, 193, 0.25);
}
.item--okA .rectangle-4132-8Ja {
  width: 54rem;
  height: 2.2rem;
  position: absolute;
  left: 62.1rem;
  top: 25.8rem;
  background-color: rgba(22, 86, 193, 0.25);
}
.item--okA .rectangle-4133-4T8 {
  width: 18.4rem;
  height: 2.2rem;
  position: absolute;
  left: 62.1rem;
  top: 28.3rem;
  background-color: rgba(22, 86, 193, 0.25);
}
.item--okA .group-92-C3Y {
  box-sizing: border-box;
  padding: 1.4rem 1.7rem 2.3rem 2.4rem;
  width: 23.1rem;
  height: 22.9rem;
  position: absolute;
  left: 61.5rem;
  top: 31.4rem;
  box-shadow: 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  border-radius: 1.4rem;
}
.item--okA .group-92-C3Y .auto-group-i5ts-fC2 {
  margin-bottom: 1.6rem;
  width: 100%;
  display: flex;
  align-items: center;
}
.item--okA .group-92-C3Y .auto-group-i5ts-fC2 .from-selected-oJE {
  margin-right: 5.2rem;
  font-size: 1.8rem;
  font-weight: 800;
  line-height: 1.2125;
  color: #4f4f4f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.item--okA .group-92-C3Y .auto-group-i5ts-fC2 .x-JEz {
  margin-bottom: 0.6rem;
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.item--okA .group-92-C3Y .add-memo-cFg {
  margin: 0rem 0rem 2.2rem 0.9rem;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #4f4f4f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--okA .group-92-C3Y .summarize-4tN {
  margin: 0rem 0rem 2.4rem 0.9rem;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #4f4f4f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--okA .group-92-C3Y .translate-abp {
  margin: 0rem 0rem 2.4rem 0.9rem;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #4f4f4f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.item--okA .group-92-C3Y .dictionary-64N {
  margin-left: 0.9rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #b3b3b3;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
