
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.ai--qe6 {
  width: 100%;
  height: 83.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
}
.ai--qe6 .rectangle-4117-vQe {
  width: 25.8rem;
  height: 5.1rem;
  position: absolute;
  left: 74.6rem;
  top: 1.2rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #f8f7f6;
  border-radius: 1.7rem;
}
.ai--qe6 .group-79-D8r {
  width: 128rem;
  height: 83.3rem;
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox {
  box-sizing: border-box;
  padding-top: 0.1rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-rmhx-fWe {
  width: 6.5rem;
  height: 100%;
  position: relative;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  flex-shrink: 0;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-rmhx-fWe .vuesax-linear-setting-2-QDL {
  width: 3.8rem;
  height: 3.8rem;
  position: absolute;
  left: 1.6rem;
  top: 71.4rem;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-rmhx-fWe .group-90-KLJ {
  width: 4.7rem;
  height: 78.1rem;
  position: absolute;
  left: 1.1rem;
  top: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-rmhx-fWe .group-90-KLJ .user-ETG {
  margin: 0rem 0.2rem 2.4rem 0rem;
  width: 3.9rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-rmhx-fWe .group-90-KLJ .dashboard-vqt {
  margin: 0rem 0.3rem 0.3rem 0rem;
  width: 3rem;
  height: 3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-rmhx-fWe .group-90-KLJ .dashboard-dkJ {
  margin-bottom: 1.4125rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #b0b0b0;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-rmhx-fWe .group-90-KLJ .bookmarkfill-k4E {
  margin: 0rem 0.2rem 0.5rem 0rem;
  width: 2.2rem;
  height: 2.3879rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-rmhx-fWe .group-90-KLJ .contents-qrN {
  margin-bottom: 58.5rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #b0b0b0;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-rmhx-fWe .group-90-KLJ .logout-xRC {
  margin-left: 0.1rem;
  width: 3.4rem;
  height: 3.4rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN {
  width: 60.7rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS {
  margin-bottom: 0.5rem;
  width: 100%;
  height: 9.2rem;
  position: relative;
  flex-shrink: 0;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .rectangle-4116-rut {
  width: 25.8rem;
  height: 5.1rem;
  position: absolute;
  left: 16.6rem;
  top: 1.2rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #f8f7f6;
  border-radius: 1.7rem;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .closeround-MLr {
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  left: 39.475rem;
  top: 3.075rem;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .dux2009-ajQ {
  width: 7.4rem;
  height: 1.9rem;
  position: absolute;
  left: 25.6rem;
  top: 2.4rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #5e5c5c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .add-5RG {
  width: 3.3rem;
  height: 1.9rem;
  position: absolute;
  left: 46.9rem;
  top: 2.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #918f8f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .search-ymY {
  width: 1.8667rem;
  height: 1.8667rem;
  position: absolute;
  left: 8.4667rem;
  top: 1.8667rem;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .translate-3-iDL {
  width: 2.2917rem;
  height: 2.2917rem;
  position: absolute;
  left: 12.1042rem;
  top: 1.6042rem;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .expanddownlight-S9L {
  width: 0.85rem;
  height: 1.55rem;
  position: absolute;
  left: 2.2875rem;
  top: 2.0552rem;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .vector-271-N2z {
  width: 1rem;
  height: 0;
  position: absolute;
  left: 25.5rem;
  top: 7.3rem;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .item-515-Hve {
  width: 3.3rem;
  height: 1.5rem;
  position: absolute;
  left: 31.2rem;
  top: 6.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #5e5c5c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .ellipse-70-oPC {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 27.8rem;
  top: 6.4rem;
  border: solid 0.1rem #5e5c5c;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0.9rem;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .highlighter-4-W2i {
  width: 2.5259rem;
  height: 2.8259rem;
  position: absolute;
  left: 12rem;
  top: 5.6rem;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .format-textbox-3-Qtn {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 19.1rem;
  top: 5.9rem;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .line-5-LXY {
  width: 6.1rem;
  height: 0.1rem;
  position: absolute;
  left: 30.9rem;
  top: 8.2rem;
  background-color: #918f8f;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .mouse-pointer-3-fpi {
  width: 1.7618rem;
  height: 2.4221rem;
  position: absolute;
  left: 8.5rem;
  top: 5.7rem;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .ellipse-71-og2 {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 25.1rem;
  top: 6.4rem;
  border: solid 0.1rem #5e5c5c;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0.9rem;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .rectangle-4120-X6E {
  width: 60.7rem;
  height: 5.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .rectangle-4122-57k {
  width: 25.8rem;
  height: 5.1rem;
  position: absolute;
  left: 16.6rem;
  top: 1.2rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #1656c1;
  border-radius: 1.7rem;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .closeround-PPL {
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  left: 39.475rem;
  top: 3.075rem;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .rectangle-4128-7q8 {
  width: 60.7rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 5.2rem;
  background-color: #f5f5f5;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .the-attention-blink--GCE {
  width: 15.4rem;
  height: 1.9rem;
  position: absolute;
  left: 21.8rem;
  top: 2.4rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .add-Nm4 {
  width: 3.3rem;
  height: 1.9rem;
  position: absolute;
  left: 46.9rem;
  top: 2.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #b0b0b0;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .search-6SA {
  width: 1.8667rem;
  height: 1.8667rem;
  position: absolute;
  left: 8.4667rem;
  top: 1.8667rem;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .translate-4-EHU {
  width: 2.5rem;
  height: 2.5rem;
  position: absolute;
  left: 12rem;
  top: 1.5rem;
  overflow: hidden;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .expanddownlight-NPg {
  width: 0.85rem;
  height: 1.55rem;
  position: absolute;
  left: 2.2875rem;
  top: 2.0552rem;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .item-515-6qU {
  width: 3.3rem;
  height: 1.5rem;
  position: absolute;
  left: 31.2rem;
  top: 6.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #5e5c5c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .ellipse-72-D9Q {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 27.8rem;
  top: 6.4rem;
  border: solid 0.1rem #5e5c5c;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0.9rem;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .format-textbox-4-irr {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 19.1rem;
  top: 5.9rem;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .line-6-4A2 {
  width: 6.1rem;
  height: 0.1rem;
  position: absolute;
  left: 30.9rem;
  top: 8.2rem;
  background-color: #918f8f;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .mouse-pointer-4-o7c {
  width: 1.7618rem;
  height: 2.4221rem;
  position: absolute;
  left: 8.5rem;
  top: 5.7rem;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .group-78-Kre {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 28.2rem;
  top: 6.8rem;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .polygon-4-Txr {
  width: 0.8rem;
  height: 0.7rem;
  position: absolute;
  left: 35.7rem;
  top: 6.8rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.05rem;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .filedockduotone-nkE {
  width: 1.4583rem;
  height: 1.875rem;
  position: absolute;
  left: 44.4208rem;
  top: 2.1125rem;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .tutorial-XC2 {
  width: 4.6rem;
  height: 1.6rem;
  position: absolute;
  left: 53.8rem;
  top: 6.4rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #918f8f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .questionfill-dkr {
  width: 1.425rem;
  height: 1.425rem;
  position: absolute;
  left: 52.1375rem;
  top: 6.4375rem;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .imgbox-xHL {
  width: 2.1rem;
  height: 2.1rem;
  position: absolute;
  left: 15.75rem;
  top: 6.05rem;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .vector-V2N {
  width: 2.5259rem;
  height: 2.8259rem;
  position: absolute;
  left: 12rem;
  top: 5.6rem;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .group-113-22J {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 25.1rem;
  top: 6.4rem;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-kzcw-mtS .item-2023-06-02-212-1-jSW {
  width: 2.8rem;
  height: 2.7rem;
  position: absolute;
  left: 11.4rem;
  top: 1.5rem;
  object-fit: cover;
  vertical-align: top;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-ehuy-aCE {
  margin: 0rem 0.5rem 0rem 5rem;
  width: calc(100% - 5.5rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-ehuy-aCE .item-2023-05-03-959-3-Vpz {
  margin: 0.8rem 2.6rem 0rem 0rem;
  width: 51.8rem;
  height: 71.7rem;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/bg-Sfp.png');
  flex-shrink: 0;
}
.ai--qe6 .group-79-D8r .auto-group-7jtq-vox .auto-group-ehyr-SLN .auto-group-ehuy-aCE .rectangle-4125-ZK4 {
  width: 0.8rem;
  height: 14.4rem;
  background-color: #918f8f;
  border-radius: 1rem;
  flex-shrink: 0;
}
.ai--qe6 .group-79-D8r .auto-group-iqgj-VCi {
  width: 60.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.ai--qe6 .group-79-D8r .auto-group-iqgj-VCi .expanddownlight-Ccv {
  width: 0.85rem;
  height: 1.55rem;
  position: absolute;
  left: 2.0625rem;
  top: 1.8948rem;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .group-79-D8r .auto-group-iqgj-VCi .closeround-j74 {
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  left: 30.275rem;
  top: 3.075rem;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .group-79-D8r .auto-group-iqgj-VCi .note-1-4QE {
  width: 4.6rem;
  height: 1.9rem;
  position: absolute;
  left: 18rem;
  top: 2.4rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #5e5c5c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.ai--qe6 .group-79-D8r .auto-group-iqgj-VCi .rectangle-4128-y1Q {
  width: 60.8rem;
  height: 9.3rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .group-79-D8r .auto-group-iqgj-VCi .rectangle-4121-iDt {
  width: 60.7rem;
  height: 5.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.ai--qe6 .group-79-D8r .auto-group-iqgj-VCi .rectangle-4123-TSN {
  width: 25.8rem;
  height: 5.1rem;
  position: absolute;
  left: 7.4rem;
  top: 1.2rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #1656c1;
  border-radius: 1.7rem;
}
.ai--qe6 .group-79-D8r .auto-group-iqgj-VCi .expanddownlight-ZVQ {
  width: 0.85rem;
  height: 1.55rem;
  position: absolute;
  left: 2.0625rem;
  top: 1.8948rem;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .group-79-D8r .auto-group-iqgj-VCi .closeround-Vtr {
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  left: 30.275rem;
  top: 3.075rem;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .group-79-D8r .auto-group-iqgj-VCi .note-1-qhp {
  width: 4.6rem;
  height: 1.9rem;
  position: absolute;
  left: 18rem;
  top: 2.4rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.ai--qe6 .group-79-D8r .auto-group-iqgj-VCi .rectangle-4128-AEJ {
  width: 60.8rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 5.2rem;
  background-color: #f5f5f5;
}
.ai--qe6 .group-79-D8r .auto-group-iqgj-VCi .add-79Y {
  width: 3.3rem;
  height: 1.9rem;
  position: absolute;
  left: 37.9rem;
  top: 2.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #918f8f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.ai--qe6 .group-79-D8r .auto-group-iqgj-VCi .filedockduotone-Rvv {
  width: 1.4583rem;
  height: 1.875rem;
  position: absolute;
  left: 35.4208rem;
  top: 2.0125rem;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .group-79-D8r .auto-group-iqgj-VCi .rectangle-4126-Adc {
  width: 60.5rem;
  height: 74.3rem;
  position: absolute;
  left: 0;
  top: 8.9rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
}
.ai--qe6 .group-79-D8r .auto-group-iqgj-VCi .polygon-5-61U {
  width: 1.1rem;
  height: 1rem;
  position: absolute;
  left: 30.9rem;
  top: 7.5rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.1rem;
}
.ai--qe6 .group-79-D8r .auto-group-iqgj-VCi .heading-Qnr {
  width: 6rem;
  height: 1.9rem;
  position: absolute;
  left: 24.1rem;
  top: 7.1rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #5e5c5c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.ai--qe6 .group-79-D8r .auto-group-iqgj-VCi .meatballsmenu-uzW {
  width: 1.4rem;
  height: 0.2rem;
  position: absolute;
  left: 53.4rem;
  top: 7.5rem;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .group-79-D8r .auto-group-iqgj-VCi .polygon-6-FYa {
  width: 1.1rem;
  height: 1rem;
  position: absolute;
  left: 49.5rem;
  top: 7.1rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.1rem;
}
.ai--qe6 .group-79-D8r .auto-group-iqgj-VCi .highlighter-6-P8z {
  width: 2.89rem;
  height: 2.89rem;
  position: absolute;
  left: 13.6rem;
  top: 6.4rem;
  overflow: hidden;
}
.ai--qe6 .group-79-D8r .auto-group-iqgj-VCi .sortalfalight-7Kt {
  width: 1.45rem;
  height: 2.0542rem;
  position: absolute;
  left: 47.825rem;
  top: 6.5625rem;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .group-79-D8r .auto-group-iqgj-VCi .u-3DY {
  width: 1.8rem;
  height: 3rem;
  position: absolute;
  left: 44.3rem;
  top: 6.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #5e5c5c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.ai--qe6 .group-79-D8r .auto-group-iqgj-VCi .i-A3G {
  width: 0.7rem;
  height: 3rem;
  position: absolute;
  left: 41.7rem;
  top: 6.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #5e5c5c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.ai--qe6 .group-79-D8r .auto-group-iqgj-VCi .b-G6J {
  width: 1.6rem;
  height: 3rem;
  position: absolute;
  left: 38.2rem;
  top: 6.3rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #5e5c5c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.ai--qe6 .group-79-D8r .auto-group-iqgj-VCi .line-7-zHC {
  width: 0.1rem;
  height: 2.2rem;
  position: absolute;
  left: 21.5rem;
  top: 6.9rem;
  background-color: #bcbcbc;
}
.ai--qe6 .group-79-D8r .auto-group-iqgj-VCi .line-8-LM4 {
  width: 0.1rem;
  height: 2.2rem;
  position: absolute;
  left: 33.7rem;
  top: 6.8rem;
  background-color: #bcbcbc;
}
.ai--qe6 .group-79-D8r .auto-group-iqgj-VCi .back-53k {
  width: 2.2rem;
  height: 1.8rem;
  position: absolute;
  left: 13.7rem;
  top: 6.9rem;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .group-79-D8r .auto-group-iqgj-VCi .vector-273-1i6 {
  width: 2.2rem;
  height: 1.8rem;
  position: absolute;
  left: 17.6rem;
  top: 6.9rem;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .rectangle-4156-9ZQ {
  width: 61.7rem;
  height: 42.9rem;
  cursor: pointer;
  position: absolute;
  left: 67.2rem;
  top: 40.3rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.ai--qe6 .rectangle-92-rTp {
  width: 0.8rem;
  height: 9.9rem;
  position: absolute;
  left: 126.9rem;
  top: 45rem;
  background-color: #918f8f;
  border-radius: 1rem;
}
.ai--qe6 .ask-your-questions-to-ai-Bkz {
  width: 20rem;
  height: 2.1rem;
  position: absolute;
  left: 87.4rem;
  top: 41.7rem;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #353434;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.ai--qe6 .rectangle-4157-hDY {
  width: 61.7rem;
  height: 0.3rem;
  position: absolute;
  left: 67.2rem;
  top: 74.9rem;
  background-color: #f5f5f5;
}
.ai--qe6 .rectangle-4158-qKk {
  width: 47.1rem;
  height: 3.4rem;
  position: absolute;
  left: 69.3rem;
  top: 77rem;
  border: solid 0.1rem #005fff;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 0.4rem;
}
.ai--qe6 .ask-any-questions-MYz {
  width: 12.5rem;
  height: 1.6rem;
  position: absolute;
  left: 70.4rem;
  top: 77.7rem;
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #5e5c5c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.ai--qe6 .rectangle-4159-Trv {
  width: 8.3rem;
  height: 3.4rem;
  position: absolute;
  left: 118.1rem;
  top: 77rem;
  background-color: #d5e5f5;
  border-radius: 0.4rem;
}
.ai--qe6 .rectangle-4160-biE {
  width: 56.5rem;
  height: 4.5rem;
  position: absolute;
  left: 69.6rem;
  top: 46rem;
  background-color: #f5f5f5;
  border-radius: 0.8rem;
}
.ai--qe6 .meatballsmenu-jpS {
  width: 1.4rem;
  height: 0.2rem;
  position: absolute;
  left: 122.7rem;
  top: 48.2rem;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .q-what-does-feature-based-search-mean-sfk {
  width: 32.1rem;
  height: 2rem;
  position: absolute;
  left: 72rem;
  top: 47.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #424040;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.ai--qe6 .q-what-does-feature-based-search-mean-sfk .q-what-does-feature-based-search-mean-sfk-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #424040;
  font-family: Inter, 'Source Sans Pro';
}
.ai--qe6 .q-what-does-feature-based-search-mean-sfk .q-what-does-feature-based-search-mean-sfk-sub-1 {
}
.ai--qe6 .rectangle-4161-ksx {
  width: 56.5rem;
  height: 10.3rem;
  position: absolute;
  left: 69.6rem;
  top: 51.2rem;
  background-color: #d5e5f5;
  border-radius: 0.8rem;
}
.ai--qe6 .a-face-perception-is-the-ability-to-recognize-and-interpret-facial-features-and-expressions-it-is-a-complex-process-that-involves-the-recognition-of-facial-features-such-as-eyes-nose-and-mouth-as-well-as-the-interpretation-of-facial-expressions-GrJ {
  width: 52.4rem;
  height: 8.4rem;
  position: absolute;
  left: 72rem;
  top: 52.2rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3125;
  color: #424040;
  font-family: Inter, 'Source Sans Pro';
}
.ai--qe6 .a-face-perception-is-the-ability-to-recognize-and-interpret-facial-features-and-expressions-it-is-a-complex-process-that-involves-the-recognition-of-facial-features-such-as-eyes-nose-and-mouth-as-well-as-the-interpretation-of-facial-expressions-GrJ .a-face-perception-is-the-ability-to-recognize-and-interpret-facial-features-and-expressions-it-is-a-complex-process-that-involves-the-recognition-of-facial-features-such-as-eyes-nose-and-mouth-as-well-as-the-interpretation-of-facial-expressions-GrJ-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.3125;
  color: #424040;
  font-family: Inter, 'Source Sans Pro';
}
.ai--qe6 .a-face-perception-is-the-ability-to-recognize-and-interpret-facial-features-and-expressions-it-is-a-complex-process-that-involves-the-recognition-of-facial-features-such-as-eyes-nose-and-mouth-as-well-as-the-interpretation-of-facial-expressions-GrJ .a-face-perception-is-the-ability-to-recognize-and-interpret-facial-features-and-expressions-it-is-a-complex-process-that-involves-the-recognition-of-facial-features-such-as-eyes-nose-and-mouth-as-well-as-the-interpretation-of-facial-expressions-GrJ-sub-1 {
}
.ai--qe6 .rectangle-4162-otA {
  width: 56.5rem;
  height: 4.5rem;
  position: absolute;
  left: 69.6rem;
  top: 62.2rem;
  background-color: #f5f5f5;
  border-radius: 0.8rem;
}
.ai--qe6 .meatballsmenu-wDg {
  width: 1.4rem;
  height: 0.2rem;
  position: absolute;
  left: 122.7rem;
  top: 64.4rem;
  object-fit: contain;
  vertical-align: top;
}
.ai--qe6 .q-why-is-it-important-GFx {
  width: 17.1rem;
  height: 2rem;
  position: absolute;
  left: 72rem;
  top: 63.3rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #424040;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: baseline;
}
.ai--qe6 .q-why-is-it-important-GFx .q-why-is-it-important-GFx-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #424040;
  font-family: Inter, 'Source Sans Pro';
}
.ai--qe6 .q-why-is-it-important-GFx .q-why-is-it-important-GFx-sub-1 {
}
.ai--qe6 .rectangle-4163-GQN {
  width: 56.5rem;
  height: 6.4rem;
  position: absolute;
  left: 69.6rem;
  top: 67.5rem;
  background-color: #d5e5f5;
  border-radius: 0.8rem;
}
.ai--qe6 .a-face-perception-is-an-important-part-of-social-interaction-as-it-allows-us-to-recognize-and-respond-to-the-emotions-of-others-zrA {
  width: 49.5rem;
  height: 4.2rem;
  position: absolute;
  left: 72rem;
  top: 68.5rem;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3125;
  color: #424040;
  font-family: Inter, 'Source Sans Pro';
}
.ai--qe6 .a-face-perception-is-an-important-part-of-social-interaction-as-it-allows-us-to-recognize-and-respond-to-the-emotions-of-others-zrA .a-face-perception-is-an-important-part-of-social-interaction-as-it-allows-us-to-recognize-and-respond-to-the-emotions-of-others-zrA-sub-0 {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.3125;
  color: #424040;
  font-family: Inter, 'Source Sans Pro';
}
.ai--qe6 .a-face-perception-is-an-important-part-of-social-interaction-as-it-allows-us-to-recognize-and-respond-to-the-emotions-of-others-zrA .a-face-perception-is-an-important-part-of-social-interaction-as-it-allows-us-to-recognize-and-respond-to-the-emotions-of-others-zrA-sub-1 {
}
.ai--qe6 .submit-jSN {
  width: 5.4rem;
  height: 2rem;
  position: absolute;
  left: 119.5rem;
  top: 77.8rem;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.ai--qe6 .expanddownlight-Sra {
  width: 3.8rem;
  height: 4.2rem;
  cursor: pointer;
  position: absolute;
  left: 122.3rem;
  top: 40.8rem;
  object-fit: contain;
  vertical-align: top;
}
