
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.notetakinghovering--r1U {
  width: 100%;
  height: 83.2rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
}
.notetakinghovering--r1U .group-79-Zga {
  width: 100%;
  height: 83.3rem;
  display: flex;
  align-items: center;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 {
  box-sizing: border-box;
  padding-top: 0.1rem;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-uwqg-ei2 {
  width: 6.5rem;
  height: 100%;
  position: relative;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-uwqg-ei2 .vuesax-linear-setting-2-BT4 {
  width: 3.8rem;
  height: 3.8rem;
  position: absolute;
  left: 1.6rem;
  top: 71.4rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-uwqg-ei2 .dashboard-6K8 {
  width: 4.7rem;
  height: 1.1rem;
  position: absolute;
  left: 1.1rem;
  top: 11.7rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #5e5c5c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-uwqg-ei2 .dashboard-BbU {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 1.8rem;
  top: 8.4rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-uwqg-ei2 .user-7EE {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 1.4rem;
  top: 2rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-uwqg-ei2 .rectangle-4119-F5Y {
  width: 6.5rem;
  height: 83.2rem;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-uwqg-ei2 .vuesax-linear-setting-2-knz {
  width: 3.8rem;
  height: 3.8rem;
  position: absolute;
  left: 1.6rem;
  top: 71.4rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-uwqg-ei2 .dashboard-ssc {
  width: 4.7rem;
  height: 1.1rem;
  position: absolute;
  left: 1.1rem;
  top: 11.7rem;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #5e5c5c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-uwqg-ei2 .dashboard-Ari {
  width: 3rem;
  height: 3rem;
  position: absolute;
  left: 1.8rem;
  top: 8.4rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-uwqg-ei2 .user-Jxv {
  width: 4rem;
  height: 4rem;
  position: absolute;
  left: 1.4rem;
  top: 2rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-uwqg-ei2 .logout-eWz {
  width: 3.4rem;
  height: 3.4rem;
  position: absolute;
  left: 1.8rem;
  top: 76.7rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk {
  width: 60.7rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 {
  margin-bottom: 0.6rem;
  width: 100%;
  height: 9.1rem;
  position: relative;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .rectangle-4114-aox {
  width: 60.7rem;
  height: 5.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .rectangle-4116-ivA {
  width: 25.8rem;
  height: 5.1rem;
  position: absolute;
  left: 16.6rem;
  top: 1.2rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #f8f7f6;
  border-radius: 1.7rem;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .closeround-2R4 {
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  left: 39.475rem;
  top: 3.075rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .dux2009-MiE {
  width: 7.4rem;
  height: 1.9rem;
  position: absolute;
  left: 25.6rem;
  top: 2.4rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #5e5c5c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .add-fyp {
  width: 3.3rem;
  height: 1.9rem;
  position: absolute;
  left: 46.9rem;
  top: 2.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #918f8f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .search-b6n {
  width: 1.8667rem;
  height: 1.8666rem;
  position: absolute;
  left: 8.4667rem;
  top: 1.8667rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .translate-3-ix6 {
  width: 2.2917rem;
  height: 2.2917rem;
  position: absolute;
  left: 12.1042rem;
  top: 1.6042rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .expanddownlight-roQ {
  width: 0.85rem;
  height: 1.55rem;
  position: absolute;
  left: 2.2875rem;
  top: 2.0552rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .rectangle-4118-oCr {
  width: 60.7rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 5.1rem;
  box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .vector-271-iKp {
  width: 1rem;
  height: 0;
  position: absolute;
  left: 25.5rem;
  top: 7.3rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .item-515-eDU {
  width: 3.3rem;
  height: 1.5rem;
  position: absolute;
  left: 31.2rem;
  top: 6.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #5e5c5c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .ellipse-70-YZk {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 27.8rem;
  top: 6.4rem;
  border: solid 0.1rem #5e5c5c;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0.9rem;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .highlighter-4-TAv {
  width: 2.5259rem;
  height: 2.8259rem;
  position: absolute;
  left: 12rem;
  top: 5.6rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .format-textbox-3-nDC {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 19.1rem;
  top: 5.9rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .line-5-KD8 {
  width: 6.1rem;
  height: 0.1rem;
  position: absolute;
  left: 30.9rem;
  top: 8.2rem;
  background-color: #918f8f;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .mouse-pointer-3-rD4 {
  width: 1.7618rem;
  height: 2.4221rem;
  position: absolute;
  left: 8.5rem;
  top: 5.7rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .ellipse-71-auk {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 25.1rem;
  top: 6.4rem;
  border: solid 0.1rem #5e5c5c;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0.9rem;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .rectangle-4120-tQe {
  width: 60.7rem;
  height: 5.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .rectangle-4122-SBG {
  width: 25.8rem;
  height: 5.1rem;
  position: absolute;
  left: 16.6rem;
  top: 1.2rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #f8f7f6;
  border-radius: 1.7rem;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .closeround-95g {
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  left: 39.475rem;
  top: 3.075rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .dux2009-sXU {
  width: 7.4rem;
  height: 1.9rem;
  position: absolute;
  left: 25.6rem;
  top: 2.4rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #5e5c5c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .add-awg {
  width: 3.3rem;
  height: 1.9rem;
  position: absolute;
  left: 46.9rem;
  top: 2.2rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #918f8f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .search-Jsg {
  width: 1.8667rem;
  height: 1.8666rem;
  position: absolute;
  left: 8.4667rem;
  top: 1.8667rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .translate-4-ege {
  width: 2.2917rem;
  height: 2.2917rem;
  position: absolute;
  left: 12.1042rem;
  top: 1.6042rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .expanddownlight-PPL {
  width: 0.85rem;
  height: 1.55rem;
  position: absolute;
  left: 2.2875rem;
  top: 2.0552rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .rectangle-4124-iwQ {
  width: 60.7rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 5.1rem;
  box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .vector-272-FRY {
  width: 1rem;
  height: 0;
  position: absolute;
  left: 25.5rem;
  top: 7.3rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .item-515-19p {
  width: 3.3rem;
  height: 1.5rem;
  position: absolute;
  left: 31.2rem;
  top: 6.4rem;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #5e5c5c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .ellipse-72-ukz {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 27.8rem;
  top: 6.4rem;
  border: solid 0.1rem #5e5c5c;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0.9rem;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .highlighter-5-RDY {
  width: 2.5259rem;
  height: 2.8259rem;
  position: absolute;
  left: 12rem;
  top: 5.6rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .format-textbox-4-Mcz {
  width: 2.4rem;
  height: 2.4rem;
  position: absolute;
  left: 19.1rem;
  top: 5.9rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .line-6-5ot {
  width: 6.1rem;
  height: 0.1rem;
  position: absolute;
  left: 30.9rem;
  top: 8.2rem;
  background-color: #918f8f;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .mouse-pointer-4-cop {
  width: 1.7618rem;
  height: 2.4221rem;
  position: absolute;
  left: 8.5rem;
  top: 5.7rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .ellipse-73-MFc {
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  left: 25.1rem;
  top: 6.4rem;
  border: solid 0.1rem #5e5c5c;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0.9rem;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .group-78-T3k {
  width: 1rem;
  height: 1rem;
  position: absolute;
  left: 28.2rem;
  top: 6.8rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .polygon-4-zJa {
  width: 0.8rem;
  height: 0.7rem;
  position: absolute;
  left: 35.7rem;
  top: 6.8rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.05rem;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .filedockduotone-hin {
  width: 1.4583rem;
  height: 1.875rem;
  position: absolute;
  left: 44.4208rem;
  top: 2.1125rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .tutorial-pHc {
  width: 4.6rem;
  height: 1.6rem;
  position: absolute;
  left: 53.8rem;
  top: 6.4rem;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #918f8f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .questionfill-83Q {
  width: 1.425rem;
  height: 1.425rem;
  position: absolute;
  left: 52.1375rem;
  top: 6.4375rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-pcni-686 .imgbox-rVC {
  width: 2.1rem;
  height: 2.1rem;
  position: absolute;
  left: 15.75rem;
  top: 6.05rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-rfsc-PEE {
  margin: 0rem 0.5rem 0rem 5rem;
  width: calc(100% - 5.5rem);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-rfsc-PEE .auto-group-uv1g-uiN {
  margin: 0.8rem 2.6rem 0rem 0rem;
  box-sizing: border-box;
  padding: 7.5rem 3.2rem 12.1rem 24.9rem;
  width: 51.8rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/bg-3cJ.png');
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-rfsc-PEE .auto-group-uv1g-uiN .auto-group-fksz-CxN {
  margin-bottom: 15.4rem;
  width: 100%;
  height: 19.7rem;
  position: relative;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-rfsc-PEE .auto-group-uv1g-uiN .auto-group-fksz-CxN .hovering-sign-YWS {
  width: 2rem;
  height: 1.1rem;
  position: absolute;
  left: 21.7rem;
  top: 1.4rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-rfsc-PEE .auto-group-uv1g-uiN .auto-group-fksz-CxN .item--4Dt {
  width: 21.1rem;
  height: 3.8rem;
  position: absolute;
  left: 0;
  top: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-rfsc-PEE .auto-group-uv1g-uiN .auto-group-fksz-CxN .item--4Dt .rectangle-4145-PGA {
  margin: 0rem 0rem 0.4rem 1rem;
  width: 20.1rem;
  height: 0.7rem;
  background-color: rgba(22, 86, 193, 0.1700000018);
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-rfsc-PEE .auto-group-uv1g-uiN .auto-group-fksz-CxN .item--4Dt .rectangle-4146-tii {
  margin-bottom: 0.2rem;
  width: 100%;
  height: 0.7rem;
  background-color: rgba(22, 86, 193, 0.1700000018);
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-rfsc-PEE .auto-group-uv1g-uiN .auto-group-fksz-CxN .item--4Dt .rectangle-4147-dwC {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 0.7rem;
  background-color: rgba(22, 86, 193, 0.1700000018);
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-rfsc-PEE .auto-group-uv1g-uiN .auto-group-fksz-CxN .item--4Dt .rectangle-4148-arS {
  width: 2.2rem;
  height: 0.7rem;
  background-color: rgba(22, 86, 193, 0.1700000018);
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-rfsc-PEE .auto-group-uv1g-uiN .auto-group-fksz-CxN .rectangle-4152-wBC {
  width: 16rem;
  height: 16.6rem;
  position: absolute;
  left: 7.7rem;
  top: 3.1rem;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-rfsc-PEE .auto-group-uv1g-uiN .auto-group-fksz-CxN .rectangle-4154-s4r {
  width: 16rem;
  height: 16.6rem;
  position: absolute;
  left: 7.7rem;
  top: 3.1rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: rgba(22, 86, 193, 0.1700000018);
  border-radius: 1.2rem;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-rfsc-PEE .auto-group-uv1g-uiN .auto-group-fksz-CxN .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-fringilla-augue-lorem-facilisis-porttitor-lorem-commodo-ut-fusce-nec-imperdiet-erat-nunc-sagittis-turpis-dictum-placerat-iaculis-ante-quam-luctus-mauris-eu-tincidunt-nulla-sem-sit-amet-mauris-mR8 {
  width: 13.4rem;
  height: 12.2rem;
  position: absolute;
  left: 9.1rem;
  top: 6.3rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-rfsc-PEE .auto-group-uv1g-uiN .auto-group-fksz-CxN .may-1-2023-mJe {
  width: 4.6rem;
  height: 1rem;
  position: absolute;
  left: 17.7rem;
  top: 4.6rem;
  text-align: right;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-rfsc-PEE .auto-group-uv1g-uiN .auto-group-m8ty-UD4 {
  width: 23.4rem;
  height: 17rem;
  position: relative;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-rfsc-PEE .auto-group-uv1g-uiN .auto-group-m8ty-UD4 .hovering-sign-QsQ {
  width: 2rem;
  height: 1.1rem;
  position: absolute;
  left: 21.4rem;
  top: 1.9rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-rfsc-PEE .auto-group-uv1g-uiN .auto-group-m8ty-UD4 .group-82-n7G {
  width: 21.1rem;
  height: 5.7rem;
  position: absolute;
  left: 0;
  top: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-rfsc-PEE .auto-group-uv1g-uiN .auto-group-m8ty-UD4 .group-82-n7G .rectangle-4145-7QS {
  margin: 0rem 0rem 0.4rem 7.1rem;
  width: 14rem;
  height: 0.7rem;
  background-color: rgba(22, 86, 193, 0.1700000018);
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-rfsc-PEE .auto-group-uv1g-uiN .auto-group-m8ty-UD4 .group-82-n7G .rectangle-4146-qbL {
  margin-bottom: 0.2rem;
  width: 100%;
  height: 0.7rem;
  background-color: rgba(22, 86, 193, 0.1700000018);
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-rfsc-PEE .auto-group-uv1g-uiN .auto-group-m8ty-UD4 .group-82-n7G .rectangle-4147-zDL {
  margin-bottom: 0.4rem;
  width: 100%;
  height: 0.7rem;
  background-color: rgba(22, 86, 193, 0.1700000018);
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-rfsc-PEE .auto-group-uv1g-uiN .auto-group-m8ty-UD4 .group-82-n7G .rectangle-4148-LY6 {
  margin-bottom: 0.2rem;
  width: 100%;
  height: 0.7rem;
  background-color: rgba(22, 86, 193, 0.1700000018);
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-rfsc-PEE .auto-group-uv1g-uiN .auto-group-m8ty-UD4 .group-82-n7G .rectangle-4149-4yt {
  margin-bottom: 0.3rem;
  width: 100%;
  height: 0.7rem;
  background-color: rgba(22, 86, 193, 0.1700000018);
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-rfsc-PEE .auto-group-uv1g-uiN .auto-group-m8ty-UD4 .group-82-n7G .rectangle-4150-pCN {
  width: 2.6rem;
  height: 0.7rem;
  background-color: rgba(22, 86, 193, 0.1700000018);
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-rfsc-PEE .auto-group-uv1g-uiN .auto-group-m8ty-UD4 .rectangle-4153-xpN {
  width: 16rem;
  height: 11.5rem;
  position: absolute;
  left: 7.4rem;
  top: 5.5rem;
  background-color: #ffffff;
  border-radius: 1.2rem;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-rfsc-PEE .auto-group-uv1g-uiN .auto-group-m8ty-UD4 .rectangle-4155-J7Y {
  width: 16rem;
  height: 11.5rem;
  position: absolute;
  left: 7.4rem;
  top: 5.5rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: rgba(22, 86, 193, 0.1700000018);
  border-radius: 1.2rem;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-rfsc-PEE .auto-group-uv1g-uiN .auto-group-m8ty-UD4 .group-89-QwG {
  width: 13.4rem;
  height: 7.8rem;
  position: absolute;
  left: 8.8rem;
  top: 7.4rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-rfsc-PEE .auto-group-uv1g-uiN .auto-group-m8ty-UD4 .group-89-QwG .may-1-2023-Z3U {
  margin: 0rem 0.2rem 0.7rem 0rem;
  text-align: right;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-rfsc-PEE .auto-group-uv1g-uiN .auto-group-m8ty-UD4 .group-89-QwG .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-fringilla-augue-lorem-facilisis-porttitor-lorem-commodo-ut-Gia {
  max-width: 13.4rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-ak86-Ju4 .auto-group-us3g-9Tk .auto-group-rfsc-PEE .rectangle-4125-6xW {
  width: 0.8rem;
  height: 14.4rem;
  background-color: #918f8f;
  border-radius: 1rem;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv {
  width: 60.8rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .rectangle-4115-YJi {
  width: 60.7rem;
  height: 5.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .expanddownlight-65L {
  width: 0.85rem;
  height: 1.55rem;
  position: absolute;
  left: 2.0625rem;
  top: 1.8948rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .rectangle-4117-pX8 {
  width: 25.8rem;
  height: 5.1rem;
  position: absolute;
  left: 7.4rem;
  top: 1.2rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #f8f7f6;
  border-radius: 1.7rem;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .closeround-jPC {
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  left: 30.275rem;
  top: 3.075rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .note-1-G8E {
  width: 4.6rem;
  height: 1.9rem;
  position: absolute;
  left: 18rem;
  top: 2.4rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #5e5c5c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .rectangle-4121-NSA {
  width: 60.7rem;
  height: 5.2rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .expanddownlight-iW2 {
  width: 0.85rem;
  height: 1.55rem;
  position: absolute;
  left: 2.0625rem;
  top: 1.8948rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .rectangle-4123-TCi {
  width: 25.8rem;
  height: 5.1rem;
  position: absolute;
  left: 7.4rem;
  top: 1.2rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #f8f7f6;
  border-radius: 1.7rem;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .closeround-ZmY {
  width: 0.75rem;
  height: 0.75rem;
  position: absolute;
  left: 30.275rem;
  top: 3.075rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .note-1-WAz {
  width: 4.6rem;
  height: 1.9rem;
  position: absolute;
  left: 18rem;
  top: 2.4rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #5e5c5c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .add-phU {
  width: 3.3rem;
  height: 1.9rem;
  position: absolute;
  left: 37.9rem;
  top: 2.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #918f8f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .filedockduotone-YtN {
  width: 1.4583rem;
  height: 1.875rem;
  position: absolute;
  left: 35.4208rem;
  top: 2.0125rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .rectangle-4126-VHp {
  width: 60.5rem;
  height: 74.3rem;
  position: absolute;
  left: 0;
  top: 8.9rem;
  box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  background-color: #f5f5f5;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .rectangle-4127-1mx {
  width: 60.8rem;
  height: 4rem;
  position: absolute;
  left: 0;
  top: 5.3rem;
  background-color: #f5f5f5;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .back-wvW {
  width: 2.2rem;
  height: 1.8rem;
  position: absolute;
  left: 5.4rem;
  top: 7.1rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .vector-273-gt6 {
  width: 2.2rem;
  height: 1.8rem;
  position: absolute;
  left: 9.3rem;
  top: 7.1rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .polygon-5-pDc {
  width: 1.1rem;
  height: 1rem;
  position: absolute;
  left: 30.9rem;
  top: 7.5rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.1rem;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .heading-9Ft {
  width: 6rem;
  height: 1.9rem;
  position: absolute;
  left: 24.1rem;
  top: 7.1rem;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2125;
  color: #5e5c5c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .meatballsmenu-eyL {
  width: 1.4rem;
  height: 0.2rem;
  position: absolute;
  left: 53.4rem;
  top: 7.5rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .polygon-6-a6J {
  width: 1.1rem;
  height: 1rem;
  position: absolute;
  left: 49.5rem;
  top: 7.1rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.1rem;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .imgbox-76E {
  width: 2.1rem;
  height: 2.1rem;
  position: absolute;
  left: 17.5399rem;
  top: 6.85rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .highlighter-6-2iz {
  width: 2.5259rem;
  height: 2.8259rem;
  position: absolute;
  left: 13.6rem;
  top: 6.4rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .sortalfalight-N2A {
  width: 1.45rem;
  height: 2.0542rem;
  position: absolute;
  left: 47.825rem;
  top: 6.5625rem;
  object-fit: contain;
  vertical-align: top;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .u-goY {
  width: 1.8rem;
  height: 3rem;
  position: absolute;
  left: 44.3rem;
  top: 6.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #5e5c5c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .i-1L2 {
  width: 0.7rem;
  height: 3rem;
  position: absolute;
  left: 41.7rem;
  top: 6.3rem;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.2125;
  font-style: italic;
  color: #5e5c5c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .b-KrW {
  width: 1.6rem;
  height: 3rem;
  position: absolute;
  left: 38.2rem;
  top: 6.3rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #5e5c5c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .line-7-qpr {
  width: 0.1rem;
  height: 2.2rem;
  position: absolute;
  left: 21.5rem;
  top: 6.9rem;
  background-color: #bcbcbc;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .line-8-Npn {
  width: 0.1rem;
  height: 2.2rem;
  position: absolute;
  left: 33.7rem;
  top: 6.8rem;
  background-color: #bcbcbc;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-85-Wg6 {
  width: 56.8rem;
  height: 24.6rem;
  position: absolute;
  left: 2rem;
  top: 11.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-85-Wg6 .auto-group-xp3l-F7t {
  box-sizing: border-box;
  padding: 1.1rem 3.016rem 1rem 3.1rem;
  width: 100%;
  height: 4rem;
  background-color: #d9d9d9;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-85-Wg6 .auto-group-xp3l-F7t .group-84-aR4 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-85-Wg6 .auto-group-xp3l-F7t .group-84-aR4 .pg1684-wFc {
  margin-right: 42rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-85-Wg6 .auto-group-xp3l-F7t .group-84-aR4 .group-83-fxJ {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-85-Wg6 .auto-group-xp3l-F7t .group-84-aR4 .group-83-fxJ .item-2-deE {
  margin-right: 1rem;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-85-Wg6 .auto-group-xp3l-F7t .group-84-aR4 .group-83-fxJ .vuesax-linear-arrow-down-kir {
  margin-bottom: 0.1902rem;
  width: 0.984rem;
  height: 0.5098rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-85-Wg6 .auto-group-ytpq-fav {
  box-sizing: border-box;
  padding: 1.9rem 2.9rem 0rem 3.1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-85-Wg6 .auto-group-ytpq-fav .auto-group-qtj6-bDg {
  margin-bottom: 0.9rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-85-Wg6 .auto-group-ytpq-fav .auto-group-qtj6-bDg .item-1-Lwx {
  margin-right: 43.8rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-85-Wg6 .auto-group-ytpq-fav .auto-group-qtj6-bDg .may-1-2023-Gqc {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #918f8f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-85-Wg6 .auto-group-ytpq-fav .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-fringilla-augue-lorem-facilisis-porttitor-lorem-commodo-ut-fusce-nec-imperdiet-erat-nunc-sagittis-turpis-dictum-placerat-iaculis-ante-quam-luctus-mauris-eu-tincidunt-nulla-sem-sit-amet-mauris-cPg {
  margin: 0rem 0.4rem 2.1rem 0rem;
  max-width: 50.4rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-85-Wg6 .auto-group-ytpq-fav .auto-group-9zrv-dZg {
  margin-bottom: 0.9rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-85-Wg6 .auto-group-ytpq-fav .auto-group-9zrv-dZg .item-2-PHx {
  margin-right: 43.6rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-85-Wg6 .auto-group-ytpq-fav .auto-group-9zrv-dZg .may-1-2023-8FY {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #918f8f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-85-Wg6 .auto-group-ytpq-fav .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-fringilla-augue-lorem-facilisis-porttitor-lorem-commodo-ut-TYi {
  margin-right: 2.8rem;
  max-width: 48rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .item-1-YaA {
  width: 1.2rem;
  height: 1.9rem;
  position: absolute;
  left: 5.1rem;
  top: 45.2rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-88-4Hc {
  width: 56.8rem;
  height: 16rem;
  position: absolute;
  left: 2rem;
  top: 39.3rem;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-88-4Hc .auto-group-8ka2-Bd8 {
  margin-bottom: 2.2rem;
  box-sizing: border-box;
  padding: 1.1rem 3.016rem 1rem 3.1rem;
  width: 100%;
  height: 4rem;
  background-color: #d9d9d9;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-88-4Hc .auto-group-8ka2-Bd8 .group-84-hbU {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-88-4Hc .auto-group-8ka2-Bd8 .group-84-hbU .pg1685-Fst {
  margin-right: 42.4rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-88-4Hc .auto-group-8ka2-Bd8 .group-84-hbU .group-83-bB4 {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-88-4Hc .auto-group-8ka2-Bd8 .group-84-hbU .group-83-bB4 .item-1-9yG {
  margin-right: 1rem;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-88-4Hc .auto-group-8ka2-Bd8 .group-84-hbU .group-83-bB4 .vuesax-linear-arrow-down-tAA {
  margin-bottom: 0.1902rem;
  width: 0.984rem;
  height: 0.5098rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-88-4Hc .may-2-2023-baN {
  margin: 0rem 2.7rem 1.2rem 0rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #918f8f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-88-4Hc .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-fringilla-augue-lorem-facilisis-porttitor-lorem-commodo-ut-fusce-nec-imperdiet-erat-nunc-sagittis-turpis-dictum-placerat-iaculis-ante-quam-luctus-mauris-eu-tincidunt-nulla-sem-sit-amet-mauris-WxE {
  margin-right: 3.3rem;
  max-width: 50.4rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-87-x3Y {
  width: 56.8rem;
  height: 24.6rem;
  position: absolute;
  left: 2rem;
  top: 58.2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-87-x3Y .auto-group-9mzp-UXg {
  box-sizing: border-box;
  padding: 1.1rem 3.016rem 1rem 3.1rem;
  width: 100%;
  height: 4rem;
  background-color: #d9d9d9;
  border-radius: 0.6rem;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-87-x3Y .auto-group-9mzp-UXg .group-84-1Xc {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-87-x3Y .auto-group-9mzp-UXg .group-84-1Xc .pg1687-yDY {
  margin-right: 42.1rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-87-x3Y .auto-group-9mzp-UXg .group-84-1Xc .group-83-WjG {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-87-x3Y .auto-group-9mzp-UXg .group-84-1Xc .group-83-WjG .item-4-5nN {
  margin-right: 1rem;
  text-align: right;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-87-x3Y .auto-group-9mzp-UXg .group-84-1Xc .group-83-WjG .vuesax-linear-arrow-down-DNn {
  margin-bottom: 0.1902rem;
  width: 0.984rem;
  height: 0.5098rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-87-x3Y .auto-group-f35g-8Vk {
  box-sizing: border-box;
  padding: 1.9rem 2.7rem 0rem 3.1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-87-x3Y .auto-group-f35g-8Vk .auto-group-9f4i-eyt {
  margin: 0rem 0.2rem 0.9rem 0rem;
  width: calc(100% - 0.2rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-87-x3Y .auto-group-f35g-8Vk .auto-group-9f4i-eyt .item-1-Byp {
  margin-right: 43.8rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-87-x3Y .auto-group-f35g-8Vk .auto-group-9f4i-eyt .may-1-2023-jEe {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #918f8f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-87-x3Y .auto-group-f35g-8Vk .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-fringilla-augue-lorem-facilisis-porttitor-lorem-commodo-ut-fusce-nec-imperdiet-erat-nunc-sagittis-turpis-dictum-placerat-iaculis-ante-quam-luctus-mauris-eu-tincidunt-nulla-sem-sit-amet-mauris-UCE {
  margin: 0rem 0.6rem 2.1rem 0rem;
  max-width: 50.4rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-87-x3Y .auto-group-f35g-8Vk .auto-group-hcky-JBG {
  margin-bottom: 0.9rem;
  width: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-87-x3Y .auto-group-f35g-8Vk .auto-group-hcky-JBG .item-2-rCn {
  margin-right: 43.6rem;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-87-x3Y .auto-group-f35g-8Vk .auto-group-hcky-JBG .may-3-2023-ns8 {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #918f8f;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.notetakinghovering--r1U .group-79-Zga .auto-group-6hyx-EYv .group-87-x3Y .auto-group-f35g-8Vk .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-fringilla-augue-lorem-facilisis-porttitor-lorem-commodo-ut-L7x {
  margin-right: 3rem;
  max-width: 48rem;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
