
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.item-2-sfC {
  height: 83.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .backgrounds-vdU {
    width: 128.1rem;
    height: 83.2rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f5f5f5;

    .background2-white-Gar {
      width: 128.1rem;
      height: 10.5rem;
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.0799999982);
      background-color: #ffffff;
    }
    .background2-white-NNz {
      left: 0;
      top: 0;
      box-shadow: 0.4rem 0 1rem rgba(0, 0, 0, 0.0799999982);
      background-color: #ffffff;
      width: 25.2rem;
      height: 83.2rem;
      position: absolute;
    }
    .dashboard-646 {
      height: 2rem;
      position: absolute;
      left: 3.2rem;
      top: 12.7rem;
      display: flex;
      align-items: center;
      width: 10.5rem;

      .vuesax-linear-element-2-cYE {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.2rem;
        width: 2rem;
        height: 2rem;
      }
      .dashboard-Ygn {
        color: #1656c1;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
      }
    }
    .folder-FLJ {
      width: 7.4rem;
      height: 2rem;
      position: absolute;
      left: 3.2rem;
      top: 17.3rem;
      display: flex;
      align-items: center;

      .folder-Mu8 {
        height: 2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.2rem;
        width: 2rem;
      }
      .folder-JJa {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #b0b0b0;
      }
    }
    .settings-pni {
      width: 8.7rem;
      height: 2rem;
      position: absolute;
      left: 3.2rem;
      top: 70.1rem;
      display: flex;
      align-items: center;

      .vuesax-linear-setting-2-A5t {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.2rem;
        width: 2rem;
        height: 2rem;
        object-fit: contain;
      }
      .settings-4wx {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
      }
    }
    .help-AVC {
      position: absolute;
      left: 3.4rem;
      top: 65.9rem;
      display: flex;
      align-items: flex-end;
      width: 6.1rem;
      height: 1.7rem;

      .vuesax-linear-message-question-VnN {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.333rem 0.006rem 0rem;
        width: 1.6667rem;
        height: 1.5941rem;
      }
      .help-1Ev {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .log-out-Yke {
      width: 8.5rem;
      height: 2rem;
      position: absolute;
      left: 3.2rem;
      top: 74.6rem;
      display: flex;
      align-items: center;

      .logout-VA6 {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.2rem;
        width: 2rem;
        height: 2rem;
        position: relative;
      }
      .log-out-piA {
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .recent-xJa {
      position: absolute;
      left: 3.2rem;
      top: 21.9rem;
      display: flex;
      align-items: center;
      width: 7.9rem;
      height: 2rem;

      .auto-group-qgog-Hre {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.2rem;
        width: 2rem;
        height: 2rem;
      }
      .recent-23Y {
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.4rem;
        font-weight: 400;
      }
    }
    .favorite-m18 {
      height: 1.7269rem;
      position: absolute;
      left: 3.2rem;
      top: 26.5rem;
      display: flex;
      align-items: center;
      width: 8.4333rem;

      .star-trS {
        width: 1.6668rem;
        height: 1.6532rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.366rem 0.074rem 0rem;
      }
      .favorite-Dti {
        font-weight: 400;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.0269rem;
        font-size: 1.4rem;
      }
    }
    .trash-Mzv {
      display: flex;
      align-items: center;
      width: 6.6833rem;
      height: 1.7064rem;
      position: absolute;
      left: 3.2rem;
      top: 30.8rem;

      .star-h3C {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.04rem 1.483rem 0rem 0rem;
        width: 1.5rem;
        height: 1.6666rem;
        object-fit: contain;
      }
      .trash-2bG {
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.0064rem;
        font-size: 1.4rem;
        font-weight: 400;
      }
    }
    .highlight-N9L {
      height: 3.3rem;
      position: absolute;
      left: 0;
      top: 12rem;
      background-color: #1656c1;
      border-radius: 0.1rem;
      width: 0.4rem;
    }
    .search-gvi {
      box-sizing: border-box;
      left: 56.7rem;
      display: flex;
      align-items: center;
      background-color: #f8f8f8;
      border-radius: 0.4rem;
      padding: 0.9rem 24.5rem 1rem 0.7rem;
      width: 35.5rem;
      height: 4.3rem;
      position: absolute;
      top: 3.1rem;

      .vuesax-linear-search-normal-amC {
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2.9rem;
      }
      .search-icW {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #c9c9c9;
      }
    }
    .dashboard-Eqk {
      top: 4.1rem;
      font-size: 1.8rem;
      font-family: Inter, 'Source Sans Pro';
      height: 2.2rem;
      left: 28.6rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      white-space: nowrap;
      width: 9.7rem;
      position: absolute;
    }
    .quick-access-vyU {
      font-size: 1.4rem;
      width: 9.4rem;
      height: 1.7rem;
      position: absolute;
      left: 28.6rem;
      top: 13.6rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .recently-opened-files-EUN {
      height: 1.7rem;
      left: 28.6rem;
      color: #000000;
      white-space: nowrap;
      font-weight: 700;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 15.3rem;
      position: absolute;
      top: 30.7rem;
      font-size: 1.4rem;
    }
    .user-9LS {
      width: 14.0333rem;
      height: 4.6667rem;
      position: absolute;
      left: 110.9rem;
      top: 2.9rem;
      display: flex;
      align-items: center;

      .vuesax-linear-profile-circle-5jt {
        width: 4.6667rem;
        height: 4.6667rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.9667rem;
      }
      .user-name-cjp {
        margin-top: 0.2333rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .upload-kb8 {
      width: 19.2rem;
      height: 3.9rem;
      position: absolute;
      left: 2.2rem;
      box-sizing: border-box;
      padding: 1.1rem 5rem 1.1rem 4.9rem;
      top: 35.1rem;
      background-color: #1656c1;
      border-radius: 0.4rem;

      .group-66-U1L {
        align-items: center;
        width: 100%;
        height: 100%;
        display: flex;

        .vuesax-linear-element-plus-cdL {
          margin: 0.1rem 0.8rem 0rem 0rem;
          width: 1rem;
          height: 1rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .upload-file-jT4 {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
        }
      }
    }
    .files-3yY {
      align-items: center;
      box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.0500000007);
      height: 11.6rem;
      left: 28.6rem;
      column-gap: 1.9rem;
      display: flex;
      width: 64.5rem;
      position: absolute;
      top: 16.5rem;

      .file-ycJ {
        height: 100%;
        background-color: #ffffff;
        border-radius: 0.6rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.5rem 0.9rem 1rem 0.9rem;
        width: 14.7rem;

        .auto-group-gckx-6gv {
          margin-bottom: 1.1rem;
          width: 100%;
          display: flex;
          align-items: flex-start;

          .auto-group-p94z-quQ {
            margin: 0.5rem 6.3rem 0rem 0rem;
            box-sizing: border-box;
            padding: 1rem 1.1rem 1.1rem 1rem;
            background-color: rgba(196, 217, 252, 0.5);
            border-radius: 0.6rem;
            flex-shrink: 0;

            .vuesax-linear-folder-xUE {
              height: 3.2rem;
              object-fit: contain;
              vertical-align: top;
              width: 3.2rem;
            }
          }
          .item--t6z {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2125;
          }
        }
        .hci-2DC {
          white-space: nowrap;
          margin-bottom: 0.4rem;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .mb-20-jul-2023-ZU2 {
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .file-U5C {
        box-sizing: border-box;
        padding: 0.5rem 0.9rem 1rem 0.9rem;
        width: 14.7rem;
        height: 100%;
        background-color: #ffffff;
        border-radius: 0.6rem;
        flex-shrink: 0;

        .auto-group-wnty-CWz {
          align-items: flex-start;
          margin-bottom: 1.1rem;
          width: 100%;
          display: flex;

          .auto-group-hwpe-L7Q {
            border-radius: 0.6rem;
            flex-shrink: 0;
            margin: 0.5rem 6.3rem 0rem 0rem;
            box-sizing: border-box;
            padding: 1rem 1.1rem 1.1rem 1rem;
            background-color: #ffe5e5;

            .vuesax-linear-folder-qpr {
              height: 3.2rem;
              object-fit: contain;
              vertical-align: top;
              width: 3.2rem;
            }
          }
          .item--NZt {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2125;
          }
        }
        .folder-name-upi {
          margin-bottom: 0.4rem;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .mb-20-jul-2023-dki {
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .file-k4e {
        padding: 0.5rem 0.9rem 1rem 0.9rem;
        width: 14.7rem;
        height: 100%;
        background-color: #ffffff;
        border-radius: 0.6rem;
        flex-shrink: 0;
        box-sizing: border-box;

        .auto-group-deja-fxJ {
          margin-bottom: 1.1rem;
          width: 100%;
          display: flex;
          align-items: flex-start;

          .auto-group-upmx-Div {
            box-sizing: border-box;
            padding: 1rem 1.1rem 1.1rem 1rem;
            background-color: #e9ffe5;
            border-radius: 0.6rem;
            flex-shrink: 0;
            margin: 0.5rem 6.3rem 0rem 0rem;

            .vuesax-linear-folder-LYe {
              vertical-align: top;
              width: 3.2rem;
              height: 3.2rem;
              object-fit: contain;
            }
          }
          .item--GhC {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
          }
        }
        .folder-name-cm4 {
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.4rem;
          font-size: 1.2rem;
        }
        .mb-20-jul-2023-ksG {
          white-space: nowrap;
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .file-gW2 {
        box-sizing: border-box;
        padding: 0.5rem 0.9rem 1rem 0.9rem;
        width: 14.7rem;
        height: 100%;
        background-color: #ffffff;
        border-radius: 0.6rem;
        flex-shrink: 0;

        .auto-group-sqwx-oKk {
          margin-bottom: 1.1rem;
          width: 100%;
          display: flex;
          align-items: flex-start;

          .auto-group-waas-kkn {
            padding: 1rem 1.1rem 1.1rem 1rem;
            background-color: rgba(196, 217, 252, 0.5);
            border-radius: 0.6rem;
            flex-shrink: 0;
            margin: 0.5rem 6.3rem 0rem 0rem;
            box-sizing: border-box;

            .vuesax-linear-folder-5HG {
              height: 3.2rem;
              object-fit: contain;
              vertical-align: top;
              width: 3.2rem;
            }
          }
          .item--zv2 {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .folder-name-waN {
          margin-bottom: 0.4rem;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .mb-20-jul-2023-gnr {
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
  .recent-files-Zbk {
    height: 52.4rem;
    position: absolute;
    left: 28.6rem;
    top: 33.7rem;
    background-color: #ffffff;
    border-radius: 1.2rem;
    width: 64.5rem;

    .auto-group-uxxy-VEW {
      width: 60.6rem;
      height: 3.3rem;
      position: absolute;
      left: 1.4rem;
      top: 5.3rem;
      display: flex;
      align-items: center;

      .group-68-zh4 {
        margin-right: 0.7rem;
        width: 3.3rem;
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .design-systempdf-jee {
        flex-shrink: 0;
        margin: 0.1rem 8.6rem 0rem 0rem;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .albert-flores-4B8 {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 8.6rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
      }
      .may-2023-afG {
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 9.7rem 0rem 0rem;
        font-size: 1rem;
      }
      .mb-JLN {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 1.8rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .item--2nA {
        font-size: 1rem;
        font-family: Inter, 'Source Sans Pro';
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        display: flex;
        font-weight: 600;
        line-height: 1.2125;
        letter-spacing: 0.3rem;
      }
    }
    .auto-group-yv6z-M3k {
      width: 60.6rem;
      height: 3.3rem;
      position: absolute;
      left: 1.4rem;
      top: 10.1rem;
      display: flex;
      align-items: center;

      .group-67-s26 {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 3.3rem;
        height: 3.3rem;
        object-fit: contain;
      }
      .through-the-valley-of--Cq4 {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 6rem 0rem 0rem;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
      }
      .arlene-mccoy-ioQ {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 8rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
      }
      .may-2023-SjQ {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 9.7rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
      }
      .kb-aKp {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 2.5rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
      }
      .item--WDU {
        margin-bottom: 0.5rem;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        display: flex;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.2125;
        letter-spacing: 0.3rem;
        color: #000000;
        white-space: nowrap;
      }
    }
    .auto-group-p7bu-dot {
      align-items: center;
      width: 60.6rem;
      height: 3.3rem;
      position: absolute;
      left: 1.4rem;
      top: 14.9rem;
      display: flex;

      .group-70-Yvr {
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 3.3rem;
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
      }
      .gender-bias-as-evidenced-gXG {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 3.7rem 0rem 0rem;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .annette-black-Pga {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 8.1rem 0rem 0rem;
      }
      .may-2023-X26 {
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 9.7rem 0rem 0rem;
        font-size: 1rem;
      }
      .kb-Ex6 {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 2.4rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
      }
      .item--NYW {
        font-size: 1rem;
        white-space: nowrap;
        flex-shrink: 0;
        font-family: Inter, 'Source Sans Pro';
        margin-bottom: 0.5rem;
        display: flex;
        font-weight: 600;
        line-height: 1.2125;
        letter-spacing: 0.3rem;
        color: #000000;
      }
    }
    .auto-group-gjyy-u2e {
      left: 1.4rem;
      top: 19.7rem;
      display: flex;
      align-items: center;
      width: 60.6rem;
      height: 3.3rem;
      position: absolute;

      .group-69-1rN {
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 3.3rem;
      }
      .physician-communicationdocx-ZN6 {
        margin: 0.1rem 1.9rem 0rem 0rem;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .minje-kim-Ujx {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 10.1rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
      }
      .may-2023-DBk {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 9.8rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
      }
      .kb-M34 {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 2.3rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
      }
      .item--gb8 {
        margin-bottom: 0.5rem;
        display: flex;
        font-size: 1rem;
        font-family: Inter, 'Source Sans Pro';
        font-weight: 600;
        line-height: 1.2125;
        letter-spacing: 0.3rem;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-3knr-QGE {
      width: 60.6rem;
      height: 3.3rem;
      position: absolute;
      left: 1.4rem;
      top: 24.5rem;
      display: flex;
      align-items: center;

      .group-71-iXp {
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 3.3rem;
      }
      .characteristics-of-modern-TVQ {
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 3.8rem 0rem 0rem;
        font-size: 1.1rem;
      }
      .kunhee-ryu-yie {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 9.1rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
      }
      .may-2023-5mg {
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 9.8rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
      }
      .mb-cFp {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 2.7rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
      }
      .item--8V4 {
        display: flex;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        letter-spacing: 0.3rem;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .auto-group-yamt-F3t {
      width: 60.6rem;
      height: 3.3rem;
      position: absolute;
      left: 1.4rem;
      top: 29.3rem;
      display: flex;
      align-items: center;

      .group-72-M6v {
        margin-right: 0.7rem;
        width: 3.3rem;
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .e-learning-versus-social-UhL {
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 4.4rem 0rem 0rem;
      }
      .bee-shin-Bre {
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 10.6rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
      }
      .may-2023-Wtv {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 9.8rem 0rem 0rem;
      }
      .kb-3P4 {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 2.5rem 0rem 0rem;
      }
      .item--NAS {
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.2125;
        letter-spacing: 0.3rem;
        display: flex;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .auto-group-7qbp-gwp {
      align-items: center;
      width: 60.6rem;
      height: 3.3rem;
      position: absolute;
      left: 1.4rem;
      top: 34.1rem;
      display: flex;

      .auto-group-8svq-caa {
        margin-right: 0.7rem;
        width: 3.3rem;
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .great-depressiondocx-MYA {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 6.5rem 0rem 0rem;
        font-size: 1.1rem;
        font-weight: 600;
      }
      .jongyoon-jung-smQ {
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 7.4rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
      }
      .may-2023-Pze {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 9.9rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
      }
      .kb-XLA {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 2rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .item--fBU {
        margin-bottom: 0.5rem;
        font-weight: 600;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        font-size: 1rem;
        line-height: 1.2125;
        letter-spacing: 0.3rem;
        flex-shrink: 0;
      }
    }
    .auto-group-owvg-nG6 {
      width: 60.6rem;
      height: 3.3rem;
      position: absolute;
      left: 1.4rem;
      top: 38.9rem;
      display: flex;
      align-items: center;

      .auto-group-xdcz-tpv {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 3.3rem;
        height: 3.3rem;
        object-fit: contain;
      }
      .elasticity-the-impact-of-job-SLe {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 2.6rem 0rem 0rem;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
      }
      .seonghui-yoon-xJz {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 7.6rem 0rem 0rem;
      }
      .may-2023-fz6 {
        flex-shrink: 0;
        margin: 0.2rem 9.9rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .kb-DEv {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 2.3rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
      }
      .item--9PU {
        display: flex;
        font-size: 1rem;
        letter-spacing: 0.3rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        margin-bottom: 0.5rem;
        font-weight: 600;
        line-height: 1.2125;
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-wyfc-Giz {
      height: 1.5rem;
      position: absolute;
      left: 1.4rem;
      top: 1.3rem;
      display: flex;
      align-items: center;
      width: 55.6rem;

      .file-name-C6r {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 16.4rem;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
      }
      .author-voY {
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 9.7rem;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.2125;
      }
      .date-GMc {
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 12.4rem;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.2125;
      }
      .size-bug {
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-hkbp-Ya2 {
      display: flex;
      align-items: center;
      width: 60.6rem;
      height: 3.3rem;
      position: absolute;
      left: 1.4rem;
      top: 43.7rem;

      .group-76-Twt {
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 3.3rem;
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
      }
      .the-evolution-of-administra-pGe {
        margin: 0.1rem 3rem 0rem 0rem;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .albert-flores-Kz6 {
        flex-shrink: 0;
        margin: 0.2rem 8.6rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .april-2023-Fcr {
        margin: 0.2rem 8.9rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .mb-af8 {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 2.2rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
      }
      .item--Wog {
        font-size: 1rem;
        line-height: 1.2125;
        white-space: nowrap;
        letter-spacing: 0.3rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        display: flex;
        font-weight: 600;
      }
    }
  }
  .rectangle-4136-DTC {
    width: 129.9rem;
    height: 83.2rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(74, 73, 73, 0.5);
  }
  .aissistant-vcW {
    font-family: Verdana, 'Source Sans Pro';
    white-space: nowrap;
    width: 6.1rem;
    position: absolute;
    left: 7.3rem;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.2575;
    height: 1.8rem;
    top: 4.2rem;
    color: #1656c1;
  }
  .item--1P4 {
    vertical-align: top;
    width: 4.7rem;
    height: 4.7rem;
    position: absolute;
    left: 2.6rem;
    top: 2.7rem;
    object-fit: cover;
  }
  .rectangle-4167-XMQ {
    background-color: #ffffff;
    border-radius: 0.5rem;
    width: 70.2rem;
    height: 42.6rem;
    position: absolute;
    left: 31.3rem;
    top: 18.7rem;
  }
  .size-rPg {
    width: 18rem;
    left: 54.6rem;
    font-size: 1rem;
    font-family: Inter, 'Source Sans Pro';
    line-height: 1.2125;
    font-style: italic;
    color: #b0b0b0;
    white-space: nowrap;
    height: 1.3rem;
    position: absolute;
    top: 32.1rem;
    font-weight: 500;
  }
  .group-100-xhc {
    width: 14.4rem;
    height: 3.5rem;
    position: absolute;
    left: 80.9rem;
    top: 27.4rem;

    .labels-6J2 {
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 0.5rem;
      font-size: 1.4rem;
      font-weight: 600;
      line-height: 1.2125;
    }
    .select-an-option-or-create-one-Ef8 {
      white-space: nowrap;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.2125;
      color: #b0b0b0;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .suggested-labels-xr2 {
    top: 36.5rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2125;
    color: #000000;
    width: 8.7rem;
    left: 80.9rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.3rem;
    position: absolute;
  }
  .uploaded-file--sxz {
    white-space: nowrap;
    width: 9.8rem;
    height: 1.7rem;
    position: absolute;
    left: 34rem;
    font-size: 1.4rem;
    font-family: Inter, 'Source Sans Pro';
    top: 21.1rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #000000;
  }
  .screenshot-2023-05-27-at-1227-1-Byg {
    background-size: 100.359% 102.381%;
    background-position: -0.0335rem -0.6rem;
    background-image: url('REPLACE_IMAGE:521c529e569e97775e1569ef444587023a688e59');
    width: 18.7rem;
    height: 25.2rem;
    position: relative;
    left: 34rem;
    top: 27.4rem;
  }
  .line-10-FTk {
    background-color: #b0b0b0;
    width: 0.1rem;
    height: 25.2rem;
    position: absolute;
    left: 79.3rem;
    top: 27.4rem;
  }
  .size-307-kb-BcJ {
    left: 54.6rem;
    font-size: 1rem;
    font-weight: 500;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    height: 1.3rem;
    position: absolute;
    top: 35rem;
    line-height: 1.2125;
    align-items: baseline;
    width: 7.1rem;

    .size-307-kb-BcJ-sub-0 {
    }
    .size-307-kb-BcJ-sub-1 {
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.2125;
      color: #b0b0b0;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .doi-103758-app7181683-qKU {
    font-family: Inter, 'Source Sans Pro';
    align-items: baseline;
    position: absolute;
    left: 54.6rem;
    top: 36.9rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2125;
    width: 15.2rem;
    height: 1.3rem;
    color: #000000;
    white-space: nowrap;
    display: flex;

    .doi-103758-app7181683-qKU-sub-0 {
    }
    .doi-103758-app7181683-qKU-sub-1 {
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.2125;
      color: #b0b0b0;
      font-family: Inter, 'Source Sans Pro';
    }
    .doi-103758-app7181683-qKU-sub-2 {
    }
  }
  .skip-x2i {
    width: 2.5rem;
    height: 1.5rem;
    position: absolute;
    font-size: 1.2rem;
    color: #b0b0b0;
    font-family: Inter, 'Source Sans Pro';
    left: 86.2rem;
    top: 57rem;
    font-weight: 400;
    line-height: 1.2125;
    text-decoration-line: underline;
    white-space: nowrap;
  }
  .rectangle-4168-TEN {
    top: 32.1rem;
    border: solid 0.05rem #b0b0b0;
    box-sizing: border-box;
    background-color: #ffffff;
    width: 5.4rem;
    height: 1.5rem;
    position: absolute;
    left: 80.9rem;
    border-radius: 0.4rem;
  }
  .add-label-xgv {
    width: 4.6rem;
    height: 0.2rem;
    left: 81.2rem;
    line-height: 0.25;
    position: absolute;
    top: 32.8rem;
    font-size: 0.8rem;
    font-weight: 400;
    color: #b0b0b0;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .group-107-GxW {
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1000000015);
    position: absolute;
    top: 39.4rem;
    display: flex;
    justify-content: center;
    border: solid 0.05rem #5e72e4;
    background-color: rgba(94, 114, 228, 0.200000003);
    border-radius: 4.5rem;
    width: 4.9rem;
    line-height: 2;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.8rem;
    align-items: center;
    color: #5e72e4;
    left: 80.9rem;
    font-size: 0.8rem;
    font-weight: 400;
    box-sizing: border-box;
  }
  .group-108-V4a {
    align-items: center;
    font-weight: 400;
    line-height: 2;
    width: 5.9rem;
    left: 86.6rem;
    font-size: 0.8rem;
    font-family: Inter, 'Source Sans Pro';
    border-radius: 4.5rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1000000015);
    position: absolute;
    top: 39.4rem;
    color: #9aec9e;
    border: solid 0.05rem #99ec9e;
    box-sizing: border-box;
    background-color: #ffffff;
  }
  .group-109-JXp {
    width: 4.3rem;
    height: 1.8rem;
    position: absolute;
    align-items: center;
    white-space: nowrap;
    font-size: 0.8rem;
    color: #d1aff8;
    border-radius: 4.5rem;
    left: 93.3rem;
    top: 39.4rem;
    display: flex;
    line-height: 2;
    box-sizing: border-box;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1000000015);
    justify-content: center;
    font-weight: 400;
    font-family: Inter, 'Source Sans Pro';
    border: solid 0.05rem #d1aff6;
    background-color: #ffffff;
  }
  .group-110-wKt {
    top: 42.3rem;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1000000015);
    border-radius: 4.5rem;
    width: 5.1rem;
    height: 1.8rem;
    position: absolute;
    left: 80.9rem;

    .buttonbg-4fQ {
      width: 5rem;
      height: 1.8rem;
      position: absolute;
      background-color: #ffffff;
      border-radius: 4.5rem;
      left: 0;
      top: 0;
      border: solid 0.05rem #ffc3a8;
      box-sizing: border-box;
    }
    .perception-adk {
      height: 1.6rem;
      position: absolute;
      top: 0.15rem;
      justify-content: center;
      font-weight: 400;
      white-space: nowrap;
      left: 0.5rem;
      align-items: center;
      line-height: 2;
      font-size: 0.8rem;
      width: 4.1rem;
      display: flex;
      color: #ffc3a8;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .group-105-3GS {
    cursor: pointer;
    position: absolute;
    top: 42.3rem;
    border-radius: 4.5rem;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1000000015);
    height: 1.8rem;
    left: 86.8rem;
    font-family: Inter, 'Source Sans Pro';
    width: 6.3rem;
    font-weight: 400;
    line-height: 2;
    color: #ff4f4f;
    white-space: nowrap;
    border: solid 0.05rem #ff4f4f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    box-sizing: border-box;
    background-color: #ffffff;
  }
  .group-111-UsY {
    width: 5.3rem;
    position: absolute;
    left: 93.9rem;
    font-weight: 400;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1000000015);
    height: 1.8rem;
    justify-content: center;
    color: #853ad1;
    white-space: nowrap;
    border: solid 0.05rem #8539d1;
    box-sizing: border-box;
    border-radius: 4.5rem;
    font-size: 0.8rem;
    line-height: 2;
    top: 42.3rem;
    display: flex;
    align-items: center;
    font-family: Inter, 'Source Sans Pro';
    background-color: #ffffff;
  }
  .paul-e-dux-ren-marois-6P8 {
    color: #b0b0b0;
    font-family: Inter, 'Source Sans Pro';
    width: 12.7rem;
    position: absolute;
    left: 54.6rem;
    top: 30.8rem;
    white-space: nowrap;
    height: 1.3rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2125;
  }
  .the-attentional-blink-a-review-of-data-and-theory-mkA {
    top: 27.4rem;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    width: 16rem;
    height: 3rem;
    position: absolute;
    left: 54.6rem;
    color: #000000;
  }
  .rectangle-4159-s2W {
    height: 2.8rem;
    position: absolute;
    left: 91.8rem;
    top: 56.2rem;
    background-color: #1656c1;
    border-radius: 0.4rem;
    width: 6.8rem;
  }
  .done-PmY {
    width: 3.6rem;
    top: 56.8rem;
    color: #ffffff;
    white-space: nowrap;
    height: 1.7rem;
    position: absolute;
    left: 93.4rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
  }
}
