
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.item--6iJ {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 83.2rem;
  cursor: pointer;

  .backgrounds-yGJ {
    height: 83.2rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f5f5f5;
    width: 128.1rem;

    .background2-white-Uir {
      left: 0;
      top: 0;
      box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.0799999982);
      background-color: #ffffff;
      width: 128.1rem;
      height: 10.5rem;
      position: absolute;
    }
    .background2-white-zBQ {
      width: 25.2rem;
      height: 83.2rem;
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: 0.4rem 0 1rem rgba(0, 0, 0, 0.0799999982);
      background-color: #ffffff;
    }
    .aissistant-upA {
      font-weight: 700;
      line-height: 1.2575;
      font-family: Verdana, 'Source Sans Pro';
      position: absolute;
      left: 7.3rem;
      font-size: 1.4rem;
      color: #1656c1;
      white-space: nowrap;
      width: 6.1rem;
      height: 1.8rem;
      top: 4.2rem;
    }
    .dashboard-D4A {
      align-items: center;
      width: 10.5rem;
      height: 2rem;
      position: absolute;
      left: 3.2rem;
      top: 12.7rem;
      display: flex;

      .vuesax-linear-element-2-joC {
        margin-right: 1.2rem;
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .dashboard-56N {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #1656c1;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
      }
    }
    .folder-PMx {
      width: 7.4rem;
      height: 2rem;
      position: absolute;
      left: 3.2rem;
      top: 17.3rem;
      display: flex;
      align-items: center;

      .folder-iv2 {
        margin-right: 1.2rem;
        width: 2rem;
        height: 2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .folder-sH8 {
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.4rem;
        font-weight: 400;
      }
    }
    .settings-QXx {
      display: flex;
      align-items: center;
      width: 8.7rem;
      height: 2rem;
      position: absolute;
      left: 3.2rem;
      top: 70.1rem;

      .vuesax-linear-setting-2-jq8 {
        margin-right: 1.2rem;
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .settings-FoU {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
      }
    }
    .help-bMY {
      width: 6.1rem;
      height: 1.7rem;
      position: absolute;
      left: 3.4rem;
      top: 65.9rem;
      display: flex;
      align-items: flex-end;

      .vuesax-linear-message-question-KoL {
        margin: 0rem 1.333rem 0.006rem 0rem;
        width: 1.6667rem;
        height: 1.5941rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .help-EvJ {
        flex-shrink: 0;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .log-out-Bae {
      width: 8.5rem;
      height: 2rem;
      position: absolute;
      left: 3.2rem;
      top: 74.6rem;
      display: flex;
      align-items: center;

      .logout-Wsp {
        margin-right: 1.2rem;
        width: 2rem;
        height: 2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .log-out-rwg {
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        font-size: 1.4rem;
        font-weight: 400;
      }
    }
    .recent-1Jn {
      top: 21.9rem;
      display: flex;
      align-items: center;
      width: 7.9rem;
      height: 2rem;
      position: absolute;
      left: 3.2rem;

      .auto-group-1z1g-M7k {
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.2rem;
      }
      .recent-t7g {
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .favorite-pGE {
      top: 26.5rem;
      display: flex;
      align-items: center;
      width: 8.4333rem;
      height: 1.7269rem;
      position: absolute;
      left: 3.2rem;

      .star-MGA {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.366rem 0.074rem 0rem;
        width: 1.6668rem;
        height: 1.6532rem;
      }
      .favorite-H9p {
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.0269rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .trash-cSz {
      left: 3.2rem;
      top: 30.8rem;
      display: flex;
      align-items: center;
      width: 6.6833rem;
      height: 1.7064rem;
      position: absolute;

      .star-k3Q {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.04rem 1.483rem 0rem 0rem;
        width: 1.5rem;
        height: 1.6666rem;
      }
      .trash-5La {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.0064rem;
      }
    }
    .highlight-zyL {
      left: 0;
      top: 12rem;
      background-color: #1656c1;
      border-radius: 0.1rem;
      width: 0.4rem;
      height: 3.3rem;
      position: absolute;
    }
    .search-8Zk {
      display: flex;
      height: 4.3rem;
      position: absolute;
      left: 56.7rem;
      top: 3.1rem;
      align-items: center;
      background-color: #f8f8f8;
      border-radius: 0.4rem;
      box-sizing: border-box;
      padding: 0.9rem 24.5rem 1rem 0.7rem;
      width: 35.5rem;

      .vuesax-linear-search-normal-Rok {
        margin-right: 2.9rem;
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .search-AFY {
        font-weight: 400;
        line-height: 1.2125;
        color: #c9c9c9;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.5rem;
      }
    }
    .dashboard-Hb4 {
      font-size: 1.8rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 9.7rem;
      position: absolute;
      top: 4.1rem;
      color: #000000;
      white-space: nowrap;
      height: 2.2rem;
      left: 28.6rem;
      font-weight: 700;
    }
    .quick-access-CT8 {
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.7rem;
      left: 28.6rem;
      top: 13.6rem;
      width: 9.4rem;
      position: absolute;
      color: #000000;
    }
    .recently-opened-files-7a6 {
      height: 1.7rem;
      position: absolute;
      color: #000000;
      white-space: nowrap;
      width: 15.3rem;
      left: 28.6rem;
      top: 30.7rem;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
    }
    .user-pzJ {
      display: flex;
      align-items: center;
      width: 14.0333rem;
      height: 4.6667rem;
      position: absolute;
      left: 110.9rem;
      top: 2.9rem;

      .vuesax-linear-profile-circle-AHU {
        width: 4.6667rem;
        height: 4.6667rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.9667rem;
      }
      .user-name-tzA {
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.2333rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .upload-Rz6 {
      left: 2.2rem;
      top: 35.1rem;
      box-sizing: border-box;
      padding: 1.1rem 5rem 1.1rem 4.9rem;
      position: absolute;
      border-radius: 0.4rem;
      width: 19.2rem;
      height: 3.9rem;
      background-color: #1656c1;

      .group-66-9QJ {
        align-items: center;
        width: 100%;
        height: 100%;
        display: flex;

        .vuesax-linear-element-plus-hRp {
          width: 1rem;
          height: 1rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0.1rem 0.8rem 0rem 0rem;
        }
        .upload-file-pWS {
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .files-wb4 {
      height: 11.6rem;
      left: 28.6rem;
      top: 16.5rem;
      column-gap: 1.9rem;
      box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.0500000007);
      width: 64.5rem;
      position: absolute;
      display: flex;
      align-items: center;

      .file-UL6 {
        background-color: #ffffff;
        border-radius: 0.6rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.5rem 0.9rem 1rem 0.9rem;
        width: 14.7rem;
        height: 100%;

        .auto-group-i5ti-zpE {
          margin-bottom: 1.1rem;
          width: 100%;
          display: flex;
          align-items: flex-start;

          .auto-group-lq7c-wDg {
            margin: 0.5rem 6.3rem 0rem 0rem;
            box-sizing: border-box;
            padding: 1rem 1.1rem 1.1rem 1rem;
            background-color: rgba(196, 217, 252, 0.5);
            border-radius: 0.6rem;
            flex-shrink: 0;

            .vuesax-linear-folder-G14 {
              width: 3.2rem;
              height: 3.2rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .item--P5g {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .hci-ite {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.4rem;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.2125;
        }
        .mb-20-jul-2023-TrE {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1rem;
          font-weight: 300;
        }
      }
      .file-ypa {
        width: 14.7rem;
        height: 100%;
        background-color: #ffffff;
        border-radius: 0.6rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.5rem 0.9rem 1rem 0.9rem;

        .auto-group-zsjn-J6A {
          margin-bottom: 1.1rem;
          width: 100%;
          display: flex;
          align-items: flex-start;

          .auto-group-kqpw-3ZY {
            padding: 1rem 1.1rem 1.1rem 1rem;
            background-color: #ffe5e5;
            border-radius: 0.6rem;
            flex-shrink: 0;
            margin: 0.5rem 6.3rem 0rem 0rem;
            box-sizing: border-box;

            .vuesax-linear-folder-mVY {
              width: 3.2rem;
              height: 3.2rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .item--hPC {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .folder-name-dXk {
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.4rem;
          font-size: 1.2rem;
        }
        .mb-20-jul-2023-AGn {
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .file-UYN {
        width: 14.7rem;
        height: 100%;
        background-color: #ffffff;
        border-radius: 0.6rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.5rem 0.9rem 1rem 0.9rem;

        .auto-group-fgge-12W {
          display: flex;
          align-items: flex-start;
          margin-bottom: 1.1rem;
          width: 100%;

          .auto-group-81zq-Z42 {
            margin: 0.5rem 6.3rem 0rem 0rem;
            box-sizing: border-box;
            padding: 1rem 1.1rem 1.1rem 1rem;
            background-color: #e9ffe5;
            border-radius: 0.6rem;
            flex-shrink: 0;

            .vuesax-linear-folder-sqQ {
              height: 3.2rem;
              object-fit: contain;
              vertical-align: top;
              width: 3.2rem;
            }
          }
          .item--oyx {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .folder-name-Yge {
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.4rem;
          font-size: 1.2rem;
        }
        .mb-20-jul-2023-VLz {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.2125;
        }
      }
      .file-REe {
        height: 100%;
        background-color: #ffffff;
        border-radius: 0.6rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.5rem 0.9rem 1rem 0.9rem;
        width: 14.7rem;

        .auto-group-cf8a-kni {
          margin-bottom: 1.1rem;
          width: 100%;
          display: flex;
          align-items: flex-start;

          .auto-group-szas-uvW {
            margin: 0.5rem 6.3rem 0rem 0rem;
            box-sizing: border-box;
            padding: 1rem 1.1rem 1.1rem 1rem;
            background-color: rgba(196, 217, 252, 0.5);
            border-radius: 0.6rem;
            flex-shrink: 0;

            .vuesax-linear-folder-S9k {
              height: 3.2rem;
              object-fit: contain;
              vertical-align: top;
              width: 3.2rem;
            }
          }
          .item--ZkA {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .folder-name-hbU {
          margin-bottom: 0.4rem;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .mb-20-jul-2023-qhg {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.2125;
        }
      }
    }
    .item--jYA {
      vertical-align: top;
      width: 4.7rem;
      height: 4.7rem;
      position: absolute;
      left: 2.6rem;
      top: 2.7rem;
      object-fit: cover;
    }
  }
  .recent-files-rMt {
    position: absolute;
    left: 28.6rem;
    top: 33.7rem;
    background-color: #ffffff;
    border-radius: 1.2rem;
    width: 64.5rem;
    height: 52.4rem;

    .auto-group-xrs6-ky4 {
      width: 60.6rem;
      height: 3.3rem;
      position: absolute;
      left: 1.4rem;
      top: 5.3rem;
      display: flex;
      align-items: center;

      .group-68-5VY {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 3.3rem;
        height: 3.3rem;
        object-fit: contain;
      }
      .design-systempdf-pT8 {
        margin: 0.1rem 8.6rem 0rem 0rem;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .albert-flores-7x2 {
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 8.6rem 0rem 0rem;
        font-size: 1rem;
      }
      .may-2023-SzJ {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 9.7rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
      }
      .mb-yUS {
        flex-shrink: 0;
        margin: 0.2rem 1.8rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item--hfL {
        font-weight: 600;
        letter-spacing: 0.3rem;
        flex-shrink: 0;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.5rem;
        display: flex;
        font-size: 1rem;
        line-height: 1.2125;
      }
    }
    .auto-group-uaij-pEA {
      width: 60.6rem;
      height: 3.3rem;
      position: absolute;
      left: 1.4rem;
      top: 10.1rem;
      display: flex;
      align-items: center;

      .group-67-YR4 {
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 3.3rem;
      }
      .through-the-valley-of--UZc {
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 6rem 0rem 0rem;
      }
      .arlene-mccoy-zH4 {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 8rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
      }
      .may-2023-X26 {
        flex-shrink: 0;
        margin: 0.2rem 9.7rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .kb-FCz {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 2.5rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
      }
      .item--aFG {
        margin-bottom: 0.5rem;
        display: flex;
        letter-spacing: 0.3rem;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .auto-group-nxx4-YLW {
      top: 14.9rem;
      display: flex;
      align-items: center;
      width: 60.6rem;
      height: 3.3rem;
      position: absolute;
      left: 1.4rem;

      .group-70-Acn {
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 3.3rem;
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
      }
      .gender-bias-as-evidenced-7H8 {
        margin: 0.1rem 3.7rem 0rem 0rem;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .annette-black-cjg {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 8.1rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
      }
      .may-2023-kL6 {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 9.7rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
      }
      .kb-5tA {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 2.4rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
      }
      .item--2Hc {
        letter-spacing: 0.3rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        display: flex;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.2125;
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.5rem;
      }
    }
    .auto-group-6ljq-9NE {
      display: flex;
      align-items: center;
      width: 60.6rem;
      height: 3.3rem;
      position: absolute;
      left: 1.4rem;
      top: 19.7rem;

      .group-69-Fw4 {
        margin-right: 0.7rem;
        width: 3.3rem;
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .physician-communicationdocx-Q3G {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 1.9rem 0rem 0rem;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
      }
      .minje-kim-7yG {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 10.1rem 0rem 0rem;
      }
      .may-2023-TGS {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 9.8rem 0rem 0rem;
      }
      .kb-zGN {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 2.3rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .item--iTG {
        line-height: 1.2125;
        letter-spacing: 0.3rem;
        white-space: nowrap;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        display: flex;
        font-size: 1rem;
        font-weight: 600;
      }
    }
    .auto-group-xpbt-EwQ {
      display: flex;
      align-items: center;
      width: 60.6rem;
      height: 3.3rem;
      position: absolute;
      left: 1.4rem;
      top: 24.5rem;

      .group-71-A4N {
        width: 3.3rem;
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
      }
      .characteristics-of-modern-sjU {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 3.8rem 0rem 0rem;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
      }
      .kunhee-ryu-o7L {
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 9.1rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
      }
      .may-2023-iVC {
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 9.8rem 0rem 0rem;
        font-size: 1rem;
      }
      .mb-qZp {
        margin: 0.2rem 2.7rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item--mTU {
        display: flex;
        font-weight: 600;
        letter-spacing: 0.3rem;
        margin-bottom: 0.5rem;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1rem;
      }
    }
    .auto-group-oc4e-6Vk {
      align-items: center;
      width: 60.6rem;
      height: 3.3rem;
      position: absolute;
      left: 1.4rem;
      top: 29.3rem;
      display: flex;

      .group-72-DaN {
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 3.3rem;
      }
      .e-learning-versus-social-mLz {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 4.4rem 0rem 0rem;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
      }
      .bee-shin-gir {
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 10.6rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
      }
      .may-2023-ccW {
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 9.8rem 0rem 0rem;
        font-size: 1rem;
      }
      .kb-jh8 {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 2.5rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
      }
      .item--4zJ {
        white-space: nowrap;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.3rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        margin-bottom: 0.5rem;
        display: flex;
        line-height: 1.2125;
        flex-shrink: 0;
      }
    }
    .auto-group-hqmc-oS6 {
      left: 1.4rem;
      top: 34.1rem;
      display: flex;
      align-items: center;
      width: 60.6rem;
      height: 3.3rem;
      position: absolute;

      .auto-group-3gcv-KvE {
        margin-right: 0.7rem;
        width: 3.3rem;
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .great-depressiondocx-GKg {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 6.5rem 0rem 0rem;
        font-size: 1.1rem;
        font-weight: 600;
      }
      .jongyoon-jung-nYv {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 7.4rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
      }
      .may-2023-K34 {
        flex-shrink: 0;
        margin: 0.2rem 9.9rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .kb-3jk {
        margin: 0.2rem 2rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item--ajg {
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        font-weight: 600;
        line-height: 1.2125;
        letter-spacing: 0.3rem;
        color: #000000;
        display: flex;
        font-size: 1rem;
        white-space: nowrap;
      }
    }
    .auto-group-epd8-7Ui {
      width: 60.6rem;
      height: 3.3rem;
      position: absolute;
      left: 1.4rem;
      top: 38.9rem;
      display: flex;
      align-items: center;

      .auto-group-o6ge-SG6 {
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 3.3rem;
      }
      .elasticity-the-impact-of-job-yG2 {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 2.6rem 0rem 0rem;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .seonghui-yoon-J3Q {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 7.6rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
      }
      .may-2023-2EJ {
        margin: 0.2rem 9.9rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .kb-xdk {
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 2.3rem 0rem 0rem;
        font-size: 1rem;
      }
      .item--JBp {
        margin-bottom: 0.5rem;
        letter-spacing: 0.3rem;
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .auto-group-3dfl-dUz {
      align-items: center;
      width: 55.6rem;
      height: 1.5rem;
      position: absolute;
      left: 1.4rem;
      top: 1.3rem;
      display: flex;

      .file-name-kJi {
        margin-right: 16.4rem;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .author-5rn {
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 9.7rem;
      }
      .date-q5G {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 12.4rem;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
      }
      .size-yBU {
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
      }
    }
    .auto-group-crtl-uqp {
      left: 1.4rem;
      top: 43.7rem;
      display: flex;
      align-items: center;
      width: 60.6rem;
      height: 3.3rem;
      position: absolute;

      .group-76-qDg {
        margin-right: 0.7rem;
        width: 3.3rem;
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .the-evolution-of-administra-NDc {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 3rem 0rem 0rem;
        font-size: 1.1rem;
        font-weight: 600;
      }
      .albert-flores-tBx {
        margin: 0.2rem 8.6rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .april-2023-cdk {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 8.9rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
      }
      .mb-kV4 {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 2.2rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
      }
      .item--gtW {
        font-size: 1rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.5rem;
        display: flex;
        font-weight: 600;
        line-height: 1.2125;
        letter-spacing: 0.3rem;
        color: #000000;
        flex-shrink: 0;
      }
    }
  }
  .rectangle-4136-Crr {
    height: 84.2rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(74, 73, 73, 0.5);
    width: 129.9rem;
  }
  .rectangle-4173-kNa {
    height: 42.4rem;
    position: absolute;
    left: 31.2rem;
    top: 18.7rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 0.8rem;
    width: 70.266rem;
  }
  .import-qup {
    width: 6.3rem;
    position: absolute;
    left: 49.6rem;
    top: 45.9rem;
    line-height: 1.2125;
    color: #000000;
    height: 2.2rem;
    font-size: 1.8rem;
    font-weight: 700;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .choose-the-source-of-a-file-9fc {
    width: 28.7rem;
    left: 53rem;
    font-weight: 700;
    font-family: Inter, 'Source Sans Pro';
    color: #000000;
    white-space: nowrap;
    height: 2.7rem;
    position: absolute;
    top: 23.1rem;
    font-size: 2.2rem;
    line-height: 1.2125;
  }
  .from-other-services-f8A {
    font-weight: 500;
    line-height: 1.2125;
    white-space: nowrap;
    left: 45.5rem;
    font-size: 1.5rem;
    position: absolute;
    top: 48.7rem;
    color: #b0b0b0;
    font-family: Inter, 'Source Sans Pro';
    width: 14.1rem;
    height: 1.9rem;
  }
  .from-my-pc-NoG {
    height: 1.9rem;
    position: absolute;
    left: 76rem;
    top: 49rem;
    font-family: Inter, 'Source Sans Pro';
    width: 8.4rem;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.2125;
    color: #b0b0b0;
    white-space: nowrap;
  }
  .upload-HfL {
    left: 77rem;
    font-size: 1.8rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    width: 6.3rem;
    height: 2.2rem;
    font-weight: 700;
    color: #000000;
    white-space: nowrap;
    position: absolute;
    top: 46.2rem;
  }
  .rectangle-4139-1LS {
    width: 13.3rem;
    height: 12.2rem;
    position: absolute;
    left: 46.1rem;
    top: 31.6rem;
    background-color: #e1ecfe;
    border-radius: 0.8rem;
  }
  .rectangle-4174-jXL {
    width: 13.3rem;
    height: 12.2rem;
    position: absolute;
    left: 73.5rem;
    top: 31.6rem;
    background-color: #e1ecfe;
    border-radius: 0.8rem;
  }
  .x-fQz {
    left: 98.2rem;
    top: 20.7rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.2rem;
    height: 1.2rem;
    position: absolute;
  }
}
