
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.item--Pbc {
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 83.2rem;
  cursor: pointer;
  position: relative;

  .rectangle-4117-tHU {
    left: 74.6rem;
    top: 1.2rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #f8f7f6;
    border-radius: 1.7rem;
    width: 25.8rem;
    height: 5.1rem;
    position: absolute;
  }
  .group-79-y42 {
    top: 0;
    display: flex;
    align-items: flex-start;
    width: 131.8rem;
    height: 83.6rem;
    position: absolute;
    left: 0;

    .auto-group-pg86-JMC {
      height: 83.5rem;
      position: relative;
      flex-shrink: 0;
      margin-top: 0.1rem;
      width: 71rem;

      .item-2023-06-02-235-1-P7k {
        width: 70.1rem;
        height: 72.9rem;
        position: absolute;
        left: 0;
        top: 10.6rem;
        object-fit: cover;
        vertical-align: top;
      }
      .rectangle-4116-dXt {
        width: 25.8rem;
        height: 5.1rem;
        position: absolute;
        left: 23.1rem;
        top: 1.2rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #f8f7f6;
        border-radius: 1.7rem;
      }
      .closeround-w2n {
        height: 0.75rem;
        position: absolute;
        left: 45.975rem;
        top: 3.075rem;
        object-fit: contain;
        vertical-align: top;
        width: 0.75rem;
      }
      .dux2009-47Q {
        font-size: 1.5rem;
        font-family: Inter, 'Source Sans Pro';
        position: absolute;
        top: 2.4rem;
        left: 32.1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #5e5c5c;
        white-space: nowrap;
        width: 7.4rem;
        height: 1.9rem;
      }
      .add-LKp {
        height: 1.9rem;
        position: absolute;
        font-family: Inter, 'Source Sans Pro';
        line-height: 1.2125;
        color: #918f8f;
        white-space: nowrap;
        width: 3.3rem;
        left: 53.4rem;
        top: 2.2rem;
        font-size: 1.5rem;
        font-weight: 400;
      }
      .search-Sdk {
        vertical-align: top;
        width: 1.8667rem;
        height: 1.8667rem;
        position: absolute;
        left: 14.9667rem;
        top: 1.8667rem;
        object-fit: contain;
      }
      .translate-3-aV4 {
        left: 18.6042rem;
        top: 1.6042rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.2917rem;
        height: 2.2917rem;
        position: absolute;
      }
      .expanddownlight-JR4 {
        width: 0.85rem;
        height: 1.55rem;
        position: absolute;
        left: 8.7875rem;
        top: 2.0552rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-271-37k {
        height: 0;
        position: absolute;
        left: 32rem;
        top: 7.3rem;
        object-fit: contain;
        vertical-align: top;
        width: 1rem;
      }
      .item-515-NA2 {
        position: absolute;
        left: 37.7rem;
        font-size: 1.2rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        width: 3.3rem;
        height: 1.5rem;
        top: 6.4rem;
        font-weight: 400;
        color: #5e5c5c;
        white-space: nowrap;
      }
      .ellipse-70-GWJ {
        position: absolute;
        left: 34.3rem;
        top: 6.4rem;
        border: solid 0.1rem #5e5c5c;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0);
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 0.9rem;
      }
      .highlighter-4-Ara {
        width: 2.5259rem;
        height: 2.8259rem;
        position: absolute;
        left: 18.5rem;
        top: 5.6rem;
        object-fit: contain;
        vertical-align: top;
      }
      .format-textbox-3-tna {
        height: 2.4rem;
        position: absolute;
        left: 25.6rem;
        top: 5.9rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.4rem;
      }
      .line-5-pw8 {
        width: 6.1rem;
        height: 0.1rem;
        position: absolute;
        left: 37.4rem;
        top: 8.2rem;
        background-color: #918f8f;
      }
      .mouse-pointer-3-m5g {
        object-fit: contain;
        vertical-align: top;
        width: 1.7618rem;
        height: 2.4221rem;
        position: absolute;
        left: 15rem;
        top: 5.7rem;
      }
      .ellipse-71-6dk {
        position: absolute;
        border-radius: 0.9rem;
        width: 1.8rem;
        height: 1.8rem;
        left: 31.6rem;
        top: 6.4rem;
        border: solid 0.1rem #5e5c5c;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0);
      }
      .rectangle-4120-baW {
        left: 6.5rem;
        top: 0;
        background-color: #ffffff;
        width: 60.7rem;
        height: 5.2rem;
        position: absolute;
      }
      .rectangle-4122-wPU {
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #1656c1;
        border-radius: 1.7rem;
        width: 25.8rem;
        height: 5.1rem;
        position: absolute;
        left: 23.1rem;
        top: 1.2rem;
      }
      .closeround-S5L {
        height: 0.75rem;
        position: absolute;
        left: 45.975rem;
        top: 3.075rem;
        object-fit: contain;
        vertical-align: top;
        width: 0.75rem;
      }
      .rectangle-4128-Zve {
        position: absolute;
        left: 6.5rem;
        top: 5.2rem;
        background-color: #f5f5f5;
        width: 60.7rem;
        height: 4rem;
      }
      .the-attention-blink--7BU {
        position: absolute;
        left: 28.3rem;
        top: 2.4rem;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.2125;
        white-space: nowrap;
        height: 1.9rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        width: 15.4rem;
      }
      .rectangle-4113-1ne {
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #f5f5f5;
        width: 6.5rem;
        height: 83.2rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .vuesax-linear-setting-2-XW6 {
        vertical-align: top;
        width: 3.8rem;
        height: 3.8rem;
        position: absolute;
        left: 1.6rem;
        top: 71.4rem;
        object-fit: contain;
      }
      .add-rYN {
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        height: 1.9rem;
        top: 2.2rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.2125;
        width: 3.3rem;
        position: absolute;
        left: 53.4rem;
        white-space: nowrap;
      }
      .search-NWi {
        position: absolute;
        left: 14.9667rem;
        top: 1.8667rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.8667rem;
        height: 1.8667rem;
      }
      .expanddownlight-uWe {
        left: 8.7875rem;
        top: 2.0552rem;
        object-fit: contain;
        vertical-align: top;
        width: 0.85rem;
        height: 1.55rem;
        position: absolute;
      }
      .item-515-2rA {
        height: 1.5rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #5e5c5c;
        font-family: Inter, 'Source Sans Pro';
        width: 3.3rem;
        position: absolute;
        left: 37.7rem;
        top: 6.4rem;
        font-size: 1.2rem;
        white-space: nowrap;
      }
      .ellipse-72-YJi {
        height: 1.8rem;
        left: 34.3rem;
        top: 6.4rem;
        border: solid 0.1rem #5e5c5c;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 0.9rem;
        width: 1.8rem;
        position: absolute;
        box-sizing: border-box;
      }
      .format-textbox-4-Sut {
        top: 5.9rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;
        left: 25.6rem;
      }
      .line-6-yup {
        width: 6.1rem;
        height: 0.1rem;
        position: absolute;
        left: 37.4rem;
        top: 8.2rem;
        background-color: #918f8f;
      }
      .mouse-pointer-4-7m8 {
        width: 1.7618rem;
        height: 2.4221rem;
        position: absolute;
        left: 15rem;
        top: 5.7rem;
        object-fit: contain;
        vertical-align: top;
      }
      .group-78-3ug {
        top: 6.8rem;
        object-fit: contain;
        vertical-align: top;
        width: 1rem;
        height: 1rem;
        position: absolute;
        left: 34.7rem;
      }
      .polygon-4-bAW {
        position: absolute;
        left: 42.2rem;
        top: 6.8rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.05rem;
        width: 0.8rem;
        height: 0.7rem;
      }
      .rectangle-4125-KMQ {
        top: 9.7rem;
        background-color: #918f8f;
        border-radius: 1rem;
        width: 0.8rem;
        height: 14.4rem;
        position: absolute;
        left: 65.9rem;
      }
      .filedockduotone-ePg {
        width: 1.4583rem;
        height: 1.875rem;
        position: absolute;
        left: 50.9208rem;
        top: 2.1125rem;
        object-fit: contain;
        vertical-align: top;
      }
      .tutorial-xQN {
        width: 4.6rem;
        height: 1.6rem;
        left: 60.3rem;
        font-size: 1.3rem;
        font-weight: 400;
        line-height: 1.2125;
        position: absolute;
        top: 6.4rem;
        color: #918f8f;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .questionfill-rke {
        height: 1.425rem;
        position: absolute;
        left: 58.6375rem;
        top: 6.4375rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.425rem;
      }
      .imgbox-awY {
        width: 2.1rem;
        height: 2.1rem;
        position: absolute;
        left: 22.25rem;
        top: 6.05rem;
        object-fit: contain;
        vertical-align: top;
      }
      .group-90-inr {
        flex-direction: column;
        width: 4.7rem;
        height: 78.1rem;
        position: absolute;
        left: 1.1rem;
        top: 2rem;
        align-items: center;
        display: flex;

        .user-STx {
          flex-shrink: 0;
          margin: 0rem 0.1rem 2.4rem 0rem;
          width: 4rem;
          height: 4rem;
          object-fit: contain;
          vertical-align: top;
        }
        .dashboard-yCz {
          height: 3rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.3rem 0.3rem 0rem;
          width: 3rem;
        }
        .dashboard-tqk {
          color: #b0b0b0;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-bottom: 63.9rem;
          font-size: 0.9rem;
          font-weight: 400;
          line-height: 1.2125;
        }
        .logout-E8v {
          height: 3.4rem;
          position: relative;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-left: 0.1rem;
          width: 3.4rem;
        }
      }
      .vector-AYN {
        width: 2.5259rem;
        height: 2.8259rem;
        position: absolute;
        left: 18.5rem;
        top: 5.6rem;
        object-fit: contain;
        vertical-align: top;
      }
      .group-113-6B8 {
        object-fit: contain;
        vertical-align: top;
        width: 1.8rem;
        height: 1.8rem;
        position: absolute;
        left: 31.6rem;
        top: 6.4rem;
      }
      .item-2023-06-02-212-1-E2S {
        height: 2.7rem;
        position: absolute;
        left: 17.9rem;
        top: 1.5rem;
        object-fit: cover;
        vertical-align: top;
        width: 2.8rem;
      }
    }
    .auto-group-twyn-gv2 {
      width: 60.8rem;
      height: 83.3rem;
      position: relative;
      flex-shrink: 0;

      .expanddownlight-oUr {
        left: 2.0625rem;
        top: 1.8948rem;
        object-fit: contain;
        vertical-align: top;
        width: 0.85rem;
        height: 1.55rem;
        position: absolute;
      }
      .closeround-iLv {
        position: absolute;
        left: 30.275rem;
        top: 3.075rem;
        object-fit: contain;
        vertical-align: top;
        width: 0.75rem;
        height: 0.75rem;
      }
      .note-1-3PC {
        white-space: nowrap;
        width: 4.6rem;
        font-size: 1.5rem;
        color: #5e5c5c;
        top: 2.4rem;
        font-weight: 500;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        height: 1.9rem;
        position: absolute;
        left: 18rem;
      }
      .rectangle-4128-MPt {
        object-fit: contain;
        vertical-align: top;
        width: 60.8rem;
        height: 9.3rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .rectangle-4121-JK8 {
        width: 60.7rem;
        height: 5.2rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #ffffff;
      }
      .rectangle-4123-RuY {
        border-radius: 1.7rem;
        width: 25.8rem;
        height: 5.1rem;
        position: absolute;
        left: 7.4rem;
        top: 1.2rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #1656c1;
      }
      .expanddownlight-wN6 {
        top: 1.8948rem;
        object-fit: contain;
        vertical-align: top;
        width: 0.85rem;
        height: 1.55rem;
        position: absolute;
        left: 2.0625rem;
      }
      .closeround-GfG {
        position: absolute;
        left: 30.275rem;
        top: 3.075rem;
        object-fit: contain;
        vertical-align: top;
        width: 0.75rem;
        height: 0.75rem;
      }
      .note-1-1cr {
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 1.9rem;
        position: absolute;
        top: 2.4rem;
        line-height: 1.2125;
        width: 4.6rem;
        left: 18rem;
        font-size: 1.5rem;
        font-weight: 500;
      }
      .rectangle-4128-jHx {
        width: 60.8rem;
        height: 4rem;
        position: absolute;
        left: 0;
        top: 5.2rem;
        background-color: #f5f5f5;
      }
      .add-H4a {
        top: 2.1rem;
        color: #918f8f;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 1.9rem;
        left: 37.9rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.2125;
        width: 3.3rem;
        position: absolute;
      }
      .filedockduotone-o2v {
        left: 35.4208rem;
        top: 2.0125rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.4583rem;
        height: 1.875rem;
        position: absolute;
      }
      .rectangle-4126-vtE {
        width: 60.5rem;
        height: 74.3rem;
        position: absolute;
        left: 0;
        top: 8.9rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #f5f5f5;
      }
      .polygon-5-eJS {
        position: absolute;
        left: 30.9rem;
        top: 7.5rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.1rem;
        width: 1.1rem;
        height: 1rem;
      }
      .heading-yLi {
        position: absolute;
        left: 24.1rem;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #5e5c5c;
        white-space: nowrap;
        width: 6rem;
        top: 7.1rem;
        font-family: Inter, 'Source Sans Pro';
        height: 1.9rem;
      }
      .meatballsmenu-gW2 {
        top: 7.5rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.4rem;
        height: 0.2rem;
        position: absolute;
        left: 53.4rem;
      }
      .polygon-6-pML {
        left: 49.5rem;
        top: 7.1rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.1rem;
        width: 1.1rem;
        height: 1rem;
        position: absolute;
      }
      .sortalfalight-kVt {
        object-fit: contain;
        vertical-align: top;
        width: 1.45rem;
        height: 2.0542rem;
        position: absolute;
        left: 47.825rem;
        top: 6.5625rem;
      }
      .u-tMC {
        font-weight: 400;
        color: #5e5c5c;
        width: 1.8rem;
        position: absolute;
        font-size: 2.4rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 3rem;
        left: 44.3rem;
        top: 6.3rem;
      }
      .i-Q4e {
        left: 41.7rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #5e5c5c;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        height: 3rem;
        top: 6.3rem;
        font-style: italic;
        width: 0.7rem;
      }
      .b-v2z {
        width: 1.6rem;
        position: absolute;
        top: 6.3rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 3rem;
        left: 38.2rem;
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #5e5c5c;
      }
      .line-7-di6 {
        width: 0.1rem;
        height: 2.2rem;
        position: absolute;
        left: 21.5rem;
        top: 6.9rem;
        background-color: #bcbcbc;
      }
      .line-8-Nfg {
        background-color: #bcbcbc;
        width: 0.1rem;
        height: 2.2rem;
        position: absolute;
        left: 33.7rem;
        top: 6.8rem;
      }
      .group-85-vBQ {
        height: 23.4rem;
        position: absolute;
        left: 2rem;
        top: 11.8rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        width: 56.8rem;

        .auto-group-4i2a-e7Q {
          margin-bottom: 2.2rem;
          box-sizing: border-box;
          box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.0500000007);
          background-color: #ffffff;
          padding: 1.1rem 3.016rem 1rem 3.1rem;
          width: 100%;
          height: 4rem;
          border-radius: 0.6rem;
          flex-shrink: 0;

          .group-84-MnW {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .pg1684-iNA {
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 42rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #1656c1;
              font-family: Inter, 'Source Sans Pro';
            }
            .group-83-rDU {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .item-2-R1g {
                flex-shrink: 0;
                font-size: 1.5rem;
                line-height: 1.2125;
                font-weight: 400;
                color: #1656c1;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-right: 1rem;
                text-align: right;
              }
              .vuesax-linear-arrow-down-kJr {
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.1903rem;
                width: 0.984rem;
                height: 0.5097rem;
                object-fit: contain;
              }
            }
          }
        }
        .may-1-2023-RA6 {
          flex-shrink: 0;
          margin: 0rem 2.9rem 1.2rem 0rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #918f8f;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .rsvp-70--YEi {
          cursor: pointer;
          font-weight: 500;
          flex-shrink: 0;
          margin: 0rem 3.4rem 4.3rem 0rem;
          max-width: 50.3rem;
          color: #4f4f4f;
          font-family: Inter, 'Source Sans Pro';
          font-size: 1.5rem;
          line-height: 1.2;
        }
        .may-1-2023-Hbc {
          color: #918f8f;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 2.9rem 1.2rem 0rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.2125;
        }
        .target-report-accuracy-was-about-70-with-a-single-target-defined-oZx {
          flex-shrink: 0;
          margin-right: 6rem;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.6666666667;
          color: #4f4f4f;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .group-88-WjG {
        position: absolute;
        left: 2rem;
        top: 39.3rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        width: 56.8rem;
        height: 22.9rem;

        .auto-group-losv-EvA {
          height: 4rem;
          box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.0500000007);
          background-color: #ffffff;
          border-radius: 0.6rem;
          width: 100%;
          box-sizing: border-box;
          padding: 1.1rem 3.016rem 1rem 3.1rem;
          flex-shrink: 0;
          margin-bottom: 2.2rem;

          .group-84-Yvr {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .pg1685-WMt {
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #1656c1;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 42.4rem;
            }
            .group-83-dxJ {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .item-1-naJ {
                line-height: 1.2125;
                color: #1656c1;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-right: 1rem;
                text-align: right;
                font-size: 1.5rem;
                font-weight: 400;
                flex-shrink: 0;
              }
              .vuesax-linear-arrow-down-iD4 {
                margin-bottom: 0.1903rem;
                width: 0.984rem;
                height: 0.5097rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
        .may-2-2023-Pa6 {
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 2.7rem 1.2rem 0rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #918f8f;
        }
        .the-basic-rationale-behind-rsvp-paradigms-is-that-by-stressing-the-temporal-processing-mechanisms-to-their-limit-researchers-are-able-to-assess-the-rate-at-which-information-is-analyzed-and-encoded-6zJ {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 3.4rem 4.7rem 0rem;
          max-width: 50.3rem;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.2125;
        }
        .rectangle-4152-YLW {
          height: 4rem;
          box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.0500000007);
          background-color: #ffffff;
          border-radius: 0.6rem;
          flex-shrink: 0;
          width: 100%;
        }
      }
      .group-87-s7t {
        position: absolute;
        left: 5.1rem;
        top: 59.3rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        width: 51rem;
        height: 23.5rem;

        .group-84-bJn {
          margin: 0rem 0.316rem 3.2rem 0rem;
          width: calc(100% - 0.316rem);
          height: 1.9rem;
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .pg1687-ieJ {
            color: #1656c1;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 42.1rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2125;
          }
          .group-83-FeE {
            height: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .item-4-D5G {
              margin-right: 1rem;
              text-align: right;
              font-weight: 400;
              line-height: 1.2125;
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1.5rem;
              color: #1656c1;
              font-family: Inter, 'Source Sans Pro';
            }
            .vuesax-linear-arrow-down-jpJ {
              margin-bottom: 0.1903rem;
              width: 0.984rem;
              height: 0.5097rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
            }
          }
        }
        .may-1-2023-fxr {
          color: #918f8f;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 0.2rem 1.2rem 0rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.2125;
        }
        .a-similar-posttarget-processing-deficit-was-found-by-weichselgartner-and-sperling-1987-in-one-of-their-experiments-subjects-were-presented-with-rsvp-streams-of-digits-at-the-rate-of-100-msec-item-zkE {
          max-width: 48.8rem;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin: 0rem 2.2rem 4.2rem 0rem;
        }
        .may-3-2023-2wp {
          margin-bottom: 1.2rem;
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #918f8f;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .subjects-typically-reported-t1-the-subsequent-item-and-then-the-stimulus-that-appeared-400-msec-after-the-target-weichselgartner-MjC {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 3.6rem;
          max-width: 47.4rem;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.2125;
        }
      }
      .back-2aS {
        height: 1.8rem;
        position: absolute;
        left: 13.7rem;
        top: 6.9rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.2rem;
      }
      .vector-273-Msc {
        width: 2.2rem;
        height: 1.8rem;
        position: absolute;
        left: 17.6rem;
        top: 6.9rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
}
