
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 122.1rem;
}.item-2023-05-03-109-1-Vy8 {
  height: 65.6rem;
  position: relative;
  background-size: 111.283% 129.683%;
  background-position: 0rem -12.6663rem;
  background-image: url('REPLACE_IMAGE:5c62b88c32aec8fc976c646fd8952ad2f4942dd6');
  width: 122.1rem;
}
