
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.item--3bk {
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('REPLACE_IMAGE:490cdaca746183c363b9eba97db338ee4238fdc2');
  width: 100%;
  height: 83.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .auto-group-nmfu-xTp {
    position: absolute;
    left: 61.6rem;
    top: 32rem;
    width: 55.1rem;
    height: 8.4rem;

    .group-115-Uh4 {
      padding: 2.8rem 2.3rem 2.8rem 50rem;
      height: 8.4rem;
      position: absolute;
      top: 0;
      box-shadow: 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      border-radius: 1.4rem;
      box-sizing: border-box;
      width: 55.1rem;
      left: 0;

      .checkringduotone-yti {
        width: 2.8rem;
        height: 2.8rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .target-report-accuracy-was-about-70-with-a-single-target-defined-GN2 {
      top: 1.3rem;
      font-weight: 500;
      color: #4f4f4f;
      left: 3.3rem;
      font-size: 1.7rem;
      line-height: 1.4705882353;
      font-family: Inter, 'Source Sans Pro';
      width: 42.6rem;
      height: 5rem;
      position: absolute;
    }
  }
  .rectangle-4128-JZc {
    width: 48.7rem;
    height: 2.3rem;
    position: absolute;
    left: 67.4rem;
    top: 15.5rem;
    background-color: rgba(22, 86, 193, 0.25);
  }
  .rectangle-4129-njg {
    width: 54rem;
    height: 2.2rem;
    position: absolute;
    left: 62.1rem;
    top: 18.1rem;
    background-color: rgba(22, 86, 193, 0.25);
  }
  .rectangle-4130-Jxv {
    background-color: rgba(22, 86, 193, 0.25);
    width: 54rem;
    height: 2.2rem;
    position: absolute;
    left: 62.1rem;
    top: 20.6rem;
  }
  .rectangle-4131-R1x {
    width: 54rem;
    height: 2.2rem;
    position: absolute;
    left: 62.1rem;
    top: 23.2rem;
    background-color: rgba(22, 86, 193, 0.25);
  }
  .rectangle-4132-Lei {
    background-color: rgba(22, 86, 193, 0.25);
    width: 54rem;
    height: 2.2rem;
    position: absolute;
    left: 62.1rem;
    top: 25.8rem;
  }
  .rectangle-4133-4ai {
    background-color: rgba(22, 86, 193, 0.25);
    width: 18.4rem;
    height: 2.2rem;
    position: absolute;
    left: 62.1rem;
    top: 28.3rem;
  }
  .group-93-zjG {
    height: 11.2rem;
    left: 61.6rem;
    top: 40.9rem;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 1.4rem;
    box-sizing: border-box;
    padding: 1.2rem 1.2rem 2.6rem 3.3rem;
    align-items: center;
    display: flex;
    box-shadow: 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
    width: 23.1rem;
    position: absolute;

    .auto-group-9n4n-grz {
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 2.2rem;
      width: 100%;
      display: flex;

      .add-to-note-dXL {
        margin: 1rem 7rem 0rem 0rem;
        cursor: pointer;
        color: #4f4f4f;
        flex-shrink: 0;
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .x-Xsc {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        position: relative;
      }
    }
    .embed-to-file-UH4 {
      font-size: 1.7rem;
      font-weight: 500;
      line-height: 1.2125;
      color: #4f4f4f;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 7.9rem;
    }
  }
}
