
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.item--SpE {
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 83.2rem;

  .backgrounds-qLa {
    left: 0;
    top: 0;
    background-color: #f5f5f5;
    width: 128.1rem;
    height: 83.2rem;
    position: absolute;

    .background2-white-jgr {
      width: 128.1rem;
      height: 10.5rem;
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.0799999982);
      background-color: #ffffff;
    }
    .background2-white-qjt {
      top: 0;
      box-shadow: 0.4rem 0 1rem rgba(0, 0, 0, 0.0799999982);
      background-color: #ffffff;
      width: 25.2rem;
      height: 83.2rem;
      position: absolute;
      left: 0;
    }
    .dashboard-AXG {
      width: 10.5rem;
      height: 2rem;
      position: absolute;
      left: 3.2rem;
      top: 12.7rem;
      display: flex;
      align-items: center;

      .vuesax-linear-element-2-ty4 {
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.2rem;
      }
      .dashboard-DkS {
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #1656c1;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .folder-jyg {
      align-items: center;
      width: 7.4rem;
      height: 2rem;
      position: absolute;
      left: 3.2rem;
      top: 17.3rem;
      display: flex;

      .folder-51x {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.2rem;
        width: 2rem;
        height: 2rem;
        position: relative;
        object-fit: contain;
      }
      .folder-1AW {
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .settings-YAS {
      height: 2rem;
      position: absolute;
      left: 3.2rem;
      top: 70.1rem;
      display: flex;
      align-items: center;
      width: 8.7rem;

      .vuesax-linear-setting-2-siW {
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.2rem;
        width: 2rem;
      }
      .settings-142 {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
      }
    }
    .help-iz2 {
      display: flex;
      align-items: flex-end;
      width: 6.1rem;
      height: 1.7rem;
      position: absolute;
      left: 3.4rem;
      top: 65.9rem;

      .vuesax-linear-message-question-42J {
        height: 1.5941rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.333rem 0.006rem 0rem;
        width: 1.6667rem;
      }
      .help-xtN {
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.4rem;
        font-weight: 400;
      }
    }
    .log-out-hb4 {
      align-items: center;
      width: 8.5rem;
      height: 2rem;
      position: absolute;
      left: 3.2rem;
      top: 74.6rem;
      display: flex;

      .logout-3Q2 {
        margin-right: 1.2rem;
        width: 2rem;
        height: 2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .log-out-Bm8 {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
      }
    }
    .recent-RvN {
      width: 7.9rem;
      height: 2rem;
      position: absolute;
      left: 3.2rem;
      top: 21.9rem;
      display: flex;
      align-items: center;

      .auto-group-chz8-Mp2 {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.2rem;
        width: 2rem;
        height: 2rem;
        object-fit: contain;
      }
      .recent-JDU {
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
      }
    }
    .favorite-Rot {
      top: 26.5rem;
      display: flex;
      align-items: center;
      width: 8.4332rem;
      height: 1.7269rem;
      position: absolute;
      left: 3.2rem;

      .star-PPL {
        width: 1.6669rem;
        height: 1.6532rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.366rem 0.074rem 0rem;
      }
      .favorite-g7Y {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.0269rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #b0b0b0;
      }
    }
    .trash-men {
      top: 30.8rem;
      display: flex;
      align-items: center;
      width: 6.6832rem;
      height: 1.7064rem;
      position: absolute;
      left: 3.2rem;

      .star-TGi {
        margin: 0.04rem 1.483rem 0rem 0rem;
        width: 1.5rem;
        height: 1.6666rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .trash-YJA {
        flex-shrink: 0;
        margin-bottom: 0.0064rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .highlight-3ki {
      width: 0.4rem;
      height: 3.3rem;
      position: absolute;
      left: 0;
      top: 12rem;
      background-color: #1656c1;
      border-radius: 0.1rem;
    }
    .search-x6z {
      padding: 0.9rem 24.5rem 1rem 0.7rem;
      height: 4.3rem;
      position: absolute;
      top: 3.1rem;
      display: flex;
      border-radius: 0.4rem;
      box-sizing: border-box;
      width: 35.5rem;
      left: 56.7rem;
      align-items: center;
      background-color: #f8f8f8;

      .vuesax-linear-search-normal-put {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 2.9rem;
        width: 2.4rem;
        height: 2.4rem;
      }
      .search-ZMg {
        line-height: 1.2125;
        color: #c9c9c9;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.5rem;
        font-weight: 400;
      }
    }
    .dashboard-UUe {
      height: 2.2rem;
      left: 28.6rem;
      font-size: 1.8rem;
      line-height: 1.2125;
      color: #000000;
      width: 9.7rem;
      position: absolute;
      top: 4.1rem;
      font-weight: 700;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .quick-access-ana {
      width: 9.4rem;
      height: 1.7rem;
      left: 28.6rem;
      white-space: nowrap;
      position: absolute;
      top: 13.6rem;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
    }
    .recently-opened-files-VuY {
      left: 28.6rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 15.3rem;
      height: 1.7rem;
      position: absolute;
      top: 30.7rem;
      font-size: 1.4rem;
      font-weight: 700;
      color: #000000;
      white-space: nowrap;
    }
    .upload-Cox {
      left: 2.2rem;
      top: 35.1rem;
      background-color: #1656c1;
      border-radius: 0.4rem;
      width: 19.2rem;
      padding: 1.1rem 5rem 1.1rem 4.9rem;
      height: 3.9rem;
      position: absolute;
      box-sizing: border-box;

      .group-66-iXQ {
        position: relative;
        width: 100%;
        height: 100%;

        .upload-file-sfC {
          left: 1.8rem;
          top: 0;
          font-size: 1.4rem;
          font-weight: 400;
          color: #ffffff;
          width: 7.5rem;
          height: 1.7rem;
          position: absolute;
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .vuesax-linear-element-plus-zjp {
          width: 1rem;
          height: 1rem;
          position: absolute;
          left: 0;
          top: 0.4rem;
          object-fit: contain;
          vertical-align: top;
        }
        .group-66-vdU {
          display: flex;
          align-items: center;
          width: 9.3rem;
          height: 1.7rem;
          position: absolute;
          left: 0;
          top: 0;

          .vuesax-linear-element-plus-sHp {
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0.1rem 0.8rem 0rem 0rem;
            width: 1rem;
            height: 1rem;
          }
          .upload-file-BpJ {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
        }
      }
    }
    .files-W5t {
      box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.0500000007);
      width: 64.5rem;
      height: 11.6rem;
      position: absolute;
      left: 28.6rem;
      top: 16.5rem;
      align-items: center;
      display: flex;
      column-gap: 1.9rem;

      .file-dAW {
        height: 100%;
        background-color: #ffffff;
        border-radius: 0.6rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.5rem 0.9rem 1rem 0.9rem;
        width: 14.7rem;

        .auto-group-rndc-kW2 {
          margin-bottom: 1.1rem;
          width: 100%;
          display: flex;
          align-items: flex-start;

          .auto-group-x7mg-6pn {
            flex-shrink: 0;
            margin: 0.5rem 6.3rem 0rem 0rem;
            box-sizing: border-box;
            padding: 1rem 1.1rem 1.1rem 1rem;
            background-color: rgba(196, 217, 252, 0.5);
            border-radius: 0.6rem;

            .vuesax-linear-folder-2Ce {
              object-fit: contain;
              vertical-align: top;
              width: 3.2rem;
              height: 3.2rem;
            }
          }
          .item--YAz {
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .hci-ux-UaS {
          margin-bottom: 0.4rem;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .mb-20-jul-2023-1KU {
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .file-7tJ {
        padding: 0.5rem 0.9rem 1rem 0.9rem;
        width: 14.7rem;
        height: 100%;
        background-color: #ffffff;
        border-radius: 0.6rem;
        flex-shrink: 0;
        box-sizing: border-box;

        .auto-group-i8gn-FUi {
          margin-bottom: 1.1rem;
          width: 100%;
          display: flex;
          align-items: flex-start;

          .auto-group-tgc6-nDk {
            box-sizing: border-box;
            padding: 1rem 1.1rem 1.1rem 1rem;
            background-color: #ffe5e5;
            border-radius: 0.6rem;
            flex-shrink: 0;
            margin: 0.5rem 6.3rem 0rem 0rem;

            .vuesax-linear-folder-hLi {
              width: 3.2rem;
              height: 3.2rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .item--cia {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .visual-system-MRG {
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.4rem;
          font-size: 1.2rem;
        }
        .mb-20-jul-2023-suQ {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.2125;
        }
      }
      .file-baW {
        box-sizing: border-box;
        padding: 0.5rem 0.9rem 1rem 0.9rem;
        width: 14.7rem;
        height: 100%;
        background-color: #ffffff;
        border-radius: 0.6rem;
        flex-shrink: 0;

        .auto-group-wjrg-L2J {
          display: flex;
          align-items: flex-start;
          margin-bottom: 1.1rem;
          width: 100%;

          .auto-group-2glw-Gge {
            padding: 1rem 1.1rem 1.1rem 1rem;
            background-color: #e9ffe5;
            border-radius: 0.6rem;
            flex-shrink: 0;
            margin: 0.5rem 6.3rem 0rem 0rem;
            box-sizing: border-box;

            .vuesax-linear-folder-BYi {
              width: 3.2rem;
              height: 3.2rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .item--JNS {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .seminar-2pE {
          white-space: nowrap;
          margin-bottom: 0.4rem;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .mb-20-jul-2023-mG2 {
          white-space: nowrap;
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .file-tLe {
        box-sizing: border-box;
        padding: 0.5rem 0.9rem 1rem 0.9rem;
        width: 14.7rem;
        height: 100%;
        background-color: #ffffff;
        border-radius: 0.6rem;
        flex-shrink: 0;

        .auto-group-mftl-Ddp {
          margin-bottom: 1.1rem;
          width: 100%;
          display: flex;
          align-items: flex-start;

          .auto-group-prbc-NFp {
            padding: 1rem 1.1rem 1.1rem 1rem;
            background-color: rgba(196, 217, 252, 0.5);
            border-radius: 0.6rem;
            flex-shrink: 0;
            margin: 0.5rem 6.3rem 0rem 0rem;
            box-sizing: border-box;

            .vuesax-linear-folder-HNn {
              width: 3.2rem;
              height: 3.2rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .item--1Jn {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .capstone-YpW {
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.4rem;
        }
        .mb-20-jul-2023-VDx {
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .rectangle-4139-yev {
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: rgba(7, 154, 13, 0.5);
      border-radius: 0.8rem;
      width: 65.2rem;
      height: 3.7rem;
      position: absolute;
      left: 27.9rem;
      top: 9.1rem;
    }
    .upload-complete-rii {
      font-size: 1.8rem;
      color: #ffffff;
      left: 53.6rem;
      height: 2.2rem;
      position: absolute;
      top: 9.7rem;
      font-weight: 700;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 15.6rem;
    }
    .aissistant-mKt {
      height: 1.8rem;
      top: 4.2rem;
      font-size: 1.4rem;
      color: #1656c1;
      width: 6.1rem;
      left: 7.3rem;
      font-weight: 700;
      line-height: 1.2575;
      font-family: Verdana, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
    }
    .item--sti {
      left: 2.6rem;
      top: 2.7rem;
      object-fit: cover;
      vertical-align: top;
      width: 4.7rem;
      height: 4.7rem;
      position: absolute;
    }
  }
  .rectangle-82-Ps4 {
    top: 33.7rem;
    background-color: #ffffff;
    border-radius: 1.2rem;
    width: 64.5rem;
    height: 52.4rem;
    position: absolute;
    left: 28.6rem;
  }
  .elasticity-the-impact-of-job-ieS {
    font-weight: 600;
    white-space: nowrap;
    width: 16.1rem;
    height: 1.4rem;
    position: absolute;
    top: 77.8rem;
    font-family: Inter, 'Source Sans Pro';
    left: 34rem;
    font-size: 1.1rem;
    line-height: 1.2125;
    color: #000000;
  }
  .item--E6z {
    color: #000000;
    white-space: nowrap;
    width: 1.8rem;
    position: absolute;
    left: 88.8rem;
    display: flex;
    font-size: 1rem;
    line-height: 1.2125;
    height: 1.3rem;
    top: 77.55rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    font-family: Inter, 'Source Sans Pro';
  }
  .kb-8CN {
    color: #000000;
    width: 3.5rem;
    height: 1.3rem;
    top: 77.9rem;
    font-size: 1rem;
    line-height: 1.2125;
    position: absolute;
    left: 83rem;
    font-weight: 500;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .may-2023-dup {
    height: 1.3rem;
    position: absolute;
    line-height: 1.2125;
    color: #b0b0b0;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 5.6rem;
    left: 67.5rem;
    top: 77.9rem;
    font-size: 1rem;
    font-weight: 500;
  }
  .seonghui-yoon-Ymt {
    width: 7.2rem;
    font-weight: 500;
    line-height: 1.2125;
    color: #b0b0b0;
    font-family: Inter, 'Source Sans Pro';
    height: 1.3rem;
    position: absolute;
    left: 52.7rem;
    top: 77.9rem;
    font-size: 1rem;
    white-space: nowrap;
  }
  .vuesax-linear-textalign-left-Tdx {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 30.4rem;
    top: 77.3rem;
    object-fit: contain;
    vertical-align: top;
  }
  .design-systempdf-nRL {
    height: 1.4rem;
    position: absolute;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 10.1rem;
    white-space: nowrap;
    top: 44.2rem;
    left: 34rem;
  }
  .through-the-valley-of--gmc {
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.2125;
    height: 1.4rem;
    position: absolute;
    top: 49rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 12.7rem;
    left: 34rem;
  }
  .gender-bias-as-evidenced-ByG {
    left: 34rem;
    top: 53.8rem;
    font-size: 1.1rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 15rem;
    height: 1.4rem;
    line-height: 1.2125;
    position: absolute;
    font-weight: 600;
  }
  .physician-communicationpdf-hRp {
    width: 16.5rem;
    left: 34rem;
    top: 58.6rem;
    font-size: 1.1rem;
    color: #000000;
    white-space: nowrap;
    height: 1.4rem;
    position: absolute;
    font-weight: 600;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
  }
  .characteristics-of-modern-ojk {
    color: #000000;
    white-space: nowrap;
    position: absolute;
    left: 34rem;
    top: 63.4rem;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.2125;
    width: 14.9rem;
    height: 1.4rem;
    font-family: Inter, 'Source Sans Pro';
  }
  .e-learning-versus-social-7VY {
    height: 1.4rem;
    position: absolute;
    color: #000000;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 14.3rem;
    left: 34rem;
    top: 68.2rem;
    font-size: 1.1rem;
    font-weight: 600;
  }
  .great-depressiondocx-26i {
    height: 1.4rem;
    position: absolute;
    left: 34rem;
    top: 73rem;
    font-weight: 600;
    width: 12.2rem;
    font-size: 1.1rem;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .elasticity-the-impact-of-job-jG2 {
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 16.1rem;
    position: absolute;
    font-weight: 600;
    color: #000000;
    line-height: 1.2125;
    height: 1.4rem;
    left: 34rem;
    top: 77.8rem;
    font-size: 1.1rem;
  }
  .file-name-RuY {
    width: 6.3rem;
    position: absolute;
    left: 30rem;
    color: #b0b0b0;
    white-space: nowrap;
    height: 1.5rem;
    top: 35rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
  }
  .author-j9Y {
    left: 52.7rem;
    top: 35rem;
    font-size: 1.2rem;
    line-height: 1.2125;
    color: #b0b0b0;
    font-family: Inter, 'Source Sans Pro';
    width: 5.1rem;
    height: 1.5rem;
    white-space: nowrap;
    position: absolute;
    font-weight: 500;
  }
  .albert-flores-SZk {
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.3rem;
    position: absolute;
    left: 52.7rem;
    font-weight: 500;
    color: #b0b0b0;
    width: 6.2rem;
    top: 44.3rem;
    font-size: 1rem;
    line-height: 1.2125;
  }
  .may-2023-NCW {
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 5.8rem;
    height: 1.3rem;
    top: 44.3rem;
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    left: 67.5rem;
    line-height: 1.2125;
    color: #b0b0b0;
  }
  .mb-HKU {
    width: 4rem;
    left: 83rem;
    font-size: 1rem;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    height: 1.3rem;
    position: absolute;
    top: 44.3rem;
    font-weight: 500;
    white-space: nowrap;
  }
  .item--p4W {
    height: 1.3rem;
    left: 88.8rem;
    top: 43.95rem;
    font-weight: 600;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 1.8rem;
    position: absolute;
    display: flex;
    font-size: 1rem;
    line-height: 1.2125;
    letter-spacing: 0.3rem;
  }
  .item--85C {
    left: 88.8rem;
    display: flex;
    font-size: 1rem;
    letter-spacing: 0.3rem;
    white-space: nowrap;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 1.8rem;
    height: 1.3rem;
    position: absolute;
    top: 48.75rem;
    font-weight: 600;
    line-height: 1.2125;
  }
  .item--3T4 {
    height: 1.3rem;
    display: flex;
    line-height: 1.2125;
    letter-spacing: 0.3rem;
    font-family: Inter, 'Source Sans Pro';
    width: 1.8rem;
    position: absolute;
    left: 88.8rem;
    top: 53.55rem;
    font-size: 1rem;
    font-weight: 600;
    color: #000000;
    white-space: nowrap;
  }
  .item--Yei {
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    color: #000000;
    height: 1.3rem;
    position: absolute;
    left: 88.8rem;
    top: 58.35rem;
    white-space: nowrap;
    width: 1.8rem;
    display: flex;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
  }
  .item--4NA {
    left: 88.8rem;
    top: 63.15rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
    white-space: nowrap;
    font-family: Inter, 'Source Sans Pro';
    width: 1.8rem;
    height: 1.3rem;
    position: absolute;
    display: flex;
    font-size: 1rem;
    line-height: 1.2125;
    color: #000000;
  }
  .item--a5c {
    font-weight: 600;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 1.8rem;
    left: 88.8rem;
    display: flex;
    font-size: 1rem;
    white-space: nowrap;
    height: 1.3rem;
    position: absolute;
    top: 67.95rem;
    letter-spacing: 0.3rem;
  }
  .item--HEv {
    height: 1.3rem;
    left: 88.8rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2125;
    letter-spacing: 0.3rem;
    color: #000000;
    width: 1.8rem;
    white-space: nowrap;
    font-family: Inter, 'Source Sans Pro';
    top: 72.75rem;
    display: flex;
    position: absolute;
  }
  .item--zv2 {
    top: 77.55rem;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    left: 88.8rem;
    height: 1.3rem;
    position: absolute;
    line-height: 1.2125;
    letter-spacing: 0.3rem;
    color: #000000;
    width: 1.8rem;
  }
  .kb-7Ur {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.3rem;
    line-height: 1.2125;
    left: 83rem;
    top: 49.1rem;
    font-size: 1rem;
    font-weight: 500;
    width: 3.3rem;
    position: absolute;
  }
  .kb-zYe {
    width: 3.4rem;
    height: 1.3rem;
    position: absolute;
    top: 53.9rem;
    font-size: 1rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    left: 83rem;
    font-weight: 500;
    color: #000000;
    white-space: nowrap;
  }
  .kb-hhx {
    color: #000000;
    width: 3.5rem;
    position: absolute;
    left: 83rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2125;
    height: 1.3rem;
    top: 58.7rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .mb-R8A {
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.3rem;
    position: absolute;
    top: 63.5rem;
    font-weight: 500;
    width: 3.1rem;
    left: 83rem;
    font-size: 1rem;
    color: #000000;
  }
  .kb-vqc {
    font-size: 1rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 3.3rem;
    position: absolute;
    left: 83rem;
    color: #000000;
    height: 1.3rem;
    top: 68.3rem;
    font-weight: 500;
  }
  .kb-eWi {
    position: absolute;
    font-size: 1rem;
    line-height: 1.2125;
    width: 3.8rem;
    left: 83rem;
    top: 73.1rem;
    font-weight: 500;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.3rem;
  }
  .kb-NBp {
    top: 77.9rem;
    font-size: 1rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    line-height: 1.2125;
    white-space: nowrap;
    width: 3.5rem;
    height: 1.3rem;
    position: absolute;
    left: 83rem;
    font-weight: 500;
  }
  .may-2023-Uke {
    font-size: 1rem;
    color: #b0b0b0;
    white-space: nowrap;
    position: absolute;
    left: 67.5rem;
    top: 49.1rem;
    font-weight: 500;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    width: 5.8rem;
    height: 1.3rem;
  }
  .may-2023-yxJ {
    left: 67.5rem;
    font-weight: 500;
    white-space: nowrap;
    height: 1.3rem;
    position: absolute;
    top: 53.9rem;
    font-size: 1rem;
    line-height: 1.2125;
    color: #b0b0b0;
    font-family: Inter, 'Source Sans Pro';
    width: 5.8rem;
  }
  .may-2023-6X8 {
    width: 5.7rem;
    left: 67.5rem;
    top: 58.7rem;
    white-space: nowrap;
    height: 1.3rem;
    position: absolute;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2125;
    color: #b0b0b0;
    font-family: Inter, 'Source Sans Pro';
  }
  .may-2023-1e6 {
    white-space: nowrap;
    left: 67.5rem;
    font-size: 1rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    font-weight: 500;
    color: #b0b0b0;
    width: 5.7rem;
    height: 1.3rem;
    position: absolute;
    top: 63.5rem;
  }
  .may-2023-XMY {
    font-weight: 500;
    color: #b0b0b0;
    font-family: Inter, 'Source Sans Pro';
    left: 67.5rem;
    top: 68.3rem;
    font-size: 1rem;
    line-height: 1.2125;
    white-space: nowrap;
    width: 5.7rem;
    height: 1.3rem;
    position: absolute;
  }
  .may-2023-r8v {
    white-space: nowrap;
    width: 5.6rem;
    height: 1.3rem;
    position: absolute;
    font-size: 1rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    left: 67.5rem;
    top: 73.1rem;
    font-weight: 500;
    color: #b0b0b0;
  }
  .may-2023-ZZ8 {
    white-space: nowrap;
    width: 5.6rem;
    position: absolute;
    top: 77.9rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2125;
    height: 1.3rem;
    left: 67.5rem;
    color: #b0b0b0;
    font-family: Inter, 'Source Sans Pro';
  }
  .arlene-mccoy-URC {
    font-size: 1rem;
    color: #b0b0b0;
    white-space: nowrap;
    width: 6.8rem;
    position: absolute;
    left: 52.7rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    height: 1.3rem;
    top: 49.1rem;
    font-weight: 500;
  }
  .annette-black-z8e {
    font-family: Inter, 'Source Sans Pro';
    width: 6.7rem;
    height: 1.3rem;
    position: absolute;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2125;
    left: 52.7rem;
    top: 53.9rem;
    color: #b0b0b0;
    white-space: nowrap;
  }
  .minje-kim-Jf8 {
    left: 52.7rem;
    top: 58.7rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 4.7rem;
    height: 1.3rem;
    position: absolute;
    font-size: 1rem;
    font-weight: 500;
    color: #b0b0b0;
  }
  .kunhee-ryu-cfp {
    font-size: 1rem;
    color: #b0b0b0;
    width: 5.7rem;
    height: 1.3rem;
    position: absolute;
    top: 63.5rem;
    white-space: nowrap;
    left: 52.7rem;
    font-weight: 500;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
  }
  .bee-shin-jVY {
    color: #b0b0b0;
    width: 4.2rem;
    top: 68.3rem;
    font-weight: 500;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.3rem;
    position: absolute;
    left: 52.7rem;
    font-size: 1rem;
  }
  .jongyoon-jung-4Gv {
    font-size: 1rem;
    font-weight: 500;
    color: #b0b0b0;
    font-family: Inter, 'Source Sans Pro';
    width: 7.4rem;
    position: absolute;
    left: 52.7rem;
    top: 73.1rem;
    white-space: nowrap;
    height: 1.3rem;
    line-height: 1.2125;
  }
  .seonghui-yoon-NHc {
    font-family: Inter, 'Source Sans Pro';
    width: 7.2rem;
    height: 1.3rem;
    top: 77.9rem;
    font-size: 1rem;
    font-weight: 500;
    color: #b0b0b0;
    position: absolute;
    left: 52.7rem;
    line-height: 1.2125;
    white-space: nowrap;
  }
  .date-Gtn {
    width: 3.1rem;
    color: #b0b0b0;
    font-family: Inter, 'Source Sans Pro';
    top: 35rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2125;
    white-space: nowrap;
    height: 1.5rem;
    position: absolute;
    left: 67.5rem;
  }
  .size-o82 {
    height: 1.5rem;
    position: absolute;
    font-size: 1.2rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    width: 2.6rem;
    top: 35rem;
    font-weight: 500;
    color: #b0b0b0;
    white-space: nowrap;
    left: 83rem;
  }
  .rectangle-89-7uQ {
    left: 30rem;
    top: 72rem;
    background-color: #d9d9d9;
    border-radius: 0.6rem;
    width: 3.3rem;
    height: 3.3rem;
    position: absolute;
  }
  .rectangle-90-Swg {
    height: 3.3rem;
    position: absolute;
    left: 30rem;
    top: 76.8rem;
    background-color: #d9d9d9;
    border-radius: 0.6rem;
    width: 3.3rem;
  }
  .rectangle-83-NaS {
    height: 3.3rem;
    position: absolute;
    left: 30rem;
    top: 48rem;
    background-color: #ffe5e5;
    border-radius: 0.6rem;
    width: 3.3rem;
  }
  .vuesax-linear-textalign-left-uKU {
    top: 48.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 30.4rem;
  }
  .rectangle-83-phL {
    position: absolute;
    left: 30rem;
    top: 52.8rem;
    background-color: #e9ffe5;
    border-radius: 0.6rem;
    width: 3.3rem;
    height: 3.3rem;
  }
  .vuesax-linear-textalign-left-MBU {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 30.4rem;
    top: 53.3rem;
    object-fit: contain;
    vertical-align: top;
  }
  .rectangle-83-H58 {
    width: 3.3rem;
    height: 3.3rem;
    position: absolute;
    left: 30rem;
    top: 62.4rem;
    background-color: #ffe5e5;
    border-radius: 0.6rem;
  }
  .vuesax-linear-textalign-left-QQe {
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 30.4rem;
    top: 62.9rem;
    object-fit: contain;
  }
  .rectangle-83-LZC {
    left: 30rem;
    top: 67.2rem;
    background-color: #ffe5e5;
    border-radius: 0.6rem;
    width: 3.3rem;
    height: 3.3rem;
    position: absolute;
  }
  .vuesax-linear-textalign-left-s3L {
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 30.4rem;
    top: 67.7rem;
    object-fit: contain;
    vertical-align: top;
  }
  .rectangle-83-zdk {
    width: 3.3rem;
    height: 3.3rem;
    position: absolute;
    left: 30rem;
    top: 57.6rem;
    background-color: #e5f2ff;
    border-radius: 0.6rem;
  }
  .vuesax-linear-textalign-left-X7t {
    height: 2.4rem;
    position: absolute;
    left: 30.4rem;
    top: 58.1rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
  }
  .rectangle-83-rR4 {
    width: 3.3rem;
    height: 3.3rem;
    position: absolute;
    left: 30rem;
    top: 72rem;
    background-color: #e5f2ff;
    border-radius: 0.6rem;
  }
  .vuesax-linear-textalign-left-a6A {
    height: 2.4rem;
    position: absolute;
    left: 30.4rem;
    top: 72.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
  }
  .rectangle-83-hAn {
    border-radius: 0.6rem;
    width: 3.3rem;
    height: 3.3rem;
    position: absolute;
    left: 30rem;
    top: 76.8rem;
    background-color: #e5f2ff;
  }
  .elasticity-the-impact-of-job-d4S {
    width: 16.1rem;
    position: absolute;
    left: 34rem;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    height: 1.4rem;
    top: 77.8rem;
    color: #000000;
    white-space: nowrap;
  }
  .item--8G6 {
    position: absolute;
    left: 88.8rem;
    top: 77.55rem;
    display: flex;
    color: #000000;
    white-space: nowrap;
    width: 1.8rem;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.2125;
    letter-spacing: 0.3rem;
    font-family: Inter, 'Source Sans Pro';
    height: 1.3rem;
  }
  .kb-2sG {
    top: 77.9rem;
    font-size: 1rem;
    color: #000000;
    position: absolute;
    height: 1.3rem;
    left: 83rem;
    font-weight: 500;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 3.5rem;
  }
  .may-2023-Z6W {
    left: 67.5rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2125;
    color: #b0b0b0;
    width: 5.6rem;
    height: 1.3rem;
    position: absolute;
    top: 77.9rem;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .seonghui-yoon-GWi {
    left: 52.7rem;
    font-size: 1rem;
    color: #b0b0b0;
    font-family: Inter, 'Source Sans Pro';
    width: 7.2rem;
    position: absolute;
    top: 77.9rem;
    font-weight: 500;
    line-height: 1.2125;
    white-space: nowrap;
    height: 1.3rem;
  }
  .vuesax-linear-textalign-left-PLS {
    top: 77.3rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 30.4rem;
  }
  .rectangle-4140-vLN {
    height: 3.3rem;
    position: absolute;
    left: 30rem;
    top: 76.8rem;
    background-color: #e5f2ff;
    border-radius: 0.6rem;
    width: 3.3rem;
  }
  .vuesax-linear-textalign-left-3Qz {
    height: 2.4rem;
    position: absolute;
    left: 30.4rem;
    top: 77.3rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
  }
  .the-attentional-blink--NTG {
    font-weight: 600;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.5rem;
    cursor: pointer;
    font-size: 1.2rem;
    top: 39.4rem;
    line-height: 1.2125;
    color: #000000;
    width: 13.3rem;
    position: absolute;
    left: 34rem;
  }
  .item--4L6 {
    letter-spacing: 0.3rem;
    color: #000000;
    white-space: nowrap;
    position: absolute;
    left: 88.8rem;
    top: 39.15rem;
    font-weight: 600;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    width: 1.8rem;
    height: 1.3rem;
    display: flex;
    font-size: 1rem;
  }
  .kb-Z1x {
    top: 39.5rem;
    font-weight: 500;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    left: 83rem;
    height: 1.3rem;
    position: absolute;
    font-size: 1rem;
    color: #000000;
    white-space: nowrap;
    width: 3.5rem;
  }
  .may-2023-fqg {
    font-weight: 500;
    line-height: 1.2125;
    color: #b0b0b0;
    font-family: Inter, 'Source Sans Pro';
    width: 5.6rem;
    left: 67.5rem;
    top: 39.5rem;
    font-size: 1rem;
    height: 1.3rem;
    position: absolute;
    white-space: nowrap;
  }
  .seonghui-yoon-z7G {
    line-height: 1.2125;
    color: #b0b0b0;
    width: 7.2rem;
    height: 1.3rem;
    position: absolute;
    left: 52.7rem;
    font-size: 1rem;
    top: 39.5rem;
    font-weight: 500;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
  }
  .vuesax-linear-textalign-left-h1g {
    top: 38.9rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 30.4rem;
  }
  .rectangle-4141-1o4 {
    position: absolute;
    left: 30rem;
    top: 38.4rem;
    background-color: #e5f2ff;
    border-radius: 0.6rem;
    width: 3.3rem;
    height: 3.3rem;
  }
  .vuesax-linear-textalign-left-wgi {
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 30.4rem;
    top: 38.9rem;
    object-fit: contain;
  }
  .rectangle-91-5H8 {
    width: 3.3rem;
    height: 3.3rem;
    position: absolute;
    left: 30rem;
    top: 43.2rem;
    background-color: #ffe5e5;
    border-radius: 0.6rem;
  }
  .vuesax-linear-textalign-left-1Rg {
    object-fit: contain;
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 30.4rem;
    top: 43.7rem;
  }
  .the-evolution-of-administra-8mC {
    position: absolute;
    left: 34rem;
    white-space: nowrap;
    height: 1.4rem;
    top: 82.6rem;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 15.7rem;
  }
  .albert-flores-qQi {
    width: 6.2rem;
    height: 1.3rem;
    left: 52.7rem;
    font-size: 1rem;
    font-weight: 500;
    white-space: nowrap;
    position: absolute;
    top: 82.7rem;
    line-height: 1.2125;
    color: #b0b0b0;
    font-family: Inter, 'Source Sans Pro';
  }
  .april-2023-LcN {
    position: absolute;
    top: 82.7rem;
    font-weight: 500;
    line-height: 1.2125;
    color: #b0b0b0;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 6.6rem;
    height: 1.3rem;
    left: 67.5rem;
    font-size: 1rem;
  }
  .mb-qp2 {
    position: absolute;
    left: 83rem;
    font-weight: 500;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.3rem;
    top: 82.7rem;
    font-size: 1rem;
    color: #000000;
    width: 3.6rem;
  }
  .item--kvz {
    left: 88.8rem;
    line-height: 1.2125;
    letter-spacing: 0.3rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 1.8rem;
    height: 1.3rem;
    position: absolute;
    top: 82.35rem;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
  }
  .rectangle-91-U6J {
    width: 3.3rem;
    height: 3.3rem;
    position: absolute;
    left: 30rem;
    top: 81.6rem;
    background-color: #ffe5e5;
    border-radius: 0.6rem;
  }
  .vuesax-linear-textalign-left-zqL {
    vertical-align: top;
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    left: 30.4rem;
    top: 82.1rem;
    object-fit: contain;
  }
}
