
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.item--WQN {
  background-position: center;
  background-color: #ffffff;
  overflow: hidden;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: url('REPLACE_IMAGE:490cdaca746183c363b9eba97db338ee4238fdc2');
  width: 100%;
  height: 83.2rem;
  position: relative;

  .rectangle-4128-oeN {
    top: 7.8rem;
    background-color: rgba(22, 86, 193, 0.25);
    width: 51.3rem;
    height: 2.3rem;
    position: absolute;
    left: 64.8rem;
  }
  .rectangle-4129-6dU {
    height: 2.2rem;
    position: absolute;
    left: 62.1rem;
    top: 10.5rem;
    background-color: rgba(22, 86, 193, 0.25);
    width: 54rem;
  }
  .rectangle-4130-Nqt {
    position: absolute;
    left: 62.1rem;
    top: 13rem;
    background-color: rgba(22, 86, 193, 0.25);
    width: 54rem;
    height: 2.2rem;
  }
  .rectangle-4131-JjY {
    width: 5.4rem;
    height: 2.2rem;
    position: absolute;
    left: 62.1rem;
    top: 15.6rem;
    background-color: rgba(22, 86, 193, 0.25);
  }
  .group-92-ENJ {
    box-sizing: border-box;
    height: 22.9rem;
    left: 62.1rem;
    top: 18.7rem;
    border-radius: 1.4rem;
    padding: 1.2rem 1.2rem 2.3rem 2.4rem;
    width: 23.1rem;
    position: absolute;
    box-shadow: 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;

    .auto-group-ezk4-KPk {
      margin-bottom: 1.6rem;
      width: 100%;
      display: flex;
      align-items: flex-start;

      .from-selected-ewp {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 4.7rem 0rem 0rem;
        font-size: 1.8rem;
        font-weight: 800;
        line-height: 1.2125;
        color: #4f4f4f;
      }
      .x-YXQ {
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .add-memo-VBk {
      white-space: nowrap;
      margin: 0rem 0rem 2.2rem 0.9rem;
      cursor: pointer;
      font-size: 1.7rem;
      font-weight: 500;
      line-height: 1.2125;
      color: #4f4f4f;
      font-family: Inter, 'Source Sans Pro';
    }
    .summarize-ayt {
      font-size: 1.7rem;
      font-weight: 500;
      line-height: 1.2125;
      color: #4f4f4f;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0rem 2.4rem 0.9rem;
      cursor: pointer;
    }
    .translate-6xE {
      font-weight: 500;
      line-height: 1.2125;
      color: #4f4f4f;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      margin: 0rem 0rem 2.4rem 0.9rem;
      cursor: pointer;
      font-size: 1.7rem;
    }
    .dictionary-PRY {
      color: #b3b3b3;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      margin-left: 0.9rem;
      font-size: 1.7rem;
      font-weight: 500;
      line-height: 1.2125;
    }
  }
}
