
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.item--Tn6 {
  background-size: 100% 100%;
  background-position: center;
  background-image: url('REPLACE_IMAGE:490cdaca746183c363b9eba97db338ee4238fdc2');
  background-color: #ffffff;
  padding: 15.5rem 11.9rem 4.5rem 61.5rem;
  width: 100%;
  overflow: hidden;
  grid-auto-rows: 27.8625rem;
  background-repeat: no-repeat;
  box-sizing: border-box;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 28.77rem);

  .rectangle-4128-6aA {
    height: 2.3rem;
    background-color: rgba(22, 86, 193, 0.25);
    width: 48.7rem;
  }
  .rectangle-4129-SP8 {
    width: 54rem;
    height: 2.2rem;
    background-color: rgba(22, 86, 193, 0.25);
  }
  .rectangle-4130-BLi {
    height: 2.2rem;
    background-color: rgba(22, 86, 193, 0.25);
    width: 54rem;
  }
  .rectangle-4131-vZC {
    width: 54rem;
    height: 2.2rem;
    background-color: rgba(22, 86, 193, 0.25);
  }
  .rectangle-4132-U4v {
    width: 54rem;
    height: 2.2rem;
    background-color: rgba(22, 86, 193, 0.25);
  }
  .auto-group-dt34-QjG {
    align-items: flex-start;
    height: 50.7rem;
    display: flex;

    .auto-group-rvee-ZMG {
      margin: 0.3rem 0.1rem 0rem 0rem;
      width: 23.1rem;
      flex-shrink: 0;

      .rectangle-4133-GFg {
        margin: 0rem 0rem 0.9rem 0.6rem;
        width: 18.4rem;
        height: 2.2rem;
        background-color: rgba(22, 86, 193, 0.25);
      }
      .auto-group-gnpe-P5Q {
        width: 100%;
        align-items: center;
        box-shadow: 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
        border-radius: 1.4rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: 1.4rem 1.2rem 2.3rem 1.9rem;

        .auto-group-dvdx-tXx {
          flex-shrink: 0;
          margin: 0rem 0.5rem 1.6rem 0.5rem;
          width: calc(100% - 1rem);
          display: flex;
          align-items: center;

          .from-selected-1Mg {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 5.2rem;
            font-size: 1.8rem;
            font-weight: 800;
            line-height: 1.2125;
            color: #4f4f4f;
            font-family: Inter, 'Source Sans Pro';
          }
          .x-yLS {
            margin-bottom: 0.6rem;
            width: 1rem;
            height: 1rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
        .add-memo-6AA {
          margin: 0rem 8.4rem 2.2rem 0rem;
          font-size: 1.7rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #4f4f4f;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .summarize-bci {
          flex-shrink: 0;
          margin: 0rem 8.1rem 1.5rem 0rem;
          font-size: 1.7rem;
          font-weight: 500;
          line-height: 1.2125;
          color: #4f4f4f;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .auto-group-7rgi-WUn {
          box-sizing: border-box;
          padding: 0.9rem 1.4rem 1.4rem 1.4rem;
          line-height: 1.2125;
          flex-shrink: 0;
          margin-bottom: 1rem;
          font-size: 1.7rem;
          font-weight: 500;
          color: #4f4f4f;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          background-color: rgba(190, 191, 194, 0.25);
          border-radius: 0.6rem;
          width: 100%;
        }
        .dictionary-mvW {
          line-height: 1.2125;
          color: #b3b3b3;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin-right: 8.8rem;
          font-size: 1.7rem;
          font-weight: 500;
        }
      }
    }
    .group-117-1Zx {
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 0.9rem 0.8rem 2.4rem 2.5rem;
      width: 23.1rem;
      height: 100%;
      box-shadow: 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
      background-color: #ffffff;
      border-radius: 1.4rem;

      .auto-group-jbhp-JJA {
        margin-bottom: 2rem;
        width: 100%;
        height: 12.5rem;
        display: flex;
        align-items: center;

        .auto-group-l58j-e78 {
          height: calc(100% - 1.6rem);
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin: 1.2rem 11.1rem 0.4rem 0rem;

          .korean-A5U {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            font-weight: 500;
            line-height: 1.2125;
            color: #4f4f4f;
            flex-shrink: 0;
            margin-bottom: 2.2rem;
            cursor: pointer;
            font-size: 1.7rem;
          }
          .chinese-V7k {
            color: #4f4f4f;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 2.4rem;
            font-size: 1.7rem;
            font-weight: 500;
            line-height: 1.2125;
          }
          .japanese-RGJ {
            font-weight: 500;
            line-height: 1.2125;
            color: #4f4f4f;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.7rem;
          }
        }
        .rectangle-92-xGE {
          flex-shrink: 0;
          width: 0.8rem;
          height: 12.5rem;
          background-color: #918f8f;
          border-radius: 1rem;
        }
      }
      .russian-GXp {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.2rem;
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #4f4f4f;
      }
      .spanish-1VQ {
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #4f4f4f;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.2rem;
      }
      .german-XTk {
        white-space: nowrap;
        margin-bottom: 2.4rem;
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #4f4f4f;
        font-family: Inter, 'Source Sans Pro';
      }
      .italian-GAS {
        color: #4f4f4f;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 2.4rem;
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 1.2125;
      }
      .indonesian-BoC {
        margin-bottom: 2.1rem;
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #4f4f4f;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .dutch-i2S {
        margin-bottom: 2.4rem;
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #4f4f4f;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .portuguese-qsk {
        white-space: nowrap;
        margin-bottom: 2.4rem;
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #4f4f4f;
        font-family: Inter, 'Source Sans Pro';
      }
      .filipino-P8a {
        color: #4f4f4f;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 1.2125;
      }
    }
  }
}
