
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.item-4-qNn {
  width: 100%;
  height: 83.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .backgrounds-tbx {
    width: 128.1rem;
    height: 83.2rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f5f5f5;

    .background2-white-bWN {
      box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.0799999982);
      background-color: #ffffff;
      width: 128.1rem;
      height: 10.5rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .background2-white-hJW {
      left: 0;
      top: 0;
      box-shadow: 0.4rem 0 1rem rgba(0, 0, 0, 0.0799999982);
      background-color: #ffffff;
      width: 25.2rem;
      height: 83.2rem;
      position: absolute;
    }
    .dashboard-ocS {
      top: 12.7rem;
      display: flex;
      align-items: center;
      width: 10.5rem;
      height: 2rem;
      position: absolute;
      left: 3.2rem;

      .vuesax-linear-element-2-vh4 {
        margin-right: 1.2rem;
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .dashboard-f8r {
        margin-bottom: 0.1rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #1656c1;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .folder-B7C {
      top: 17.3rem;
      display: flex;
      align-items: center;
      width: 7.4rem;
      height: 2rem;
      position: absolute;
      left: 3.2rem;

      .folder-HR8 {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.2rem;
        width: 2rem;
        height: 2rem;
        position: relative;
        object-fit: contain;
      }
      .folder-pR4 {
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .settings-YM4 {
      align-items: center;
      width: 8.7rem;
      height: 2rem;
      position: absolute;
      left: 3.2rem;
      top: 70.1rem;
      display: flex;

      .vuesax-linear-setting-2-UVc {
        flex-shrink: 0;
        margin-right: 1.2rem;
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
      }
      .settings-1Ee {
        font-weight: 400;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.4rem;
      }
    }
    .help-8KG {
      position: absolute;
      left: 3.4rem;
      top: 65.9rem;
      display: flex;
      align-items: flex-end;
      width: 6.1rem;
      height: 1.7rem;

      .vuesax-linear-message-question-4Tp {
        flex-shrink: 0;
        margin: 0rem 1.333rem 0.006rem 0rem;
        width: 1.6667rem;
        height: 1.5941rem;
        object-fit: contain;
        vertical-align: top;
      }
      .help-NUW {
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .log-out-Wqc {
      align-items: center;
      width: 8.5rem;
      height: 2rem;
      position: absolute;
      left: 3.2rem;
      top: 74.6rem;
      display: flex;

      .logout-egv {
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 1.2rem;
        width: 2rem;
        height: 2rem;
      }
      .log-out-no8 {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #b0b0b0;
      }
    }
    .recent-86J {
      left: 3.2rem;
      top: 21.9rem;
      display: flex;
      align-items: center;
      width: 7.9rem;
      height: 2rem;
      position: absolute;

      .auto-group-anx8-3j4 {
        margin-right: 1.2rem;
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .recent-ayt {
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .favorite-j66 {
      left: 3.2rem;
      top: 26.5rem;
      display: flex;
      align-items: center;
      width: 8.4333rem;
      height: 1.7269rem;
      position: absolute;

      .star-fEe {
        height: 1.6532rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.366rem 0.074rem 0rem;
        width: 1.6668rem;
      }
      .favorite-Byg {
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.0269rem;
        font-size: 1.4rem;
        font-weight: 400;
      }
    }
    .trash-iyc {
      align-items: center;
      width: 6.6833rem;
      height: 1.7064rem;
      position: absolute;
      left: 3.2rem;
      top: 30.8rem;
      display: flex;

      .star-ESA {
        width: 1.5rem;
        height: 1.6666rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.04rem 1.483rem 0rem 0rem;
      }
      .trash-x7G {
        margin-bottom: 0.0064rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .highlight-Gte {
      position: absolute;
      left: 0;
      top: 12rem;
      background-color: #1656c1;
      border-radius: 0.1rem;
      width: 0.4rem;
      height: 3.3rem;
    }
    .search-QEA {
      background-color: #f8f8f8;
      box-sizing: border-box;
      padding: 0.9rem 24.5rem 1rem 0.7rem;
      width: 35.5rem;
      position: absolute;
      display: flex;
      height: 4.3rem;
      left: 56.7rem;
      top: 3.1rem;
      align-items: center;
      border-radius: 0.4rem;

      .vuesax-linear-search-normal-VWW {
        margin-right: 2.9rem;
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .search-pHt {
        font-weight: 400;
        line-height: 1.2125;
        color: #c9c9c9;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.5rem;
      }
    }
    .dashboard-vri {
      left: 28.6rem;
      font-family: Inter, 'Source Sans Pro';
      line-height: 1.2125;
      color: #000000;
      width: 9.7rem;
      height: 2.2rem;
      position: absolute;
      top: 4.1rem;
      font-size: 1.8rem;
      font-weight: 700;
      white-space: nowrap;
    }
    .quick-access-e22 {
      height: 1.7rem;
      position: absolute;
      top: 13.6rem;
      font-weight: 700;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 9.4rem;
      left: 28.6rem;
      font-size: 1.4rem;
      color: #000000;
    }
    .recently-opened-files-kKx {
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.2125;
      white-space: nowrap;
      position: absolute;
      height: 1.7rem;
      left: 28.6rem;
      top: 30.7rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 15.3rem;
    }
    .user-FnW {
      height: 4.6667rem;
      position: absolute;
      left: 110.9rem;
      top: 2.9rem;
      display: flex;
      align-items: center;
      width: 14.0333rem;

      .vuesax-linear-profile-circle-o3L {
        flex-shrink: 0;
        margin-right: 1.9667rem;
        width: 4.6667rem;
        height: 4.6667rem;
        object-fit: contain;
        vertical-align: top;
      }
      .user-name-LJA {
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.2333rem;
        font-size: 1.4rem;
      }
    }
    .upload-Ghc {
      box-sizing: border-box;
      padding: 1.1rem 5rem 1.1rem 4.9rem;
      width: 19.2rem;
      height: 3.9rem;
      position: absolute;
      left: 2.2rem;
      top: 35.1rem;
      background-color: #1656c1;
      border-radius: 0.4rem;

      .group-66-P1Y {
        height: 100%;
        display: flex;
        align-items: center;
        width: 100%;

        .vuesax-linear-element-plus-9Fc {
          flex-shrink: 0;
          margin: 0.1rem 0.8rem 0rem 0rem;
          width: 1rem;
          height: 1rem;
          object-fit: contain;
          vertical-align: top;
        }
        .upload-file-fDx {
          flex-shrink: 0;
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
    .files-NeA {
      width: 64.5rem;
      left: 28.6rem;
      top: 16.5rem;
      column-gap: 1.9rem;
      box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.0500000007);
      height: 11.6rem;
      position: absolute;
      display: flex;
      align-items: center;

      .file-64N {
        border-radius: 0.6rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.5rem 0.9rem 1rem 0.9rem;
        width: 14.7rem;
        height: 100%;
        background-color: #ffffff;

        .auto-group-43mg-1h8 {
          align-items: flex-start;
          margin-bottom: 1.1rem;
          width: 100%;
          display: flex;

          .auto-group-tnja-kei {
            border-radius: 0.6rem;
            flex-shrink: 0;
            margin: 0.5rem 6.3rem 0rem 0rem;
            box-sizing: border-box;
            padding: 1rem 1.1rem 1.1rem 1rem;
            background-color: rgba(196, 217, 252, 0.5);

            .vuesax-linear-folder-fWn {
              height: 3.2rem;
              object-fit: contain;
              vertical-align: top;
              width: 3.2rem;
            }
          }
          .item--Ng6 {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
          }
        }
        .hci-Vki {
          margin-bottom: 0.4rem;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .mb-20-jul-2023-pnz {
          white-space: nowrap;
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
      }
      .file-wsc {
        border-radius: 0.6rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.5rem 0.9rem 1rem 0.9rem;
        width: 14.7rem;
        height: 100%;
        background-color: #ffffff;

        .auto-group-y9tl-HAn {
          margin-bottom: 1.1rem;
          width: 100%;
          display: flex;
          align-items: flex-start;

          .auto-group-qfan-oup {
            box-sizing: border-box;
            padding: 1rem 1.1rem 1.1rem 1rem;
            background-color: #ffe5e5;
            border-radius: 0.6rem;
            flex-shrink: 0;
            margin: 0.5rem 6.3rem 0rem 0rem;

            .vuesax-linear-folder-8BQ {
              object-fit: contain;
              vertical-align: top;
              width: 3.2rem;
              height: 3.2rem;
            }
          }
          .item--3pA {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2125;
          }
        }
        .folder-name-nWr {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.4rem;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.2125;
        }
        .mb-20-jul-2023-Wxe {
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .file-qV8 {
        padding: 0.5rem 0.9rem 1rem 0.9rem;
        width: 14.7rem;
        height: 100%;
        background-color: #ffffff;
        border-radius: 0.6rem;
        flex-shrink: 0;
        box-sizing: border-box;

        .auto-group-sgbg-Zg2 {
          margin-bottom: 1.1rem;
          width: 100%;
          display: flex;
          align-items: flex-start;

          .auto-group-nd5p-KQJ {
            background-color: #e9ffe5;
            border-radius: 0.6rem;
            flex-shrink: 0;
            margin: 0.5rem 6.3rem 0rem 0rem;
            box-sizing: border-box;
            padding: 1rem 1.1rem 1.1rem 1rem;

            .vuesax-linear-folder-35Q {
              width: 3.2rem;
              height: 3.2rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .item--mGJ {
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .folder-name-VCJ {
          margin-bottom: 0.4rem;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
        .mb-20-jul-2023-oin {
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .file-uG2 {
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.5rem 0.9rem 1rem 0.9rem;
        width: 14.7rem;
        height: 100%;
        background-color: #ffffff;
        border-radius: 0.6rem;

        .auto-group-dg46-QyU {
          margin-bottom: 1.1rem;
          width: 100%;
          display: flex;
          align-items: flex-start;

          .auto-group-qqrc-9gA {
            border-radius: 0.6rem;
            flex-shrink: 0;
            margin: 0.5rem 6.3rem 0rem 0rem;
            box-sizing: border-box;
            padding: 1rem 1.1rem 1.1rem 1rem;
            background-color: rgba(196, 217, 252, 0.5);

            .vuesax-linear-folder-UCe {
              width: 3.2rem;
              height: 3.2rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .item--ArA {
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
        .folder-name-tGN {
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.4rem;
          font-size: 1.2rem;
          font-weight: 600;
        }
        .mb-20-jul-2023-oPL {
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
  .recent-files-ePx {
    top: 33.7rem;
    background-color: #ffffff;
    border-radius: 1.2rem;
    width: 64.5rem;
    height: 52.4rem;
    position: absolute;
    left: 28.6rem;

    .auto-group-yvij-xfY {
      height: 3.3rem;
      position: absolute;
      left: 1.4rem;
      top: 5.3rem;
      display: flex;
      align-items: center;
      width: 60.6rem;

      .group-68-UNz {
        margin-right: 0.7rem;
        width: 3.3rem;
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .design-systempdf-pBx {
        margin: 0.1rem 8.6rem 0rem 0rem;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .albert-flores-wGa {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 8.6rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
      }
      .may-2023-pLN {
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 9.7rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
      }
      .mb-Knv {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 1.8rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
      }
      .item--3iv {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        display: flex;
        letter-spacing: 0.3rem;
        color: #000000;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.2125;
      }
    }
    .auto-group-sjqr-NWJ {
      display: flex;
      align-items: center;
      width: 60.6rem;
      height: 3.3rem;
      position: absolute;
      left: 1.4rem;
      top: 10.1rem;

      .group-67-VL2 {
        margin-right: 0.7rem;
        width: 3.3rem;
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .through-the-valley-of--EYW {
        margin: 0.1rem 6rem 0rem 0rem;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .arlene-mccoy-LrS {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 8rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
      }
      .may-2023-4nS {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 9.7rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
      }
      .kb-bnN {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 2.5rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
      }
      .item--KiN {
        margin-bottom: 0.5rem;
        font-size: 1rem;
        letter-spacing: 0.3rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
      }
    }
    .auto-group-kwg2-3uG {
      position: absolute;
      left: 1.4rem;
      top: 14.9rem;
      display: flex;
      align-items: center;
      width: 60.6rem;
      height: 3.3rem;

      .group-70-Nge {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 3.3rem;
        height: 3.3rem;
        object-fit: contain;
      }
      .gender-bias-as-evidenced-X3k {
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 3.7rem 0rem 0rem;
        font-size: 1.1rem;
      }
      .annette-black-qKL {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 8.1rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
      }
      .may-2023-YzS {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 9.7rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
      }
      .kb-5jU {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 2.4rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
      }
      .item--Dan {
        line-height: 1.2125;
        letter-spacing: 0.3rem;
        color: #000000;
        white-space: nowrap;
        font-size: 1rem;
        display: flex;
        font-weight: 600;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 0.5rem;
      }
    }
    .auto-group-tlz4-LfQ {
      top: 19.7rem;
      display: flex;
      align-items: center;
      width: 60.6rem;
      height: 3.3rem;
      position: absolute;
      left: 1.4rem;

      .group-69-evz {
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 3.3rem;
      }
      .physician-communicationdocx-zzr {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 1.9rem 0rem 0rem;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .minje-kim-vNi {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 10.1rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
      }
      .may-2023-Srr {
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 9.8rem 0rem 0rem;
        font-size: 1rem;
      }
      .kb-aiA {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 2.3rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
      }
      .item--Ju4 {
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.3rem;
        color: #000000;
        display: flex;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.5rem;
      }
    }
    .auto-group-hxdy-2aA {
      left: 1.4rem;
      top: 24.5rem;
      display: flex;
      align-items: center;
      width: 60.6rem;
      height: 3.3rem;
      position: absolute;

      .group-71-wx2 {
        width: 3.3rem;
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
      }
      .characteristics-of-modern-guc {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 3.8rem 0rem 0rem;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .kunhee-ryu-cHU {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 9.1rem 0rem 0rem;
      }
      .may-2023-7k2 {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 9.8rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
      }
      .mb-SGW {
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 2.7rem 0rem 0rem;
        font-size: 1rem;
      }
      .item--xke {
        display: flex;
        font-size: 1rem;
        letter-spacing: 0.3rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.5rem;
        line-height: 1.2125;
        color: #000000;
        flex-shrink: 0;
        font-weight: 600;
      }
    }
    .auto-group-gyoy-HH8 {
      left: 1.4rem;
      top: 29.3rem;
      display: flex;
      align-items: center;
      width: 60.6rem;
      height: 3.3rem;
      position: absolute;

      .group-72-oWN {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 3.3rem;
        height: 3.3rem;
        object-fit: contain;
      }
      .e-learning-versus-social-YTx {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 4.4rem 0rem 0rem;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
      }
      .bee-shin-Tav {
        margin: 0.2rem 10.6rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .may-2023-yZG {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 9.8rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
      }
      .kb-79g {
        flex-shrink: 0;
        margin: 0.2rem 2.5rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item--SSr {
        font-weight: 600;
        letter-spacing: 0.3rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        margin-bottom: 0.5rem;
        display: flex;
        color: #000000;
        flex-shrink: 0;
        font-size: 1rem;
        line-height: 1.2125;
      }
    }
    .auto-group-5zvs-NbQ {
      position: absolute;
      left: 1.4rem;
      top: 34.1rem;
      display: flex;
      align-items: center;
      width: 60.6rem;
      height: 3.3rem;

      .auto-group-trhk-HiN {
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 3.3rem;
        height: 3.3rem;
        object-fit: contain;
      }
      .great-depressiondocx-2fx {
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 6.5rem 0rem 0rem;
      }
      .jongyoon-jung-A1U {
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 7.4rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
      }
      .may-2023-tCN {
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 9.9rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
      }
      .kb-p62 {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 2rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .item--kEa {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        display: flex;
        font-weight: 600;
        font-size: 1rem;
        letter-spacing: 0.3rem;
        white-space: nowrap;
      }
    }
    .auto-group-mnrc-gP8 {
      top: 38.9rem;
      display: flex;
      align-items: center;
      width: 60.6rem;
      height: 3.3rem;
      position: absolute;
      left: 1.4rem;

      .auto-group-esfx-CMU {
        margin-right: 0.7rem;
        width: 3.3rem;
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .elasticity-the-impact-of-job-jMQ {
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 2.6rem 0rem 0rem;
      }
      .seonghui-yoon-eUN {
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 7.6rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
      }
      .may-2023-NfG {
        flex-shrink: 0;
        margin: 0.2rem 9.9rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .kb-Jop {
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 2.3rem 0rem 0rem;
        font-size: 1rem;
      }
      .item--2jp {
        font-weight: 600;
        letter-spacing: 0.3rem;
        font-size: 1rem;
        display: flex;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.5rem;
      }
    }
    .auto-group-qvzt-Mn6 {
      left: 1.4rem;
      top: 1.3rem;
      display: flex;
      align-items: center;
      width: 55.6rem;
      height: 1.5rem;
      position: absolute;

      .file-name-5xz {
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 16.4rem;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
      }
      .author-E5C {
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 9.7rem;
        font-size: 1.2rem;
        font-weight: 500;
      }
      .date-ZdG {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 12.4rem;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
      }
      .size-Jqk {
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
      }
    }
    .auto-group-qa6a-eei {
      align-items: center;
      width: 60.6rem;
      height: 3.3rem;
      position: absolute;
      left: 1.4rem;
      top: 43.7rem;
      display: flex;

      .group-76-a2a {
        margin-right: 0.7rem;
        width: 3.3rem;
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .the-evolution-of-administra-v6S {
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 3rem 0rem 0rem;
      }
      .albert-flores-29U {
        margin: 0.2rem 8.6rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .april-2023-kLN {
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 8.9rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
      }
      .mb-H5Q {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 2.2rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
      }
      .item--1XC {
        letter-spacing: 0.3rem;
        white-space: nowrap;
        font-size: 1rem;
        line-height: 1.2125;
        font-weight: 600;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        display: flex;
      }
    }
  }
  .rectangle-4136-vPG {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(74, 73, 73, 0.5);
    width: 129.9rem;
    height: 83.2rem;
  }
  .aissistant-f5x {
    left: 7.3rem;
    top: 4.2rem;
    font-weight: 700;
    color: #1656c1;
    white-space: nowrap;
    width: 6.1rem;
    height: 1.8rem;
    position: absolute;
    font-size: 1.4rem;
    line-height: 1.2575;
    font-family: Verdana, 'Source Sans Pro';
  }
  .item--m8z {
    object-fit: cover;
    vertical-align: top;
    width: 4.7rem;
    height: 4.7rem;
    position: absolute;
    left: 2.6rem;
    top: 2.7rem;
  }
  .rectangle-4167-H7L {
    border-radius: 0.5rem;
    width: 70.2rem;
    height: 42.6rem;
    position: absolute;
    left: 31.3rem;
    top: 18.7rem;
    background-color: #ffffff;
  }
  .size-oLa {
    top: 32.1rem;
    font-style: italic;
    font-family: Inter, 'Source Sans Pro';
    height: 1.3rem;
    position: absolute;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.2125;
    color: #b0b0b0;
    white-space: nowrap;
    width: 18rem;
    left: 54.6rem;
  }
  .group-100-VjC {
    left: 80.9rem;
    top: 27.4rem;
    width: 14.4rem;
    height: 3.5rem;
    position: absolute;

    .labels-Rcr {
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      margin-bottom: 0.5rem;
      font-size: 1.4rem;
      font-weight: 600;
    }
    .select-an-option-or-create-one-N2J {
      white-space: nowrap;
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.2125;
      color: #b0b0b0;
      font-family: Inter, 'Source Sans Pro';
    }
  }
  .suggested-labels-6U6 {
    white-space: nowrap;
    height: 1.3rem;
    position: absolute;
    left: 80.9rem;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 8.7rem;
    top: 36.5rem;
    font-size: 1rem;
    font-weight: 600;
  }
  .uploaded-file--cBY {
    width: 9.8rem;
    left: 34rem;
    top: 21.1rem;
    font-weight: 700;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.7rem;
    position: absolute;
    font-size: 1.4rem;
    color: #000000;
  }
  .screenshot-2023-05-27-at-1227-1-X3c {
    height: 25.2rem;
    position: relative;
    left: 34rem;
    top: 27.4rem;
    background-size: 100.359% 102.381%;
    background-position: -0.0335rem -0.6rem;
    background-image: url('REPLACE_IMAGE:521c529e569e97775e1569ef444587023a688e59');
    width: 18.7rem;
  }
  .line-10-bZG {
    width: 0.1rem;
    height: 25.2rem;
    position: absolute;
    left: 79.3rem;
    top: 27.4rem;
    background-color: #b0b0b0;
  }
  .size-307-kb-8JJ {
    font-weight: 500;
    line-height: 1.2125;
    color: #000000;
    white-space: nowrap;
    display: flex;
    height: 1.3rem;
    left: 54.6rem;
    top: 35rem;
    font-family: Inter, 'Source Sans Pro';
    align-items: baseline;
    width: 7.1rem;
    position: absolute;
    font-size: 1rem;

    .size-307-kb-8JJ-sub-0 {
    }
    .size-307-kb-8JJ-sub-1 {
      font-family: Inter, 'Source Sans Pro';
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.2125;
      color: #b0b0b0;
    }
  }
  .doi-103758-app7181683-9Mp {
    font-family: Inter, 'Source Sans Pro';
    align-items: baseline;
    width: 15.2rem;
    height: 1.3rem;
    top: 36.9rem;
    font-weight: 500;
    line-height: 1.2125;
    display: flex;
    position: absolute;
    left: 54.6rem;
    font-size: 1rem;
    color: #000000;
    white-space: nowrap;

    .doi-103758-app7181683-9Mp-sub-0 {
    }
    .doi-103758-app7181683-9Mp-sub-1 {
      font-size: 1rem;
      font-weight: 500;
      line-height: 1.2125;
      color: #b0b0b0;
      font-family: Inter, 'Source Sans Pro';
    }
    .doi-103758-app7181683-9Mp-sub-2 {
    }
  }
  .skip-Gqk {
    font-weight: 400;
    color: #b0b0b0;
    white-space: nowrap;
    width: 2.5rem;
    position: absolute;
    left: 86.2rem;
    top: 57rem;
    font-family: Inter, 'Source Sans Pro';
    height: 1.5rem;
    font-size: 1.2rem;
    line-height: 1.2125;
    text-decoration-line: underline;
  }
  .rectangle-4168-arS {
    position: absolute;
    left: 80.9rem;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 0.4rem;
    width: 5.4rem;
    height: 1.5rem;
    top: 32.1rem;
    border: solid 0.05rem #b0b0b0;
  }
  .add-label-6Jz {
    left: 81.2rem;
    top: 32.8rem;
    font-weight: 400;
    line-height: 0.25;
    color: #b0b0b0;
    white-space: nowrap;
    height: 0.2rem;
    position: absolute;
    font-size: 0.8rem;
    font-family: Inter, 'Source Sans Pro';
    width: 4.6rem;
  }
  .group-107-1B4 {
    background-color: rgba(94, 114, 228, 0.200000003);
    border-radius: 4.5rem;
    height: 1.8rem;
    left: 80.9rem;
    white-space: nowrap;
    font-size: 0.8rem;
    font-family: Inter, 'Source Sans Pro';
    box-sizing: border-box;
    width: 4.9rem;
    position: absolute;
    top: 39.4rem;
    color: #5e72e4;
    border: solid 0.05rem #5e72e4;
    display: flex;
    justify-content: center;
    font-weight: 400;
    align-items: center;
    line-height: 2;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1000000015);
  }
  .group-108-DH8 {
    align-items: center;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1000000015);
    width: 5.9rem;
    top: 39.4rem;
    display: flex;
    left: 86.6rem;
    font-family: Inter, 'Source Sans Pro';
    border: solid 0.05rem #9aec9e;
    box-sizing: border-box;
    background-color: #ffffff;
    height: 1.8rem;
    position: absolute;
    color: #9aec9e;
    line-height: 2;
    white-space: nowrap;
    border-radius: 4.5rem;
    justify-content: center;
    font-size: 0.8rem;
    font-weight: 400;
  }
  .group-109-Exv {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    left: 93.3rem;
    line-height: 2;
    color: #d1aff8;
    align-items: center;
    font-weight: 400;
    border: solid 0.05rem #d1aff6;
    width: 4.3rem;
    height: 1.8rem;
    top: 39.4rem;
    white-space: nowrap;
    background-color: #ffffff;
    border-radius: 4.5rem;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1000000015);
    position: absolute;
    font-size: 0.8rem;
    font-family: Inter, 'Source Sans Pro';
  }
  .group-110-sW6 {
    width: 5.1rem;
    height: 1.8rem;
    position: absolute;
    left: 80.9rem;
    top: 42.3rem;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1000000015);
    border-radius: 4.5rem;

    .buttonbg-CYN {
      height: 1.8rem;
      background-color: #ffffff;
      border-radius: 4.5rem;
      width: 5rem;
      position: absolute;
      left: 0;
      top: 0;
      border: solid 0.05rem #ffc3a8;
      box-sizing: border-box;
    }
    .perception-iWi {
      justify-content: center;
      font-size: 0.8rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 4.1rem;
      align-items: center;
      line-height: 2;
      left: 0.5rem;
      top: 0.15rem;
      display: flex;
      color: #ffc3a8;
      height: 1.6rem;
      position: absolute;
      font-weight: 400;
    }
  }
  .group-105-i9L {
    font-weight: 400;
    font-family: Inter, 'Source Sans Pro';
    box-sizing: border-box;
    top: 42.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 4.5rem;
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1000000015);
    position: absolute;
    left: 86.8rem;
    font-size: 0.8rem;
    line-height: 2;
    color: #ff4f4f;
    height: 1.8rem;
    border: solid 0.05rem #ff4f4f;
    background-color: rgba(255, 80, 80, 0.200000003);
    width: 6.3rem;
  }
  .group-111-Wqt {
    width: 5.3rem;
    top: 42.3rem;
    font-weight: 400;
    font-family: Inter, 'Source Sans Pro';
    box-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.1000000015);
    position: absolute;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    align-items: center;
    color: #853ad1;
    border: solid 0.05rem #8539d1;
    box-sizing: border-box;
    background-color: rgba(133, 58, 209, 0.200000003);
    height: 1.8rem;
    left: 93.9rem;
    line-height: 2;
    white-space: nowrap;
    border-radius: 4.5rem;
  }
  .paul-e-dux-ren-marois-9P4 {
    width: 12.7rem;
    top: 30.8rem;
    color: #b0b0b0;
    font-family: Inter, 'Source Sans Pro';
    font-weight: 500;
    line-height: 1.2125;
    white-space: nowrap;
    height: 1.3rem;
    position: absolute;
    left: 54.6rem;
    font-size: 1rem;
  }
  .the-attentional-blink-a-review-of-data-and-theory-dp2 {
    position: absolute;
    top: 27.4rem;
    font-size: 1.2rem;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 16rem;
    height: 3rem;
    line-height: 1.2125;
    left: 54.6rem;
    font-weight: 600;
  }
  .rectangle-4159-8Vt {
    cursor: pointer;
    position: absolute;
    left: 91.8rem;
    top: 56.2rem;
    background-color: #1656c1;
    border-radius: 0.4rem;
    width: 6.8rem;
    height: 2.8rem;
  }
  .done-FKc {
    height: 1.7rem;
    left: 93.4rem;
    width: 3.6rem;
    top: 56.8rem;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.2125;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
  }
}
