
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.item--oNn {
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 83.2rem;
  position: relative;

  .backgrounds-Kc2 {
    width: 128.1rem;
    height: 83.2rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #f5f5f5;

    .background2-white-2WS {
      box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.0799999982);
      background-color: #ffffff;
      width: 128.1rem;
      height: 10.5rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .background2-white-jQr {
      background-color: #ffffff;
      width: 25.2rem;
      height: 83.2rem;
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: 0.4rem 0 1rem rgba(0, 0, 0, 0.0799999982);
    }
    .dashboard-Sq4 {
      display: flex;
      align-items: center;
      width: 10.5rem;
      height: 2rem;
      position: absolute;
      left: 3.2rem;
      top: 12.7rem;

      .vuesax-linear-element-2-Nii {
        margin-right: 1.2rem;
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .dashboard-VYS {
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #1656c1;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
    }
    .folder-cd4 {
      width: 7.4rem;
      height: 2rem;
      position: absolute;
      left: 3.2rem;
      top: 17.3rem;
      display: flex;
      align-items: center;

      .folder-Lox {
        margin-right: 1.2rem;
        width: 2rem;
        height: 2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .folder-HUJ {
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.4rem;
        font-weight: 400;
      }
    }
    .settings-d2N {
      position: absolute;
      left: 3.2rem;
      top: 70.1rem;
      display: flex;
      align-items: center;
      width: 8.7rem;
      height: 2rem;

      .vuesax-linear-setting-2-A2J {
        flex-shrink: 0;
        margin-right: 1.2rem;
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
      }
      .settings-Hsc {
        margin-top: 0.1rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .help-1oc {
      height: 1.7rem;
      position: absolute;
      left: 3.4rem;
      top: 65.9rem;
      display: flex;
      align-items: flex-end;
      width: 6.1rem;

      .vuesax-linear-message-question-9Q2 {
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 1.333rem 0.006rem 0rem;
        width: 1.6667rem;
        height: 1.5941rem;
        object-fit: contain;
      }
      .help-era {
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .log-out-nxn {
      align-items: center;
      width: 8.5rem;
      height: 2rem;
      position: absolute;
      left: 3.2rem;
      top: 74.6rem;
      display: flex;

      .logout-vp6 {
        margin-right: 1.2rem;
        width: 2rem;
        height: 2rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .log-out-fmg {
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.1rem;
        font-size: 1.4rem;
        font-weight: 400;
      }
    }
    .recent-cB8 {
      align-items: center;
      width: 7.9rem;
      height: 2rem;
      position: absolute;
      left: 3.2rem;
      top: 21.9rem;
      display: flex;

      .auto-group-mj8r-YKg {
        margin-right: 1.2rem;
        width: 2rem;
        height: 2rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .recent-5aW {
        margin-top: 0.1rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .favorite-caS {
      align-items: center;
      width: 8.4333rem;
      height: 1.7269rem;
      position: absolute;
      left: 3.2rem;
      top: 26.5rem;
      display: flex;

      .star-j9G {
        margin: 0rem 1.366rem 0.074rem 0rem;
        width: 1.6668rem;
        height: 1.6532rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .favorite-FtJ {
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.0269rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
      }
    }
    .trash-PDp {
      width: 6.6833rem;
      height: 1.7064rem;
      position: absolute;
      left: 3.2rem;
      top: 30.8rem;
      display: flex;
      align-items: center;

      .star-uCA {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0.04rem 1.483rem 0rem 0rem;
        width: 1.5rem;
        height: 1.6666rem;
      }
      .trash-pa2 {
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.0064rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
      }
    }
    .highlight-ZGi {
      width: 0.4rem;
      height: 3.3rem;
      position: absolute;
      left: 0;
      top: 12rem;
      background-color: #1656c1;
      border-radius: 0.1rem;
    }
    .search-VAN {
      height: 4.3rem;
      top: 3.1rem;
      background-color: #f8f8f8;
      border-radius: 0.4rem;
      box-sizing: border-box;
      padding: 0.9rem 24.5rem 1rem 0.7rem;
      width: 35.5rem;
      position: absolute;
      left: 56.7rem;
      display: flex;
      align-items: center;

      .vuesax-linear-search-normal-ahc {
        margin-right: 2.9rem;
        width: 2.4rem;
        height: 2.4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .search-vFg {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-top: 0.1rem;
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #c9c9c9;
      }
    }
    .dashboard-qtS {
      left: 28.6rem;
      top: 4.1rem;
      font-weight: 700;
      line-height: 1.2125;
      white-space: nowrap;
      width: 9.7rem;
      position: absolute;
      font-size: 1.8rem;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      height: 2.2rem;
    }
    .quick-access-YXx {
      left: 28.6rem;
      top: 13.6rem;
      font-size: 1.4rem;
      font-weight: 700;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 9.4rem;
      height: 1.7rem;
      position: absolute;
      color: #000000;
      white-space: nowrap;
    }
    .recently-opened-files-qX4 {
      top: 30.7rem;
      font-size: 1.4rem;
      font-weight: 700;
      white-space: nowrap;
      position: absolute;
      left: 28.6rem;
      line-height: 1.2125;
      color: #000000;
      font-family: Inter, 'Source Sans Pro';
      width: 15.3rem;
      height: 1.7rem;
    }
    .user-wa6 {
      left: 110.9rem;
      top: 2.9rem;
      display: flex;
      align-items: center;
      width: 14.0333rem;
      height: 4.6667rem;
      position: absolute;

      .vuesax-linear-profile-circle-4ei {
        margin-right: 1.9667rem;
        width: 4.6667rem;
        height: 4.6667rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .user-name-asx {
        margin-top: 0.2333rem;
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
    }
    .upload-ijG {
      box-sizing: border-box;
      height: 3.9rem;
      position: absolute;
      left: 2.2rem;
      padding: 1.1rem 5rem 1.1rem 4.9rem;
      width: 19.2rem;
      top: 35.1rem;
      background-color: #1656c1;
      border-radius: 0.4rem;

      .group-66-ESi {
        height: 100%;
        display: flex;
        align-items: center;
        width: 100%;

        .vuesax-linear-element-plus-zRt {
          margin: 0.1rem 0.8rem 0rem 0rem;
          width: 1rem;
          height: 1rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
        .upload-file-uok {
          font-size: 1.4rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #ffffff;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
      }
    }
    .files-djk {
      width: 64.5rem;
      position: absolute;
      left: 28.6rem;
      column-gap: 1.9rem;
      box-shadow: 0.4rem 0.4rem 0.4rem rgba(0, 0, 0, 0.0500000007);
      height: 11.6rem;
      top: 16.5rem;
      display: flex;
      align-items: center;

      .file-Mve {
        width: 14.7rem;
        height: 100%;
        background-color: #ffffff;
        border-radius: 0.6rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.5rem 0.9rem 1rem 0.9rem;

        .auto-group-m3hx-tQn {
          margin-bottom: 1.1rem;
          width: 100%;
          display: flex;
          align-items: flex-start;

          .auto-group-kbux-2G6 {
            margin: 0.5rem 6.3rem 0rem 0rem;
            box-sizing: border-box;
            padding: 1rem 1.1rem 1.1rem 1rem;
            background-color: rgba(196, 217, 252, 0.5);
            border-radius: 0.6rem;
            flex-shrink: 0;

            .vuesax-linear-folder-KW6 {
              width: 3.2rem;
              height: 3.2rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .item--2vJ {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .hci-ZfL {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.4rem;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.2125;
        }
        .mb-20-jul-2023-uUJ {
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
      .file-DUz {
        width: 14.7rem;
        height: 100%;
        background-color: #ffffff;
        border-radius: 0.6rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.5rem 0.9rem 1rem 0.9rem;

        .auto-group-npfl-kUv {
          width: 100%;
          display: flex;
          align-items: flex-start;
          margin-bottom: 1.1rem;

          .auto-group-o7h8-Tne {
            background-color: #ffe5e5;
            border-radius: 0.6rem;
            flex-shrink: 0;
            margin: 0.5rem 6.3rem 0rem 0rem;
            box-sizing: border-box;
            padding: 1rem 1.1rem 1.1rem 1rem;

            .vuesax-linear-folder-8Nz {
              vertical-align: top;
              width: 3.2rem;
              height: 3.2rem;
              object-fit: contain;
            }
          }
          .item--ecE {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .folder-name-akn {
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          margin-bottom: 0.4rem;
          font-size: 1.2rem;
        }
        .mb-20-jul-2023-KCa {
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1rem;
        }
      }
      .file-dUA {
        background-color: #ffffff;
        border-radius: 0.6rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.5rem 0.9rem 1rem 0.9rem;
        width: 14.7rem;
        height: 100%;

        .auto-group-7mrn-kHt {
          align-items: flex-start;
          margin-bottom: 1.1rem;
          width: 100%;
          display: flex;

          .auto-group-bis2-HYi {
            margin: 0.5rem 6.3rem 0rem 0rem;
            box-sizing: border-box;
            padding: 1rem 1.1rem 1.1rem 1rem;
            background-color: #e9ffe5;
            border-radius: 0.6rem;
            flex-shrink: 0;

            .vuesax-linear-folder-zxv {
              width: 3.2rem;
              height: 3.2rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .item--8JS {
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
          }
        }
        .folder-name-fJN {
          white-space: nowrap;
          margin-bottom: 0.4rem;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .mb-20-jul-2023-bxi {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.2125;
        }
      }
      .file-vk6 {
        height: 100%;
        background-color: #ffffff;
        border-radius: 0.6rem;
        flex-shrink: 0;
        box-sizing: border-box;
        padding: 0.5rem 0.9rem 1rem 0.9rem;
        width: 14.7rem;

        .auto-group-6nwa-FnN {
          width: 100%;
          display: flex;
          align-items: flex-start;
          margin-bottom: 1.1rem;

          .auto-group-3vhc-o3C {
            flex-shrink: 0;
            margin: 0.5rem 6.3rem 0rem 0rem;
            box-sizing: border-box;
            padding: 1rem 1.1rem 1.1rem 1rem;
            background-color: rgba(196, 217, 252, 0.5);
            border-radius: 0.6rem;

            .vuesax-linear-folder-62J {
              width: 3.2rem;
              height: 3.2rem;
              object-fit: contain;
              vertical-align: top;
            }
          }
          .item--Q2z {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1.4rem;
            font-weight: 700;
            line-height: 1.2125;
          }
        }
        .folder-name-7xz {
          white-space: nowrap;
          margin-bottom: 0.4rem;
          font-size: 1.2rem;
          font-weight: 600;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .mb-20-jul-2023-3bk {
          font-size: 1rem;
          font-weight: 300;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
        }
      }
    }
  }
  .recent-files-VTk {
    top: 33.7rem;
    background-color: #ffffff;
    border-radius: 1.2rem;
    width: 64.5rem;
    height: 52.4rem;
    position: absolute;
    left: 28.6rem;

    .auto-group-dsaj-Cd4 {
      position: absolute;
      left: 1.4rem;
      top: 5.3rem;
      display: flex;
      align-items: center;
      width: 60.6rem;
      height: 3.3rem;

      .group-68-7EE {
        width: 3.3rem;
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
      }
      .design-systempdf-qAE {
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 8.6rem 0rem 0rem;
        font-size: 1.1rem;
        font-weight: 600;
      }
      .albert-flores-knz {
        flex-shrink: 0;
        margin: 0.2rem 8.6rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .may-2023-ssc {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 9.7rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
      }
      .mb-zxE {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 1.8rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
      }
      .item--Wva {
        font-weight: 600;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        display: flex;
        font-size: 1rem;
        line-height: 1.2125;
        letter-spacing: 0.3rem;
      }
    }
    .auto-group-hegn-Rne {
      top: 10.1rem;
      display: flex;
      align-items: center;
      width: 60.6rem;
      height: 3.3rem;
      position: absolute;
      left: 1.4rem;

      .group-67-9Cr {
        margin-right: 0.7rem;
        width: 3.3rem;
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .through-the-valley-of--VGi {
        margin: 0.1rem 6rem 0rem 0rem;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .arlene-mccoy-bae {
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 8rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
      }
      .may-2023-7ot {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 9.7rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
      }
      .kb-eJ2 {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 2.5rem 0rem 0rem;
      }
      .item--Zvn {
        white-space: nowrap;
        margin-bottom: 0.5rem;
        display: flex;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.3rem;
        color: #000000;
      }
    }
    .auto-group-p2gv-6fp {
      left: 1.4rem;
      top: 14.9rem;
      display: flex;
      align-items: center;
      width: 60.6rem;
      height: 3.3rem;
      position: absolute;

      .group-70-23g {
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 3.3rem;
      }
      .gender-bias-as-evidenced-N7Y {
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 3.7rem 0rem 0rem;
      }
      .annette-black-URU {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 8.1rem 0rem 0rem;
      }
      .may-2023-c1t {
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 9.7rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
      }
      .kb-91p {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 2.4rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
      }
      .item--g1k {
        display: flex;
        font-weight: 600;
        line-height: 1.2125;
        letter-spacing: 0.3rem;
        color: #000000;
        white-space: nowrap;
        margin-bottom: 0.5rem;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        font-size: 1rem;
      }
    }
    .auto-group-pdgi-o6N {
      height: 3.3rem;
      position: absolute;
      left: 1.4rem;
      top: 19.7rem;
      display: flex;
      align-items: center;
      width: 60.6rem;

      .group-69-uQJ {
        width: 3.3rem;
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
      }
      .physician-communicationdocx-8H4 {
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 1.9rem 0rem 0rem;
      }
      .minje-kim-SHk {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 10.1rem 0rem 0rem;
      }
      .may-2023-y2n {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 9.8rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
      }
      .kb-hUa {
        flex-shrink: 0;
        margin: 0.2rem 2.3rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .item--EDc {
        font-size: 1rem;
        font-weight: 600;
        letter-spacing: 0.3rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        display: flex;
        line-height: 1.2125;
        color: #000000;
      }
    }
    .auto-group-kdae-khk {
      left: 1.4rem;
      top: 24.5rem;
      display: flex;
      align-items: center;
      width: 60.6rem;
      height: 3.3rem;
      position: absolute;

      .group-71-Ute {
        margin-right: 0.7rem;
        width: 3.3rem;
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .characteristics-of-modern-EN2 {
        flex-shrink: 0;
        margin: 0.1rem 3.8rem 0rem 0rem;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .kunhee-ryu-MBk {
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 9.1rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
      }
      .may-2023-ewY {
        margin: 0.2rem 9.8rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .mb-nH4 {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 2.7rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
      }
      .item--7KL {
        color: #000000;
        white-space: nowrap;
        flex-shrink: 0;
        font-weight: 600;
        letter-spacing: 0.3rem;
        font-size: 1rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        margin-bottom: 0.5rem;
        display: flex;
      }
    }
    .auto-group-4sna-2SJ {
      display: flex;
      align-items: center;
      width: 60.6rem;
      height: 3.3rem;
      position: absolute;
      left: 1.4rem;
      top: 29.3rem;

      .group-72-Lxn {
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
        width: 3.3rem;
      }
      .e-learning-versus-social-5Qa {
        flex-shrink: 0;
        margin: 0.1rem 4.4rem 0rem 0rem;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .bee-shin-nZt {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 10.6rem 0rem 0rem;
      }
      .may-2023-76N {
        flex-shrink: 0;
        margin: 0.2rem 9.8rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .kb-ERt {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 2.5rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
      }
      .item--ZDG {
        font-weight: 600;
        letter-spacing: 0.3rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        font-size: 1rem;
        line-height: 1.2125;
        display: flex;
      }
    }
    .auto-group-qhhq-5SW {
      width: 60.6rem;
      height: 3.3rem;
      position: absolute;
      left: 1.4rem;
      top: 34.1rem;
      display: flex;
      align-items: center;

      .auto-group-a8op-o7c {
        width: 3.3rem;
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin-right: 0.7rem;
      }
      .great-depressiondocx-jX4 {
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 6.5rem 0rem 0rem;
        font-size: 1.1rem;
      }
      .jongyoon-jung-3ne {
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 7.4rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
      }
      .may-2023-Na2 {
        flex-shrink: 0;
        margin: 0.2rem 9.9rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .kb-tYN {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 2rem 0rem 0rem;
      }
      .item--cUN {
        letter-spacing: 0.3rem;
        flex-shrink: 0;
        margin-bottom: 0.5rem;
        font-weight: 600;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        display: flex;
        font-size: 1rem;
        color: #000000;
      }
    }
    .auto-group-7f7k-XrE {
      width: 60.6rem;
      height: 3.3rem;
      position: absolute;
      left: 1.4rem;
      top: 38.9rem;
      display: flex;
      align-items: center;

      .auto-group-yix8-eR4 {
        margin-right: 0.7rem;
        width: 3.3rem;
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .elasticity-the-impact-of-job-nGN {
        font-weight: 600;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 2.6rem 0rem 0rem;
        font-size: 1.1rem;
      }
      .seonghui-yoon-Hiv {
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 7.6rem 0rem 0rem;
      }
      .may-2023-R4S {
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 9.9rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
      }
      .kb-8zS {
        margin: 0.2rem 2.3rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .item--sBL {
        color: #000000;
        white-space: nowrap;
        margin-bottom: 0.5rem;
        display: flex;
        font-size: 1rem;
        font-weight: 600;
        line-height: 1.2125;
        letter-spacing: 0.3rem;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
      }
    }
    .auto-group-dg1c-bNE {
      width: 55.6rem;
      height: 1.5rem;
      position: absolute;
      left: 1.4rem;
      top: 1.3rem;
      display: flex;
      align-items: center;

      .file-name-iBx {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 16.4rem;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
      }
      .author-Ste {
        font-weight: 500;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 9.7rem;
        font-size: 1.2rem;
      }
      .date-PYz {
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 12.4rem;
        font-size: 1.2rem;
        font-weight: 500;
      }
      .size-KhY {
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 1.2rem;
        font-weight: 500;
        line-height: 1.2125;
      }
    }
    .auto-group-y2xp-Gcn {
      width: 60.6rem;
      height: 3.3rem;
      position: absolute;
      left: 1.4rem;
      top: 43.7rem;
      display: flex;
      align-items: center;

      .group-76-CFY {
        margin-right: 0.7rem;
        width: 3.3rem;
        height: 3.3rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .the-evolution-of-administra-Xoc {
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.1rem 3rem 0rem 0rem;
        font-size: 1.1rem;
        font-weight: 600;
        line-height: 1.2125;
      }
      .albert-flores-FUi {
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 8.6rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
      }
      .april-2023-yfc {
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 8.9rem 0rem 0rem;
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.2125;
      }
      .mb-Jht {
        font-weight: 500;
        line-height: 1.2125;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.2rem 2.2rem 0rem 0rem;
        font-size: 1rem;
      }
      .item--qhp {
        font-size: 1rem;
        line-height: 1.2125;
        white-space: nowrap;
        flex-shrink: 0;
        display: flex;
        font-weight: 600;
        letter-spacing: 0.3rem;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        margin-bottom: 0.5rem;
      }
    }
  }
  .rectangle-4136-9yQ {
    width: 129.9rem;
    height: 85rem;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(74, 73, 73, 0.5);
  }
  .item-2023-05-04-107-6Nr {
    width: 70.2rem;
    height: 42.7042rem;
    position: absolute;
    left: 31.2rem;
    top: 18.7rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.8rem;
  }
  .aissistant-YVk {
    height: 1.8rem;
    left: 7.3rem;
    top: 4.2rem;
    font-weight: 700;
    line-height: 1.2575;
    color: #1656c1;
    width: 6.1rem;
    font-size: 1.4rem;
    font-family: Verdana, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
  }
  .item--S5L {
    top: 2.7rem;
    object-fit: cover;
    vertical-align: top;
    width: 4.7rem;
    height: 4.7rem;
    position: absolute;
    left: 2.6rem;
  }
}
