
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.item--prJ {
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 83.2rem;
  position: relative;

  .rectangle-4117-KHG {
    background-color: #f8f7f6;
    border-radius: 1.7rem;
    width: 25.8rem;
    height: 5.1rem;
    position: absolute;
    left: 74.6rem;
    top: 1.2rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  }
  .group-79-c1U {
    left: 0;
    top: 0;
    width: 162.8rem;
    height: 148.9rem;
    position: absolute;

    .expanddownlight-g1L {
      object-fit: contain;
      vertical-align: top;
      width: 0.85rem;
      height: 1.55rem;
      position: absolute;
      left: 69.2625rem;
      top: 1.8948rem;
    }
    .rectangle-4116-oLr {
      height: 5.1rem;
      position: absolute;
      left: 23.1rem;
      top: 1.2rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #f8f7f6;
      border-radius: 1.7rem;
      width: 25.8rem;
    }
    .closeround-J2i {
      width: 0.75rem;
      height: 0.75rem;
      position: absolute;
      left: 45.975rem;
      top: 3.075rem;
      object-fit: contain;
      vertical-align: top;
    }
    .closeround-q2e {
      object-fit: contain;
      vertical-align: top;
      width: 0.75rem;
      height: 0.75rem;
      position: absolute;
      left: 97.475rem;
      top: 3.075rem;
    }
    .dux2009-Aqc {
      font-weight: 500;
      line-height: 1.2125;
      color: #5e5c5c;
      white-space: nowrap;
      left: 32.1rem;
      font-size: 1.5rem;
      position: absolute;
      top: 2.4rem;
      font-family: Inter, 'Source Sans Pro';
      width: 7.4rem;
      height: 1.9rem;
    }
    .note-1-GNr {
      left: 85.2rem;
      font-size: 1.5rem;
      font-weight: 500;
      width: 4.6rem;
      position: absolute;
      line-height: 1.2125;
      color: #5e5c5c;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.9rem;
      top: 2.4rem;
    }
    .add-NRt {
      height: 1.9rem;
      position: absolute;
      top: 2.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #918f8f;
      font-family: Inter, 'Source Sans Pro';
      width: 3.3rem;
      left: 53.4rem;
      font-size: 1.5rem;
      white-space: nowrap;
    }
    .search-HYr {
      left: 14.9667rem;
      top: 1.8667rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.8667rem;
      height: 1.8667rem;
      position: absolute;
    }
    .translate-3-DxJ {
      object-fit: contain;
      vertical-align: top;
      width: 2.2917rem;
      height: 2.2917rem;
      position: absolute;
      left: 18.6042rem;
      top: 1.6042rem;
    }
    .line-5-MYi {
      width: 6.1rem;
      height: 0.1rem;
      position: absolute;
      left: 37.4rem;
      top: 8.2rem;
      background-color: #918f8f;
    }
    .mouse-pointer-3-sX4 {
      top: 5.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.7618rem;
      height: 2.4221rem;
      position: absolute;
      left: 15rem;
    }
    .rectangle-4120-zra {
      top: 0;
      background-color: #ffffff;
      width: 60.7rem;
      height: 5.2rem;
      position: absolute;
      left: 6.5rem;
    }
    .rectangle-4128-7wC {
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 60.8rem;
      height: 9.3rem;
      position: absolute;
      left: 67.2rem;
    }
    .rectangle-4121-fC2 {
      width: 60.7rem;
      height: 5.2rem;
      position: absolute;
      left: 67.2rem;
      top: 0;
      background-color: #ffffff;
    }
    .item-2023-05-03-959-4-oZ8 {
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 1.2rem;
      object-fit: cover;
      vertical-align: top;
      width: 106.6rem;
      height: 147.6rem;
    }
    .rectangle-4123-g78 {
      left: 74.6rem;
      top: 1.2rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #1656c1;
      border-radius: 1.7rem;
      width: 25.8rem;
      height: 5.1rem;
      position: absolute;
    }
    .expanddownlight-muG {
      vertical-align: top;
      width: 0.85rem;
      height: 1.55rem;
      position: absolute;
      left: 69.2625rem;
      top: 1.8948rem;
      object-fit: contain;
    }
    .rectangle-4122-uka {
      left: 23.1rem;
      top: 1.2rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #1656c1;
      border-radius: 1.7rem;
      width: 25.8rem;
      height: 5.1rem;
      position: absolute;
    }
    .closeround-2KQ {
      position: absolute;
      left: 45.975rem;
      top: 3.075rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.75rem;
      height: 0.75rem;
    }
    .closeround-mGz {
      object-fit: contain;
      vertical-align: top;
      width: 0.75rem;
      height: 0.75rem;
      position: absolute;
      left: 97.475rem;
      top: 3.075rem;
    }
    .rectangle-4128-WEa {
      position: absolute;
      left: 6.5rem;
      top: 5.2rem;
      background-color: #f5f5f5;
      width: 60.7rem;
      height: 4rem;
    }
    .the-attention-blink--EgN {
      color: #ffffff;
      height: 1.9rem;
      position: absolute;
      left: 28.3rem;
      top: 2.4rem;
      font-size: 1.5rem;
      width: 15.4rem;
      font-weight: 500;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .rectangle-4113-x6a {
      width: 6.5rem;
      height: 83.2rem;
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #f5f5f5;
    }
    .note-1-Gd4 {
      font-weight: 500;
      color: #ffffff;
      width: 4.6rem;
      top: 2.4rem;
      left: 85.2rem;
      font-size: 1.5rem;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.9rem;
      position: absolute;
    }
    .vuesax-linear-setting-2-zJA {
      object-fit: contain;
      vertical-align: top;
      width: 3.8rem;
      height: 3.8rem;
      position: absolute;
      left: 1.6rem;
      top: 71.4rem;
    }
    .add-uR8 {
      height: 1.9rem;
      position: absolute;
      color: #b0b0b0;
      white-space: nowrap;
      width: 3.3rem;
      left: 53.4rem;
      top: 2.2rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
    }
    .search-R8a {
      object-fit: contain;
      vertical-align: top;
      width: 1.8667rem;
      height: 1.8667rem;
      position: absolute;
      left: 14.9667rem;
      top: 1.8667rem;
    }
    .expanddownlight-M2E {
      top: 2.0552rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.85rem;
      height: 1.55rem;
      position: absolute;
      left: 8.7875rem;
    }
    .item-515-tH4 {
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #5e5c5c;
      font-family: Inter, 'Source Sans Pro';
      height: 1.5rem;
      position: absolute;
      top: 6.4rem;
      width: 3.3rem;
      left: 37.7rem;
      white-space: nowrap;
    }
    .ellipse-72-bBU {
      position: absolute;
      left: 34.3rem;
      top: 6.4rem;
      border: solid 0.1rem #5e5c5c;
      background-color: rgba(0, 0, 0, 0);
      width: 1.8rem;
      height: 1.8rem;
      box-sizing: border-box;
      border-radius: 0.9rem;
    }
    .highlighter-5-hEW {
      left: 18.5rem;
      top: 5.6rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.5259rem;
      height: 2.8259rem;
      position: absolute;
    }
    .format-textbox-4-EES {
      left: 25.6rem;
      top: 5.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.4rem;
      height: 2.4rem;
      position: absolute;
    }
    .line-6-Z1p {
      width: 6.1rem;
      height: 0.1rem;
      position: absolute;
      left: 37.4rem;
      top: 8.2rem;
      background-color: #918f8f;
    }
    .mouse-pointer-4-5kr {
      top: 5.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.7618rem;
      height: 2.4221rem;
      position: absolute;
      left: 15rem;
    }
    .group-113-DcA {
      width: 1.8rem;
      height: 1.8rem;
      position: absolute;
      left: 31.6rem;
      top: 6.4rem;
      object-fit: contain;
      vertical-align: top;
    }
    .group-78-kc6 {
      vertical-align: top;
      width: 1rem;
      height: 1rem;
      position: absolute;
      left: 34.7rem;
      top: 6.8rem;
      object-fit: contain;
    }
    .polygon-4-tTQ {
      border-radius: 0.05rem;
      width: 0.8rem;
      height: 0.7rem;
      position: absolute;
      left: 42.2rem;
      top: 6.8rem;
      object-fit: contain;
      vertical-align: top;
    }
    .rectangle-4125-1nv {
      position: absolute;
      left: 65.9rem;
      top: 9.7rem;
      background-color: #918f8f;
      border-radius: 1rem;
      width: 0.8rem;
      height: 14.4rem;
    }
    .filedockduotone-M66 {
      left: 50.9208rem;
      top: 2.1125rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.4583rem;
      height: 1.875rem;
      position: absolute;
    }
    .rectangle-4128-UAi {
      left: 67.2rem;
      top: 5.2rem;
      background-color: #f5f5f5;
      width: 60.8rem;
      height: 4rem;
      position: absolute;
    }
    .add-1RY {
      position: absolute;
      left: 105.1rem;
      color: #918f8f;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 3.3rem;
      height: 1.9rem;
      top: 2.1rem;
    }
    .filedockduotone-vYW {
      width: 1.4583rem;
      height: 1.875rem;
      position: absolute;
      left: 102.6208rem;
      top: 2.0125rem;
      object-fit: contain;
      vertical-align: top;
    }
    .tutorial-rh4 {
      white-space: nowrap;
      height: 1.6rem;
      left: 60.3rem;
      top: 6.4rem;
      font-weight: 400;
      color: #918f8f;
      font-family: Inter, 'Source Sans Pro';
      width: 4.6rem;
      position: absolute;
      font-size: 1.3rem;
      line-height: 1.2125;
    }
    .questionfill-aNA {
      width: 1.425rem;
      height: 1.425rem;
      position: absolute;
      left: 58.6375rem;
      top: 6.4375rem;
      object-fit: contain;
      vertical-align: top;
    }
    .imgbox-WWi {
      position: absolute;
      left: 22.25rem;
      top: 6.05rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.1rem;
      height: 2.1rem;
    }
    .rectangle-4126-3We {
      top: 8.9rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #f5f5f5;
      width: 60.5rem;
      height: 74.3rem;
      position: absolute;
      left: 67.2rem;
    }
    .back-xdc {
      object-fit: contain;
      vertical-align: top;
      width: 2.2rem;
      height: 1.8rem;
      position: absolute;
      left: 80.9rem;
      top: 6.9rem;
    }
    .vector-273-VtS {
      width: 2.2rem;
      height: 1.8rem;
      position: absolute;
      left: 84.8rem;
      top: 6.9rem;
      object-fit: contain;
      vertical-align: top;
    }
    .polygon-5-Er2 {
      border-radius: 0.1rem;
      width: 1.1rem;
      height: 1rem;
      position: absolute;
      left: 98.1rem;
      top: 7.5rem;
      object-fit: contain;
      vertical-align: top;
    }
    .heading-Z7c {
      width: 6rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      top: 7.1rem;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.2125;
      color: #5e5c5c;
      height: 1.9rem;
      position: absolute;
      left: 91.3rem;
    }
    .meatballsmenu-GXp {
      left: 120.6rem;
      top: 7.5rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.4rem;
      height: 0.2rem;
      position: absolute;
    }
    .polygon-6-CgN {
      border-radius: 0.1rem;
      width: 1.1rem;
      height: 1rem;
      position: absolute;
      left: 116.7rem;
      top: 7.1rem;
      object-fit: contain;
      vertical-align: top;
    }
    .sortalfalight-iuc {
      height: 2.0542rem;
      position: absolute;
      left: 115.025rem;
      top: 6.5625rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.45rem;
    }
    .u-eHU {
      color: #5e5c5c;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 3rem;
      left: 111.5rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2125;
      width: 1.8rem;
      position: absolute;
      top: 6.3rem;
    }
    .i-krJ {
      color: #5e5c5c;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      left: 108.9rem;
      font-weight: 400;
      position: absolute;
      top: 6.3rem;
      font-size: 2.4rem;
      line-height: 1.2125;
      font-style: italic;
      width: 0.7rem;
      height: 3rem;
    }
    .b-Gpe {
      font-size: 2.4rem;
      color: #5e5c5c;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      top: 6.3rem;
      font-weight: 700;
      line-height: 1.2125;
      width: 1.6rem;
      height: 3rem;
      position: absolute;
      left: 105.4rem;
    }
    .line-7-zke {
      width: 0.1rem;
      height: 2.2rem;
      position: absolute;
      left: 88.7rem;
      top: 6.9rem;
      background-color: #bcbcbc;
    }
    .line-8-wQz {
      width: 0.1rem;
      height: 2.2rem;
      position: absolute;
      left: 100.9rem;
      top: 6.8rem;
      background-color: #bcbcbc;
    }
    .group-90-gNa {
      position: absolute;
      left: 1.1rem;
      top: 2rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 4.7rem;
      height: 78.1rem;

      .user-bkS {
        margin: 0rem 0.1rem 2.4rem 0rem;
        width: 4rem;
        height: 4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .dashboard-KwL {
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
        margin: 0rem 0.3rem 0.3rem 0rem;
        width: 3rem;
        height: 3rem;
      }
      .dashboard-4e2 {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.4125rem;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #b0b0b0;
      }
      .bookmarkfill-acN {
        flex-shrink: 0;
        margin: 0rem 0.2rem 0.5rem 0rem;
        width: 2.2rem;
        height: 2.3879rem;
        object-fit: contain;
        vertical-align: top;
      }
      .contents-76W {
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 58.5rem;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.2125;
      }
      .logout-3Vx {
        vertical-align: top;
        flex-shrink: 0;
        margin-left: 0.1rem;
        width: 3.4rem;
        height: 3.4rem;
        position: relative;
        object-fit: contain;
      }
    }
    .ellipse-209-zAJ {
      left: 115.7rem;
      top: 71.9rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #1656c1;
      border-radius: 3.6rem;
      width: 7.2rem;
      height: 7.2rem;
      position: absolute;
    }
    .chatalt3duotone-JAz {
      vertical-align: top;
      width: 4.6rem;
      height: 4.6rem;
      position: absolute;
      left: 117rem;
      top: 73.2rem;
      object-fit: contain;
    }
    .item-2023-06-02-212-1-dDG {
      width: 2.8rem;
      height: 2.7rem;
      position: absolute;
      left: 17.9rem;
      top: 1.5rem;
      object-fit: cover;
      vertical-align: top;
    }
  }
}
