
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.item--3Ya {
  width: 100%;
  height: 83.2rem;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;

  .group-79-L1t {
    position: absolute;
    left: 1.6rem;
    top: 1.2rem;
    width: 102.4792rem;
    height: 74rem;

    .auto-group-heaj-2fQ {
      vertical-align: top;
      width: 0.85rem;
      height: 1.55rem;
      position: absolute;
      left: 67.6625rem;
      top: 0.6948rem;
      object-fit: contain;
    }
    .auto-group-gwbc-jJv {
      width: 25.8rem;
      height: 5.1rem;
      position: absolute;
      left: 21.5rem;
      top: 0;

      .closeround-ewg {
        width: 0.75rem;
        height: 0.75rem;
        position: absolute;
        left: 22.875rem;
        top: 1.875rem;
        object-fit: contain;
        vertical-align: top;
      }
      .rectangle-4122-Zok {
        left: 0;
        top: 0;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #1656c1;
        border-radius: 1.7rem;
        width: 25.8rem;
        height: 5.1rem;
        position: absolute;
      }
      .closeround-4kW {
        height: 0.75rem;
        position: absolute;
        left: 22.875rem;
        top: 1.875rem;
        object-fit: contain;
        vertical-align: top;
        width: 0.75rem;
      }
      .the-attention-blink--oTC {
        left: 5.2rem;
        top: 1.3rem;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        width: 15.4rem;
        position: absolute;
        color: #ffffff;
        white-space: nowrap;
        height: 1.9rem;
      }
    }
    .auto-group-rnai-UZL {
      top: 0;
      width: 25.8rem;
      height: 5.1rem;
      position: absolute;
      left: 73rem;

      .closeround-13U {
        width: 0.75rem;
        height: 0.75rem;
        position: absolute;
        left: 22.875rem;
        top: 1.875rem;
        object-fit: contain;
        vertical-align: top;
      }
      .note-1-8dt {
        font-weight: 500;
        width: 4.6rem;
        height: 1.9rem;
        position: absolute;
        top: 1.2rem;
        font-size: 1.5rem;
        left: 10.6rem;
        line-height: 1.2125;
        color: #5e5c5c;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .rectangle-4123-r46 {
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #1656c1;
        border-radius: 1.7rem;
        width: 25.8rem;
        height: 5.1rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .closeround-xsp {
        width: 0.75rem;
        height: 0.75rem;
        position: absolute;
        left: 22.875rem;
        top: 1.875rem;
        object-fit: contain;
        vertical-align: top;
      }
      .note-1-6UE {
        left: 10.6rem;
        top: 1.2rem;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        width: 4.6rem;
        position: absolute;
        white-space: nowrap;
        height: 1.9rem;
        color: #ffffff;
      }
    }
    .auto-group-gdaw-Qjp {
      top: 0.6667rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.8667rem;
      height: 1.8667rem;
      position: absolute;
      left: 13.3667rem;
    }
    .auto-group-2jye-XpS {
      position: absolute;
      left: 7.1875rem;
      top: 0.8552rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.85rem;
      height: 1.55rem;
    }
    .auto-group-xdwn-GGE {
      left: 0;
      top: 17.6125rem;
      align-items: center;
      display: flex;
      flex-direction: column;
      width: 5.1rem;
      height: 56.3875rem;
      position: absolute;

      .bookmarkfill-bJW {
        margin: 0rem 0rem 0.5rem 1rem;
        width: 2.2rem;
        height: 2.3879rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .contents-upz {
        flex-shrink: 0;
        margin: 0rem 0rem 48.6rem 1.2rem;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .vuesax-linear-setting-2-2Pp {
        margin-right: 1.3rem;
        width: 3.8rem;
        height: 3.8rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .filedockduotone-kqc {
      position: absolute;
      left: 101.0208rem;
      top: 0.8125rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.4583rem;
      height: 1.875rem;
    }
    .item-2023-06-02-212-1-VYJ {
      width: 2.8rem;
      height: 2.7rem;
      position: absolute;
      left: 16.3rem;
      top: 0.3rem;
      object-fit: cover;
      vertical-align: top;
    }
    .filedockduotone-wv6 {
      height: 1.875rem;
      position: absolute;
      left: 49.3208rem;
      top: 1.0125rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.4583rem;
    }
  }
  .rectangle-4128-GhU {
    left: 0;
    top: 5.2rem;
    background-color: #ffffff;
    width: 128rem;
    height: 81.1rem;
    position: absolute;
  }
  .group-119-1QA {
    width: 18.2rem;
    height: 22.8rem;
    position: absolute;
    left: 77.6rem;
    top: 20.2rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.1199999973);
    border-radius: 0.6rem;

    .rectangle-4141-MD8 {
      width: 100%;
      height: 22.8rem;
      background-color: #e5f2ff;
      border-radius: 0.6rem;
    }
  }
  .hci-ux-r9t {
    font-family: Inter, 'Source Sans Pro';
    left: 14.9rem;
    font-weight: 600;
    color: #000000;
    top: 10.8rem;
    font-size: 2.3rem;
    line-height: 1.2125;
    white-space: nowrap;
    width: 8.2rem;
    height: 2.8rem;
    position: absolute;
  }
  .group-124-m1x {
    position: absolute;
    left: 7.8rem;
    background-color: rgba(196, 217, 252, 0.5);
    box-sizing: border-box;
    width: 5.4rem;
    height: 5.4rem;
    padding: 1.019rem 1.121rem 1.121rem 1.019rem;
    top: 9.5rem;
    border-radius: 0.6rem;

    .vuesax-linear-folder-TvN {
      object-fit: contain;
      vertical-align: top;
      width: 3.2604rem;
      height: 3.2604rem;
    }
  }
  .vuesax-linear-folder-ydp {
    left: 8.5rem;
    top: 51.5rem;
    object-fit: contain;
    vertical-align: top;
    width: 20.9rem;
    height: 20.9rem;
    position: absolute;
  }
  .upload-v3G {
    left: 15.1rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    font-size: 2rem;
    font-weight: 500;
    color: #000000;
    white-space: nowrap;
    width: 8.5rem;
    height: 2.5rem;
    position: absolute;
    top: 45.7rem;
  }
  .sacks2008-Rki {
    color: #000000;
    width: 11.8rem;
    font-size: 2rem;
    left: 34.8rem;
    top: 45.7rem;
    font-weight: 500;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 2.5rem;
    position: absolute;
  }
  .scholl2012-wUA {
    top: 45.7rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    width: 11.6rem;
    height: 2.5rem;
    left: 57.3rem;
    color: #000000;
    white-space: nowrap;
    position: absolute;
    font-size: 2rem;
    font-weight: 500;
  }
  .note-2-rLE {
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    width: 6.4rem;
    left: 83.5rem;
    top: 45.4rem;
    font-weight: 500;
    line-height: 1.2125;
    height: 2.5rem;
    position: absolute;
    font-size: 2rem;
    white-space: nowrap;
  }
  .last-semester-NZU {
    width: 13.6rem;
    height: 2.5rem;
    left: 12.2rem;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    position: absolute;
    top: 73.1rem;
    font-size: 2rem;
    font-weight: 500;
    color: #000000;
    white-space: nowrap;
  }
  .sugita2006-5in {
    width: 12.1rem;
    height: 2.5rem;
    left: 104.1rem;
    color: #000000;
    white-space: nowrap;
    position: absolute;
    top: 45.7rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
  }
  .rectangle-4174-QFG {
    left: 10rem;
    border: dashed 0.1rem #1656c1;
    background-color: #ffffff;
    width: 17.6rem;
    height: 22.7rem;
    position: absolute;
    top: 20.2rem;
    box-sizing: border-box;
    border-radius: 0.8rem;
  }
  .group-120-WJJ {
    object-fit: contain;
    vertical-align: top;
    width: 3.0625rem;
    height: 3.0625rem;
    position: absolute;
    left: 17.3rem;
    top: 30.1rem;
  }
  .expanddownlight-3p2 {
    vertical-align: top;
    width: 0.85rem;
    height: 1.55rem;
    position: absolute;
    left: 4.7875rem;
    top: 11.4552rem;
    object-fit: contain;
  }
  .image-5-BfL {
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.8rem;
    width: 17.3rem;
    height: 23.1rem;
    position: absolute;
    left: 32.5rem;
    top: 20.2rem;
  }
  .image-6-i9U {
    width: 17.8rem;
    height: 23.1rem;
    position: absolute;
    left: 55rem;
    top: 20.2rem;
    object-fit: cover;
    vertical-align: top;
    border-radius: 0.8rem;
  }
  .image-7-e38 {
    vertical-align: top;
    border-radius: 0.8rem;
    width: 17.8rem;
    height: 23rem;
    position: absolute;
    left: 101.2rem;
    top: 20.2rem;
    object-fit: cover;
  }
}
