
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.item--gUv {
  background-position: center;
  background-color: #ffffff;
  width: 100%;
  overflow: hidden;
  background-size: 100% 100%;
  background-image: url('REPLACE_IMAGE:490cdaca746183c363b9eba97db338ee4238fdc2');
  height: 83.2rem;
  position: relative;
  background-repeat: no-repeat;

  .auto-group-ud5q-oJe {
    width: 55.1rem;
    height: 13.7rem;
    position: absolute;
    left: 61.6rem;
    top: 32rem;

    .group-116-862 {
      padding: 2.8rem 2.3rem 2.8rem 50rem;
      background-color: #ffffff;
      position: absolute;
      left: 0;
      top: 0;
      box-shadow: 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
      border-radius: 1.4rem;
      box-sizing: border-box;
      width: 55.1rem;
      height: 13.7rem;

      .checkringduotone-2hC {
        margin-bottom: 5.3rem;
        width: 2.8rem;
        height: 2.8rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .rsvp-70--i4E {
      position: absolute;
      font-weight: 500;
      line-height: 1.4705882353;
      font-family: Inter, 'Source Sans Pro';
      width: 45.2rem;
      left: 3.3rem;
      top: 1.6rem;
      font-size: 1.7rem;
      color: #4f4f4f;
      height: 10rem;
    }
  }
  .rectangle-4128-ec6 {
    width: 48.7rem;
    height: 2.3rem;
    position: absolute;
    left: 67.4rem;
    top: 15.5rem;
    background-color: rgba(22, 86, 193, 0.25);
  }
  .rectangle-4129-B6E {
    height: 2.2rem;
    position: absolute;
    left: 62.1rem;
    top: 18.1rem;
    background-color: rgba(22, 86, 193, 0.25);
    width: 54rem;
  }
  .rectangle-4130-uH8 {
    position: absolute;
    left: 62.1rem;
    top: 20.6rem;
    background-color: rgba(22, 86, 193, 0.25);
    width: 54rem;
    height: 2.2rem;
  }
  .rectangle-4131-EKQ {
    left: 62.1rem;
    top: 23.2rem;
    background-color: rgba(22, 86, 193, 0.25);
    width: 54rem;
    height: 2.2rem;
    position: absolute;
  }
  .rectangle-4132-Air {
    top: 25.8rem;
    background-color: rgba(22, 86, 193, 0.25);
    width: 54rem;
    height: 2.2rem;
    position: absolute;
    left: 62.1rem;
  }
  .rectangle-4133-VWE {
    height: 2.2rem;
    position: absolute;
    left: 62.1rem;
    top: 28.3rem;
    background-color: rgba(22, 86, 193, 0.25);
    width: 18.4rem;
  }
  .group-96-RPt {
    flex-direction: column;
    border-radius: 1.4rem;
    box-sizing: border-box;
    width: 23.1rem;
    position: absolute;
    display: flex;
    align-items: center;
    box-shadow: 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    padding: 1.2rem 1.2rem 2.6rem 3.3rem;
    height: 11.2rem;
    left: 61.6rem;
    top: 46.2rem;

    .auto-group-fux8-WAS {
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      margin-bottom: 1.7rem;

      .add-to-note-SZt {
        color: #4f4f4f;
        font-family: Inter, 'Source Sans Pro';
        flex-shrink: 0;
        font-weight: 500;
        line-height: 1.2125;
        font-size: 1.7rem;
        white-space: nowrap;
        margin: 1.5rem 7rem 0rem 0rem;
        cursor: pointer;
      }
      .x-8Si {
        vertical-align: top;
        flex-shrink: 0;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        position: relative;
        object-fit: contain;
      }
    }
    .embed-to-file-5Mx {
      font-weight: 500;
      line-height: 1.2125;
      color: #4f4f4f;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
      margin-right: 7.9rem;
      font-size: 1.7rem;
    }
  }
}
