
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.ai--qe6 {
  height: 83.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .rectangle-4117-vQe {
    left: 74.6rem;
    top: 1.2rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #f8f7f6;
    border-radius: 1.7rem;
    width: 25.8rem;
    height: 5.1rem;
    position: absolute;
  }
  .group-79-D8r {
    width: 128rem;
    height: 83.3rem;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;

    .auto-group-7jtq-vox {
      padding-top: 0.1rem;
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      box-sizing: border-box;

      .auto-group-rmhx-fWe {
        width: 6.5rem;
        height: 100%;
        position: relative;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #f5f5f5;
        flex-shrink: 0;

        .vuesax-linear-setting-2-QDL {
          left: 1.6rem;
          top: 71.4rem;
          object-fit: contain;
          vertical-align: top;
          width: 3.8rem;
          height: 3.8rem;
          position: absolute;
        }
        .group-90-KLJ {
          flex-direction: column;
          width: 4.7rem;
          height: 78.1rem;
          position: absolute;
          left: 1.1rem;
          top: 2rem;
          align-items: center;
          display: flex;

          .user-ETG {
            width: 3.9rem;
            height: 4rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
            margin: 0rem 0.2rem 2.4rem 0rem;
          }
          .dashboard-vqt {
            margin: 0rem 0.3rem 0.3rem 0rem;
            width: 3rem;
            height: 3rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .dashboard-dkJ {
            color: #b0b0b0;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 1.4125rem;
            font-size: 0.9rem;
            font-weight: 400;
            line-height: 1.2125;
          }
          .bookmarkfill-k4E {
            margin: 0rem 0.2rem 0.5rem 0rem;
            width: 2.2rem;
            height: 2.3879rem;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
          .contents-qrN {
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 58.5rem;
            font-size: 0.9rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #b0b0b0;
            font-family: Inter, 'Source Sans Pro';
          }
          .logout-xRC {
            margin-left: 0.1rem;
            width: 3.4rem;
            height: 3.4rem;
            position: relative;
            object-fit: contain;
            vertical-align: top;
            flex-shrink: 0;
          }
        }
      }
      .auto-group-ehyr-SLN {
        width: 60.7rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-kzcw-mtS {
          width: 100%;
          height: 9.2rem;
          position: relative;
          flex-shrink: 0;
          margin-bottom: 0.5rem;

          .rectangle-4116-rut {
            background-color: #f8f7f6;
            border-radius: 1.7rem;
            width: 25.8rem;
            height: 5.1rem;
            position: absolute;
            left: 16.6rem;
            top: 1.2rem;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          }
          .closeround-MLr {
            left: 39.475rem;
            top: 3.075rem;
            object-fit: contain;
            vertical-align: top;
            width: 0.75rem;
            height: 0.75rem;
            position: absolute;
          }
          .dux2009-ajQ {
            height: 1.9rem;
            position: absolute;
            font-size: 1.5rem;
            font-weight: 500;
            font-family: Inter, 'Source Sans Pro';
            width: 7.4rem;
            top: 2.4rem;
            line-height: 1.2125;
            color: #5e5c5c;
            white-space: nowrap;
            left: 25.6rem;
          }
          .add-5RG {
            line-height: 1.2125;
            color: #918f8f;
            font-family: Inter, 'Source Sans Pro';
            position: absolute;
            left: 46.9rem;
            font-size: 1.5rem;
            font-weight: 400;
            width: 3.3rem;
            height: 1.9rem;
            top: 2.2rem;
            white-space: nowrap;
          }
          .search-ymY {
            left: 8.4667rem;
            top: 1.8667rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.8667rem;
            height: 1.8667rem;
            position: absolute;
          }
          .translate-3-iDL {
            height: 2.2917rem;
            position: absolute;
            left: 12.1042rem;
            top: 1.6042rem;
            object-fit: contain;
            vertical-align: top;
            width: 2.2917rem;
          }
          .expanddownlight-S9L {
            position: absolute;
            left: 2.2875rem;
            top: 2.0552rem;
            object-fit: contain;
            vertical-align: top;
            width: 0.85rem;
            height: 1.55rem;
          }
          .vector-271-N2z {
            vertical-align: top;
            width: 1rem;
            height: 0;
            position: absolute;
            left: 25.5rem;
            top: 7.3rem;
            object-fit: contain;
          }
          .item-515-Hve {
            left: 31.2rem;
            top: 6.4rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 3.3rem;
            height: 1.5rem;
            position: absolute;
            font-size: 1.2rem;
            line-height: 1.2125;
            color: #5e5c5c;
          }
          .ellipse-70-oPC {
            height: 1.8rem;
            position: absolute;
            left: 27.8rem;
            top: 6.4rem;
            border: solid 0.1rem #5e5c5c;
            box-sizing: border-box;
            background-color: rgba(0, 0, 0, 0);
            border-radius: 0.9rem;
            width: 1.8rem;
          }
          .highlighter-4-W2i {
            width: 2.5259rem;
            height: 2.8259rem;
            position: absolute;
            left: 12rem;
            top: 5.6rem;
            object-fit: contain;
            vertical-align: top;
          }
          .format-textbox-3-Qtn {
            vertical-align: top;
            width: 2.4rem;
            height: 2.4rem;
            position: absolute;
            left: 19.1rem;
            top: 5.9rem;
            object-fit: contain;
          }
          .line-5-LXY {
            left: 30.9rem;
            top: 8.2rem;
            background-color: #918f8f;
            width: 6.1rem;
            height: 0.1rem;
            position: absolute;
          }
          .mouse-pointer-3-fpi {
            width: 1.7618rem;
            height: 2.4221rem;
            position: absolute;
            left: 8.5rem;
            top: 5.7rem;
            object-fit: contain;
            vertical-align: top;
          }
          .ellipse-71-og2 {
            width: 1.8rem;
            height: 1.8rem;
            position: absolute;
            border: solid 0.1rem #5e5c5c;
            background-color: rgba(0, 0, 0, 0);
            left: 25.1rem;
            top: 6.4rem;
            box-sizing: border-box;
            border-radius: 0.9rem;
          }
          .rectangle-4120-X6E {
            width: 60.7rem;
            height: 5.2rem;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #ffffff;
          }
          .rectangle-4122-57k {
            background-color: #1656c1;
            border-radius: 1.7rem;
            width: 25.8rem;
            height: 5.1rem;
            position: absolute;
            left: 16.6rem;
            top: 1.2rem;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          }
          .closeround-PPL {
            height: 0.75rem;
            position: absolute;
            left: 39.475rem;
            top: 3.075rem;
            object-fit: contain;
            vertical-align: top;
            width: 0.75rem;
          }
          .rectangle-4128-7q8 {
            width: 60.7rem;
            height: 4rem;
            position: absolute;
            left: 0;
            top: 5.2rem;
            background-color: #f5f5f5;
          }
          .the-attention-blink--GCE {
            position: absolute;
            left: 21.8rem;
            top: 2.4rem;
            font-weight: 500;
            line-height: 1.2125;
            white-space: nowrap;
            width: 15.4rem;
            height: 1.9rem;
            font-size: 1.5rem;
            color: #ffffff;
            font-family: Inter, 'Source Sans Pro';
          }
          .add-Nm4 {
            left: 46.9rem;
            font-weight: 400;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 3.3rem;
            height: 1.9rem;
            font-size: 1.5rem;
            line-height: 1.2125;
            color: #b0b0b0;
            position: absolute;
            top: 2.2rem;
          }
          .search-6SA {
            height: 1.8667rem;
            position: absolute;
            left: 8.4667rem;
            top: 1.8667rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.8667rem;
          }
          .translate-4-EHU {
            top: 1.5rem;
            overflow: hidden;
            width: 2.5rem;
            height: 2.5rem;
            position: absolute;
            left: 12rem;
          }
          .expanddownlight-NPg {
            vertical-align: top;
            width: 0.85rem;
            height: 1.55rem;
            position: absolute;
            left: 2.2875rem;
            top: 2.0552rem;
            object-fit: contain;
          }
          .item-515-6qU {
            white-space: nowrap;
            height: 1.5rem;
            position: absolute;
            top: 6.4rem;
            color: #5e5c5c;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            width: 3.3rem;
            left: 31.2rem;
            font-size: 1.2rem;
            font-weight: 400;
          }
          .ellipse-72-D9Q {
            height: 1.8rem;
            position: absolute;
            background-color: rgba(0, 0, 0, 0);
            border-radius: 0.9rem;
            width: 1.8rem;
            top: 6.4rem;
            border: solid 0.1rem #5e5c5c;
            box-sizing: border-box;
            left: 27.8rem;
          }
          .format-textbox-4-irr {
            width: 2.4rem;
            height: 2.4rem;
            position: absolute;
            left: 19.1rem;
            top: 5.9rem;
            object-fit: contain;
            vertical-align: top;
          }
          .line-6-4A2 {
            position: absolute;
            left: 30.9rem;
            top: 8.2rem;
            background-color: #918f8f;
            width: 6.1rem;
            height: 0.1rem;
          }
          .mouse-pointer-4-o7c {
            top: 5.7rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.7618rem;
            height: 2.4221rem;
            position: absolute;
            left: 8.5rem;
          }
          .group-78-Kre {
            vertical-align: top;
            width: 1rem;
            height: 1rem;
            position: absolute;
            left: 28.2rem;
            top: 6.8rem;
            object-fit: contain;
          }
          .polygon-4-Txr {
            left: 35.7rem;
            top: 6.8rem;
            object-fit: contain;
            vertical-align: top;
            border-radius: 0.05rem;
            width: 0.8rem;
            height: 0.7rem;
            position: absolute;
          }
          .filedockduotone-nkE {
            width: 1.4583rem;
            height: 1.875rem;
            position: absolute;
            left: 44.4208rem;
            top: 2.1125rem;
            object-fit: contain;
            vertical-align: top;
          }
          .tutorial-XC2 {
            height: 1.6rem;
            position: absolute;
            left: 53.8rem;
            font-size: 1.3rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            width: 4.6rem;
            font-weight: 400;
            color: #918f8f;
            white-space: nowrap;
            top: 6.4rem;
          }
          .questionfill-dkr {
            width: 1.425rem;
            height: 1.425rem;
            position: absolute;
            left: 52.1375rem;
            top: 6.4375rem;
            object-fit: contain;
            vertical-align: top;
          }
          .imgbox-xHL {
            position: absolute;
            left: 15.75rem;
            top: 6.05rem;
            object-fit: contain;
            vertical-align: top;
            width: 2.1rem;
            height: 2.1rem;
          }
          .vector-V2N {
            width: 2.5259rem;
            height: 2.8259rem;
            position: absolute;
            left: 12rem;
            top: 5.6rem;
            object-fit: contain;
            vertical-align: top;
          }
          .group-113-22J {
            height: 1.8rem;
            position: absolute;
            left: 25.1rem;
            top: 6.4rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.8rem;
          }
          .item-2023-06-02-212-1-jSW {
            width: 2.8rem;
            height: 2.7rem;
            position: absolute;
            left: 11.4rem;
            top: 1.5rem;
            object-fit: cover;
            vertical-align: top;
          }
        }
        .auto-group-ehuy-aCE {
          margin: 0rem 0.5rem 0rem 5rem;
          width: calc(100% - 5.5rem);
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .item-2023-05-03-959-3-Vpz {
            height: 71.7rem;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:44df6473f76ce8614277bb97d7ab1cf5cc092790');
            flex-shrink: 0;
            margin: 0.8rem 2.6rem 0rem 0rem;
            width: 51.8rem;
          }
          .rectangle-4125-ZK4 {
            width: 0.8rem;
            height: 14.4rem;
            background-color: #918f8f;
            border-radius: 1rem;
            flex-shrink: 0;
          }
        }
      }
    }
    .auto-group-iqgj-VCi {
      position: relative;
      flex-shrink: 0;
      width: 60.8rem;
      height: 100%;

      .expanddownlight-Ccv {
        height: 1.55rem;
        position: absolute;
        left: 2.0625rem;
        top: 1.8948rem;
        object-fit: contain;
        vertical-align: top;
        width: 0.85rem;
      }
      .closeround-j74 {
        vertical-align: top;
        width: 0.75rem;
        height: 0.75rem;
        position: absolute;
        left: 30.275rem;
        top: 3.075rem;
        object-fit: contain;
      }
      .note-1-4QE {
        color: #5e5c5c;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        left: 18rem;
        top: 2.4rem;
        font-size: 1.5rem;
        line-height: 1.2125;
        width: 4.6rem;
        height: 1.9rem;
        font-weight: 500;
      }
      .rectangle-4128-y1Q {
        position: absolute;
        left: 0;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 60.8rem;
        height: 9.3rem;
      }
      .rectangle-4121-iDt {
        background-color: #ffffff;
        width: 60.7rem;
        height: 5.2rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .rectangle-4123-TSN {
        position: absolute;
        left: 7.4rem;
        top: 1.2rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #1656c1;
        border-radius: 1.7rem;
        width: 25.8rem;
        height: 5.1rem;
      }
      .expanddownlight-ZVQ {
        width: 0.85rem;
        height: 1.55rem;
        position: absolute;
        left: 2.0625rem;
        top: 1.8948rem;
        object-fit: contain;
        vertical-align: top;
      }
      .closeround-Vtr {
        position: absolute;
        left: 30.275rem;
        top: 3.075rem;
        object-fit: contain;
        vertical-align: top;
        width: 0.75rem;
        height: 0.75rem;
      }
      .note-1-qhp {
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        height: 1.9rem;
        position: absolute;
        font-size: 1.5rem;
        font-weight: 500;
        white-space: nowrap;
        width: 4.6rem;
        left: 18rem;
        top: 2.4rem;
      }
      .rectangle-4128-AEJ {
        width: 60.8rem;
        height: 4rem;
        position: absolute;
        left: 0;
        top: 5.2rem;
        background-color: #f5f5f5;
      }
      .add-79Y {
        top: 2.1rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #918f8f;
        font-family: Inter, 'Source Sans Pro';
        left: 37.9rem;
        height: 1.9rem;
        position: absolute;
        font-size: 1.5rem;
        white-space: nowrap;
        width: 3.3rem;
      }
      .filedockduotone-Rvv {
        top: 2.0125rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.4583rem;
        height: 1.875rem;
        position: absolute;
        left: 35.4208rem;
      }
      .rectangle-4126-Adc {
        top: 8.9rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #f5f5f5;
        width: 60.5rem;
        height: 74.3rem;
        position: absolute;
        left: 0;
      }
      .polygon-5-61U {
        left: 30.9rem;
        top: 7.5rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.1rem;
        width: 1.1rem;
        height: 1rem;
        position: absolute;
      }
      .heading-Qnr {
        width: 6rem;
        position: absolute;
        top: 7.1rem;
        font-size: 1.5rem;
        font-weight: 500;
        white-space: nowrap;
        height: 1.9rem;
        left: 24.1rem;
        line-height: 1.2125;
        color: #5e5c5c;
        font-family: Inter, 'Source Sans Pro';
      }
      .meatballsmenu-uzW {
        width: 1.4rem;
        height: 0.2rem;
        position: absolute;
        left: 53.4rem;
        top: 7.5rem;
        object-fit: contain;
        vertical-align: top;
      }
      .polygon-6-FYa {
        position: absolute;
        left: 49.5rem;
        top: 7.1rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.1rem;
        width: 1.1rem;
        height: 1rem;
      }
      .highlighter-6-P8z {
        width: 2.89rem;
        height: 2.89rem;
        position: absolute;
        left: 13.6rem;
        top: 6.4rem;
        overflow: hidden;
      }
      .sortalfalight-7Kt {
        vertical-align: top;
        width: 1.45rem;
        height: 2.0542rem;
        position: absolute;
        left: 47.825rem;
        top: 6.5625rem;
        object-fit: contain;
      }
      .u-3DY {
        left: 44.3rem;
        top: 6.3rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #5e5c5c;
        font-family: Inter, 'Source Sans Pro';
        width: 1.8rem;
        position: absolute;
        white-space: nowrap;
        height: 3rem;
        font-size: 2.4rem;
      }
      .i-A3G {
        left: 41.7rem;
        top: 6.3rem;
        font-size: 2.4rem;
        line-height: 1.2125;
        font-style: italic;
        width: 0.7rem;
        height: 3rem;
        position: absolute;
        color: #5e5c5c;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .b-G6J {
        color: #5e5c5c;
        width: 1.6rem;
        height: 3rem;
        position: absolute;
        left: 38.2rem;
        top: 6.3rem;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .line-7-zHC {
        height: 2.2rem;
        position: absolute;
        left: 21.5rem;
        top: 6.9rem;
        background-color: #bcbcbc;
        width: 0.1rem;
      }
      .line-8-LM4 {
        width: 0.1rem;
        height: 2.2rem;
        position: absolute;
        left: 33.7rem;
        top: 6.8rem;
        background-color: #bcbcbc;
      }
      .back-53k {
        position: absolute;
        left: 13.7rem;
        top: 6.9rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.2rem;
        height: 1.8rem;
      }
      .vector-273-1i6 {
        width: 2.2rem;
        height: 1.8rem;
        position: absolute;
        left: 17.6rem;
        top: 6.9rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
  }
  .rectangle-4156-9ZQ {
    height: 42.9rem;
    cursor: pointer;
    position: absolute;
    left: 67.2rem;
    top: 40.3rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    width: 61.7rem;
  }
  .rectangle-92-rTp {
    width: 0.8rem;
    height: 9.9rem;
    position: absolute;
    left: 126.9rem;
    top: 45rem;
    background-color: #918f8f;
    border-radius: 1rem;
  }
  .ask-your-questions-to-ai-Bkz {
    font-weight: 500;
    height: 2.1rem;
    position: absolute;
    top: 41.7rem;
    font-size: 1.7rem;
    line-height: 1.2125;
    color: #353434;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 20rem;
    left: 87.4rem;
  }
  .rectangle-4157-hDY {
    width: 61.7rem;
    height: 0.3rem;
    position: absolute;
    left: 67.2rem;
    top: 74.9rem;
    background-color: #f5f5f5;
  }
  .rectangle-4158-qKk {
    width: 47.1rem;
    position: absolute;
    box-sizing: border-box;
    background-color: #ffffff;
    border-radius: 0.4rem;
    height: 3.4rem;
    left: 69.3rem;
    top: 77rem;
    border: solid 0.1rem #005fff;
  }
  .ask-any-questions-MYz {
    position: absolute;
    left: 70.4rem;
    top: 77.7rem;
    font-size: 1.3rem;
    line-height: 1.2125;
    width: 12.5rem;
    font-weight: 500;
    color: #5e5c5c;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    height: 1.6rem;
  }
  .rectangle-4159-Trv {
    left: 118.1rem;
    top: 77rem;
    background-color: #d5e5f5;
    border-radius: 0.4rem;
    width: 8.3rem;
    height: 3.4rem;
    position: absolute;
  }
  .rectangle-4160-biE {
    top: 46rem;
    background-color: #f5f5f5;
    border-radius: 0.8rem;
    width: 56.5rem;
    height: 4.5rem;
    position: absolute;
    left: 69.6rem;
  }
  .meatballsmenu-jpS {
    height: 0.2rem;
    position: absolute;
    left: 122.7rem;
    top: 48.2rem;
    object-fit: contain;
    vertical-align: top;
    width: 1.4rem;
  }
  .q-what-does-feature-based-search-mean-sfk {
    top: 47.3rem;
    line-height: 1.2125;
    color: #424040;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    position: absolute;
    left: 72rem;
    font-size: 1.6rem;
    font-weight: 400;
    display: flex;
    align-items: baseline;
    width: 32.1rem;
    height: 2rem;

    .q-what-does-feature-based-search-mean-sfk-sub-0 {
      font-weight: 700;
      line-height: 1.2125;
      color: #424040;
      font-family: Inter, 'Source Sans Pro';
      font-size: 1.6rem;
    }
    .q-what-does-feature-based-search-mean-sfk-sub-1 {
    }
  }
  .rectangle-4161-ksx {
    position: absolute;
    left: 69.6rem;
    top: 51.2rem;
    background-color: #d5e5f5;
    border-radius: 0.8rem;
    width: 56.5rem;
    height: 10.3rem;
  }
  .a-face-perception-is-the-ability-to-recognize-and-interpret-facial-features-and-expressions-it-is-a-complex-process-that-involves-the-recognition-of-facial-features-such-as-eyes-nose-and-mouth-as-well-as-the-interpretation-of-facial-expressions-GrJ {
    height: 8.4rem;
    top: 52.2rem;
    font-weight: 400;
    line-height: 1.3125;
    color: #424040;
    font-family: Inter, 'Source Sans Pro';
    width: 52.4rem;
    left: 72rem;
    font-size: 1.6rem;
    position: absolute;

    .a-face-perception-is-the-ability-to-recognize-and-interpret-facial-features-and-expressions-it-is-a-complex-process-that-involves-the-recognition-of-facial-features-such-as-eyes-nose-and-mouth-as-well-as-the-interpretation-of-facial-expressions-GrJ-sub-0 {
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.3125;
      color: #424040;
      font-family: Inter, 'Source Sans Pro';
    }
    .a-face-perception-is-the-ability-to-recognize-and-interpret-facial-features-and-expressions-it-is-a-complex-process-that-involves-the-recognition-of-facial-features-such-as-eyes-nose-and-mouth-as-well-as-the-interpretation-of-facial-expressions-GrJ-sub-1 {
    }
  }
  .rectangle-4162-otA {
    width: 56.5rem;
    height: 4.5rem;
    position: absolute;
    left: 69.6rem;
    top: 62.2rem;
    background-color: #f5f5f5;
    border-radius: 0.8rem;
  }
  .meatballsmenu-wDg {
    width: 1.4rem;
    height: 0.2rem;
    position: absolute;
    left: 122.7rem;
    top: 64.4rem;
    object-fit: contain;
    vertical-align: top;
  }
  .q-why-is-it-important-GFx {
    width: 17.1rem;
    height: 2rem;
    font-size: 1.6rem;
    line-height: 1.2125;
    color: #424040;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    align-items: baseline;
    position: absolute;
    left: 72rem;
    top: 63.3rem;
    font-weight: 400;
    display: flex;

    .q-why-is-it-important-GFx-sub-0 {
      line-height: 1.2125;
      color: #424040;
      font-family: Inter, 'Source Sans Pro';
      font-size: 1.6rem;
      font-weight: 700;
    }
    .q-why-is-it-important-GFx-sub-1 {
    }
  }
  .rectangle-4163-GQN {
    width: 56.5rem;
    height: 6.4rem;
    position: absolute;
    left: 69.6rem;
    top: 67.5rem;
    background-color: #d5e5f5;
    border-radius: 0.8rem;
  }
  .a-face-perception-is-an-important-part-of-social-interaction-as-it-allows-us-to-recognize-and-respond-to-the-emotions-of-others-zrA {
    font-family: Inter, 'Source Sans Pro';
    width: 49.5rem;
    position: absolute;
    left: 72rem;
    color: #424040;
    line-height: 1.3125;
    height: 4.2rem;
    top: 68.5rem;
    font-size: 1.6rem;
    font-weight: 400;

    .a-face-perception-is-an-important-part-of-social-interaction-as-it-allows-us-to-recognize-and-respond-to-the-emotions-of-others-zrA-sub-0 {
      color: #424040;
      font-family: Inter, 'Source Sans Pro';
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.3125;
    }
    .a-face-perception-is-an-important-part-of-social-interaction-as-it-allows-us-to-recognize-and-respond-to-the-emotions-of-others-zrA-sub-1 {
    }
  }
  .submit-jSN {
    position: absolute;
    top: 77.8rem;
    font-weight: 500;
    font-family: Inter, 'Source Sans Pro';
    width: 5.4rem;
    height: 2rem;
    left: 119.5rem;
    font-size: 1.6rem;
    line-height: 1.2125;
    color: #000000;
    white-space: nowrap;
  }
  .expanddownlight-Sra {
    height: 4.2rem;
    cursor: pointer;
    position: absolute;
    left: 122.3rem;
    top: 40.8rem;
    object-fit: contain;
    vertical-align: top;
    width: 3.8rem;
  }
}
