
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 54.7rem;
}.import--bd8 {
  font-weight: 700;
  line-height: 1.2125;
  color: #ff9a9a;
  font-family: Inter, 'Source Sans Pro';
  width: 100%;
  height: 11rem;
  font-size: 3rem;
}
