
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 98.5rem;
}.kakaotalkphoto2023-05-09-02-35-00-1-UAA {
  width: 98.5rem;
  height: 144rem;
  position: relative;
  background-size: 259.898% 100%;
  background-position: -95.1rem 0rem;
  background-image: url('REPLACE_IMAGE:5c797d5aa197bb6fad9470baccbc60420d028783');
}
