
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.notetaking--eAr {
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;
  height: 83.2rem;
  position: relative;

  .rectangle-4117-MLA {
    left: 74.6rem;
    top: 1.2rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #f8f7f6;
    border-radius: 1.7rem;
    width: 25.8rem;
    height: 5.1rem;
    position: absolute;
  }
  .group-79-3Cz {
    display: flex;
    align-items: flex-end;
    width: 128rem;
    height: 89.7444rem;
    position: absolute;
    left: 0;
    top: 0;

    .auto-group-swge-men {
      height: 83.2rem;
      position: relative;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #f5f5f5;
      flex-shrink: 0;
      width: 6.5rem;

      .vuesax-linear-setting-2-WcN {
        position: absolute;
        left: 1.6rem;
        top: 71.4rem;
        object-fit: contain;
        vertical-align: top;
        width: 3.8rem;
        height: 3.8rem;
      }
      .group-90-2ai {
        top: 2rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 4.7rem;
        height: 78.1rem;
        position: absolute;
        left: 1.1rem;

        .user-wxa {
          flex-shrink: 0;
          margin: 0rem 0.1rem 2.4rem 0rem;
          width: 4rem;
          height: 4rem;
          object-fit: contain;
          vertical-align: top;
        }
        .dashboard-GEA {
          vertical-align: top;
          flex-shrink: 0;
          margin: 0rem 0.3rem 0.3rem 0rem;
          width: 3rem;
          height: 3rem;
          object-fit: contain;
        }
        .dashboard-AqL {
          margin-bottom: 63.9rem;
          font-size: 0.9rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #b0b0b0;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
        }
        .logout-V6v {
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
          margin-left: 0.1rem;
          width: 3.4rem;
          height: 3.4rem;
          position: relative;
        }
      }
    }
    .auto-group-cale-yGz {
      width: 121.5rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .expanddownlight-Eii {
        width: 0.85rem;
        height: 1.55rem;
        position: absolute;
        left: 62.7625rem;
        top: 1.8948rem;
        object-fit: contain;
        vertical-align: top;
      }
      .rectangle-4116-kwx {
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #f8f7f6;
        border-radius: 1.7rem;
        width: 25.8rem;
        height: 5.1rem;
        position: absolute;
        left: 16.6rem;
        top: 1.2rem;
      }
      .closeround-Spn {
        object-fit: contain;
        vertical-align: top;
        width: 0.75rem;
        height: 0.75rem;
        position: absolute;
        left: 39.475rem;
        top: 3.075rem;
      }
      .closeround-ms4 {
        width: 0.75rem;
        height: 0.75rem;
        position: absolute;
        left: 90.975rem;
        top: 3.075rem;
        object-fit: contain;
        vertical-align: top;
      }
      .dux2009-W3x {
        left: 25.6rem;
        font-weight: 500;
        color: #5e5c5c;
        white-space: nowrap;
        height: 1.9rem;
        position: absolute;
        font-size: 1.5rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        width: 7.4rem;
        top: 2.4rem;
      }
      .note-1-CBg {
        top: 2.4rem;
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        width: 4.6rem;
        position: absolute;
        left: 78.7rem;
        font-size: 1.5rem;
        font-weight: 500;
        color: #5e5c5c;
        white-space: nowrap;
        height: 1.9rem;
      }
      .add-hPL {
        width: 3.3rem;
        height: 1.9rem;
        position: absolute;
        top: 2.2rem;
        font-size: 1.5rem;
        left: 46.9rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #918f8f;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
      }
      .search-Dca {
        top: 1.8667rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.8667rem;
        height: 1.8666rem;
        position: absolute;
        left: 8.4667rem;
      }
      .translate-3-MCz {
        height: 2.2917rem;
        position: absolute;
        left: 12.1042rem;
        top: 1.6042rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.2917rem;
      }
      .expanddownlight-fzN {
        height: 1.55rem;
        position: absolute;
        left: 2.2875rem;
        top: 2.0552rem;
        object-fit: contain;
        vertical-align: top;
        width: 0.85rem;
      }
      .item-2023-05-03-959-3-cPp {
        vertical-align: top;
        width: 51.8rem;
        height: 71.7rem;
        position: absolute;
        left: 5rem;
        top: 10.5rem;
        object-fit: cover;
      }
      .vector-271-US2 {
        object-fit: contain;
        vertical-align: top;
        width: 1rem;
        height: 0;
        position: absolute;
        left: 25.5rem;
        top: 7.3rem;
      }
      .item-515-DeW {
        white-space: nowrap;
        width: 3.3rem;
        height: 1.5rem;
        position: absolute;
        top: 6.4rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #5e5c5c;
        left: 31.2rem;
        font-size: 1.2rem;
        font-family: Inter, 'Source Sans Pro';
      }
      .ellipse-70-XfC {
        height: 1.8rem;
        position: absolute;
        border: solid 0.1rem #5e5c5c;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 0.9rem;
        width: 1.8rem;
        top: 6.4rem;
        left: 27.8rem;
      }
      .highlighter-4-cwY {
        left: 12rem;
        top: 5.6rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.5259rem;
        height: 2.8259rem;
        position: absolute;
      }
      .format-textbox-3-wiv {
        height: 2.4rem;
        position: absolute;
        left: 19.1rem;
        top: 5.9rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.4rem;
      }
      .line-5-5KL {
        width: 6.1rem;
        height: 0.1rem;
        position: absolute;
        left: 30.9rem;
        top: 8.2rem;
        background-color: #918f8f;
      }
      .mouse-pointer-3-1Cz {
        position: absolute;
        left: 8.5rem;
        top: 5.7rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.7618rem;
        height: 2.4221rem;
      }
      .ellipse-71-Lm4 {
        border-radius: 0.9rem;
        width: 1.8rem;
        height: 1.8rem;
        top: 6.4rem;
        border: solid 0.1rem #5e5c5c;
        box-sizing: border-box;
        position: absolute;
        left: 25.1rem;
        background-color: rgba(0, 0, 0, 0);
      }
      .rectangle-4120-T4z {
        height: 5.2rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #ffffff;
        width: 60.7rem;
      }
      .rectangle-4128-bgz {
        left: 60.7rem;
        top: 0;
        object-fit: contain;
        vertical-align: top;
        width: 60.8rem;
        height: 9.3rem;
        position: absolute;
      }
      .rectangle-4121-vzA {
        left: 60.7rem;
        top: 0;
        background-color: #ffffff;
        width: 60.7rem;
        height: 5.2rem;
        position: absolute;
      }
      .rectangle-4123-UEz {
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #1656c1;
        border-radius: 1.7rem;
        width: 25.8rem;
        height: 5.1rem;
        position: absolute;
        left: 68.1rem;
        top: 1.2rem;
      }
      .expanddownlight-B9Q {
        vertical-align: top;
        width: 0.85rem;
        height: 1.55rem;
        position: absolute;
        left: 62.7625rem;
        top: 1.8948rem;
        object-fit: contain;
      }
      .rectangle-4122-6nA {
        height: 5.1rem;
        position: absolute;
        left: 16.6rem;
        top: 1.2rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #1656c1;
        border-radius: 1.7rem;
        width: 25.8rem;
      }
      .closeround-D66 {
        object-fit: contain;
        vertical-align: top;
        width: 0.75rem;
        height: 0.75rem;
        position: absolute;
        left: 39.475rem;
        top: 3.075rem;
      }
      .closeround-MCJ {
        object-fit: contain;
        vertical-align: top;
        width: 0.75rem;
        height: 0.75rem;
        position: absolute;
        left: 90.975rem;
        top: 3.075rem;
      }
      .rectangle-4128-h1G {
        width: 121.5rem;
        height: 4rem;
        position: absolute;
        left: 0;
        top: 5.2rem;
        box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.25);
        background-color: #ffffff;
      }
      .dux2009-p5t {
        font-weight: 500;
        line-height: 1.2125;
        height: 1.9rem;
        position: absolute;
        left: 25.6rem;
        top: 2.4rem;
        white-space: nowrap;
        width: 7.4rem;
        font-size: 1.5rem;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
      }
      .note-1-Xkz {
        width: 4.6rem;
        left: 78.7rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #ffffff;
        font-family: Inter, 'Source Sans Pro';
        height: 1.9rem;
        position: absolute;
        top: 2.4rem;
        font-size: 1.5rem;
        white-space: nowrap;
      }
      .add-FBC {
        line-height: 1.2125;
        font-family: Inter, 'Source Sans Pro';
        width: 3.3rem;
        height: 1.9rem;
        top: 2.2rem;
        font-size: 1.5rem;
        font-weight: 400;
        position: absolute;
        left: 46.9rem;
        color: #b0b0b0;
        white-space: nowrap;
      }
      .search-9XU {
        left: 8.4667rem;
        top: 1.8667rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.8667rem;
        height: 1.8666rem;
        position: absolute;
      }
      .translate-4-V5Y {
        height: 2.2917rem;
        position: absolute;
        left: 12.1042rem;
        top: 1.6042rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.2917rem;
      }
      .expanddownlight-1pa {
        width: 0.85rem;
        height: 1.55rem;
        position: absolute;
        left: 2.2875rem;
        top: 2.0552rem;
        object-fit: contain;
        vertical-align: top;
      }
      .item-2023-05-03-959-4-Lbx {
        vertical-align: top;
        width: 51.8rem;
        height: 71.7rem;
        position: absolute;
        left: 5rem;
        top: 10.5rem;
        object-fit: cover;
      }
      .vector-272-D9x {
        width: 1rem;
        height: 0;
        position: absolute;
        left: 25.5rem;
        top: 7.3rem;
        object-fit: contain;
        vertical-align: top;
      }
      .item-515-x7Y {
        width: 3.3rem;
        position: absolute;
        top: 6.4rem;
        color: #5e5c5c;
        font-family: Inter, 'Source Sans Pro';
        height: 1.5rem;
        left: 31.2rem;
        font-size: 1.2rem;
        font-weight: 400;
        line-height: 1.2125;
        white-space: nowrap;
      }
      .ellipse-72-Tpz {
        top: 6.4rem;
        border: solid 0.1rem #5e5c5c;
        box-sizing: border-box;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 0.9rem;
        width: 1.8rem;
        left: 27.8rem;
        height: 1.8rem;
        position: absolute;
      }
      .highlighter-5-man {
        height: 2.8259rem;
        position: absolute;
        left: 12rem;
        top: 5.6rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.5259rem;
      }
      .format-textbox-4-ugz {
        top: 5.9rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.4rem;
        height: 2.4rem;
        position: absolute;
        left: 19.1rem;
      }
      .line-6-Swp {
        height: 0.1rem;
        position: absolute;
        left: 30.9rem;
        top: 8.2rem;
        background-color: #918f8f;
        width: 6.1rem;
      }
      .mouse-pointer-4-mjC {
        vertical-align: top;
        width: 1.7618rem;
        height: 2.4221rem;
        position: absolute;
        left: 8.5rem;
        top: 5.7rem;
        object-fit: contain;
      }
      .ellipse-73-h74 {
        position: absolute;
        left: 25.1rem;
        background-color: rgba(0, 0, 0, 0);
        border-radius: 0.9rem;
        height: 1.8rem;
        top: 6.4rem;
        border: solid 0.1rem #5e5c5c;
        box-sizing: border-box;
        width: 1.8rem;
      }
      .group-78-Q1U {
        object-fit: contain;
        vertical-align: top;
        width: 1rem;
        height: 1rem;
        position: absolute;
        left: 28.2rem;
        top: 6.8rem;
      }
      .polygon-4-Y7g {
        border-radius: 0.05rem;
        width: 0.8rem;
        height: 0.7rem;
        position: absolute;
        left: 35.7rem;
        top: 6.8rem;
        object-fit: contain;
        vertical-align: top;
      }
      .rectangle-4125-U1L {
        width: 0.8rem;
        height: 14.4rem;
        position: absolute;
        left: 59.4rem;
        top: 9.7rem;
        background-color: #918f8f;
        border-radius: 1rem;
      }
      .filedockduotone-bbk {
        width: 1.4584rem;
        height: 1.875rem;
        position: absolute;
        left: 44.4208rem;
        top: 2.1125rem;
        object-fit: contain;
        vertical-align: top;
      }
      .add-w9p {
        font-size: 1.5rem;
        position: absolute;
        top: 2.1rem;
        left: 98.6rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #918f8f;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 3.3rem;
        height: 1.9rem;
      }
      .filedockduotone-rXg {
        left: 96.1208rem;
        top: 2.0125rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.4584rem;
        height: 1.875rem;
        position: absolute;
      }
      .tutorial-ngE {
        font-weight: 400;
        line-height: 1.2125;
        color: #918f8f;
        width: 4.6rem;
        height: 1.6rem;
        left: 53.8rem;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        top: 6.4rem;
        font-size: 1.3rem;
      }
      .questionfill-WML {
        position: absolute;
        left: 52.1375rem;
        top: 6.4375rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.425rem;
        height: 1.425rem;
      }
      .imgbox-Eo8 {
        position: absolute;
        left: 15.75rem;
        top: 6.05rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.1rem;
        height: 2.1rem;
      }
      .back-BCa {
        position: absolute;
        left: 66.1rem;
        top: 6.5rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.2rem;
        height: 1.8rem;
      }
      .vector-273-X1Y {
        width: 2.2rem;
        height: 1.8rem;
        position: absolute;
        left: 70rem;
        top: 6.5rem;
        object-fit: contain;
        vertical-align: top;
      }
      .polygon-5-rZc {
        top: 6.9rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.1rem;
        width: 1.1rem;
        height: 1rem;
        position: absolute;
        left: 93.4rem;
      }
      .heading-BLz {
        height: 1.9rem;
        left: 85.5rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #5e5c5c;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 6rem;
        position: absolute;
        top: 6.5rem;
        font-size: 1.5rem;
      }
      .meatballsmenu-haE {
        height: 0.2rem;
        position: absolute;
        left: 114.1rem;
        top: 6.9rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.4rem;
      }
      .polygon-6-SGv {
        left: 110.2rem;
        top: 6.5rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.1rem;
        width: 1.1rem;
        height: 1rem;
        position: absolute;
      }
      .imgbox-aP8 {
        object-fit: contain;
        vertical-align: top;
        width: 2.1rem;
        height: 2.1rem;
        position: absolute;
        left: 79.25rem;
        top: 6.25rem;
      }
      .highlighter-6-hyY {
        left: 74.0678rem;
        top: 5.8rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.5259rem;
        height: 2.8259rem;
        position: absolute;
      }
      .sortalfalight-FEN {
        width: 1.45rem;
        height: 2.0542rem;
        position: absolute;
        left: 108.525rem;
        top: 5.9625rem;
        object-fit: contain;
        vertical-align: top;
      }
      .u-anS {
        left: 104.7rem;
        color: #5e5c5c;
        font-family: Inter, 'Source Sans Pro';
        font-weight: 400;
        line-height: 1.2125;
        white-space: nowrap;
        width: 1.8rem;
        height: 3rem;
        position: absolute;
        top: 5.7rem;
        font-size: 2.4rem;
      }
      .i-WAJ {
        font-style: italic;
        color: #5e5c5c;
        white-space: nowrap;
        width: 0.7rem;
        position: absolute;
        left: 101.5rem;
        top: 5.7rem;
        line-height: 1.2125;
        height: 3rem;
        font-size: 2.4rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
      }
      .b-qCa {
        left: 98.3rem;
        font-size: 2.4rem;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 1.6rem;
        height: 3rem;
        position: absolute;
        top: 5.7rem;
        line-height: 1.2125;
        color: #5e5c5c;
      }
      .line-7-9yx {
        background-color: #bcbcbc;
        width: 0.1rem;
        height: 2.2rem;
        position: absolute;
        left: 83.6rem;
        top: 6.3rem;
      }
      .line-8-uCS {
        background-color: #bcbcbc;
        width: 0.1rem;
        height: 2.2rem;
        position: absolute;
        left: 96.4rem;
        top: 6.2rem;
      }
      .vuesax-linear-arrow-square-right-FGJ {
        position: absolute;
        left: 51.4rem;
        top: 18.4rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.1rem;
        height: 2rem;
      }
      .hovering-sign-aJa {
        position: absolute;
        left: 51.6rem;
        top: 54.5rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.1rem;
        height: 2rem;
      }
      .item--he6 {
        width: 21.1rem;
        height: 3.8rem;
        position: absolute;
        left: 29.9rem;
        top: 18rem;

        .rectangle-4145-RKC {
          margin: 0rem 0rem 0.4rem 1rem;
          width: 20.1rem;
          height: 0.7rem;
          background-color: rgba(22, 86, 193, 0.1700000018);
        }
        .rectangle-4146-Lh4 {
          margin-bottom: 0.2rem;
          width: 100%;
          height: 0.7rem;
          background-color: rgba(22, 86, 193, 0.1700000018);
        }
        .rectangle-4147-HcJ {
          margin-bottom: 0.4rem;
          width: 100%;
          height: 0.7rem;
          background-color: rgba(22, 86, 193, 0.1700000018);
        }
        .rectangle-4148-2pn {
          width: 2.2rem;
          height: 0.7rem;
          background-color: rgba(22, 86, 193, 0.1700000018);
        }
      }
      .group-82-BSn {
        top: 53.1rem;
        width: 21.1rem;
        height: 5.7rem;
        cursor: pointer;
        position: absolute;
        left: 30.2rem;

        .rectangle-4145-WEA {
          margin: 0rem 0rem 0.4rem 7.1rem;
          width: 14rem;
          height: 0.7rem;
          background-color: rgba(22, 86, 193, 0.1700000018);
        }
        .rectangle-4146-3E6 {
          margin-bottom: 0.2rem;
          width: 100%;
          height: 0.7rem;
          background-color: rgba(22, 86, 193, 0.1700000018);
        }
        .rectangle-4147-bFc {
          margin-bottom: 0.4rem;
          width: 100%;
          height: 0.7rem;
          background-color: rgba(22, 86, 193, 0.1700000018);
        }
        .rectangle-4148-92E {
          background-color: rgba(22, 86, 193, 0.1700000018);
          margin-bottom: 0.2rem;
          width: 100%;
          height: 0.7rem;
        }
        .rectangle-4149-tkW {
          margin-bottom: 0.3rem;
          width: 100%;
          height: 0.7rem;
          background-color: rgba(22, 86, 193, 0.1700000018);
        }
        .rectangle-4150-dxz {
          width: 2.6rem;
          height: 0.7rem;
          background-color: rgba(22, 86, 193, 0.1700000018);
        }
      }
      .group-85-Bjc {
        display: flex;
        flex-direction: column;
        width: 56.8rem;
        height: 24.6rem;
        position: absolute;
        left: 62.7rem;
        top: 11.8rem;
        align-items: center;

        .auto-group-d2a2-KL2 {
          width: 100%;
          height: 4rem;
          box-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.0500000007);
          background-color: #f5f5f5;
          border-radius: 0.6rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.1rem 3.016rem 1rem 3.1rem;

          .group-84-qpA {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;

            .pg1684-Q6a {
              margin-right: 42rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #1656c1;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .group-83-w6W {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .item-2-Vti {
                text-align: right;
                font-weight: 400;
                color: #1656c1;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                margin-right: 1rem;
                font-size: 1.5rem;
                line-height: 1.2125;
                flex-shrink: 0;
              }
              .vuesax-linear-arrow-down-RXU {
                margin-bottom: 0.1902rem;
                width: 0.984rem;
                height: 0.5098rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
        .auto-group-8ibg-hUz {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.9rem 2.9rem 0rem 3.1rem;
          width: 100%;

          .auto-group-ptxv-2GN {
            margin-bottom: 0.9rem;
            width: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .item-1-NLE {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 43.8rem;
              font-size: 1.5rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #1656c1;
            }
            .may-1-2023-hNW {
              line-height: 1.2125;
              color: #918f8f;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 400;
            }
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-fringilla-augue-lorem-facilisis-porttitor-lorem-commodo-ut-fusce-nec-imperdiet-erat-nunc-sagittis-turpis-dictum-placerat-iaculis-ante-quam-luctus-mauris-eu-tincidunt-nulla-sem-sit-amet-mauris-dGA {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 0.4rem 2.1rem 0rem;
            max-width: 50.4rem;
            font-size: 1.5rem;
            font-weight: 400;
          }
          .auto-group-jpbg-d9g {
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 0.9rem;
            width: 100%;
            display: flex;

            .item-2-wgA {
              margin-right: 43.6rem;
              font-size: 1.5rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #1656c1;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .may-1-2023-g7x {
              line-height: 1.2125;
              color: #918f8f;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 400;
            }
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-fringilla-augue-lorem-facilisis-porttitor-lorem-commodo-ut-zuL {
            margin-right: 2.8rem;
            max-width: 48rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
          }
        }
      }
      .item-1-sTL {
        width: 1.2rem;
        left: 65.8rem;
        top: 45.2rem;
        font-weight: 700;
        white-space: nowrap;
        height: 1.9rem;
        position: absolute;
        font-size: 1.5rem;
        line-height: 1.2125;
        color: #1656c1;
        font-family: Inter, 'Source Sans Pro';
      }
      .group-88-NQ6 {
        flex-direction: column;
        width: 56.8rem;
        height: 22.9rem;
        position: absolute;
        left: 62.7rem;
        top: 39.3rem;
        align-items: flex-end;
        display: flex;

        .auto-group-qnf8-5pJ {
          margin-bottom: 2.2rem;
          box-sizing: border-box;
          padding: 1.1rem 3.016rem 1rem 3.1rem;
          box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.0500000007);
          flex-shrink: 0;
          width: 100%;
          height: 4rem;
          background-color: #f5f5f5;
          border-radius: 0.6rem;

          .group-84-zwG {
            align-items: center;
            width: 100%;
            height: 100%;
            display: flex;

            .pg1685-k9k {
              margin-right: 42.4rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #1656c1;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .group-83-gJJ {
              align-items: center;
              flex-shrink: 0;
              height: 100%;
              display: flex;

              .item-1-dzE {
                text-align: right;
                font-size: 1.5rem;
                margin-right: 1rem;
                line-height: 1.2125;
                color: #1656c1;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-weight: 400;
              }
              .vuesax-linear-arrow-down-xWi {
                margin-bottom: 0.1902rem;
                width: 0.984rem;
                height: 0.5098rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
        .may-2-2023-RfC {
          line-height: 1.2125;
          color: #918f8f;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 2.7rem 1.2rem 0rem;
          font-size: 1rem;
          font-weight: 400;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-fringilla-augue-lorem-facilisis-porttitor-lorem-commodo-ut-fusce-nec-imperdiet-erat-nunc-sagittis-turpis-dictum-placerat-iaculis-ante-quam-luctus-mauris-eu-tincidunt-nulla-sem-sit-amet-mauris-YUv {
          flex-shrink: 0;
          margin: 0rem 3.3rem 2.9rem 0rem;
          max-width: 50.4rem;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
        }
        .rectangle-4152-wmx {
          background-color: #f5f5f5;
          border-radius: 0.6rem;
          flex-shrink: 0;
          width: 100%;
          height: 4rem;
          box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.0500000007);
        }
      }
      .group-87-GJS {
        height: 23.5rem;
        position: absolute;
        left: 65.8rem;
        top: 59.3rem;
        width: 51rem;

        .auto-group-e1rw-nXg {
          box-sizing: border-box;
          padding-bottom: 2.1rem;
          width: 100%;
          display: flex;
          flex-direction: column;

          .group-84-XVG {
            width: calc(100% - 0.316rem);
            height: 1.9rem;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 0.316rem 2.9rem 0rem;

            .pg1687-3Tc {
              margin-right: 42.1rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #1656c1;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .group-83-BJv {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .item-4-8jx {
                margin-right: 1rem;
                font-size: 1.5rem;
                font-weight: 400;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                text-align: right;
                color: #1656c1;
                flex-shrink: 0;
              }
              .vuesax-linear-arrow-down-TnE {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.1902rem;
                width: 0.984rem;
                height: 0.5098rem;
              }
            }
          }
          .auto-group-e9jw-arr {
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin: 0rem 0.2rem 0.9rem 0rem;
            width: calc(100% - 0.2rem);

            .item-1-7bt {
              color: #1656c1;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 43.8rem;
              font-size: 1.5rem;
              font-weight: 700;
              line-height: 1.2125;
            }
            .may-1-2023-ebp {
              font-weight: 400;
              line-height: 1.2125;
              color: #918f8f;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1rem;
            }
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-fringilla-augue-lorem-facilisis-porttitor-lorem-commodo-ut-fusce-nec-imperdiet-erat-nunc-sagittis-turpis-dictum-placerat-iaculis-ante-quam-luctus-mauris-eu-tincidunt-nulla-sem-sit-amet-mauris-Bbk {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            max-width: 50.4rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2125;
          }
        }
        .auto-group-pgpe-pei {
          width: 100%;
          display: flex;
          align-items: center;
          margin-bottom: 0.9rem;

          .item-2-mpr {
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 43.6rem;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.2125;
            color: #1656c1;
            font-family: Inter, 'Source Sans Pro';
          }
          .may-3-2023-6s8 {
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #918f8f;
            font-family: Inter, 'Source Sans Pro';
          }
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-fringilla-augue-lorem-facilisis-porttitor-lorem-commodo-ut-2Vt {
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          max-width: 48rem;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.2125;
        }
      }
      .line-9-7ve {
        width: 0.05rem;
        height: 83.3rem;
        position: absolute;
        left: 60.7rem;
        top: 0;
        background-color: #b0b0b0;
      }
    }
  }
}
