
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.notetakinghovering--r1U {
  overflow: hidden;
  position: relative;
  background-color: #ffffff;
  width: 100%;
  height: 83.2rem;

  .group-79-Zga {
    width: 100%;
    height: 83.3rem;
    display: flex;
    align-items: center;

    .auto-group-ak86-Ju4 {
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;
      box-sizing: border-box;
      padding-top: 0.1rem;

      .auto-group-uwqg-ei2 {
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #f5f5f5;
        flex-shrink: 0;
        width: 6.5rem;
        height: 100%;
        position: relative;

        .vuesax-linear-setting-2-BT4 {
          height: 3.8rem;
          position: absolute;
          left: 1.6rem;
          top: 71.4rem;
          object-fit: contain;
          vertical-align: top;
          width: 3.8rem;
        }
        .dashboard-6K8 {
          font-family: Inter, 'Source Sans Pro';
          height: 1.1rem;
          left: 1.1rem;
          font-size: 0.9rem;
          font-weight: 400;
          color: #5e5c5c;
          width: 4.7rem;
          position: absolute;
          top: 11.7rem;
          line-height: 1.2125;
          white-space: nowrap;
        }
        .dashboard-BbU {
          top: 8.4rem;
          object-fit: contain;
          vertical-align: top;
          width: 3rem;
          height: 3rem;
          position: absolute;
          left: 1.8rem;
        }
        .user-7EE {
          width: 4rem;
          height: 4rem;
          position: absolute;
          left: 1.4rem;
          top: 2rem;
          object-fit: contain;
          vertical-align: top;
        }
        .rectangle-4119-F5Y {
          left: 0;
          top: 0;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #f5f5f5;
          width: 6.5rem;
          height: 83.2rem;
          position: absolute;
        }
        .vuesax-linear-setting-2-knz {
          position: absolute;
          left: 1.6rem;
          top: 71.4rem;
          object-fit: contain;
          vertical-align: top;
          width: 3.8rem;
          height: 3.8rem;
        }
        .dashboard-ssc {
          line-height: 1.2125;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 4.7rem;
          position: absolute;
          left: 1.1rem;
          top: 11.7rem;
          height: 1.1rem;
          font-size: 0.9rem;
          font-weight: 400;
          color: #5e5c5c;
        }
        .dashboard-Ari {
          width: 3rem;
          height: 3rem;
          position: absolute;
          left: 1.8rem;
          top: 8.4rem;
          object-fit: contain;
          vertical-align: top;
        }
        .user-Jxv {
          object-fit: contain;
          vertical-align: top;
          width: 4rem;
          height: 4rem;
          position: absolute;
          left: 1.4rem;
          top: 2rem;
        }
        .logout-eWz {
          left: 1.8rem;
          top: 76.7rem;
          object-fit: contain;
          vertical-align: top;
          width: 3.4rem;
          height: 3.4rem;
          position: absolute;
        }
      }
      .auto-group-us3g-9Tk {
        flex-direction: column;
        flex-shrink: 0;
        width: 60.7rem;
        align-items: flex-end;
        display: flex;

        .auto-group-pcni-686 {
          margin-bottom: 0.6rem;
          width: 100%;
          height: 9.1rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-4114-aox {
            width: 60.7rem;
            height: 5.2rem;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #ffffff;
          }
          .rectangle-4116-ivA {
            position: absolute;
            left: 16.6rem;
            top: 1.2rem;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #f8f7f6;
            border-radius: 1.7rem;
            width: 25.8rem;
            height: 5.1rem;
          }
          .closeround-2R4 {
            position: absolute;
            left: 39.475rem;
            top: 3.075rem;
            object-fit: contain;
            vertical-align: top;
            width: 0.75rem;
            height: 0.75rem;
          }
          .dux2009-MiE {
            font-weight: 500;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            position: absolute;
            top: 2.4rem;
            left: 25.6rem;
            font-size: 1.5rem;
            color: #5e5c5c;
            white-space: nowrap;
            width: 7.4rem;
            height: 1.9rem;
          }
          .add-fyp {
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            left: 46.9rem;
            top: 2.2rem;
            font-size: 1.5rem;
            font-weight: 400;
            color: #918f8f;
            width: 3.3rem;
            height: 1.9rem;
            position: absolute;
            line-height: 1.2125;
          }
          .search-b6n {
            width: 1.8667rem;
            height: 1.8666rem;
            position: absolute;
            left: 8.4667rem;
            top: 1.8667rem;
            object-fit: contain;
            vertical-align: top;
          }
          .translate-3-ix6 {
            left: 12.1042rem;
            top: 1.6042rem;
            object-fit: contain;
            vertical-align: top;
            width: 2.2917rem;
            height: 2.2917rem;
            position: absolute;
          }
          .expanddownlight-roQ {
            height: 1.55rem;
            position: absolute;
            left: 2.2875rem;
            top: 2.0552rem;
            object-fit: contain;
            vertical-align: top;
            width: 0.85rem;
          }
          .rectangle-4118-oCr {
            height: 4rem;
            position: absolute;
            left: 0;
            top: 5.1rem;
            box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #ffffff;
            width: 60.7rem;
          }
          .vector-271-iKp {
            object-fit: contain;
            vertical-align: top;
            width: 1rem;
            height: 0;
            position: absolute;
            left: 25.5rem;
            top: 7.3rem;
          }
          .item-515-eDU {
            width: 3.3rem;
            top: 6.4rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #5e5c5c;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            height: 1.5rem;
            position: absolute;
            left: 31.2rem;
            font-size: 1.2rem;
          }
          .ellipse-70-YZk {
            border-radius: 0.9rem;
            width: 1.8rem;
            left: 27.8rem;
            top: 6.4rem;
            background-color: rgba(0, 0, 0, 0);
            height: 1.8rem;
            position: absolute;
            border: solid 0.1rem #5e5c5c;
            box-sizing: border-box;
          }
          .highlighter-4-TAv {
            height: 2.8259rem;
            position: absolute;
            left: 12rem;
            top: 5.6rem;
            object-fit: contain;
            vertical-align: top;
            width: 2.5259rem;
          }
          .format-textbox-3-nDC {
            object-fit: contain;
            vertical-align: top;
            width: 2.4rem;
            height: 2.4rem;
            position: absolute;
            left: 19.1rem;
            top: 5.9rem;
          }
          .line-5-KD8 {
            height: 0.1rem;
            position: absolute;
            left: 30.9rem;
            top: 8.2rem;
            background-color: #918f8f;
            width: 6.1rem;
          }
          .mouse-pointer-3-rD4 {
            top: 5.7rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.7618rem;
            height: 2.4221rem;
            position: absolute;
            left: 8.5rem;
          }
          .ellipse-71-auk {
            width: 1.8rem;
            height: 1.8rem;
            left: 25.1rem;
            border: solid 0.1rem #5e5c5c;
            background-color: rgba(0, 0, 0, 0);
            border-radius: 0.9rem;
            position: absolute;
            top: 6.4rem;
            box-sizing: border-box;
          }
          .rectangle-4120-tQe {
            width: 60.7rem;
            height: 5.2rem;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #ffffff;
          }
          .rectangle-4122-SBG {
            width: 25.8rem;
            height: 5.1rem;
            position: absolute;
            left: 16.6rem;
            top: 1.2rem;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #f8f7f6;
            border-radius: 1.7rem;
          }
          .closeround-95g {
            top: 3.075rem;
            object-fit: contain;
            vertical-align: top;
            width: 0.75rem;
            height: 0.75rem;
            position: absolute;
            left: 39.475rem;
          }
          .dux2009-sXU {
            position: absolute;
            line-height: 1.2125;
            color: #5e5c5c;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 7.4rem;
            left: 25.6rem;
            top: 2.4rem;
            font-size: 1.5rem;
            font-weight: 500;
            height: 1.9rem;
          }
          .add-awg {
            white-space: nowrap;
            left: 46.9rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #918f8f;
            font-family: Inter, 'Source Sans Pro';
            width: 3.3rem;
            height: 1.9rem;
            position: absolute;
            top: 2.2rem;
            font-size: 1.5rem;
          }
          .search-Jsg {
            width: 1.8667rem;
            height: 1.8666rem;
            position: absolute;
            left: 8.4667rem;
            top: 1.8667rem;
            object-fit: contain;
            vertical-align: top;
          }
          .translate-4-ege {
            height: 2.2917rem;
            position: absolute;
            left: 12.1042rem;
            top: 1.6042rem;
            object-fit: contain;
            vertical-align: top;
            width: 2.2917rem;
          }
          .expanddownlight-PPL {
            top: 2.0552rem;
            object-fit: contain;
            vertical-align: top;
            width: 0.85rem;
            height: 1.55rem;
            position: absolute;
            left: 2.2875rem;
          }
          .rectangle-4124-iwQ {
            position: absolute;
            left: 0;
            top: 5.1rem;
            box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #ffffff;
            width: 60.7rem;
            height: 4rem;
          }
          .vector-272-FRY {
            object-fit: contain;
            vertical-align: top;
            width: 1rem;
            height: 0;
            position: absolute;
            left: 25.5rem;
            top: 7.3rem;
          }
          .item-515-19p {
            font-size: 1.2rem;
            line-height: 1.2125;
            color: #5e5c5c;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 3.3rem;
            height: 1.5rem;
            left: 31.2rem;
            position: absolute;
            top: 6.4rem;
            font-weight: 400;
          }
          .ellipse-72-ukz {
            box-sizing: border-box;
            border-radius: 0.9rem;
            left: 27.8rem;
            border: solid 0.1rem #5e5c5c;
            position: absolute;
            top: 6.4rem;
            background-color: rgba(0, 0, 0, 0);
            width: 1.8rem;
            height: 1.8rem;
          }
          .highlighter-5-RDY {
            vertical-align: top;
            width: 2.5259rem;
            height: 2.8259rem;
            position: absolute;
            left: 12rem;
            top: 5.6rem;
            object-fit: contain;
          }
          .format-textbox-4-Mcz {
            position: absolute;
            left: 19.1rem;
            top: 5.9rem;
            object-fit: contain;
            vertical-align: top;
            width: 2.4rem;
            height: 2.4rem;
          }
          .line-6-5ot {
            top: 8.2rem;
            background-color: #918f8f;
            width: 6.1rem;
            height: 0.1rem;
            position: absolute;
            left: 30.9rem;
          }
          .mouse-pointer-4-cop {
            left: 8.5rem;
            top: 5.7rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.7618rem;
            height: 2.4221rem;
            position: absolute;
          }
          .ellipse-73-MFc {
            width: 1.8rem;
            height: 1.8rem;
            position: absolute;
            top: 6.4rem;
            left: 25.1rem;
            border: solid 0.1rem #5e5c5c;
            box-sizing: border-box;
            background-color: rgba(0, 0, 0, 0);
            border-radius: 0.9rem;
          }
          .group-78-T3k {
            object-fit: contain;
            vertical-align: top;
            width: 1rem;
            height: 1rem;
            position: absolute;
            left: 28.2rem;
            top: 6.8rem;
          }
          .polygon-4-zJa {
            object-fit: contain;
            vertical-align: top;
            border-radius: 0.05rem;
            width: 0.8rem;
            height: 0.7rem;
            position: absolute;
            left: 35.7rem;
            top: 6.8rem;
          }
          .filedockduotone-hin {
            left: 44.4208rem;
            top: 2.1125rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.4583rem;
            height: 1.875rem;
            position: absolute;
          }
          .tutorial-pHc {
            top: 6.4rem;
            color: #918f8f;
            height: 1.6rem;
            position: absolute;
            font-size: 1.3rem;
            font-weight: 400;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 4.6rem;
            left: 53.8rem;
          }
          .questionfill-83Q {
            position: absolute;
            left: 52.1375rem;
            top: 6.4375rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.425rem;
            height: 1.425rem;
          }
          .imgbox-rVC {
            top: 6.05rem;
            object-fit: contain;
            vertical-align: top;
            width: 2.1rem;
            height: 2.1rem;
            position: absolute;
            left: 15.75rem;
          }
        }
        .auto-group-rfsc-PEE {
          margin: 0rem 0.5rem 0rem 5rem;
          width: calc(100% - 5.5rem);
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .auto-group-uv1g-uiN {
            width: 51.8rem;
            display: flex;
            background-repeat: no-repeat;
            background-position: center;
            padding: 7.5rem 3.2rem 12.1rem 24.9rem;
            box-sizing: border-box;
            align-items: flex-end;
            flex-direction: column;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:44df6473f76ce8614277bb97d7ab1cf5cc092790');
            flex-shrink: 0;
            margin: 0.8rem 2.6rem 0rem 0rem;

            .auto-group-fksz-CxN {
              position: relative;
              flex-shrink: 0;
              margin-bottom: 15.4rem;
              width: 100%;
              height: 19.7rem;

              .hovering-sign-YWS {
                width: 2rem;
                height: 1.1rem;
                position: absolute;
                left: 21.7rem;
                top: 1.4rem;
                object-fit: contain;
                vertical-align: top;
              }
              .item--4Dt {
                position: absolute;
                left: 0;
                top: 0;
                width: 21.1rem;
                height: 3.8rem;

                .rectangle-4145-PGA {
                  margin: 0rem 0rem 0.4rem 1rem;
                  width: 20.1rem;
                  height: 0.7rem;
                  background-color: rgba(22, 86, 193, 0.1700000018);
                }
                .rectangle-4146-tii {
                  margin-bottom: 0.2rem;
                  width: 100%;
                  height: 0.7rem;
                  background-color: rgba(22, 86, 193, 0.1700000018);
                }
                .rectangle-4147-dwC {
                  margin-bottom: 0.4rem;
                  width: 100%;
                  height: 0.7rem;
                  background-color: rgba(22, 86, 193, 0.1700000018);
                }
                .rectangle-4148-arS {
                  width: 2.2rem;
                  height: 0.7rem;
                  background-color: rgba(22, 86, 193, 0.1700000018);
                }
              }
              .rectangle-4152-wBC {
                border-radius: 1.2rem;
                width: 16rem;
                height: 16.6rem;
                position: absolute;
                left: 7.7rem;
                top: 3.1rem;
                background-color: #ffffff;
              }
              .rectangle-4154-s4r {
                background-color: rgba(22, 86, 193, 0.1700000018);
                border-radius: 1.2rem;
                width: 16rem;
                height: 16.6rem;
                position: absolute;
                left: 7.7rem;
                top: 3.1rem;
                box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
              }
              .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-fringilla-augue-lorem-facilisis-porttitor-lorem-commodo-ut-fusce-nec-imperdiet-erat-nunc-sagittis-turpis-dictum-placerat-iaculis-ante-quam-luctus-mauris-eu-tincidunt-nulla-sem-sit-amet-mauris-mR8 {
                top: 6.3rem;
                line-height: 1.2125;
                color: #000000;
                height: 12.2rem;
                position: absolute;
                left: 9.1rem;
                font-family: Inter, 'Source Sans Pro';
                width: 13.4rem;
                font-size: 1rem;
                font-weight: 400;
              }
              .may-1-2023-mJe {
                height: 1rem;
                position: absolute;
                font-weight: 400;
                line-height: 1.2125;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                width: 4.6rem;
                left: 17.7rem;
                top: 4.6rem;
                text-align: right;
                font-size: 0.8rem;
                white-space: nowrap;
              }
            }
            .auto-group-m8ty-UD4 {
              width: 23.4rem;
              height: 17rem;
              position: relative;
              flex-shrink: 0;

              .hovering-sign-QsQ {
                left: 21.4rem;
                top: 1.9rem;
                object-fit: contain;
                vertical-align: top;
                width: 2rem;
                height: 1.1rem;
                position: absolute;
              }
              .group-82-n7G {
                top: 0;
                width: 21.1rem;
                height: 5.7rem;
                position: absolute;
                left: 0;

                .rectangle-4145-7QS {
                  width: 14rem;
                  height: 0.7rem;
                  background-color: rgba(22, 86, 193, 0.1700000018);
                  margin: 0rem 0rem 0.4rem 7.1rem;
                }
                .rectangle-4146-qbL {
                  margin-bottom: 0.2rem;
                  width: 100%;
                  height: 0.7rem;
                  background-color: rgba(22, 86, 193, 0.1700000018);
                }
                .rectangle-4147-zDL {
                  margin-bottom: 0.4rem;
                  width: 100%;
                  height: 0.7rem;
                  background-color: rgba(22, 86, 193, 0.1700000018);
                }
                .rectangle-4148-LY6 {
                  height: 0.7rem;
                  background-color: rgba(22, 86, 193, 0.1700000018);
                  margin-bottom: 0.2rem;
                  width: 100%;
                }
                .rectangle-4149-4yt {
                  margin-bottom: 0.3rem;
                  width: 100%;
                  height: 0.7rem;
                  background-color: rgba(22, 86, 193, 0.1700000018);
                }
                .rectangle-4150-pCN {
                  width: 2.6rem;
                  height: 0.7rem;
                  background-color: rgba(22, 86, 193, 0.1700000018);
                }
              }
              .rectangle-4153-xpN {
                position: absolute;
                left: 7.4rem;
                top: 5.5rem;
                background-color: #ffffff;
                border-radius: 1.2rem;
                width: 16rem;
                height: 11.5rem;
              }
              .rectangle-4155-J7Y {
                height: 11.5rem;
                position: absolute;
                left: 7.4rem;
                top: 5.5rem;
                box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
                background-color: rgba(22, 86, 193, 0.1700000018);
                border-radius: 1.2rem;
                width: 16rem;
              }
              .group-89-QwG {
                display: flex;
                flex-direction: column;
                width: 13.4rem;
                height: 7.8rem;
                position: absolute;
                left: 8.8rem;
                top: 7.4rem;
                align-items: flex-end;

                .may-1-2023-Z3U {
                  font-size: 0.8rem;
                  font-weight: 400;
                  color: #000000;
                  flex-shrink: 0;
                  margin: 0rem 0.2rem 0.7rem 0rem;
                  text-align: right;
                  line-height: 1.2125;
                  font-family: Inter, 'Source Sans Pro';
                  white-space: nowrap;
                }
                .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-fringilla-augue-lorem-facilisis-porttitor-lorem-commodo-ut-Gia {
                  max-width: 13.4rem;
                  font-size: 1rem;
                  font-weight: 400;
                  line-height: 1.2125;
                  color: #000000;
                  font-family: Inter, 'Source Sans Pro';
                  flex-shrink: 0;
                }
              }
            }
          }
          .rectangle-4125-6xW {
            width: 0.8rem;
            height: 14.4rem;
            background-color: #918f8f;
            border-radius: 1rem;
            flex-shrink: 0;
          }
        }
      }
    }
    .auto-group-6hyx-EYv {
      width: 60.8rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .rectangle-4115-YJi {
        left: 0;
        top: 0;
        background-color: #ffffff;
        width: 60.7rem;
        height: 5.2rem;
        position: absolute;
      }
      .expanddownlight-65L {
        position: absolute;
        left: 2.0625rem;
        top: 1.8948rem;
        object-fit: contain;
        vertical-align: top;
        width: 0.85rem;
        height: 1.55rem;
      }
      .rectangle-4117-pX8 {
        left: 7.4rem;
        top: 1.2rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #f8f7f6;
        border-radius: 1.7rem;
        width: 25.8rem;
        height: 5.1rem;
        position: absolute;
      }
      .closeround-jPC {
        object-fit: contain;
        vertical-align: top;
        width: 0.75rem;
        height: 0.75rem;
        position: absolute;
        left: 30.275rem;
        top: 3.075rem;
      }
      .note-1-G8E {
        width: 4.6rem;
        left: 18rem;
        font-weight: 500;
        color: #5e5c5c;
        font-family: Inter, 'Source Sans Pro';
        height: 1.9rem;
        position: absolute;
        top: 2.4rem;
        font-size: 1.5rem;
        line-height: 1.2125;
        white-space: nowrap;
      }
      .rectangle-4121-NSA {
        width: 60.7rem;
        height: 5.2rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #ffffff;
      }
      .expanddownlight-iW2 {
        top: 1.8948rem;
        object-fit: contain;
        vertical-align: top;
        width: 0.85rem;
        height: 1.55rem;
        position: absolute;
        left: 2.0625rem;
      }
      .rectangle-4123-TCi {
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #f8f7f6;
        border-radius: 1.7rem;
        width: 25.8rem;
        height: 5.1rem;
        position: absolute;
        left: 7.4rem;
        top: 1.2rem;
      }
      .closeround-ZmY {
        vertical-align: top;
        width: 0.75rem;
        height: 0.75rem;
        position: absolute;
        left: 30.275rem;
        top: 3.075rem;
        object-fit: contain;
      }
      .note-1-WAz {
        width: 4.6rem;
        position: absolute;
        color: #5e5c5c;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        line-height: 1.2125;
        height: 1.9rem;
        left: 18rem;
        top: 2.4rem;
        font-size: 1.5rem;
        font-weight: 500;
      }
      .add-phU {
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
        width: 3.3rem;
        position: absolute;
        top: 2.1rem;
        font-size: 1.5rem;
        white-space: nowrap;
        height: 1.9rem;
        left: 37.9rem;
        line-height: 1.2125;
        color: #918f8f;
      }
      .filedockduotone-YtN {
        top: 2.0125rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.4583rem;
        height: 1.875rem;
        position: absolute;
        left: 35.4208rem;
      }
      .rectangle-4126-VHp {
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #f5f5f5;
        width: 60.5rem;
        height: 74.3rem;
        position: absolute;
        left: 0;
        top: 8.9rem;
      }
      .rectangle-4127-1mx {
        width: 60.8rem;
        height: 4rem;
        position: absolute;
        left: 0;
        top: 5.3rem;
        background-color: #f5f5f5;
      }
      .back-wvW {
        width: 2.2rem;
        height: 1.8rem;
        position: absolute;
        left: 5.4rem;
        top: 7.1rem;
        object-fit: contain;
        vertical-align: top;
      }
      .vector-273-gt6 {
        top: 7.1rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.2rem;
        height: 1.8rem;
        position: absolute;
        left: 9.3rem;
      }
      .polygon-5-pDc {
        top: 7.5rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.1rem;
        width: 1.1rem;
        height: 1rem;
        position: absolute;
        left: 30.9rem;
      }
      .heading-9Ft {
        height: 1.9rem;
        left: 24.1rem;
        font-family: Inter, 'Source Sans Pro';
        line-height: 1.2125;
        color: #5e5c5c;
        white-space: nowrap;
        width: 6rem;
        position: absolute;
        top: 7.1rem;
        font-size: 1.5rem;
        font-weight: 500;
      }
      .meatballsmenu-eyL {
        width: 1.4rem;
        height: 0.2rem;
        position: absolute;
        left: 53.4rem;
        top: 7.5rem;
        object-fit: contain;
        vertical-align: top;
      }
      .polygon-6-a6J {
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.1rem;
        width: 1.1rem;
        height: 1rem;
        position: absolute;
        left: 49.5rem;
        top: 7.1rem;
      }
      .imgbox-76E {
        position: absolute;
        left: 17.5399rem;
        top: 6.85rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.1rem;
        height: 2.1rem;
      }
      .highlighter-6-2iz {
        top: 6.4rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.5259rem;
        height: 2.8259rem;
        position: absolute;
        left: 13.6rem;
      }
      .sortalfalight-N2A {
        top: 6.5625rem;
        object-fit: contain;
        vertical-align: top;
        width: 1.45rem;
        height: 2.0542rem;
        position: absolute;
        left: 47.825rem;
      }
      .u-goY {
        height: 3rem;
        position: absolute;
        font-size: 2.4rem;
        line-height: 1.2125;
        white-space: nowrap;
        width: 1.8rem;
        top: 6.3rem;
        font-weight: 400;
        color: #5e5c5c;
        font-family: Inter, 'Source Sans Pro';
        left: 44.3rem;
      }
      .i-1L2 {
        position: absolute;
        left: 41.7rem;
        top: 6.3rem;
        font-style: italic;
        color: #5e5c5c;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 3rem;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        width: 0.7rem;
      }
      .b-KrW {
        top: 6.3rem;
        font-weight: 700;
        line-height: 1.2125;
        color: #5e5c5c;
        white-space: nowrap;
        width: 1.6rem;
        position: absolute;
        font-size: 2.4rem;
        font-family: Inter, 'Source Sans Pro';
        height: 3rem;
        left: 38.2rem;
      }
      .line-7-qpr {
        background-color: #bcbcbc;
        width: 0.1rem;
        height: 2.2rem;
        position: absolute;
        left: 21.5rem;
        top: 6.9rem;
      }
      .line-8-Npn {
        top: 6.8rem;
        background-color: #bcbcbc;
        width: 0.1rem;
        height: 2.2rem;
        position: absolute;
        left: 33.7rem;
      }
      .group-85-Wg6 {
        left: 2rem;
        top: 11.8rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 56.8rem;
        height: 24.6rem;
        position: absolute;

        .auto-group-xp3l-F7t {
          box-sizing: border-box;
          padding: 1.1rem 3.016rem 1rem 3.1rem;
          width: 100%;
          height: 4rem;
          background-color: #d9d9d9;
          border-radius: 0.6rem;
          flex-shrink: 0;

          .group-84-aR4 {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .pg1684-wFc {
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 42rem;
            }
            .group-83-fxJ {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .item-2-deE {
                margin-right: 1rem;
                font-size: 1.5rem;
                font-weight: 400;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                text-align: right;
                line-height: 1.2125;
                white-space: nowrap;
                flex-shrink: 0;
              }
              .vuesax-linear-arrow-down-kir {
                height: 0.5098rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.1902rem;
                width: 0.984rem;
              }
            }
          }
        }
        .auto-group-ytpq-fav {
          padding: 1.9rem 2.9rem 0rem 3.1rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;

          .auto-group-qtj6-bDg {
            margin-bottom: 0.9rem;
            width: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .item-1-Lwx {
              margin-right: 43.8rem;
              font-size: 1.5rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .may-1-2023-Gqc {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #918f8f;
            }
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-fringilla-augue-lorem-facilisis-porttitor-lorem-commodo-ut-fusce-nec-imperdiet-erat-nunc-sagittis-turpis-dictum-placerat-iaculis-ante-quam-luctus-mauris-eu-tincidunt-nulla-sem-sit-amet-mauris-cPg {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 0.4rem 2.1rem 0rem;
            max-width: 50.4rem;
            font-size: 1.5rem;
            font-weight: 400;
          }
          .auto-group-9zrv-dZg {
            margin-bottom: 0.9rem;
            width: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .item-2-PHx {
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 43.6rem;
              font-size: 1.5rem;
            }
            .may-1-2023-8FY {
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #918f8f;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-fringilla-augue-lorem-facilisis-porttitor-lorem-commodo-ut-TYi {
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 2.8rem;
            max-width: 48rem;
          }
        }
      }
      .item-1-YaA {
        font-size: 1.5rem;
        font-weight: 700;
        color: #000000;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        height: 1.9rem;
        left: 5.1rem;
        top: 45.2rem;
        width: 1.2rem;
        position: absolute;
        line-height: 1.2125;
      }
      .group-88-4Hc {
        position: absolute;
        left: 2rem;
        top: 39.3rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        width: 56.8rem;
        height: 16rem;

        .auto-group-8ka2-Bd8 {
          flex-shrink: 0;
          margin-bottom: 2.2rem;
          box-sizing: border-box;
          padding: 1.1rem 3.016rem 1rem 3.1rem;
          width: 100%;
          height: 4rem;
          background-color: #d9d9d9;
          border-radius: 0.6rem;

          .group-84-hbU {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .pg1685-Fst {
              margin-right: 42.4rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .group-83-bB4 {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .item-1-9yG {
                margin-right: 1rem;
                font-size: 1.5rem;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                flex-shrink: 0;
                text-align: right;
                font-weight: 400;
                color: #000000;
                white-space: nowrap;
              }
              .vuesax-linear-arrow-down-tAA {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.1902rem;
                width: 0.984rem;
                height: 0.5098rem;
              }
            }
          }
        }
        .may-2-2023-baN {
          font-weight: 400;
          line-height: 1.2125;
          color: #918f8f;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 2.7rem 1.2rem 0rem;
          font-size: 1rem;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-fringilla-augue-lorem-facilisis-porttitor-lorem-commodo-ut-fusce-nec-imperdiet-erat-nunc-sagittis-turpis-dictum-placerat-iaculis-ante-quam-luctus-mauris-eu-tincidunt-nulla-sem-sit-amet-mauris-WxE {
          max-width: 50.4rem;
          font-size: 1.5rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 3.3rem;
        }
      }
      .group-87-x3Y {
        width: 56.8rem;
        height: 24.6rem;
        position: absolute;
        left: 2rem;
        top: 58.2rem;
        align-items: center;
        display: flex;
        flex-direction: column;

        .auto-group-9mzp-UXg {
          height: 4rem;
          background-color: #d9d9d9;
          border-radius: 0.6rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.1rem 3.016rem 1rem 3.1rem;
          width: 100%;

          .group-84-1Xc {
            height: 100%;
            display: flex;
            align-items: center;
            width: 100%;

            .pg1687-yDY {
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 42.1rem;
            }
            .group-83-WjG {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .item-4-5nN {
                margin-right: 1rem;
                font-size: 1.5rem;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                text-align: right;
                font-weight: 400;
                color: #000000;
                flex-shrink: 0;
              }
              .vuesax-linear-arrow-down-DNn {
                margin-bottom: 0.1902rem;
                width: 0.984rem;
                height: 0.5098rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
        .auto-group-f35g-8Vk {
          padding: 1.9rem 2.7rem 0rem 3.1rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;

          .auto-group-9f4i-eyt {
            margin: 0rem 0.2rem 0.9rem 0rem;
            width: calc(100% - 0.2rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .item-1-Byp {
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 43.8rem;
              font-size: 1.5rem;
              font-weight: 700;
              line-height: 1.2125;
            }
            .may-1-2023-jEe {
              line-height: 1.2125;
              color: #918f8f;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 400;
            }
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-fringilla-augue-lorem-facilisis-porttitor-lorem-commodo-ut-fusce-nec-imperdiet-erat-nunc-sagittis-turpis-dictum-placerat-iaculis-ante-quam-luctus-mauris-eu-tincidunt-nulla-sem-sit-amet-mauris-UCE {
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin: 0rem 0.6rem 2.1rem 0rem;
            max-width: 50.4rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
          }
          .auto-group-hcky-JBG {
            margin-bottom: 0.9rem;
            width: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .item-2-rCn {
              flex-shrink: 0;
              margin-right: 43.6rem;
              font-size: 1.5rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
            .may-3-2023-ns8 {
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #918f8f;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-fringilla-augue-lorem-facilisis-porttitor-lorem-commodo-ut-L7x {
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 3rem;
            max-width: 48rem;
            font-size: 1.5rem;
            font-weight: 400;
          }
        }
      }
    }
  }
}
