
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.notetaking--G8v {
  width: 100%;
  height: 83.2rem;
  overflow: hidden;
  position: relative;
  background-color: #ffffff;

  .group-79-NSr {
    width: 100%;
    height: 83.3rem;
    display: flex;
    align-items: center;

    .auto-group-ggz2-6te {
      box-sizing: border-box;
      padding-top: 0.1rem;
      height: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .auto-group-udvx-3Yz {
        position: relative;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #f5f5f5;
        flex-shrink: 0;
        width: 6.5rem;
        height: 100%;

        .vuesax-linear-setting-2-AtW {
          height: 3.8rem;
          position: absolute;
          left: 1.6rem;
          top: 71.4rem;
          object-fit: contain;
          vertical-align: top;
          width: 3.8rem;
        }
        .dashboard-HTL {
          position: absolute;
          font-weight: 400;
          line-height: 1.2125;
          color: #5e5c5c;
          white-space: nowrap;
          width: 4.7rem;
          height: 1.1rem;
          left: 1.1rem;
          top: 11.7rem;
          font-size: 0.9rem;
          font-family: Inter, 'Source Sans Pro';
        }
        .dashboard-xZU {
          position: absolute;
          left: 1.8rem;
          top: 8.4rem;
          object-fit: contain;
          vertical-align: top;
          width: 3rem;
          height: 3rem;
        }
        .user-tCE {
          width: 4rem;
          height: 4rem;
          position: absolute;
          left: 1.4rem;
          top: 2rem;
          object-fit: contain;
          vertical-align: top;
        }
        .rectangle-4119-QAa {
          position: absolute;
          left: 0;
          top: 0;
          box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
          background-color: #f5f5f5;
          width: 6.5rem;
          height: 83.2rem;
        }
        .vuesax-linear-setting-2-u7L {
          left: 1.6rem;
          top: 71.4rem;
          object-fit: contain;
          vertical-align: top;
          width: 3.8rem;
          height: 3.8rem;
          position: absolute;
        }
        .dashboard-d3L {
          position: absolute;
          left: 1.1rem;
          top: 11.7rem;
          font-size: 0.9rem;
          font-weight: 400;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          width: 4.7rem;
          line-height: 1.2125;
          color: #5e5c5c;
          height: 1.1rem;
        }
        .dashboard-v2S {
          height: 3rem;
          position: absolute;
          left: 1.8rem;
          top: 8.4rem;
          object-fit: contain;
          vertical-align: top;
          width: 3rem;
        }
        .user-eDL {
          object-fit: contain;
          vertical-align: top;
          width: 4rem;
          height: 4rem;
          position: absolute;
          left: 1.4rem;
          top: 2rem;
        }
        .logout-ASa {
          width: 3.4rem;
          height: 3.4rem;
          position: absolute;
          left: 1.8rem;
          top: 76.7rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .auto-group-lhcs-f8S {
        width: 60.7rem;
        align-items: flex-end;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .auto-group-3bya-C8N {
          margin-bottom: 0.6rem;
          width: 100%;
          height: 9.1rem;
          position: relative;
          flex-shrink: 0;

          .rectangle-4114-Ge2 {
            top: 0;
            background-color: #ffffff;
            width: 60.7rem;
            height: 5.2rem;
            position: absolute;
            left: 0;
          }
          .rectangle-4116-D3U {
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #f8f7f6;
            border-radius: 1.7rem;
            width: 25.8rem;
            height: 5.1rem;
            position: absolute;
            left: 16.6rem;
            top: 1.2rem;
          }
          .closeround-uS6 {
            position: absolute;
            left: 39.475rem;
            top: 3.075rem;
            object-fit: contain;
            vertical-align: top;
            width: 0.75rem;
            height: 0.75rem;
          }
          .dux2009-3HQ {
            top: 2.4rem;
            white-space: nowrap;
            position: absolute;
            height: 1.9rem;
            left: 25.6rem;
            font-size: 1.5rem;
            font-weight: 500;
            line-height: 1.2125;
            color: #5e5c5c;
            font-family: Inter, 'Source Sans Pro';
            width: 7.4rem;
          }
          .add-kBp {
            height: 1.9rem;
            left: 46.9rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2125;
            white-space: nowrap;
            width: 3.3rem;
            position: absolute;
            top: 2.2rem;
            color: #918f8f;
            font-family: Inter, 'Source Sans Pro';
          }
          .search-FuG {
            left: 8.4667rem;
            top: 1.8667rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.8667rem;
            height: 1.8666rem;
            position: absolute;
          }
          .translate-3-PEn {
            top: 1.6042rem;
            object-fit: contain;
            vertical-align: top;
            width: 2.2917rem;
            height: 2.2917rem;
            position: absolute;
            left: 12.1042rem;
          }
          .expanddownlight-7wU {
            object-fit: contain;
            vertical-align: top;
            width: 0.85rem;
            height: 1.55rem;
            position: absolute;
            left: 2.2875rem;
            top: 2.0552rem;
          }
          .rectangle-4118-TEe {
            box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #ffffff;
            width: 60.7rem;
            height: 4rem;
            position: absolute;
            left: 0;
            top: 5.1rem;
          }
          .vector-271-Aer {
            vertical-align: top;
            width: 1rem;
            height: 0;
            position: absolute;
            left: 25.5rem;
            top: 7.3rem;
            object-fit: contain;
          }
          .item-515-Vh8 {
            top: 6.4rem;
            font-size: 1.2rem;
            font-weight: 400;
            width: 3.3rem;
            left: 31.2rem;
            line-height: 1.2125;
            color: #5e5c5c;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            height: 1.5rem;
            position: absolute;
          }
          .ellipse-70-Q3Q {
            box-sizing: border-box;
            border-radius: 0.9rem;
            width: 1.8rem;
            height: 1.8rem;
            border: solid 0.1rem #5e5c5c;
            background-color: rgba(0, 0, 0, 0);
            position: absolute;
            left: 27.8rem;
            top: 6.4rem;
          }
          .highlighter-4-Hst {
            position: absolute;
            left: 12rem;
            top: 5.6rem;
            object-fit: contain;
            vertical-align: top;
            width: 2.5259rem;
            height: 2.8259rem;
          }
          .format-textbox-3-dB4 {
            position: absolute;
            left: 19.1rem;
            top: 5.9rem;
            object-fit: contain;
            vertical-align: top;
            width: 2.4rem;
            height: 2.4rem;
          }
          .line-5-LbG {
            width: 6.1rem;
            height: 0.1rem;
            position: absolute;
            left: 30.9rem;
            top: 8.2rem;
            background-color: #918f8f;
          }
          .mouse-pointer-3-rZc {
            vertical-align: top;
            width: 1.7618rem;
            height: 2.4221rem;
            position: absolute;
            left: 8.5rem;
            top: 5.7rem;
            object-fit: contain;
          }
          .ellipse-71-Brn {
            position: absolute;
            left: 25.1rem;
            border: solid 0.1rem #5e5c5c;
            box-sizing: border-box;
            background-color: rgba(0, 0, 0, 0);
            width: 1.8rem;
            height: 1.8rem;
            top: 6.4rem;
            border-radius: 0.9rem;
          }
          .rectangle-4120-Hup {
            top: 0;
            background-color: #ffffff;
            width: 60.7rem;
            height: 5.2rem;
            position: absolute;
            left: 0;
          }
          .rectangle-4122-Eq4 {
            height: 5.1rem;
            position: absolute;
            left: 16.6rem;
            top: 1.2rem;
            box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #f8f7f6;
            border-radius: 1.7rem;
            width: 25.8rem;
          }
          .closeround-kHc {
            object-fit: contain;
            vertical-align: top;
            width: 0.75rem;
            height: 0.75rem;
            position: absolute;
            left: 39.475rem;
            top: 3.075rem;
          }
          .dux2009-H2e {
            height: 1.9rem;
            left: 25.6rem;
            font-size: 1.5rem;
            white-space: nowrap;
            color: #5e5c5c;
            font-family: Inter, 'Source Sans Pro';
            width: 7.4rem;
            position: absolute;
            top: 2.4rem;
            font-weight: 500;
            line-height: 1.2125;
          }
          .add-aGe {
            color: #918f8f;
            width: 3.3rem;
            position: absolute;
            top: 2.2rem;
            line-height: 1.2125;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            height: 1.9rem;
            left: 46.9rem;
            font-size: 1.5rem;
            font-weight: 400;
          }
          .search-h6N {
            position: absolute;
            left: 8.4667rem;
            top: 1.8667rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.8667rem;
            height: 1.8666rem;
          }
          .translate-4-DqQ {
            top: 1.6042rem;
            object-fit: contain;
            vertical-align: top;
            width: 2.2917rem;
            height: 2.2917rem;
            position: absolute;
            left: 12.1042rem;
          }
          .expanddownlight-kKY {
            height: 1.55rem;
            position: absolute;
            left: 2.2875rem;
            top: 2.0552rem;
            object-fit: contain;
            vertical-align: top;
            width: 0.85rem;
          }
          .rectangle-4124-V2E {
            top: 5.1rem;
            box-shadow: 0 0.3rem 0.4rem rgba(0, 0, 0, 0.25);
            background-color: #ffffff;
            width: 60.7rem;
            height: 4rem;
            position: absolute;
            left: 0;
          }
          .vector-272-oYi {
            top: 7.3rem;
            object-fit: contain;
            vertical-align: top;
            width: 1rem;
            height: 0;
            position: absolute;
            left: 25.5rem;
          }
          .item-515-9Mg {
            height: 1.5rem;
            left: 31.2rem;
            color: #5e5c5c;
            font-family: Inter, 'Source Sans Pro';
            white-space: nowrap;
            width: 3.3rem;
            position: absolute;
            top: 6.4rem;
            font-size: 1.2rem;
            font-weight: 400;
            line-height: 1.2125;
          }
          .ellipse-72-eZL {
            position: absolute;
            border: solid 0.1rem #5e5c5c;
            box-sizing: border-box;
            border-radius: 0.9rem;
            background-color: rgba(0, 0, 0, 0);
            width: 1.8rem;
            height: 1.8rem;
            left: 27.8rem;
            top: 6.4rem;
          }
          .highlighter-5-MyY {
            width: 2.5259rem;
            height: 2.8259rem;
            position: absolute;
            left: 12rem;
            top: 5.6rem;
            object-fit: contain;
            vertical-align: top;
          }
          .format-textbox-4-W5k {
            width: 2.4rem;
            height: 2.4rem;
            position: absolute;
            left: 19.1rem;
            top: 5.9rem;
            object-fit: contain;
            vertical-align: top;
          }
          .line-6-qdp {
            background-color: #918f8f;
            width: 6.1rem;
            height: 0.1rem;
            position: absolute;
            left: 30.9rem;
            top: 8.2rem;
          }
          .mouse-pointer-4-yV8 {
            object-fit: contain;
            vertical-align: top;
            width: 1.7618rem;
            height: 2.4221rem;
            position: absolute;
            left: 8.5rem;
            top: 5.7rem;
          }
          .ellipse-73-uNn {
            position: absolute;
            top: 6.4rem;
            box-sizing: border-box;
            height: 1.8rem;
            left: 25.1rem;
            border: solid 0.1rem #5e5c5c;
            background-color: rgba(0, 0, 0, 0);
            border-radius: 0.9rem;
            width: 1.8rem;
          }
          .group-78-cY6 {
            left: 28.2rem;
            top: 6.8rem;
            object-fit: contain;
            vertical-align: top;
            width: 1rem;
            height: 1rem;
            position: absolute;
          }
          .polygon-4-xM4 {
            border-radius: 0.05rem;
            width: 0.8rem;
            height: 0.7rem;
            position: absolute;
            left: 35.7rem;
            top: 6.8rem;
            object-fit: contain;
            vertical-align: top;
          }
          .filedockduotone-rxE {
            height: 1.875rem;
            position: absolute;
            left: 44.4208rem;
            top: 2.1125rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.4583rem;
          }
          .tutorial-aNS {
            width: 4.6rem;
            height: 1.6rem;
            position: absolute;
            left: 53.8rem;
            font-size: 1.3rem;
            font-weight: 400;
            white-space: nowrap;
            top: 6.4rem;
            line-height: 1.2125;
            color: #918f8f;
            font-family: Inter, 'Source Sans Pro';
          }
          .questionfill-HXk {
            height: 1.425rem;
            position: absolute;
            left: 52.1375rem;
            top: 6.4375rem;
            object-fit: contain;
            vertical-align: top;
            width: 1.425rem;
          }
          .imgbox-ca2 {
            vertical-align: top;
            width: 2.1rem;
            height: 2.1rem;
            position: absolute;
            left: 15.75rem;
            top: 6.05rem;
            object-fit: contain;
          }
        }
        .auto-group-nvmc-9K4 {
          margin: 0rem 0.5rem 0rem 5rem;
          width: calc(100% - 5.5rem);
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .auto-group-oeg6-foC {
            background-image: url('REPLACE_IMAGE:44df6473f76ce8614277bb97d7ab1cf5cc092790');
            flex-shrink: 0;
            margin: 0.8rem 2.6rem 0rem 0rem;
            align-items: flex-end;
            flex-direction: column;
            background-size: 100% 100%;
            background-position: center;
            box-sizing: border-box;
            padding: 7.5rem 4.1rem 23.4rem 24.9rem;
            width: 51.8rem;
            display: flex;
            background-repeat: no-repeat;

            .auto-group-fzzg-Mg2 {
              align-items: flex-start;
              flex-shrink: 0;
              margin: 0rem 0.2rem 31.3rem 0rem;
              width: calc(100% - 0.2rem);
              height: 3.8rem;
              display: flex;

              .item--Gnz {
                height: 100%;
                flex-shrink: 0;
                margin-right: 0.4rem;
                width: 21.1rem;

                .rectangle-4145-zyt {
                  margin: 0rem 0rem 0.4rem 1rem;
                  width: 20.1rem;
                  height: 0.7rem;
                  background-color: rgba(22, 86, 193, 0.1700000018);
                }
                .rectangle-4146-Jjg {
                  margin-bottom: 0.2rem;
                  width: 100%;
                  height: 0.7rem;
                  background-color: rgba(22, 86, 193, 0.1700000018);
                }
                .rectangle-4147-eYe {
                  height: 0.7rem;
                  background-color: rgba(22, 86, 193, 0.1700000018);
                  margin-bottom: 0.4rem;
                  width: 100%;
                }
                .rectangle-4148-Pm8 {
                  background-color: rgba(22, 86, 193, 0.1700000018);
                  width: 2.2rem;
                  height: 0.7rem;
                }
              }
              .vuesax-linear-arrow-square-right-YP8 {
                margin-top: 0.4rem;
                width: 1.1rem;
                height: 2rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
            .auto-group-f1an-fie {
              height: 5.7rem;
              display: flex;
              align-items: center;
              flex-shrink: 0;
              margin-left: 0.3rem;
              width: calc(100% - 0.3rem);

              .group-82-opr {
                cursor: pointer;
                flex-shrink: 0;
                margin-right: 0.3rem;
                width: 21.1rem;
                height: 100%;

                .rectangle-4145-kEJ {
                  margin: 0rem 0rem 0.4rem 7.1rem;
                  width: 14rem;
                  height: 0.7rem;
                  background-color: rgba(22, 86, 193, 0.1700000018);
                }
                .rectangle-4146-sJv {
                  background-color: rgba(22, 86, 193, 0.1700000018);
                  margin-bottom: 0.2rem;
                  width: 100%;
                  height: 0.7rem;
                }
                .rectangle-4147-cnJ {
                  height: 0.7rem;
                  background-color: rgba(22, 86, 193, 0.1700000018);
                  margin-bottom: 0.4rem;
                  width: 100%;
                }
                .rectangle-4148-y74 {
                  width: 100%;
                  height: 0.7rem;
                  background-color: rgba(22, 86, 193, 0.1700000018);
                  margin-bottom: 0.2rem;
                }
                .rectangle-4149-7UA {
                  margin-bottom: 0.3rem;
                  width: 100%;
                  height: 0.7rem;
                  background-color: rgba(22, 86, 193, 0.1700000018);
                }
                .rectangle-4150-rwY {
                  height: 0.7rem;
                  background-color: rgba(22, 86, 193, 0.1700000018);
                  width: 2.6rem;
                }
              }
              .hovering-sign-orn {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.9rem;
                width: 1.1rem;
                height: 2rem;
              }
            }
          }
          .rectangle-4125-Hmx {
            width: 0.8rem;
            height: 14.4rem;
            background-color: #918f8f;
            border-radius: 1rem;
            flex-shrink: 0;
          }
        }
      }
    }
    .auto-group-hmfl-pG6 {
      width: 60.8rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .rectangle-4115-uYS {
        width: 60.7rem;
        height: 5.2rem;
        position: absolute;
        left: 0;
        top: 0;
        background-color: #ffffff;
      }
      .expanddownlight-FMQ {
        width: 0.85rem;
        height: 1.55rem;
        position: absolute;
        left: 2.0625rem;
        top: 1.8948rem;
        object-fit: contain;
        vertical-align: top;
      }
      .rectangle-4117-Nwp {
        height: 5.1rem;
        position: absolute;
        left: 7.4rem;
        top: 1.2rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #f8f7f6;
        border-radius: 1.7rem;
        width: 25.8rem;
      }
      .closeround-HYz {
        object-fit: contain;
        vertical-align: top;
        width: 0.75rem;
        height: 0.75rem;
        position: absolute;
        left: 30.275rem;
        top: 3.075rem;
      }
      .note-1-2Wa {
        white-space: nowrap;
        height: 1.9rem;
        position: absolute;
        left: 18rem;
        font-size: 1.5rem;
        font-weight: 500;
        line-height: 1.2125;
        width: 4.6rem;
        top: 2.4rem;
        color: #5e5c5c;
        font-family: Inter, 'Source Sans Pro';
      }
      .rectangle-4121-YE2 {
        background-color: #ffffff;
        width: 60.7rem;
        height: 5.2rem;
        position: absolute;
        left: 0;
        top: 0;
      }
      .expanddownlight-5Ur {
        top: 1.8948rem;
        object-fit: contain;
        vertical-align: top;
        width: 0.85rem;
        height: 1.55rem;
        position: absolute;
        left: 2.0625rem;
      }
      .rectangle-4123-R2v {
        top: 1.2rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #f8f7f6;
        border-radius: 1.7rem;
        width: 25.8rem;
        height: 5.1rem;
        position: absolute;
        left: 7.4rem;
      }
      .closeround-w1G {
        left: 30.275rem;
        top: 3.075rem;
        object-fit: contain;
        vertical-align: top;
        width: 0.75rem;
        height: 0.75rem;
        position: absolute;
      }
      .note-1-fxr {
        position: absolute;
        left: 18rem;
        font-size: 1.5rem;
        font-family: Inter, 'Source Sans Pro';
        width: 4.6rem;
        height: 1.9rem;
        top: 2.4rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #5e5c5c;
        white-space: nowrap;
      }
      .add-apv {
        width: 3.3rem;
        font-size: 1.5rem;
        font-weight: 400;
        white-space: nowrap;
        line-height: 1.2125;
        color: #918f8f;
        font-family: Inter, 'Source Sans Pro';
        height: 1.9rem;
        position: absolute;
        left: 37.9rem;
        top: 2.1rem;
      }
      .filedockduotone-JW2 {
        width: 1.4583rem;
        height: 1.875rem;
        position: absolute;
        left: 35.4208rem;
        top: 2.0125rem;
        object-fit: contain;
        vertical-align: top;
      }
      .rectangle-4126-2wp {
        left: 0;
        top: 8.9rem;
        box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
        background-color: #f5f5f5;
        width: 60.5rem;
        height: 74.3rem;
        position: absolute;
      }
      .rectangle-4127-kN2 {
        width: 60.8rem;
        height: 4rem;
        position: absolute;
        left: 0;
        top: 5.3rem;
        background-color: #f5f5f5;
      }
      .back-J8e {
        height: 1.8rem;
        position: absolute;
        left: 5.4rem;
        top: 7.1rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.2rem;
      }
      .vector-273-Ryx {
        width: 2.2rem;
        height: 1.8rem;
        position: absolute;
        left: 9.3rem;
        top: 7.1rem;
        object-fit: contain;
        vertical-align: top;
      }
      .polygon-5-xiz {
        left: 30.9rem;
        top: 7.5rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.1rem;
        width: 1.1rem;
        height: 1rem;
        position: absolute;
      }
      .heading-Viv {
        left: 24.1rem;
        font-weight: 500;
        width: 6rem;
        height: 1.9rem;
        position: absolute;
        color: #5e5c5c;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        top: 7.1rem;
        font-size: 1.5rem;
        line-height: 1.2125;
      }
      .meatballsmenu-DQ2 {
        vertical-align: top;
        width: 1.4rem;
        height: 0.2rem;
        position: absolute;
        left: 53.4rem;
        top: 7.5rem;
        object-fit: contain;
      }
      .polygon-6-9oU {
        position: absolute;
        left: 49.5rem;
        top: 7.1rem;
        object-fit: contain;
        vertical-align: top;
        border-radius: 0.1rem;
        width: 1.1rem;
        height: 1rem;
      }
      .imgbox-gYW {
        left: 17.54rem;
        top: 6.85rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.1rem;
        height: 2.1rem;
        position: absolute;
      }
      .highlighter-6-DoL {
        height: 2.8259rem;
        position: absolute;
        left: 13.6rem;
        top: 6.4rem;
        object-fit: contain;
        vertical-align: top;
        width: 2.5259rem;
      }
      .sortalfalight-ZMQ {
        width: 1.45rem;
        height: 2.0542rem;
        position: absolute;
        left: 47.825rem;
        top: 6.5625rem;
        object-fit: contain;
        vertical-align: top;
      }
      .u-gB8 {
        font-family: Inter, 'Source Sans Pro';
        width: 1.8rem;
        position: absolute;
        color: #5e5c5c;
        font-size: 2.4rem;
        font-weight: 400;
        line-height: 1.2125;
        white-space: nowrap;
        height: 3rem;
        left: 44.3rem;
        top: 6.3rem;
      }
      .i-zBp {
        font-style: italic;
        color: #5e5c5c;
        white-space: nowrap;
        width: 0.7rem;
        height: 3rem;
        position: absolute;
        font-size: 2.4rem;
        line-height: 1.2125;
        left: 41.7rem;
        top: 6.3rem;
        font-weight: 400;
        font-family: Inter, 'Source Sans Pro';
      }
      .b-JTQ {
        height: 3rem;
        left: 38.2rem;
        top: 6.3rem;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        width: 1.6rem;
        position: absolute;
        font-size: 2.4rem;
        line-height: 1.2125;
        color: #5e5c5c;
      }
      .line-7-dEn {
        position: absolute;
        left: 21.5rem;
        top: 6.9rem;
        background-color: #bcbcbc;
        width: 0.1rem;
        height: 2.2rem;
      }
      .line-8-AkW {
        background-color: #bcbcbc;
        width: 0.1rem;
        height: 2.2rem;
        position: absolute;
        left: 33.7rem;
        top: 6.8rem;
      }
      .group-85-HKL {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 56.8rem;
        height: 24.6rem;
        position: absolute;
        left: 2rem;
        top: 11.8rem;

        .auto-group-sewy-c6i {
          height: 4rem;
          background-color: #d9d9d9;
          border-radius: 0.6rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.1rem 3.016rem 1rem 3.1rem;
          width: 100%;

          .group-84-jSE {
            height: 100%;
            display: flex;
            align-items: center;
            width: 100%;

            .pg1684-61t {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 42rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
            }
            .group-83-2AS {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .item-2-yrN {
                font-size: 1.5rem;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
                text-align: right;
                font-weight: 400;
                line-height: 1.2125;
                flex-shrink: 0;
                margin-right: 1rem;
              }
              .vuesax-linear-arrow-down-W5c {
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
                margin-bottom: 0.1902rem;
                width: 0.984rem;
                height: 0.5098rem;
              }
            }
          }
        }
        .auto-group-ybvq-QRt {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.9rem 2.9rem 0rem 3.1rem;
          width: 100%;

          .auto-group-nlun-7bC {
            flex-shrink: 0;
            margin-bottom: 0.9rem;
            width: 100%;
            display: flex;
            align-items: center;

            .item-1-GU6 {
              font-size: 1.5rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 43.8rem;
            }
            .may-1-2023-zez {
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #918f8f;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-fringilla-augue-lorem-facilisis-porttitor-lorem-commodo-ut-fusce-nec-imperdiet-erat-nunc-sagittis-turpis-dictum-placerat-iaculis-ante-quam-luctus-mauris-eu-tincidunt-nulla-sem-sit-amet-mauris-jca {
            flex-shrink: 0;
            margin: 0rem 0.4rem 2.1rem 0rem;
            max-width: 50.4rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .auto-group-d5sn-k1t {
            margin-bottom: 0.9rem;
            width: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .item-2-6bY {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 43.6rem;
              font-size: 1.5rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
            }
            .may-1-2023-S9c {
              line-height: 1.2125;
              color: #918f8f;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 400;
            }
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-fringilla-augue-lorem-facilisis-porttitor-lorem-commodo-ut-mhg {
            max-width: 48rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 2.8rem;
          }
        }
      }
      .item-1-Fsk {
        width: 1.2rem;
        height: 1.9rem;
        position: absolute;
        left: 5.1rem;
        font-weight: 700;
        font-family: Inter, 'Source Sans Pro';
        top: 45.2rem;
        font-size: 1.5rem;
        line-height: 1.2125;
        color: #000000;
        white-space: nowrap;
      }
      .group-88-yYr {
        display: flex;
        flex-direction: column;
        width: 56.8rem;
        height: 16rem;
        position: absolute;
        left: 2rem;
        top: 39.3rem;
        align-items: flex-end;

        .auto-group-afot-6Na {
          flex-shrink: 0;
          margin-bottom: 2.2rem;
          box-sizing: border-box;
          padding: 1.1rem 3.016rem 1rem 3.1rem;
          width: 100%;
          height: 4rem;
          background-color: #d9d9d9;
          border-radius: 0.6rem;

          .group-84-R9x {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;

            .pg1685-yxA {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 42.4rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
            }
            .group-83-7Ya {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .item-1-GRU {
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 1rem;
                font-size: 1.5rem;
                color: #000000;
                font-family: Inter, 'Source Sans Pro';
                text-align: right;
                font-weight: 400;
                line-height: 1.2125;
              }
              .vuesax-linear-arrow-down-18A {
                margin-bottom: 0.1902rem;
                width: 0.984rem;
                height: 0.5098rem;
                object-fit: contain;
                vertical-align: top;
                flex-shrink: 0;
              }
            }
          }
        }
        .may-2-2023-X6W {
          font-size: 1rem;
          font-weight: 400;
          line-height: 1.2125;
          color: #918f8f;
          font-family: Inter, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          margin: 0rem 2.7rem 1.2rem 0rem;
        }
        .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-fringilla-augue-lorem-facilisis-porttitor-lorem-commodo-ut-fusce-nec-imperdiet-erat-nunc-sagittis-turpis-dictum-placerat-iaculis-ante-quam-luctus-mauris-eu-tincidunt-nulla-sem-sit-amet-mauris-dvE {
          font-weight: 400;
          line-height: 1.2125;
          color: #000000;
          font-family: Inter, 'Source Sans Pro';
          flex-shrink: 0;
          margin-right: 3.3rem;
          max-width: 50.4rem;
          font-size: 1.5rem;
        }
      }
      .group-87-sJn {
        top: 58.2rem;
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 56.8rem;
        height: 24.6rem;
        position: absolute;
        left: 2rem;

        .auto-group-qsqa-Pnv {
          height: 4rem;
          background-color: #d9d9d9;
          border-radius: 0.6rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.1rem 3.016rem 1rem 3.1rem;
          width: 100%;

          .group-84-8Ei {
            display: flex;
            align-items: center;
            width: 100%;
            height: 100%;

            .pg1687-VLA {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 42.1rem;
              font-size: 1.5rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #000000;
            }
            .group-83-ptE {
              height: 100%;
              display: flex;
              align-items: center;
              flex-shrink: 0;

              .item-4-nq4 {
                text-align: right;
                font-weight: 400;
                color: #000000;
                flex-shrink: 0;
                margin-right: 1rem;
                font-size: 1.5rem;
                line-height: 1.2125;
                font-family: Inter, 'Source Sans Pro';
                white-space: nowrap;
              }
              .vuesax-linear-arrow-down-XXk {
                flex-shrink: 0;
                margin-bottom: 0.1902rem;
                width: 0.984rem;
                height: 0.5098rem;
                object-fit: contain;
                vertical-align: top;
              }
            }
          }
        }
        .auto-group-9ra6-qoL {
          flex-direction: column;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 1.9rem 2.7rem 0rem 3.1rem;
          width: 100%;
          align-items: center;
          display: flex;

          .auto-group-hxai-ZUS {
            margin: 0rem 0.2rem 0.9rem 0rem;
            width: calc(100% - 0.2rem);
            display: flex;
            align-items: center;
            flex-shrink: 0;

            .item-1-tmc {
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              margin-right: 43.8rem;
              font-size: 1.5rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
            }
            .may-1-2023-2cv {
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 400;
              line-height: 1.2125;
              color: #918f8f;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-fringilla-augue-lorem-facilisis-porttitor-lorem-commodo-ut-fusce-nec-imperdiet-erat-nunc-sagittis-turpis-dictum-placerat-iaculis-ante-quam-luctus-mauris-eu-tincidunt-nulla-sem-sit-amet-mauris-maW {
            flex-shrink: 0;
            margin: 0rem 0.6rem 2.1rem 0rem;
            max-width: 50.4rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2125;
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
          }
          .auto-group-lhpc-b3k {
            width: 100%;
            display: flex;
            align-items: center;
            flex-shrink: 0;
            margin-bottom: 0.9rem;

            .item-2-wNW {
              margin-right: 43.6rem;
              font-size: 1.5rem;
              font-weight: 700;
              line-height: 1.2125;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .may-3-2023-HSN {
              line-height: 1.2125;
              color: #918f8f;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 1rem;
              font-weight: 400;
            }
          }
          .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-sed-fringilla-augue-lorem-facilisis-porttitor-lorem-commodo-ut-pSJ {
            color: #000000;
            font-family: Inter, 'Source Sans Pro';
            flex-shrink: 0;
            margin-right: 3rem;
            max-width: 48rem;
            font-size: 1.5rem;
            font-weight: 400;
            line-height: 1.2125;
          }
        }
      }
    }
  }
}
