
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.note-option-fq8 {
  position: relative;
  background-size: 100% 100%;
  background-position: center;
  background-color: #ffffff;
  height: 83.2rem;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url('REPLACE_IMAGE:490cdaca746183c363b9eba97db338ee4238fdc2');
  width: 100%;

  .rectangle-44-PFL {
    border-radius: 1.4rem;
    width: 55.1rem;
    height: 8.4rem;
    position: absolute;
    left: 61.6rem;
    top: 32rem;
    box-shadow: 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
  }
  .checkringduotone-gkE {
    top: 34.8rem;
    object-fit: contain;
    vertical-align: top;
    width: 2.8rem;
    height: 2.8rem;
    position: absolute;
    left: 111.6rem;
  }
  .rectangle-4128-pLe {
    background-color: rgba(22, 86, 193, 0.25);
    width: 48.7rem;
    height: 2.3rem;
    position: absolute;
    left: 67.4rem;
    top: 15.5rem;
  }
  .rectangle-4129-kEJ {
    left: 62.1rem;
    top: 18.1rem;
    background-color: rgba(22, 86, 193, 0.25);
    width: 54rem;
    height: 2.2rem;
    position: absolute;
  }
  .rectangle-4130-5nN {
    position: absolute;
    left: 62.1rem;
    top: 20.6rem;
    background-color: rgba(22, 86, 193, 0.25);
    width: 54rem;
    height: 2.2rem;
  }
  .rectangle-4131-RLS {
    height: 2.2rem;
    position: absolute;
    left: 62.1rem;
    top: 23.2rem;
    background-color: rgba(22, 86, 193, 0.25);
    width: 54rem;
  }
  .rectangle-4132-xLN {
    width: 54rem;
    height: 2.2rem;
    position: absolute;
    left: 62.1rem;
    top: 25.8rem;
    background-color: rgba(22, 86, 193, 0.25);
  }
  .rectangle-4133-6Sa {
    top: 28.3rem;
    background-color: rgba(22, 86, 193, 0.25);
    width: 18.4rem;
    height: 2.2rem;
    position: absolute;
    left: 62.1rem;
  }
  .group-93-dhQ {
    align-items: center;
    display: flex;
    box-shadow: 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
    border-radius: 1.4rem;
    padding: 1.7rem 1.7rem 2.6rem 3.3rem;
    width: 23.1rem;
    height: 11.2rem;
    position: absolute;
    left: 61.6rem;
    top: 40.9rem;
    flex-direction: column;
    background-color: #ffffff;
    box-sizing: border-box;

    .auto-group-jzbl-jEe {
      margin-bottom: 2.2rem;
      width: 100%;
      display: flex;
      align-items: flex-start;
      flex-shrink: 0;

      .add-to-note-5ZQ {
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin: 0.5rem 7.5rem 0rem 0rem;
        font-size: 1.7rem;
        font-weight: 500;
        line-height: 1.2125;
        color: #4f4f4f;
      }
      .x-nTp {
        flex-shrink: 0;
        width: 1rem;
        height: 1rem;
        object-fit: contain;
        vertical-align: top;
      }
    }
    .embed-to-file-Qzz {
      margin-right: 7.4rem;
      font-size: 1.7rem;
      font-weight: 500;
      line-height: 1.2125;
      color: #4f4f4f;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      flex-shrink: 0;
    }
  }
  .target-report-accuracy-was-about-70-with-a-single-target-defined-7Pc {
    width: 42.6rem;
    position: absolute;
    font-size: 1.7rem;
    color: #4f4f4f;
    font-family: Inter, 'Source Sans Pro';
    height: 5rem;
    left: 64.9rem;
    top: 33.3rem;
    font-weight: 500;
    line-height: 1.4705882353;
  }
  .rectangle-4169-ziJ {
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(21, 21, 21, 0.400000006);
    width: 138.8rem;
    height: 93rem;
  }
  .rectangle-4170-LXG {
    box-shadow: 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 1.4rem;
    width: 55.1rem;
    height: 8.4rem;
    position: absolute;
    left: 61.6rem;
    top: 32rem;
  }
  .checkringduotone-F8S {
    vertical-align: top;
    width: 2.8rem;
    height: 2.8rem;
    position: absolute;
    left: 111.6rem;
    top: 34.8rem;
    object-fit: contain;
  }
  .rectangle-43-BGz {
    width: 23.1rem;
    height: 11.2rem;
    position: absolute;
    left: 61.6rem;
    top: 40.9rem;
    box-shadow: 0.2rem 0.5rem 0.5rem rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    border-radius: 1.4rem;
  }
  .x-5tA {
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 82rem;
    top: 42.6rem;
    object-fit: contain;
    vertical-align: top;
  }
  .embed-to-file-EWA {
    height: 2.1rem;
    position: absolute;
    font-weight: 500;
    line-height: 1.2125;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 10.7rem;
    left: 64.9rem;
    top: 47.4rem;
    font-size: 1.7rem;
    color: #4f4f4f;
  }
  .add-to-note-8Le {
    font-size: 1.7rem;
    font-weight: 500;
    font-family: Inter, 'Source Sans Pro';
    position: absolute;
    top: 43.1rem;
    left: 64.9rem;
    line-height: 1.2125;
    color: #4f4f4f;
    white-space: nowrap;
    width: 9.6rem;
    height: 2.1rem;
  }
  .target-report-accuracy-was-about-70-with-a-single-target-defined-qkr {
    line-height: 1.4705882353;
    width: 42.6rem;
    left: 64.9rem;
    top: 33.3rem;
    font-size: 1.7rem;
    font-weight: 500;
    color: #4f4f4f;
    font-family: Inter, 'Source Sans Pro';
    height: 5rem;
    position: absolute;
  }
  .add-to-note-can-add-the-summarized-translated-part-definition-to-the-note-section-Y9U {
    top: 36.3rem;
    font-size: 2.5rem;
    line-height: 1.36;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    width: 32.2rem;
    height: 13.6rem;
    position: absolute;
    left: 28.5rem;
    font-weight: 500;

    .add-to-note-can-add-the-summarized-translated-part-definition-to-the-note-section-Y9U-sub-0 {
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 1.36;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .add-to-note-can-add-the-summarized-translated-part-definition-to-the-note-section-Y9U-sub-1 {
      font-size: 2.5rem;
      font-weight: 500;
      line-height: 1.36;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .add-to-note-can-add-the-summarized-translated-part-definition-to-the-note-section-Y9U-sub-2 {
    }
    .add-to-note-can-add-the-summarized-translated-part-definition-to-the-note-section-Y9U-sub-3 {
      font-size: 2.5rem;
      font-weight: 500;
      line-height: 1.36;
      text-decoration-line: underline;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .add-to-note-can-add-the-summarized-translated-part-definition-to-the-note-section-Y9U-sub-4 {
    }
  }
  .embed-to-file-can-add-the-summarized-translated-part-definition-to-the-thesis-itself-Sna {
    position: absolute;
    top: 53.8rem;
    font-size: 2.5rem;
    color: #ffffff;
    width: 32.2rem;
    height: 13.6rem;
    left: 51.3rem;
    font-weight: 500;
    line-height: 1.36;
    font-family: Inter, 'Source Sans Pro';

    .embed-to-file-can-add-the-summarized-translated-part-definition-to-the-thesis-itself-Sna-sub-0 {
      font-weight: 700;
      line-height: 1.36;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      font-size: 2.5rem;
    }
    .embed-to-file-can-add-the-summarized-translated-part-definition-to-the-thesis-itself-Sna-sub-1 {
      font-weight: 500;
      line-height: 1.36;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      font-size: 2.5rem;
    }
    .embed-to-file-can-add-the-summarized-translated-part-definition-to-the-thesis-itself-Sna-sub-2 {
    }
    .embed-to-file-can-add-the-summarized-translated-part-definition-to-the-thesis-itself-Sna-sub-3 {
      line-height: 1.36;
      text-decoration-line: underline;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      font-size: 2.5rem;
      font-weight: 500;
    }
    .embed-to-file-can-add-the-summarized-translated-part-definition-to-the-thesis-itself-Sna-sub-4 {
    }
  }
  .next--eva {
    cursor: pointer;
    position: absolute;
    left: 76.6rem;
    font-weight: 700;
    color: #ffffff;
    white-space: nowrap;
    width: 6.4rem;
    top: 66.1rem;
    font-size: 2rem;
    line-height: 1.25;
    font-family: Inter, 'Source Sans Pro';
    height: 2.5rem;
  }
  .skip--WSz {
    font-weight: 700;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 6.2rem;
    cursor: pointer;
    left: 118.2rem;
    top: 77.4rem;
    font-size: 2rem;
    line-height: 1.25;
    height: 2.5rem;
    position: absolute;
  }
}
