
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 128rem;
}.whole-translation-ijp {
  height: 83.2rem;
  position: relative;
  overflow: hidden;
  background-color: #ffffff;
  width: 100%;

  .rectangle-4117-caJ {
    height: 5.1rem;
    position: absolute;
    left: 74.6rem;
    top: 1.2rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    background-color: #f8f7f6;
    border-radius: 1.7rem;
    width: 25.8rem;
  }
  .group-79-hLr {
    width: 162.8rem;
    height: 155.3444rem;
    position: absolute;
    left: 0;
    top: 0;

    .expanddownlight-kpv {
      height: 1.55rem;
      position: absolute;
      left: 69.2625rem;
      top: 1.8948rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.85rem;
    }
    .rectangle-4116-GoG {
      top: 1.2rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #f8f7f6;
      border-radius: 1.7rem;
      width: 25.8rem;
      height: 5.1rem;
      position: absolute;
      left: 23.1rem;
    }
    .closeround-BQS {
      width: 0.75rem;
      height: 0.75rem;
      position: absolute;
      left: 45.975rem;
      top: 3.075rem;
      object-fit: contain;
      vertical-align: top;
    }
    .closeround-ubL {
      left: 97.475rem;
      top: 3.075rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.75rem;
      height: 0.75rem;
      position: absolute;
    }
    .dux2009-SrA {
      font-size: 1.5rem;
      font-weight: 500;
      color: #5e5c5c;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 7.4rem;
      position: absolute;
      left: 32.1rem;
      height: 1.9rem;
      top: 2.4rem;
      line-height: 1.2125;
    }
    .note-1-wH8 {
      white-space: nowrap;
      height: 1.9rem;
      position: absolute;
      left: 85.2rem;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 4.6rem;
      top: 2.4rem;
      color: #5e5c5c;
    }
    .add-Sjg {
      width: 3.3rem;
      position: absolute;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 1.2125;
      color: #918f8f;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.9rem;
      left: 53.4rem;
      top: 2.2rem;
    }
    .search-mGA {
      left: 14.9667rem;
      top: 1.8667rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.8667rem;
      height: 1.8667rem;
      position: absolute;
    }
    .translate-3-tra {
      position: absolute;
      left: 18.6042rem;
      top: 1.6042rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.2917rem;
      height: 2.2917rem;
    }
    .expanddownlight-Dtr {
      position: absolute;
      left: 8.7875rem;
      top: 2.0552rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.85rem;
      height: 1.55rem;
    }
    .item-2023-05-03-959-3-k86 {
      left: 11.5rem;
      top: 10.5rem;
      object-fit: cover;
      vertical-align: top;
      width: 51.8rem;
      height: 71.7rem;
      position: absolute;
    }
    .vector-271-cRC {
      vertical-align: top;
      width: 1rem;
      height: 0;
      position: absolute;
      left: 32rem;
      top: 7.3rem;
      object-fit: contain;
    }
    .item-515-wiN {
      position: absolute;
      font-size: 1.2rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #5e5c5c;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.5rem;
      left: 37.7rem;
      top: 6.4rem;
      width: 3.3rem;
    }
    .ellipse-70-FDG {
      width: 1.8rem;
      position: absolute;
      border: solid 0.1rem #5e5c5c;
      box-sizing: border-box;
      background-color: rgba(0, 0, 0, 0);
      height: 1.8rem;
      left: 34.3rem;
      top: 6.4rem;
      border-radius: 0.9rem;
    }
    .highlighter-4-kfp {
      width: 2.5259rem;
      height: 2.8259rem;
      position: absolute;
      left: 18.5rem;
      top: 5.6rem;
      object-fit: contain;
      vertical-align: top;
    }
    .format-textbox-3-Uri {
      left: 25.6rem;
      top: 5.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.4rem;
      height: 2.4rem;
      position: absolute;
    }
    .line-5-DJW {
      left: 37.4rem;
      top: 8.2rem;
      background-color: #918f8f;
      width: 6.1rem;
      height: 0.1rem;
      position: absolute;
    }
    .mouse-pointer-3-wVQ {
      position: absolute;
      left: 15rem;
      top: 5.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.7618rem;
      height: 2.4221rem;
    }
    .ellipse-71-gC6 {
      width: 1.8rem;
      height: 1.8rem;
      background-color: rgba(0, 0, 0, 0);
      position: absolute;
      left: 31.6rem;
      top: 6.4rem;
      border: solid 0.1rem #5e5c5c;
      box-sizing: border-box;
      border-radius: 0.9rem;
    }
    .rectangle-4120-PcJ {
      background-color: #ffffff;
      width: 60.7rem;
      height: 5.2rem;
      position: absolute;
      left: 6.5rem;
      top: 0;
    }
    .rectangle-4128-w82 {
      top: 0;
      object-fit: contain;
      vertical-align: top;
      width: 60.8rem;
      height: 9.3rem;
      position: absolute;
      left: 67.2rem;
    }
    .rectangle-4121-HSn {
      width: 60.7rem;
      height: 5.2rem;
      position: absolute;
      left: 67.2rem;
      top: 0;
      background-color: #ffffff;
    }
    .item-2023-05-03-959-4-DLS {
      object-fit: cover;
      vertical-align: top;
      width: 106.6rem;
      height: 147.6rem;
      cursor: pointer;
      position: absolute;
      left: 0;
      top: 1.2rem;
    }
    .rectangle-4123-H5Q {
      background-color: #1656c1;
      border-radius: 1.7rem;
      width: 25.8rem;
      height: 5.1rem;
      position: absolute;
      left: 74.6rem;
      top: 1.2rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    }
    .expanddownlight-nH4 {
      left: 69.2625rem;
      top: 1.8948rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.85rem;
      height: 1.55rem;
      position: absolute;
    }
    .rectangle-4122-usU {
      position: absolute;
      left: 23.1rem;
      top: 1.2rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #1656c1;
      border-radius: 1.7rem;
      width: 25.8rem;
      height: 5.1rem;
    }
    .closeround-pjY {
      vertical-align: top;
      width: 0.75rem;
      height: 0.75rem;
      position: absolute;
      left: 45.975rem;
      top: 3.075rem;
      object-fit: contain;
    }
    .closeround-MzN {
      left: 97.475rem;
      top: 3.075rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.75rem;
      height: 0.75rem;
      position: absolute;
    }
    .rectangle-4128-J8v {
      left: 6.5rem;
      top: 5.2rem;
      background-color: #f5f5f5;
      width: 60.7rem;
      height: 4rem;
      position: absolute;
    }
    .the-attention-blink--psx {
      left: 28.3rem;
      top: 2.4rem;
      font-size: 1.5rem;
      font-weight: 500;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      position: absolute;
      height: 1.9rem;
      line-height: 1.2125;
      width: 15.4rem;
    }
    .rectangle-4113-jV8 {
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #f5f5f5;
      width: 6.5rem;
      height: 83.2rem;
      position: absolute;
      left: 0;
      top: 0;
    }
    .note-1-4nJ {
      position: absolute;
      left: 85.2rem;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 4.6rem;
      height: 1.9rem;
      top: 2.4rem;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.2125;
    }
    .vuesax-linear-setting-2-nCW {
      object-fit: contain;
      vertical-align: top;
      width: 3.8rem;
      height: 3.8rem;
      position: absolute;
      left: 1.6rem;
      top: 71.4rem;
    }
    .add-uH8 {
      left: 53.4rem;
      top: 2.2rem;
      color: #b0b0b0;
      white-space: nowrap;
      width: 3.3rem;
      position: absolute;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      height: 1.9rem;
    }
    .search-RFU {
      vertical-align: top;
      width: 1.8667rem;
      height: 1.8667rem;
      position: absolute;
      left: 14.9667rem;
      top: 1.8667rem;
      object-fit: contain;
    }
    .translate-4-m4S {
      left: 18.5rem;
      top: 1.5rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.5rem;
      height: 2.5rem;
      cursor: pointer;
      position: absolute;
    }
    .expanddownlight-tuk {
      position: absolute;
      left: 8.7875rem;
      top: 2.0552rem;
      object-fit: contain;
      vertical-align: top;
      width: 0.85rem;
      height: 1.55rem;
    }
    .vector-272-SAa {
      width: 1rem;
      height: 0;
      position: absolute;
      left: 32rem;
      top: 7.3rem;
      object-fit: contain;
      vertical-align: top;
    }
    .item-515-ana {
      font-size: 1.2rem;
      font-weight: 400;
      color: #5e5c5c;
      width: 3.3rem;
      position: absolute;
      left: 37.7rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      height: 1.5rem;
      top: 6.4rem;
      line-height: 1.2125;
    }
    .ellipse-72-toG {
      height: 1.8rem;
      position: absolute;
      left: 34.3rem;
      top: 6.4rem;
      border: solid 0.1rem #5e5c5c;
      border-radius: 0.9rem;
      width: 1.8rem;
      box-sizing: border-box;
      background-color: rgba(0, 0, 0, 0);
    }
    .highlighter-5-o9Y {
      vertical-align: top;
      width: 2.5259rem;
      height: 2.8259rem;
      position: absolute;
      left: 18.5rem;
      top: 5.6rem;
      object-fit: contain;
    }
    .format-textbox-4-8Si {
      object-fit: contain;
      vertical-align: top;
      width: 2.4rem;
      height: 2.4rem;
      position: absolute;
      left: 25.6rem;
      top: 5.9rem;
    }
    .line-6-4bG {
      height: 0.1rem;
      position: absolute;
      left: 37.4rem;
      top: 8.2rem;
      background-color: #918f8f;
      width: 6.1rem;
    }
    .mouse-pointer-4-br6 {
      height: 2.4221rem;
      position: absolute;
      left: 15rem;
      top: 5.7rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.7618rem;
    }
    .ellipse-73-wQA {
      box-sizing: border-box;
      background-color: rgba(0, 0, 0, 0);
      width: 1.8rem;
      position: absolute;
      top: 6.4rem;
      border: solid 0.1rem #5e5c5c;
      height: 1.8rem;
      left: 31.6rem;
      border-radius: 0.9rem;
    }
    .group-78-2wQ {
      height: 1rem;
      position: absolute;
      left: 34.7rem;
      top: 6.8rem;
      object-fit: contain;
      vertical-align: top;
      width: 1rem;
    }
    .polygon-4-ZgS {
      width: 0.8rem;
      height: 0.7rem;
      position: absolute;
      left: 42.2rem;
      top: 6.8rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 0.05rem;
    }
    .rectangle-4125-h1x {
      background-color: #918f8f;
      border-radius: 1rem;
      width: 0.8rem;
      height: 14.4rem;
      position: absolute;
      left: 65.9rem;
      top: 9.7rem;
    }
    .filedockduotone-cPp {
      width: 1.4583rem;
      height: 1.875rem;
      position: absolute;
      left: 50.9208rem;
      top: 2.1125rem;
      object-fit: contain;
      vertical-align: top;
    }
    .rectangle-4128-ihk {
      top: 5.2rem;
      background-color: #f5f5f5;
      width: 60.8rem;
      height: 4rem;
      position: absolute;
      left: 67.2rem;
    }
    .add-rJA {
      height: 1.9rem;
      position: absolute;
      left: 105.1rem;
      top: 2.1rem;
      white-space: nowrap;
      width: 3.3rem;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #918f8f;
      font-family: Inter, 'Source Sans Pro';
    }
    .filedockduotone-mg2 {
      height: 1.875rem;
      position: absolute;
      left: 102.6208rem;
      top: 2.0125rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.4583rem;
    }
    .tutorial-Vrv {
      position: absolute;
      color: #918f8f;
      white-space: nowrap;
      font-size: 1.3rem;
      font-weight: 400;
      line-height: 1.2125;
      font-family: Inter, 'Source Sans Pro';
      width: 4.6rem;
      height: 1.6rem;
      left: 60.3rem;
      top: 6.4rem;
    }
    .questionfill-p8W {
      object-fit: contain;
      vertical-align: top;
      width: 1.425rem;
      height: 1.425rem;
      position: absolute;
      left: 58.6375rem;
      top: 6.4375rem;
    }
    .imgbox-YqC {
      height: 2.1rem;
      position: absolute;
      left: 22.25rem;
      top: 6.05rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.1rem;
    }
    .rectangle-4126-tPG {
      top: 8.9rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #f5f5f5;
      width: 60.5rem;
      height: 74.3rem;
      position: absolute;
      left: 67.2rem;
    }
    .back-boU {
      height: 1.8rem;
      position: absolute;
      left: 80.9rem;
      top: 6.9rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.2rem;
    }
    .vector-273-9KC {
      width: 2.2rem;
      height: 1.8rem;
      position: absolute;
      left: 84.8rem;
      top: 6.9rem;
      object-fit: contain;
      vertical-align: top;
    }
    .polygon-5-Guc {
      border-radius: 0.1rem;
      width: 1.1rem;
      height: 1rem;
      position: absolute;
      left: 98.1rem;
      top: 7.5rem;
      object-fit: contain;
      vertical-align: top;
    }
    .heading-QF8 {
      height: 1.9rem;
      left: 91.3rem;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.2125;
      color: #5e5c5c;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
      width: 6rem;
      position: absolute;
      top: 7.1rem;
    }
    .meatballsmenu-6te {
      top: 7.5rem;
      object-fit: contain;
      vertical-align: top;
      width: 1.4rem;
      height: 0.2rem;
      position: absolute;
      left: 120.6rem;
    }
    .polygon-6-3J6 {
      left: 116.7rem;
      top: 7.1rem;
      object-fit: contain;
      vertical-align: top;
      border-radius: 0.1rem;
      width: 1.1rem;
      height: 1rem;
      position: absolute;
    }
    .sortalfalight-aJ2 {
      width: 1.45rem;
      height: 2.0542rem;
      position: absolute;
      left: 115.025rem;
      top: 6.5625rem;
      object-fit: contain;
      vertical-align: top;
    }
    .u-WSa {
      top: 6.3rem;
      font-size: 2.4rem;
      font-weight: 400;
      line-height: 1.2125;
      color: #5e5c5c;
      white-space: nowrap;
      left: 111.5rem;
      height: 3rem;
      position: absolute;
      font-family: Inter, 'Source Sans Pro';
      width: 1.8rem;
    }
    .i-dGJ {
      left: 108.9rem;
      top: 6.3rem;
      font-weight: 400;
      white-space: nowrap;
      line-height: 1.2125;
      font-style: italic;
      color: #5e5c5c;
      font-family: Inter, 'Source Sans Pro';
      width: 0.7rem;
      height: 3rem;
      position: absolute;
      font-size: 2.4rem;
    }
    .b-k62 {
      font-weight: 700;
      line-height: 1.2125;
      color: #5e5c5c;
      width: 1.6rem;
      height: 3rem;
      position: absolute;
      left: 105.4rem;
      top: 6.3rem;
      font-size: 2.4rem;
      font-family: Inter, 'Source Sans Pro';
      white-space: nowrap;
    }
    .line-7-58J {
      width: 0.1rem;
      height: 2.2rem;
      position: absolute;
      left: 88.7rem;
      top: 6.9rem;
      background-color: #bcbcbc;
    }
    .line-8-QgN {
      height: 2.2rem;
      position: absolute;
      left: 100.9rem;
      top: 6.8rem;
      background-color: #bcbcbc;
      width: 0.1rem;
    }
    .group-90-YGn {
      flex-direction: column;
      width: 4.7rem;
      height: 78.1rem;
      position: absolute;
      left: 1.1rem;
      top: 2rem;
      align-items: center;
      display: flex;

      .user-4F8 {
        margin: 0rem 0.1rem 2.4rem 0rem;
        width: 4rem;
        height: 4rem;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
      .dashboard-nS2 {
        flex-shrink: 0;
        margin: 0rem 0.3rem 0.3rem 0rem;
        width: 3rem;
        height: 3rem;
        object-fit: contain;
        vertical-align: top;
      }
      .dashboard-vHL {
        font-weight: 400;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-bottom: 1.4125rem;
        font-size: 0.9rem;
      }
      .bookmarkfill-FqQ {
        flex-shrink: 0;
        margin: 0rem 0.2rem 0.5rem 0rem;
        width: 2.2rem;
        height: 2.3879rem;
        object-fit: contain;
        vertical-align: top;
      }
      .contents-zHC {
        margin-bottom: 58.5rem;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.2125;
        color: #b0b0b0;
        font-family: Inter, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
      }
      .logout-iyt {
        margin-left: 0.1rem;
        width: 3.4rem;
        height: 3.4rem;
        position: relative;
        object-fit: contain;
        vertical-align: top;
        flex-shrink: 0;
      }
    }
    .ellipse-209-4H4 {
      border-radius: 3.6rem;
      width: 7.2rem;
      height: 7.2rem;
      position: absolute;
      left: 115.7rem;
      top: 71.9rem;
      box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
      background-color: #1656c1;
    }
    .chatalt3duotone-xdL {
      object-fit: contain;
      vertical-align: top;
      width: 3.0667rem;
      height: 3.3264rem;
      position: absolute;
      left: 117.7667rem;
      top: 73.9667rem;
    }
  }
  .rectangle-4169-HQi {
    top: 0;
    background-color: rgba(21, 21, 21, 0.400000006);
    width: 138.8rem;
    height: 93rem;
    position: absolute;
    left: 0;
  }
  .item-2023-05-27-331-1-R18 {
    border-radius: 1rem;
    width: 4.7rem;
    height: 4.3rem;
    position: absolute;
    left: 17.7rem;
    top: 0.6rem;
    object-fit: cover;
    vertical-align: top;
  }
  .rectangle-4171-Uzz {
    left: 17.3rem;
    border: solid 0.1rem #ffffff;
    box-sizing: border-box;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
    border-radius: 1rem;
    width: 5.4rem;
    height: 5.1rem;
    position: absolute;
    top: 0.2rem;
  }
  .whole-translation-can-translate-the-whole-thesis-in-to-a-selected-language-ao8 {
    left: 17.7rem;
    top: 7.2rem;
    font-size: 2.5rem;
    line-height: 1.36;
    font-family: Inter, 'Source Sans Pro';
    width: 67.6rem;
    height: 6.8rem;
    position: absolute;
    font-weight: 500;
    color: #ffffff;

    .whole-translation-can-translate-the-whole-thesis-in-to-a-selected-language-ao8-sub-0 {
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 1.36;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .whole-translation-can-translate-the-whole-thesis-in-to-a-selected-language-ao8-sub-1 {
      font-weight: 500;
      line-height: 1.36;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      font-size: 2.5rem;
    }
    .whole-translation-can-translate-the-whole-thesis-in-to-a-selected-language-ao8-sub-2 {
    }
    .whole-translation-can-translate-the-whole-thesis-in-to-a-selected-language-ao8-sub-3 {
      line-height: 1.36;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      font-size: 2.5rem;
      font-weight: 500;
    }
    .whole-translation-can-translate-the-whole-thesis-in-to-a-selected-language-ao8-sub-4 {
    }
  }
  .interactive-question-can-ask-questions-to-the-ai-t54 {
    font-family: Inter, 'Source Sans Pro';
    position: absolute;
    left: 77.4rem;
    top: 64.4rem;
    font-weight: 500;
    line-height: 1.36;
    color: #ffffff;
    width: 33.4rem;
    height: 6.8rem;
    font-size: 2.5rem;

    .interactive-question-can-ask-questions-to-the-ai-t54-sub-0 {
      font-size: 2.5rem;
      font-weight: 700;
      line-height: 1.36;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
    }
    .interactive-question-can-ask-questions-to-the-ai-t54-sub-1 {
      font-weight: 500;
      line-height: 1.36;
      color: #ffffff;
      font-family: Inter, 'Source Sans Pro';
      font-size: 2.5rem;
    }
    .interactive-question-can-ask-questions-to-the-ai-t54-sub-2 {
    }
  }
  .next--bNn {
    font-weight: 700;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    cursor: pointer;
    height: 2.5rem;
    position: absolute;
    left: 104.5rem;
    top: 71.9rem;
    font-size: 2rem;
    line-height: 1.25;
    white-space: nowrap;
    width: 6.4rem;
  }
  .ellipse-210-5Yr {
    background-color: #1656c1;
    border-radius: 3.6rem;
    width: 7.2rem;
    height: 7.2rem;
    position: absolute;
    left: 115.7rem;
    top: 71.9rem;
    box-shadow: 0 0.4rem 0.4rem rgba(0, 0, 0, 0.25);
  }
  .chatalt3duotone-yu8 {
    width: 3.0667rem;
    height: 3.3264rem;
    position: absolute;
    left: 117.7667rem;
    top: 73.9667rem;
    object-fit: contain;
    vertical-align: top;
  }
  .ellipse-211-v3g {
    border-radius: 4.8rem;
    width: 9.6rem;
    height: 9.6rem;
    position: absolute;
    top: 70.8rem;
    border: solid 0.1rem #ffffff;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0);
    left: 114.5rem;
  }
  .skip--RWE {
    height: 2.5rem;
    position: absolute;
    top: 9.7rem;
    font-weight: 700;
    line-height: 1.25;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    width: 6.2rem;
    left: 111.4rem;
    font-size: 2rem;
  }
}
